[2016-01-25 08:38] IvanSanchez commented on #2757
@ChALkeR Exactly my point: the bug is present in beta2 but fixed in `master`.

[2016-01-25 08:40] ivanmobigis commented on #3724
Hi there,

Sorry i had never seen the message that yohanboniface couldn't reproduce.

i can confirm that my fiddle does reproduce 'reliably'. you need to use *Firefox* on Android (sorry that i used the word 'Chrome' in my second post !.. so you need to jump through the hoops to get a console window available:

https://developer.mozilla.org/en-US/docs/Tools/Remote_Debugging/Debugging_Firefox_for_An

[2016-01-25 08:53] ChALkeR commented on #2757
@IvanSanchez What do you mean? I stated above that I didn't observe this bug anymore.

[2016-01-25 08:56] ChALkeR commented on #2757
Ah, yes. I was actually checking `master`, not beta2.

[2016-01-25 10:21] kaynz commented on #1455
Added GeoServer to the list:

[longitude, latitude]-order: OpenLayers, MapboxGL, KML, GeoJSON, PostGIS, MongoDB, MySQL, GeoServer
[latitude, longitude]-order: Leaflet, Google Maps API, ArangoDB.

[2016-01-25 10:24] yohanboniface commented on #1455
For reference, Redis new GEO commands will be on first group too: http://redis.io/commands/geoadd

[2016-01-25 10:46] varakh commented on #1455
:+1:

[2016-01-25 10:46] tehGoti commented on #1455
+1 switching between PostGIS and Leaflet is always a lot of work

[2016-01-25 11:26] Eschon commented on #3575
@hyperknot I think there is already a Chrome bug report, but I can't find it right now.

[2016-01-25 18:34] patrickarlt commented on #2086
If anyone here is using Leaflet 1.0.0 you should be able to use the new `pane` option to control this:

[code]

You can see this inaction with lots of overlapping polygons [here](http://esri.github.io/esri-leaflet/examples/layer-ordering.html).

[2016-01-25 19:43] minskmaz commented on #2086
patrickarlt thanks - this is helpful.

[2016-01-25 20:10] jordan314 commented on #1021
This was from a custom map:
[code]

[2016-01-25 21:54] gommo opened #4171 "Line Dashes for Canvas powered paths"
As per the docs, 'dashArray' doesn't work for canvas powered maps. We use this extensively for higher performance due to many markers and would like dashes available.

I've made a change to leaflet to test this out and get some feedback so logging this issue to refer to

[2016-01-26 11:22] TSatMentz opened #4172 "getBoundsZoom & fitBounds with nozero padding does not work properly with a top down CRS (Leaflet 0.7.5 - Leaflet 1.0 beta 1)"
Problem:

getBoundsZoom picks an incorrect zoom level when a nonzero padding is defined in the getBoundsZoom option and the CRS defines a top down coordinate system (e.g., project/unproject is set to identity like in L.Projection.LonLat/CRS.Simple, and transformation is set to 1,0,1,0.

Analysis:

getBoundsZoom assumes that the NorthWest / SouthWest coordinate of the bounds equals minimum / maximu

[2016-01-26 11:42] IvanSanchez commented on #4172
@TSatMentz Thanks for the detailed analysis! (I wish all bug reports were this detailed!) However:

* You mention Leaflet 1.0.0-beta1. Is this reproducible with 1.0.0-beta2, or with the code in the `master` branch?
* What is an «incorrect zoom level»? If you have some examples of combinations for CRS, bounds and expected results, this could easily lead to (very useful) unit tests!
* Please do not

[2016-01-26 14:59] itamair commented on #3184
on my ionic project this helped / fixed me: https://github.com/driftyco/ionic/issues/4506#issuecomment-151654171

[2016-01-26 23:37] hassoncs commented on #4144
I ran into this same problem and was able to fix it with your <click-event>.originalEvent._stopped = true; approach. :+1:

[2016-01-27 07:54] delner commented on #4127
I'll see if I can try this tomorrow.

[2016-01-27 20:35] EricWVGG commented on #766
Also crashing into this with minified code.

[2016-01-28 09:35] RatanMishra opened #4176 "Removing GeoJSON layer issue"
Hi,

I am new to leaflet. I have used remove layer feature of leaflet as follows
[code]
Then i tried to remove the layer as follows.
`map.removeLayer(layermap);`
Its removing the layer from current zoom level but once i change the map zoom, the layer comes again.
I want to remove the layer permanently.

Please suggest.

[2016-01-28 09:39] yohanboniface commented on #4176
Can you provide a jsfiddle reproducting the issue (with http://playground-leaflet.rhcloud.com/ for example) ?
Also, which Leaflet version are you using?

[2016-01-28 09:43] RatanMishra commented on #4176
Thanks,

I am using leaflet version 0.7.2
I will try to create a sample.

[2016-01-28 11:21] RatanMishra commented on #4176
My mistake, I was reloading the layer unknowingly.
Thanks.

[2016-01-28 11:23] #4176 closed

[2016-01-28 14:27] minskmaz commented on #2086
patrickarlt thought I'd let you know I implemented the pattern you outlined above. This does lay out the order of the panes properly such that panes and their associated layer group are added to the map such that the pane appears beneath successively added panes. However, when using l.control.layers.addOverlay to then associate L.control.layers with panes on the map --> zero order to the layer nam

[2016-01-28 16:51] patrickarlt commented on #2086
I look a look at the code. It looks like layers are stored internally in the control by the layers internal Leaflet ID https://github.com/Leaflet/Leaflet/blob/master/src/control/Control.Layers.js#L115-L121. The internal ID generator gets called A LOT. For example in my JS Bin http://jsbin.com/vocigipive/1/edit?html,css,js,output it is already at 177 by the time everything gets done.

Since all bro

[2016-01-29 04:06] rowanwins commented on #4166
Hi @ismail44

You should just be able to set the [zIndex](http://leafletjs.com/reference.html#tilelayer-zindex) of the layer

[code]

Updated fiddle [here](http://playground-leaflet.rhcloud.com/rec/1/edit?html,output)

Cheers
Rowan

[2016-01-29 05:23] karthipanraj opened #4178 "Leafletjs reference link"
![Uploading Screen Shot 2016-01-29 at 10.56.43 am.png…]()
When we are using your plugin, in any of our website, Leafletjs has a link an=t the bottom. When we clicked it, it is loading in the same page. it seems a bit annoying for our customers, Can that be made to open in seperate tab

[2016-01-29 09:51] mourner commented on #4178
No.

[2016-01-29 09:51] #4178 closed

[2016-01-29 12:02] agorshkov23 opened #4179 "Add field "title" to L.PathOptions"
I propose to **add** a field title in the options for `L.PathOptions` to add the field value in the SVG tag `g>title`. To display the native tooltips.
![leaflet issue 2](https://cloud.githubusercontent.com/assets/6443173/12675127/2481ad56-c699-11e5-9dba-fb511fe4353d.png)
![leaflet issue](https://cloud.githubusercontent.com/assets/6443173/12675095/ed0ddf84-c698-11e5-88c8-4ed6ad9cc058.png)

[2016-01-29 12:17] IvanSanchez commented on #4179
I see a problem: what if the line is rendered using a `L.Canvas` rendered instead? This functionality would be specific to the SVG renderer, so I'm not convinced is a 100% good idea :-/

Also, have you tried using the `L.Path.getElement()` method??

[2016-01-29 12:56] hyperknot opened #4180 "Fixing 4x tile usage"
Leaflet 1.0 beta has 4x tile usage compared to 0.7, when zooming in (and other scenarios involving fractional zoom levels).

@yohanboniface fixed it in: https://github.com/Leaflet/Leaflet/pull/4040
however this broke fractional zoom levels at the edge of the map: https://github.com/Leaflet/Leaflet/issues/4145

@IvanSanchez fixed it in https://github.com/Leaflet/Leaflet/pull/4156
however it raised

[2016-01-29 12:58] ismail44 commented on #4166
Right on... I didn't realize that the WMS layer supported zIndex... wasn't in the docs... I suggest an addition to them. Thanks again... I'll go ahead and close this issue!

[2016-01-29 12:58] #4166 closed

[2016-01-29 13:06] IvanSanchez commented on #4166
*Technically* it's in the docs, but we are aware they are quite confusing about the matter (WMS inherits from TileLayer, TileLayer inherits from GridLayer, GridLayer has zIndex). There are some ideas on how to make inherited options more obvious, but they're not ready yet :-(

[2016-01-29 13:39] IvanSanchez commented on #4180
Can we turn that into a unit test?

[2016-01-29 13:46] hyperknot commented on #4180
@yohanboniface did this, it is what I based my playground example on, but it doesn't seem complete:
https://github.com/Leaflet/Leaflet/pull/4040/files#diff-19a7d53df5d545ee8cde69a53256057cR123 Also there is a line that it doesn't work on PhantomJS.

[2016-01-29 15:29] Yamakaky opened #4181 "Bigger .leaflet-zoom-animated than it's container"
I use a `width: 100%; height: 100vh;` div#map, so 1280x460 on my computer, but div.leaflet-zoom-animated has a fixed 1980x723 size. Is it normal ? It breaks fullpage.js, as the fullscreen map overflows on the following slide.

[2016-01-29 18:07] Stemby opened #4182 "[CSS] leaflet.css doesn't pass W3C validation"
Currently there are 10 errors:

http://jigsaw.w3.org/css-validator/validator?uri=http%3A%2F%2Fcdn.leafletjs.com%2Fleaflet%2Fv0.7.7%2Fleaflet.css&profile=css3&usermedium=all&warning=1&vextwarning=&lang=it

Best regards,
Carlo

[2016-01-29 18:11] IvanSanchez commented on #4182
Those are needed for proper behaviour in IE7/IE8. Duplicate of #4162.

[2016-01-29 18:11] #4182 closed

[2016-01-29 18:43] hyperknot commented on #4182
Also, in other validators, like http://codebeautify.org/cssvalidate there are no errors, only warnings.

[2016-01-29 20:08] Stemby commented on #4162
Are you planning to drop support for IE7/IE8?

Thank you!

[2016-01-29 20:13] hyperknot commented on #4162
@Stemby, @gxtUser if you don't need to support IE7/8, you can just remove the problematic lines from the CSS.

[2016-01-29 20:24] gxtUser commented on #4162
I can't do it directly since I'm using leaflet inside a GWT framework via g-leaflet wrapper (compiled into a jar).

[2016-01-30 00:11] hyperknot commented on #4162
I recommend asking the maintainer of the framework about how can you change the CSS and re-build the jar.

[2016-01-31 12:19] lonelyelk opened #4184 "LatLng#distanceTo is always higher than calculated by any other geo-library"
Might I suggest that you use any other than equatorial Earth radius in [CRS.Earth.js](https://github.com/Leaflet/Leaflet/blob/master/src/geo/crs/CRS.Earth.js)? Most of geo-stuff libraries use authalic radius (6371 km) or approximated average radius (6372.8 km). Or any suggested [code snippet](http://rosettacode.org/wiki/Haversine_formula) here. Equatorial radius is never used hence your formula wi

[2016-01-31 13:05] kynan commented on #1306
Could you explain this in English please? Why was this closed? There is still no gzip compression for the resources on the CDN afaict.

[2016-01-31 15:12] mourner commented on #4184
Yes, that makes sense. Should be an easy fix.

[2016-02-01 07:37] HugoHeneault opened #4185 "Export map as geojson"
Hi there,
Thanks for giving us Leaflet. It's so powerfull.

Is it possible to export geojson from leaflet to save the map state?

I want to store the markers, zoom & map center to load it later, but I can't figure out a way to do this by using geojson.

Thanks!

[2016-02-01 07:56] perliedman commented on #4185
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https//gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

Having said that, check at using your layers' [toGeoJSON](http://leafletjs.com/reference.html#polygon-togeojson) method!

[2016-02-01 07:56] #4185 closed

[2016-02-01 11:21] HugoHeneault commented on #4185
Thanks for your reply. I thought (by mistake) that this was not possible yet.

I've found a solution on http://stackoverflow.com/questions/35125036/export-leaflet-map-to-geojson

[2016-02-01 11:46] lismore commented on #2738
I cannot get invalidateSize() to fire, it keeps telling me
"Uncaught TypeError: this.$.map.invalidateSize is not a function"

[2016-02-01 11:59] perliedman commented on #2738
@lismore sounds like a problem with your setup, since `this.$` isn't something Leaflet uses.

If you think this is a Leaflet issue anyway, please make a JSFiddle or similar that illustrates the problem, and create a new issue.

[2016-02-01 12:01] lismore commented on #2738
thanks for the quick response

[2016-02-01 12:40] perliedman commented on #2738
@lismore you should probably ask/file a bug with the authors of the custom element, and they can create a Leaflet issue of there's really a problem in Leaflet.

It's unfortunately impossible for the Leaflet developers to keep track of how all projects that wrap and use Leaflet work.

[2016-02-01 16:03] lonelyelk commented on #4184
Do you need a pull request for that? If yes, which radius do you prefer?

[2016-02-01 16:12] hyperknot commented on #4184
@lonelyelk I guess the best one is the one which is closest to a Vincenty formula's result on various points, isn't it?

[2016-02-01 20:13] danzel commented on #1306
Use google translate, mourner says to use cdnjs which has gzip compression.

[2016-02-01 20:50] mourner commented on #1306
Actually I think this should be revisited. Initially I worried that CloudFront doesn't support automatically gzipping and serving based on content headers. But now that all browsers/clients support gzip, we should just gzip by default.

[2016-02-01 21:05] gommo commented on #4171
#4173 Pull request

[2016-02-02 02:46] explorob commented on #3384
I'm seeing geolocation failure too on WebChromeClient webview in my Android app on Android 5.1.1.

Webview has appropriate android.permission.INTERNET and android.permission.ACCESS_FINE_LOCATION permissions.  I also tried the Mapbox alternative Locate control at https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js with no luck. Seems to be timing out in fi

[2016-02-02 08:47] hyperknot commented on #3384
Geolocation is very unreliable in browsers, it works randomly, and Leaflet has nothing to do with it.

There are two things which helped me:
- catch the error and restart location finding from within the error handling code with a limiter. So you implement retries this way.
-  `enableHighAccuracy: true` enables the GPS receiver on mobile phones (unless disabled by security), so eventually it'll fi

[2016-02-02 09:54] paulgreg opened #4186 "Touch detection regression on leaflet 0.7.7 for IE 11.0.9600.16428 / Windows 7"
Since leaflet 0.7.7, `L.Browser.touch` returns `true` for IE 11.0.9600.16428 / Windows 7 on **desktop** (no touch screen).

Result on Chrome and Firefox seems correct (no touch support).

Here’s a simple example file to reproduce :

    <!DOCTYPE html>
    <html>
    <head>
    	<title>Leaflet Touch</title>
    	<meta charset="utf-8" />
    </head>
    <body>

    	<script src="https://cdnjs.cloud

[2016-02-02 10:11] IvanSanchez commented on #4186
Won't fix, duplicate of #3944.

[2016-02-02 10:11] #4186 closed

[2016-02-02 10:29] paulgreg commented on #4186
Oops, sorry, I missed the #3944.

[2016-02-02 10:33] IvanSanchez commented on #4186
@paulgreg Never mind, it's OK. We're near 4000 bugs and checking for duplicates is not trivial :-)

This is not 100% the same as #3944 (IE10 vs IE11) but the discussion there explains why `touch` detection is hard.

[2016-02-02 13:59] gson1703 commented on #2553
I have a use for this, too, for displaying non-map data that can be stretched or compressed horizontally in addition to the usual zooming (in my case, the horizontal coordinate represents time).

[2016-02-02 14:12] perliedman commented on #2553
The status of this issue is still more or less described in my comment https://github.com/Leaflet/Leaflet/issues/2553#issuecomment-39296082.

To go forward with this, we have to discuss an actual proposal. Making it possible to switch CRS after the map is created _might_ be a good idea (but allowing layers with different CRS is not).

Someone who needs this feature will most likely have to step up

[2016-02-02 14:20] hyperknot commented on #2553
(just a note): It might be interesting to see how https://www.windyty.com does the switch between level 4 and 5 to/from 3D globe. They are using Leaflet 0.7.5 and somehow manage this switch without reloading.

[2016-02-02 14:45] perliedman commented on #2553
@hyperknot they use two completely different libs. The globe is drawn on canvas, not using Leaflet. Check the DOM inspector, and you can see that there's one Leaflet map and another div for the globe, they show/hide the globe when you zoom in or out.

[2016-02-02 15:35] hyperknot commented on #2553
@perliedman thanks, I see. So it's basically a hack of synching two viewers on top with an opacity 0/1.

[2016-02-02 15:50] donny08 opened #4187 "map not loading android 4.1.2"
I have tried setting `<script>L_DISABLE_3D = true;</script>` before including leaflet.js but still the problem is not solved.

[2016-02-02 15:52] IvanSanchez commented on #4187
Does any website powered by Leaflet still work? e.g. if you visit leafletjs.com, do you see the map using the same Android 4.1.2?

[2016-02-02 15:58] donny08 commented on #4187
yess i can see map

[2016-02-02 16:00] IvanSanchez commented on #4187
Then you must be more specific in describing the circumstances of your problem: which web browser (stock? chrome?), which Leaflet version, whether if your example works on a desktop browser, etc.

Also, please read [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs), it contains tips on how to write a good bug report, and where to search for help if thi

[2016-02-02 16:16] drgottjr commented on #3384
i ditto that emotion.  it isn't leaflet.  leaflet just re-wraps the underlying geolocation code as supplied by the browser.
you (we and leaflet) are at the mercy of that underlying code. plus whatever restrictions may be enforced by the device or your network operator (thus causing a timeout).  plus you could have a quirky gps or even a problem with your code.
what i did to convince myself that i

[2016-02-02 17:00] hyperknot commented on #3384
Also, I found out that when you are developing and calling a lot of geolocation calls, Google's servers are more likely to return an error, so I suspect they rate-limit geo-location requests. If I waited a minute they always started working again.

[2016-02-02 20:27] explorob commented on #3384
Thanks for these ideas and info.

So for use with Leaflet on a webview, you're recommending writing my own code with longer timeout values than the ones the Locate plugin uses as well as changing the desired accuracy value.

This alternative plugin seems to offer the functionality being suggested:
https://github.com/M165437/Leaflet.AccuratePosition

I haven't tried it yet but will try it.

[2016-02-02 21:38] hyperknot commented on #3384
@explorob you don't need to use any plugins or custom code for that, Leaflet supports the required parameters (in 1.0 at least, I haven't checked 0.7).

Here is a snippet:

[code]

[2016-02-02 22:18] drgottjr commented on #3384
no custom code necessary.  leaflet handles it.

the plugin is a wrapper around the standard html5 geolocation calls, just like leaflet itself is.  the author has a theory about the accuracy of getCurrentPosition() which you can read once you figure out why you can't get a reading at all.  it has to do with forcing the gps to update itself (which may not be happening unless you goose it.)  i only t

[2016-02-03 09:24] IvanSanchez opened #4189 "closePopupOnClick map option possibly unused"
As @ssured notes in #4188, the `closePopupOnClick` option doesn't work properly - there is a need for refactoring the `preclick` event handler of `L.Popup`, and possibly make a unit test to prevent regressions.

[2016-02-03 14:18] OriginalSin opened #4190 "Problems with _pruneTiles"
We wanted to test the asynchronous rendering canvas tiles.
Wrote a short example in which we want call "done" function on all active tiles in one tick.
However we saw that Leaflet don't pruneTiles in this case.
Look example and click on button in
https://github.com/OriginalSin/Leaflet1.0.0-beta.2_test

[2016-02-03 14:37] OriginalSin commented on #4190
In the next example "L.GridLayerAsync_test.html" we want to create tile Dom node  asynchronously or not to create.
For this we have to extend L.GridLayer  with "_updateOpacity", "_removeTile", "_tileReady"  and correct 4 lines depended from tile nodes.

[2016-02-03 14:40] IvanSanchez commented on #4190
I'm gonna say this is a duplicate of #3765.

[2016-02-03 14:48] OriginalSin commented on #4190
Yes this is the same problem.
This test http://originalsin.github.io/Leaflet1.0.0-beta.2_test/examples/L.GridLayerTest.html stable produce this bug.

[2016-02-03 14:49] IvanSanchez commented on #4190
Closing as duplicate then.

[2016-02-03 14:49] #4190 closed

[2016-02-03 15:17] jblarsen commented on #3765
Hi

I have modified the playground example that hyperknot posted 20 days ago with a monkey patched _pruneTiles method for the tile layer:

http://playground-leaflet.rhcloud.com/tur/1/edit?html,console,output

The problem disappears when the call to _retainParent is commented out. It seems like the tiles at the old zoom level are sometimes having their "retain" property set thus preventing them fro

[2016-02-03 16:50] bharathnav commented on #3402
#4784 Error in popup layer after upgrading from 3 to 3.8.2 #4784.

Could someone help me on this please?

[2016-02-03 17:42] mehany commented on #3575
I am seeing this bug as well sometimes on ( latest: chrome , safari, firefox ) on osx El Capitan. when I edit an images's <code> transform </code> css property by 1px, the edited tile aligns with the tile next to it.

    // ex.
     transform: translate3d(1556px, -81px, 0px);
     // to
     transform: translate3d(1555px, -80px, 0px);

Sometimes this bug does not appear though ( that 1px of diffe

[2016-02-04 08:08] jblarsen commented on #3765
Hi all

I believe that I am closer to a solution. The problem seems to be caused by the fadeAnimation. If we disable that the problem seems to disappear:

http://playground-leaflet.rhcloud.com/caq/edit?html,console,output

The cause seems to be in the _updateOpacity method where we have

[code]

I believe this should be:

[code]

If we look at what happens when we have fadeAnimation set to false w

[2016-02-04 08:40] IvanSanchez commented on #3765
@jblarsen Can you please turn that into a pull request? It makes looking at the changes and testing so much easier.

[2016-02-04 08:57] #4153 closed

[2016-02-04 09:06] yohanboniface commented on #4152
Seems fixed to me in master: http://playground-leaflet.rhcloud.com/fow/edit?html,output

I don't think we will backport in stable given that's not critical, so I'm closing. Feel free to reopen if you disagree :)

[2016-02-04 09:06] #4152 closed

[2016-02-04 09:09] badreal commented on #2682
adding a timeout before calling fitbounds might be a solution , it was in my case.

[2016-02-04 10:24] febeling opened #4194 "Missing documentation for `disableScrollPropagation`"
The method `L.DomEvents.disableScrollPropagation` isn't mentioned in the documentation.

[2016-02-04 10:30] IvanSanchez commented on #4194
This will be fixed in https://github.com/Leaflet/Leaflet/commit/e3f65b8dad62051079c659c9ebcf66af4ad97bbb#diff-4126cb436737830035255df088f7be61R169 when #4085 and #3916 are merged in.

[2016-02-04 10:30] #4194 closed

[2016-02-04 10:31] febeling commented on #4194
:+1: Thanks.

[2016-02-04 13:29] IvanSanchez commented on #3765
I've run into something very similar in #4193 - and I've realized there is a mismatch between the tiles being `load`ed, the gridlayer being `load`ed, and the tiles *fading in*.

So the pruning algorithm runs whenever the gridlayer has finished loading, which can be *sooner* than when the tiles have faded in, which means they haven't been set to *active*, which means they are not pruned.

Maybe we

[2016-02-04 17:15] capan commented on #372
How is it possible to open the hyperlink in pop up in a new tab ?

[2016-02-04 17:30] IvanSanchez commented on #372
@capan Please [use the Leaflet bugtracker only for bugs](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs) and [do research before asking a question](https://stackoverflow.com/questions/6296013/how-can-i-open-a-link-in-new-tab-and-not-new-window).

[2016-02-04 18:52] ivanssa opened #4195 "button switch between map / satellite layers"
Hello day I'm looking for a solution to create a button to switch between map / satellite layers, as in the example image below, someone could help in creating this switch style?

![map_change](https://cloud.githubusercontent.com/assets/3166174/12825911/4e4b2aa0-cb57-11e5-972f-b60c06726694.jpg)

[2016-02-04 19:49] IvanSanchez commented on #4195
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https//gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

[2016-02-04 19:49] #4195 closed

[2016-02-05 04:45] nikolas opened #4196 "Implement smooth scrolling with arrow keys"
When I move around in Leaflet with the arrow keys, it feels really awkward compared to say, Google Maps. We should improve this by not relying on the arbitrary key repeat rate, and implement smooth scrolling for the arrow keys.

Here's some ideas:
http://stackoverflow.com/a/3691661/173630

[2016-02-05 08:31] IvanSanchez commented on #4196
Definitely a good idea worth considering. But I don't think it can be done for 1.0.0, we must focus on merging testing what we have right now.

[2016-02-05 15:19] trippal opened #4198 "getPointAtLength of Path Line wrong coordinates"
Good day,
There is something strange:
I'm using Leaflet 1.0 beta 2. and D3.js to label paths.
So, getTotalLength()  - work great. Total length in pixels to repeat line labels works, but when I try to get current pixel position on path(X,Y) - this is fly away by 2-3 hundred pixels to the right.
For example - I draw line on clock-side demention around. And pixels x and y at the begining of line (0,0

[2016-02-05 15:22] IvanSanchez commented on #4198
I think we could understand the problem better with pictures and/or examples. Can you post some code in a public place (e.g. http://playground-leaflet.rhcloud.com/ ) so we can *see* what you mean?

[2016-02-05 15:32] trippal commented on #4198
Firstly, I use eachLayer
` 	_resetLabels: function() {
 		this._removeLabels();

 		this.labelingLayer.eachLayer(function(layer) {
 			if (layer.feature.geometry.type === "LineString") {
 				this._LineLabel(layer);
 			} else {
 				alert("Incorrect data!")
 			}
 		}, this);
 	},`

Secondly: lineLabel method
`layer._path.id = "layer" + layer._leaflet_id;//add path id to use d3,js selections
if (

[2016-02-05 17:19] trippal commented on #4198
I'm so sooooory! I found my error!))

[2016-02-05 17:23] #4198 closed

[2016-02-05 17:24] IvanSanchez commented on #4198
No problem! ;-)

[2016-02-05 18:06] fplgusmao opened #4199 "Leaflet throwing "Cannot read property 'max' of undefined" when adding a populated group layer to a map"
**Basically,** I'm making an app that, among other things, lets users insert `L.Circle`'s on a group layer on top of a map. Then, it saves the layers of that group layer – they are all Leaflet circles – in a variable located under an AngularJS Service. It then needs to load (add) them again into another group layer, which in turn will be added to a map. I add each of them to the group layer using

[2016-02-05 23:27] edg2s opened #4200 "Be able to specify to pixel dimensions for maps which aren't attached to the DOM"
Hi, I work for the WIkimedia Foundation and I'm currently helping integrating OSM maps with Wikipedia.

One issue we have is that the maps need to be re-rendered when a 'content changed' event fires on the page. For performance this event fires when the content is ready to be attached, and not after (to avoid re-paints). Leaflet only measures dimensions using _container.clientWidth, which at this

[2016-02-06 09:40] jonathansewell commented on #3280
I was getting this because I was accidentally calling setGeoJSON() with an empty array, then again with my actual data (due to a React component rendering twice).

[2016-02-06 14:13] IvanSanchez commented on #4200
Hi, @edg2s ! Happy to know folks at Wikipedia are using Leaflet :-)

I've read the phabricator issue, and one thing is not clear to me: do you use Leaflet 0.7.x or 1.0.0-beta?

Anyway, you should be able to hack your way around this by redefining the `L.Map.getSize()` method, like:

[code]

It would be possible to add another map option to specify a initial map size (valid until the first call to

[2016-02-06 16:53] edg2s commented on #4200
Yeah we've hacked around it by setting the _size property directly. I've leaving getSize as it is possible to change the maps size later with the editor. It looks like we're currently using 0.7.7.

If you're setting initial size you'd want to make sure getSize doesn't invalidate if the element is hidden, but the quickest way to check that is clientWidth=clientHeight=0 which isn't perfect.

CCing @

[2016-02-06 17:06] nyurik commented on #4200
@IvanSanchez, at first we I used Leaflet directly, but later we needed [Simple styling](https://github.com/mapbox/simplestyle-spec/tree/master/1.1.0), so we switched to [mapbox.js lib](https://github.com/mapbox/mapbox.js) (which uses Leaflet internally). At some point I hope we can start using webGL client-side rendering as well, since our maps are vector based, as well as integrate leaflet editor

[2016-02-06 20:50] bagage opened #4202 "documentation examples: displaying GPS trace?"
I read the [Quick Start Guide](http://leafletjs.com/examples/quick-start.html) and quickly got a working map, thanks to the great documentation!

From what I can see on the [examples page](http://leafletjs.com/examples.html), there is not (yet?) an example for dealing with route / trace display. From nicest (in my opinion!) to simplest to write (I think), would it be reasonable to have an example

[2016-02-06 22:30] hyperknot commented on #4202
Leaflet is just a core library, probably more minimal then you might think. What you mentioned here can be done with external plugins and/or custom implementation.

1. Strava's example is not an "example", it is a sophisticated front-end app. I'd guess it takes 500+ lines of code to implement a basic version if it, definitely not something which fits in a tutorial for beginner.
2. For this one, lo

[2016-02-06 22:40] bagage commented on #4202
1. Sure, 1. is probably way overkill.
* I wasn't sure if Leaflet handled it internally, but the conversion to poly-line should not be a big deal.
* This gets interesting; maybe a small subsection of the start guide will be enough to just show that it's there and how it looks like (I know it's ridiculously easy to code, but nice to read it in an example tutorial!).
Thanks for your comment @hyperkno

[2016-02-08 14:44] hyperknot commented on #4180
Test with #4193, OK:
http://playground-leaflet.rhcloud.com/wek/1/edit?js,console,output

[2016-02-08 14:53] #4180 closed

[2016-02-08 15:44] IvanSanchez commented on #4127
@delner @kohenkatz Sorry to bother again - any updates on these `dblclick`s?

[2016-02-08 15:46] IvanSanchez commented on #3765
@brs-fcoo @livemixlove Could you please test if this bug is still reproducible in `master`? I'm hoping that the change from https://github.com/Leaflet/Leaflet/pull/4193/files#diff-f1e6be67599c594731fff6191c710420R674 might have fixed this.

[2016-02-08 15:52] maxaudrin commented on #766
+1

[2016-02-08 15:52] IvanSanchez commented on #3754
I cannot reproduce in `master` anymore. Can anyone confirm?

[2016-02-08 16:17] hyperknot opened #4205 "Fix flyTo tile usage"
On master, tile usage is still about 1.5x higher in certain conditions, for example during a flyTo. Reference is b85e9029.

Test: `zoompan.html`, open and clear browser tools / network, click TRD.
b85e9029: 118 tiles loaded
master: between 180-195 tiles loaded

[2016-02-08 18:30] IvanSanchez commented on #4205
Maybe the same trick as the zoom animations can be applied: when calculating the pixel extents of the tiles to be loaded, snap the zoom up, up to a `zoomSnap`.

Note there is a [unit test for number of tiles being loaded in a `flyTo`](https://github.com/Leaflet/Leaflet/blob/master/spec/suites/layer/tile/GridLayerSpec.js#L636), and that it might need updating if the number of loaded tiles is lower.

[2016-02-08 21:13] danzel commented on #4202
2 would be handled by plugins, so I don't think it would suit as a leaflet example.

https://github.com/Leaflet/Leaflet/blob/master/debug/vector/vector-bounds.html has an example of 3, which is just creating a L.Polyline using an array of latlngs. So I'm not not sure we really need an example of that.

[2016-02-08 22:32] hyperknot commented on #4205
@IvanSanchez good news! After spending quite some time with tile-debug.html (see #4206), I can conclude that master is working fine, and b85e902 was a bit conservative with flyTo tile loading. b85e902 left some areas without tiles during animation, while master loads all tiles correctly.

[2016-02-08 23:01] hyperknot commented on #4039
Can be checked visually on #4206. I recommend keeping at least one tile in memory on each sides.

What is the downside of keeping more tiles? Higher memory usage?

[2016-02-09 00:04] kmdufa opened #4207 "Leaflet/GeoJSON - Symbolizing the default blue icon to other .png files"
How can I use different .png files to symbolize my GeoJSON data?
I have one property in my GeoJSON file that I would like to symbolize the data by (feature.properties.issue). For each different issue type, I would like to display a different .png file as a clickable marker.

Here is what I have so far. I'm very new to Leaflet/HTML/GeoJSON.
I can get each default marker to have a click-able popup t

[2016-02-09 00:55] hyperknot opened #4208 "Fractional zoom controls broke maps when initial zoom isn't specified"
All maps are broken (total grey) which are not specifying initial zoom manually, but by using fitBounds.

It's because of 3fde3c03, which changes getBoundsZoom, which now gives NaN when initial zoom isn't set.

Affected examples (almost all which contain the string fitBounds):
- map/image-overlay.html
- map/tile-opacity.html
- map/wms.html
- vector/vector-mobile.html
- vector/vector-canvas.html
-

[2016-02-09 07:08] kaynz commented on #4039
@hyperknot Bloated DOM,

[2016-02-09 08:16] IvanSanchez commented on #4208
I wonder how the unit tests for `L.Map.fitBounds` haven't caught this one.

[2016-02-09 09:10] damiendevienne opened #4210 "popup closing after autopan"
Hello,
I am having this problem with leaflet:
When a popup opens, the map autopans to make the popup fully visible (which is good), but then the popup automatically closes. Is this a bug ?
Cheers

[2016-02-09 09:13] IvanSanchez commented on #4207
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https//gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

Also, pay attention to the `pointToLayer` option in the GeoJSON class in the docs: http://leafletjs.com/reference.html#geo

[2016-02-09 09:13] #4207 closed

[2016-02-09 09:29] Mr0grog opened #4211 "Doubled-up transforms on SVG layers in non-3D environments (e.g. PhantomJS)"
In the 1.0 beta, SVG layers get both a transform and a top/left position applied when running in a non-3D browser, effectively doubling their offset and rendering them visually out-of-sync with the rest of the map. I ran into this while trying to do some snapshotting in PhantomJS (where 3D is turned off):

![output](https://cloud.githubusercontent.com/assets/74178/12912299/69c78ee0-cecc-11e5-8adc-

[2016-02-09 09:53] IvanSanchez commented on #4211
I cannot reproduce this one. I'm putting the usual

[code]

in [/debug/vector/vector2.html](https://github.com/Leaflet/Leaflet/blob/master/debug/vector/vector2.html), and I can confirm the bug.

It doesn't show up at first, but it can be triggered by mousewheel-zooming when far from the map center.

[2016-02-09 10:12] IvanSanchez commented on #4211
@Mr0grog Can you please check if #4212 fixes the problem for your case?

[2016-02-09 10:17] IvanSanchez commented on #4210
I cannot reproduce (see http://playground-leaflet.rhcloud.com/xisu/edit?html,output ), so I have to assume it's a bug in your code.

As explained in [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md), this issue tracker is used for reporting bugs and discussing new features. Double-check your code and consider asking for advice in [gis.stackexchange.com](https//gis.s

[2016-02-09 10:17] #4210 closed

[2016-02-09 11:07] IvanSanchez commented on #4208
Closed via #4209

[2016-02-09 11:07] #4208 closed

[2016-02-09 11:15] IvanSanchez commented on #3313
@rickj33 The code controlling zoom animations and tile loading have gone through a lot of changes lately. I've checked your fiddle, and I think everything looks fine.

(I've also updated the fiddle to use the latest Leaflet build, see http://jsfiddle.net/eqLdnfm7/19/ )

Can you please check it, and tell us if the bug is gone or still there?

[2016-02-09 12:32] jblarsen commented on #3765
@IvanSanchez brs-fcoo and I have tested the newest master in our setup. We cannot reproduce the bug anymore.

[2016-02-09 12:38] IvanSanchez commented on #3765
@jblarsen @brs-fcoo Glad to hear the bug is gone! :-D

I'll close the bug and pull req for you.

[2016-02-09 12:38] #3765 closed

[2016-02-09 13:06] hyperknot commented on #4205
Closing this one, as the higher tile usage is actually the right one, and the old version was leaving grey tiles in corner.

[2016-02-09 14:27] perliedman opened #4213 "L.Control.Layers does not cleanup event listeners when removed"
When a layer control is removed from a map using `removeControl`, it does not remove the event listeners that it has attached to its layers.

This causes an exception if one these layers are later added or removed from the map, since it will trigger the layer control's listener, which assumes `this._map` to be defined, but it isn't.

I think the control should remove all listeners when it is remov

[2016-02-09 14:38] perliedman commented on #4213
Also verified this issue exists with development version as of today, 2016-02-09.

[2016-02-09 14:39] IvanSanchez commented on #4213
Looks easy, working on a fix.

[2016-02-09 14:44] IvanSanchez commented on #4213
#4214 should do the trick.

[2016-02-09 14:49] perliedman commented on #4213
That's fast, nice work!

[2016-02-09 14:51] IvanSanchez commented on #4213
@perliedman Can you please test and merge if it looks good? ;-)

[2016-02-09 15:00] perliedman commented on #4213
No time right now, but will try to find time later tonight!

[2016-02-09 18:35] Mr0grog commented on #4211
@IvanSanchez as noted in the PR, that works great in my use case (thanks!). Not sure if the loss of zoom/scale would cause problems in other potential use cases, though.

[2016-02-09 19:13] IvanSanchez commented on #4211
No. Scaling renderers is only used during zoom animations, and those don't happen when `L.Browser.any3d` is false. So no problem.

[2016-02-09 19:14] #4211 closed

[2016-02-09 19:14] Mr0grog commented on #4211
Ah, gotcha. :thumbsup:

[2016-02-09 19:22] delner commented on #4127
@IvanSanchez So a novice question... but how would I get a copy of Leaflet from #4131?

[2016-02-09 19:36] IvanSanchez commented on #4127
@delner You `git clone` the main Leaflet repo, then switch to the branch regarding #4131, in this case `git checkout chrome-win10-dblclick`.

Do check out the [github help](https://help.github.com/articles/cloning-a-repository/), and remember you do **not** need to fork a repo to clone it. If you don't use command-line git, you'll need to do a bit of extra research.

[2016-02-09 21:12] #4213 closed

[2016-02-09 21:12] bagage commented on #4202
Well indeed `vector` example exists -I do not think it's the same usage though, but I guess it's enough for new users!

[2016-02-09 21:12] #4202 closed

[2016-02-09 23:02] mourner commented on #4039
I think this can be fixed after rc1.

[2016-02-09 23:02] hyperknot opened #4215 "Right click touchpad action zooms out map"
Since a1ff60bf, a right click on the touchpad (Macbook, OS X), triggers a zoom out.

I believe it is because of ths `Math.max(d3, this._map.options.zoomSnap || 0)` line. I think it should be a round to the nearest zoomSnap, not a max.

Can be tested in every sample / example.

[2016-02-10 01:45] delner commented on #4127
@IvanSanchez Right right... once I clone it down locally though, do I have to build the library? I think I'd need a JS file to embed in a `<script>` to test with it.

[2016-02-10 06:17] IvanSanchez commented on #4127
@delner You can build it (see https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#setting-up-the-build-system ) or open any example in the ’debug’ directory

[2016-02-10 07:39] dbanka opened #4216 "Changing the panes of feature group"
I want to draw a geojson layer and on top of that I want to put some colored tiles and above that I want to draw circles(L.circle).
The issue is that both geojson layer and circles are coming in the overlay pane, so either both of them come above tile layer or below tile layer.
Can I put both of them(geojson layer and circles) in different panes?

[2016-02-10 08:34] IvanSanchez commented on #4216
In the 1.0.0-betas, all layers have a `pane` option, as noted in the docs: http://leafletjs.com/reference-1.0.0.html#layer-pane

As explained in [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md), this issue tracker is used only for reporting bugs and discussing new features. If you need to ask for advice on how to use Leaflet, please use [gis.stackexchange.com](http

[2016-02-10 08:34] #4216 closed

[2016-02-10 17:04] Top-tompak opened #4217 "Animate the movement of the popup"
[code]

I tried:
[code]
Popap starts moving from the top left. As I understand it, the DOM is re-created when setLatLng()

[2016-02-10 17:15] salmansidd opened #4218 "Does leaflet support an SVG as background?"
Hi, I want to use SVG in the background with leaflet.js instead of a map. I know it supports SVG as markers, but I have no idea whether an SVG can be put in the background or not. Does someone has any experience with this?

[2016-02-10 20:16] IvanSanchez commented on #4218
Hi! Glad you like to push Leaflet to its limits!

As explained in [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md), this issue tracker is used for reporting bugs and discussing new features. For user advice on Leaflet, please consider asking in [gis.stackexchange.com](https//gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

[2016-02-10 20:16] #4218 closed

[2016-02-11 12:56] alekzonder opened #4220 "Map.ZoomAnimation 'moveend' event fired twice on zoom in or zoom out"
bug is reproduce randomly

[code]
https://github.com/Leaflet/Leaflet/blob/master/src/map/anim/Map.ZoomAnimation.js#L109

issues #3689 and #2693 closed

moveend fired twice randlomly this example with leaflet-1.0.0-rc.2: https://jsfiddle.net/alekzonder/x0w9yo8q/

- click zoom control buttons
- wait 1 second (log clear)
- zoom in or zoom out
- randomly got two '!moveend!' in log

like on this [scree

[2016-02-11 13:00] IvanSanchez commented on #4220
Duplicate of #4023. @alekzonder, read the comments there.

[2016-02-11 13:00] #4220 closed

[2016-02-11 14:36] alex-marin-sv commented on #4069
Hello.
Any updates on this ? I am running into the same issue. Try this on 0.7.2 and 0.7.7. still same error. It happens when you move the map and zoom or zoom in at the same time. I reproduced this on the demo map on leaflet.com. (image below). Thank you!

![leaflet issue](https://cloud.githubusercontent.com/assets/17179183/12979054/742aa2ec-d0dd-11e5-907b-4cae5c44c5f2.PNG)

[2016-02-11 15:21] iH8 opened #4221 "Add/remove events for L.LayerGroup/FeatureGroup/GeoJSON not working in v0.7.7"
Found this issue from two years ago, which has since been closed: https://github.com/Leaflet/Leaflet/issues/2462 The issuer never responded and Mourner closed it but i ran into the same problem today when helping someone out on Stackoverflow. I thought posting a new issue was best since i'm not sure if somebody is actively reading comments on closed issues. If i'm wrong sorry in advance.

Case in

[2016-02-11 15:32] IvanSanchez commented on #4221
In 0.7.x, `L.LayerGroup` does **not** implement the event methods. If you need to use events with layer groups in 0.7.x, use `L.FeatureGroup` instead.

Implementing events in `L.LayerGroup` for 0.7.x is simply too much work, and the team agreed to not implement any new features but do only maintenance on big (critical) bugs.

Also, `L.LayerGroup` and `L.FeatureGroup` do not implement the `remove()

[2016-02-11 15:32] #4221 closed

[2016-02-11 15:38] garden786 opened #4222 "map is not being shown properly"
I have my map in a hidden div. When that div becomes visible all if the map is grey except the upper left corner. When I resize the map or open the browser console the map becomes visible properly.[link to image](http://screencast.com/t/y2OILrskI)

[link to video ](http://screencast.com/t/e6TlmHHtAPH)

[2016-02-11 15:44] IvanSanchez commented on #4222
I'm afraid this is not a good bug report. Please take a minute to read [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs), and make sure to point out your leaflet version and provide a test case we can have a look at.

[2016-02-11 15:54] jieter commented on #4222
`map.invalidateSize()` might help though...

[2016-02-11 16:10] #4222 closed

[2016-02-11 17:01] iH8 commented on #4221
Ok point taken, thanks for the clarification.

[2016-02-11 18:44] garden786 commented on #4222
@jieter  that does not helps. I tried that but that didn't work either

[2016-02-11 20:26] perliedman commented on #4217
No, `setLatLng` will just adjust the position, without recreating any elements. Check the code here: https://github.com/Leaflet/Leaflet/blob/stable/src/layer/Popup.js#L233

Anyway, this looks like a question on using Leaflet rather than an issue in Leaflet. It's better to ask this type of questions on sites like [gis.stackexchange.com](https://gis.stackexchange.com/) or [stackoverflow](https://sta

[2016-02-11 20:26] #4217 closed

[2016-02-11 22:15] IvanSanchez commented on #4215
Does this mean that right-clicking the touchpad triggers a `wheel` event??

I've seen problems with horizontal scroll touchpads, but I'm not aware this was possible also :-S

[2016-02-11 22:24] hyperknot commented on #4215
Yes, I've just tested it, it triggers a 0.

[2016-02-11 22:26] dotku opened #4223 "how to hide popup tail?"
There is a small triangle on the bottom of popup, how can I hide it? I can't find it on CSS :(

![triangle tail](http://pasteio.com/m26f642c81452a5bf67cfc5f0b0f2390c)

[2016-02-11 22:51] hyperknot commented on #4215
Here is a comparison between the old function (zigzag) and the new one (smooth) on -1000...1000 delta range. I *think* what you wanted originally is a smoother zig-zag, isn't it? Also the old one returned 0 -> 0, the new one returns 0 -> 1, hence the bug.

![figure_1](https://cloud.githubusercontent.com/assets/494223/12993193/0561a4fa-d119-11e5-98ee-f1c460aaeb2e.png)

[2016-02-11 23:48] Trecoolius opened #4225 "How can I add data attributes?"
I've been trying [this tutorial ](http://chris-osm.blogspot.com/2013/11/using-leaflet-with-database.html)and while everything works fine, I need a way to attach an ID to every marker so I can trigger individual bootstrap modals like so:

`data-toggle="modal" data-target="some id"`

After doing some reading, everything seems to indicate that I should do something similar to this:

`marker._icon.dat

[2016-02-12 00:19] hyperknot commented on #4215
Fixed in #4224, gives smaller zig-zag with zoomSnap and identical to old version when zoomSnap = 1.

![figure_1](https://cloud.githubusercontent.com/assets/494223/12995257/70f1ac30-d126-11e5-9c71-8cbb4293ab76.png)

Gives smooth curve with zoomSnap = 0.
![figure_1](https://cloud.githubusercontent.com/assets/494223/12995278/a1f8ca66-d126-11e5-81bc-da8662ae28b4.png)

(green is old version)

[2016-02-12 00:41] ivanssa commented on #4195
I could settle with the function found here https://github.com/angular-ui/ui-leaflet/issues/22 was all he needed to create my custom layer switch

$ Scope.changeBaseLayer = function (key) {
         leafletData.getMap (). Then (function (map) {
             leafletData.getLayers (). Then (function (layers) {
                 _.each (layers.baselayers, function (layer) {
                     map.re

[2016-02-12 01:36] hyperknot opened #4226 "flyTo broken when start latlng == end latlng and zoom diff >= 10"
flyTo goes in an infinite loop when start latlng == end latlng and zoom level differences are >= 10.

Reproducing:
In debug/map/zoompan.html, change the initial setView to level 14, and dc onclick level to 4. Click DC.

Leaflet goes in an infinite loop of console logging:
`LatLng.js:7 Uncaught Error: Invalid LatLng object: (NaN, NaN)`

It is interesting that a given zoom level difference is requir

[2016-02-12 02:02] hyperknot commented on #4205
Reopening this one, found a reliably reproducible case:
http://playground-leaflet.rhcloud.com/fem/1/edit?output

Zoom out manually, till zoom level 7 => ~ 84 tiles
click on DC => 124 tiles

I *think* what is happening that flyTo zooms out till it needs to load more of the lower level tiles, before it replaces them with the higher level tiles.

[2016-02-12 02:12] hyperknot commented on #4039
One scenario where this will matter is smooth zooming with zoomSnap = 0, zoomAnimation = false and trackpad scrolling.

On current master, this trigger thousands of tile loads even with a simple zoom-out, zoom-in.
http://playground-leaflet.rhcloud.com/cap/2/edit?output

(might need trackpad to reproduce smoothness)

[2016-02-12 07:16] garden786 commented on #4222
@IvanSanchez  yes you are right. it is not a bug. I'm sorry but I need to ask something that I'm getting a error that `L.geoJson.ajax` is not a function. Why I am getting this error. I have placed the `leaflet.ajax.min.js` this file in the folder where the html file is present but that is not helping I'm still getting that error

[2016-02-12 08:06] IvanSanchez commented on #4222
@garden786 Once again: if it's not a bug or discussion about a new feature, this is not the right place. [stackoverflow](https://stackoverflow.com/search?q=l.geoJson.ajax) is the right place.

[2016-02-12 09:55] ram-one commented on #4223
[code]

[2016-02-12 10:29] #4223 closed

[2016-02-12 12:22] IvanSanchez commented on #4226
@hyperknot Can you make a unit test for this? You can base it on the "tile count during flyto" tests

[2016-02-12 12:25] hyperknot commented on #4226
@IvanSanchez yes

[2016-02-12 14:39] mourner commented on #335
No reaction so closing.

[2016-02-12 14:39] #335 closed

[2016-02-12 14:40] mourner commented on #2086
@patrickarlt I think that's a great approach. I would be up for a PR on this.

[2016-02-12 14:42] mourner commented on #3025
No test case or further comments -> closing

[2016-02-12 14:42] #3025 closed

[2016-02-12 14:43] mourner commented on #3313
Closing, will reopen if it turns out to still be an issue.

[2016-02-12 14:43] #3313 closed

[2016-02-12 14:47] #3754 closed

[2016-02-12 14:48] #3753 closed

[2016-02-12 14:51] IvanSanchez commented on #3645
Can be superseded by #3916, specifically https://github.com/Leaflet/Leaflet/commit/89dd0a94de2e2e58df8c9d96e3c1c68200623bb2

[2016-02-12 15:02] IvanSanchez commented on #4181
@Yamakaky Can you ellaborate on *how* does that break `fullpage.js`? (what exactly do you mean by `fullpage.js` anyway?

Please take a minute to read [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs), and make sure to point out your leaflet version and provide a test case we can have a look at.

[2016-02-12 15:09] IvanSanchez commented on #4154
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https//gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

Having said that: attach `add` and `remove` event handlers for your layers and update the URL's hash accordingly.

[2016-02-12 15:09] #4154 closed

[2016-02-12 15:10] IvanSanchez commented on #4225
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https//gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

Having said that: look into `L.DivIcon`, which allows you to manually specify HTML code you can then attach to a marker.

[2016-02-12 15:10] #4225 closed

[2016-02-12 15:20] IvanSanchez commented on #4199
This is failing on some function calls specific to 0.7.x - so not a 1.0.0 issue at all.

@fplgusmao Unless you can provide a better plunker/jsfiddle/something, it's unlikely we'll spend time fixing this - we're focused on 1.0.0 issues. I can see the issue has something to do with the 0.7.x way of setting the `_pathViewport` on `L.Path`s. Make sure your SVG/Canvas renderer is instanced and init'ed

[2016-02-12 15:21] IvanSanchez commented on #4109
@hyperknot I'm guessing #4193 might have fixed this already. Can you please check?

[2016-02-12 15:23] IvanSanchez commented on #4106
I'm closing this, as a request for more information was made more than one month ago but no further information has been provided.

[2016-02-12 15:23] #4106 closed

[2016-02-12 15:29] IvanSanchez commented on #4068
I can confirm this. Setting `fadeAnimation: true` in the map options for `debug/tests/tile-opacity.html` makes the example fail.

[2016-02-12 15:45] IvanSanchez commented on #4068
See #4228

[2016-02-12 15:47] IvanSanchez commented on #4002
I'm closing this, as a request for more information was made more than one month ago but no further information has been provided.

[2016-02-12 15:47] #4002 closed

[2016-02-12 15:51] IvanSanchez commented on #3985
The changes in the fractional zoom controls alleviate this a bit, but the bug can still be reproduced by setting `zoomSnap: 0` in the map options.

Easiest way to fix this should be to fire a `zoomend` event whenever a zoom/flyTo animation is stopped with `zoomSnap=0`, to force redrawing of vector (and plugin) layers.

[2016-02-12 15:53] IvanSanchez commented on #3970
I'm closing this, as a request for more information was made more than one month ago but no further information has been provided.

[2016-02-12 15:53] #3970 closed

[2016-02-12 16:16] #2999 closed

[2016-02-12 18:29] hyperknot commented on #4109
@IvanSanchez this is still happening. Animated version gets 15-26 tiles, non-animated 9 always.

[2016-02-12 19:36] hyperknot opened #4230 "Quickly changing / removing tile layers results in a _pruneTiles error"
If the tile layer is quickly removed after being added (which might happen when the user is quickly selecting tile layers from a list), a _pruneTiles error might be thrown.

Try quickly clicking the switch button multiple times:
http://playground-leaflet.rhcloud.com/yin/2/edit?html,output

Error: `Cannot read property 'getZoom' of null`

[code]

Should _pruneTiles start with `if(!this._map) {retur

[2016-02-13 02:22] diocles opened #4231 "Polyline.getCenter() throws TypeError: this._rings is undefined"
I'm using 1.0 beta 2, but get the same error with the 1.0-dev zip file. I'm trying to add labels to the centroid of GeoJSON polygons using this code:

[code]

But I get an error in the console:

TypeError: this._rings is undefined

(Apologies in advance if there's a silly mistake here; it's quite late.  But I'm pretty sure I've got polyline objects, it's just there's a problem finding the centroid

[2016-02-13 06:09] volkanunsal commented on #4125
Also seeing this issue. I tried it on 0.7.7 and 1.0.0-beta.2.rc.2.

[2016-02-13 06:17] volkanunsal commented on #4125
Looks like this line is what is scrolling the page:

[code]

[2016-02-13 07:44] yohanboniface commented on #4231
@diocles can you reproduce on a jsfiddle so we can investigate? http://playground-leaflet.rhcloud.com/ for example. Thanks :)

[2016-02-13 08:12] yohanboniface commented on #4125
@volkanunsal thanks for the investigation!
Can you provide a minimal test case to reproduce the issue? The jsfiddle up there seems broken, and even [fixing it](http://playground-leaflet.rhcloud.com/rij/edit?html,output) I don't reproduce.
Also, can you tell which browser and OS are you using (with versions)?

[2016-02-13 10:54] yohanboniface commented on #4230
I'd say so, yes, given we are using requestAnimFrames, which is async.

[2016-02-13 11:05] yohanboniface commented on #4179
Also, is it crossbrowser? Some time ago "title" on SVG was not supported on Webkit, see https://github.com/Leaflet/Leaflet/pull/1331 for a bit of context.

[2016-02-13 11:18] yohanboniface commented on #4127
@delner can you try with this playground http://playground-leaflet.rhcloud.com/bag/edit?html,console,output it has the leaflet code from #4131 ?

[2016-02-13 12:39] vinyll commented on #766
Same issue here after moving `<leaflet-map>` from the index file into a component (using Polymer here).

I had to set the path like this:

    ready() {
        L.Icon.Default.imagePath = '../bower_components/leaflet/dist/images/'
    }

[2016-02-13 13:00] mateenagy opened #4232 "Leaflet bottom bounds"
Hi!
I working on a custom map for a company and I get an issue.The issue is: I set the bounds and everything and it works on all side except the bottom so when i start moving u it not goes back to the bottom. The funny thing if I resize the window so for example I make it small and after back to full window size the bottom part works perfectly.

Here is my code so far:

[code]

[2016-02-13 13:03] IvanSanchez commented on #4232
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https//gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

[2016-02-13 13:03] #4232 closed

[2016-02-13 13:44] volkanunsal commented on #4125
@yohanboniface I reproduced it [here](http://playground-leaflet.rhcloud.com/lav/1/edit?html,output). The trick is to have the map container at 100% height and some height to the page –– enough that the scroll is showing. You also need to wait until the map to finish loading before triggering `_onRefocus`. It will only happen once. If you scroll the page back up and try again, it won't scroll down

[2016-02-13 13:56] yohanboniface commented on #4125
OK, I can reproduce now.
For reference: only on Chromium, not in FF.

[2016-02-13 14:23] yohanboniface commented on #4125
Seems related to `tabindex="0"`.
Reproduced without any Leaflet bit around: http://playground-leaflet.rhcloud.com/sud/edit?html,output

[2016-02-13 16:53] diocles commented on #4231
@yohanboniface http://playground-leaflet.rhcloud.com/vum/1/edit?html,output

Hope that helps!

[2016-02-14 05:23] jfirebaugh commented on #3277
I just set up https://github.com/jfirebaugh/animations to work this way, in preparation for replacing jekyll with a node-based static site generator. Works great! @IvanSanchez, not sure what issue you ran into but for me it definitely does keep `gh-pages` in sync with a subdirectory on `master`. I did have to use [this tip](https://gist.github.com/cobyism/4730490#gistcomment-1374989) to force-push

[2016-02-14 08:56] yohanboniface commented on #4231
@diocles the layer has not been added to the map at this time, so we can't project its center yet.
Try using the `layeradd` event on the geojson layer instead. Something like:
[code]

[2016-02-14 08:56] #4231 closed

[2016-02-15 04:19] delner commented on #4127
@IvanSanchez @yohanboniface Ok I did some testing from a compiled version of #4131 from the chrome-win10-dblclick branch on a *MS Surface Pro 3*.

**Windows**:
 - **Edge**: Scroll-wheel zoom and double-click work fine. Pinch-to-zoom and double tap works fine.
 - **Firefox**: Scroll-wheel zoom and double-click work fine. Double tap works fine, _but pinch-to-zoom adjust browser's zoom level instead

[2016-02-15 08:35] k-nut opened #4235 "Misleading error message when circle radius is NaN"
If a `L.circle` is created with proper coordinates but a radius that is `NaN` (e.g. `L.circle([36.83711,-2.464459], NaN)` )leaflet throws an error like: `Uncaught Error: Invalid LatLng object: (36.83711, NaN)`.

This makes it look like the latitude/longitude are `NaN` where it really is the circle's radius.

This is very confusing and it makes debugging harder because you start looking at the wron

[2016-02-15 08:42] IvanSanchez commented on #4127
@delner Thanks for testing!

I'm going to guess the Firefox bugs can be converted into upstream bugs so the Mozilla folks can handle them. Gotta make a few minimal test cases and borrow a Surface.

[2016-02-15 09:12] IvanSanchez commented on #4127
I've just personally tested @yohanboniface 's playground with a colleague's Surface Pro 4 using Win10 and **Firefox nightly 47.0**, and all interactions (touchscreen pinch-zoom, touchpad pinch-zoom, touchscreen double-tap, external mouse scrollwheel) work as expected. Yeeee-haw! :smile:

[2016-02-15 09:23] IvanSanchez commented on #4235
I don't think this is really critical, but throwing a couple of verbose errors in the `L.Circle` constructor is easy enough.

[2016-02-15 09:27] MadTigger opened #4238 "Default size for L.DivIcon should not be set by default?"
Think I found a design bug. I was working with some L.DivIcon objects tonight, and I noticed that if I put text in the html field, it would spill out of the div rendered on map. I took a look at the source (in both 0.7.7 and Leaflet 1.0.0-beta.2, I am testing both in my project), and the code is as follows:

L.DivIcon = L.Icon.extend({
	options: {
		iconSize: [12, 12], // also can be set through C

[2016-02-15 10:19] #4235 closed

[2016-02-15 10:22] IvanSanchez opened #4239 "More tutorials needed"
The [tutorials](http://leafletjs.com/examples.html) page needs some love. Leaflet has a lot of features, but there are tutorials for just a bunch of them.

We should spend some time converting some of the pages in the `debug/` directory into tutorials/examples.

A non-comprehensive list:

* [ ] Complete newbie's guide to How To Use a Leaflet Plugin
* [ ] Image overlays (prettier version of `image-

[2016-02-15 10:26] IvanSanchez commented on #4127
Closed via #4131

[2016-02-15 10:26] #4127 closed

[2016-02-15 10:31] kennethhutw opened #4240 "Uncaught Error: No value provided for variable {x16}"
Hi

I tried to use qq map tiles with the leaflet.js but it has an error "Uncaught Error: No value provided for variable {x16}" and cannot show map.

How to solve it? thank you for taking time to read this issue.

http://plnkr.co/edit/VhYnmd?p=preview

[2016-02-15 10:34] IvanSanchez commented on #4240
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com/questions/tagged/leaflet](https://gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com/questions/tagged/leaflet).

Having said that: your problem is in how you're using `{z}/{x16}/{y16}/

[2016-02-15 10:34] #4240 closed

[2016-02-15 10:54] k-nut commented on #4235
Awesome, thank you for that amazingly quick fix! I also just added a test for this in #4241.

[2016-02-15 12:31] hyperknot commented on #4238
@MadTigger Leaflet is using these L...extend(options: {}) structure to define the **default** settings for every object type, but those are just *defaults*.

You are encouraged to use your own values, for an example how: have a look at https://github.com/Leaflet/Leaflet/blob/master/debug/tests/opacity.html

Also, do not use a CSS override, as the centerings would be off!

[2016-02-15 13:23] #4238 closed

[2016-02-15 13:42] hilarykitz commented on #1742
Is there a way to add a tileLayer above an objects pane, currently? I have a tile layer that's just labels which I'd like to have over a group of polylines...

[2016-02-15 13:44] IvanSanchez commented on #1742
@hilarykitz We've just written a tutorial on that: http://leafletjs.com/examples/map-panes.html

[2016-02-15 14:10] hyperknot commented on #4215
Fixed as of https://github.com/Leaflet/Leaflet/pull/4224

[2016-02-15 14:10] #4215 closed

[2016-02-15 14:15] hilarykitz commented on #1742
Whoa *exactly* what I was looking for, thanks so much :)

[2016-02-15 17:28] hilarykitz commented on #1742
@IvanSanchez update: is there any way to still allow cursor interaction with the polylines?

[2016-02-15 18:30] delner commented on #4127
@IvanSanchez Sweet, that's great to hear! I was testing using Firefox 43.0.

Thanks @IvanSanchez and @yohanboniface for fixing this!

[2016-02-15 18:55] MadTigger commented on #4238
I understand how the options tags work, and for some cases what you suggested might work. If I had an image with fixed dimensions to display for example.

However, if you were to use an element of unknown size, say a string, what do you pass to the override? I was trying to dynamically put some location names on a map as clickable tags with a border around the name, and to do that you would need d

[2016-02-15 19:34] grantHarris opened #4247 "Strange zooming behaviour with vector (extended L.geoJson) layers on 1.0.0"
I have extended L.geoJson for my own purposes. This extended class takes care of querying the backend with a bbox amongst other tasks. Upon upgrading from 0.7.7 to 1.0.0 I have encountered a strange zooming problem where the vector layers get moved out of sync from the base tile layer. See below:

![gif](https://cloud.githubusercontent.com/assets/1750776/13058246/d058bc24-d3d6-11e5-81c8-63f66a5cb3

[2016-02-15 20:51] 9662 commented on #4154
@IvanSanchez It wasn't a question but a feature request. I shall try both yours and @snkashis' suggestions when I get back to that particular project and report back on whether those cover the specific requirement that gave rise to this report. Thanks in any case!

More of a fan of irc://irc.freenode.net/leaflet myself. :smiley:

[2016-02-16 06:27] willemx commented on #4247
Seems the same as my problem [here](https://github.com/Leaflet/Leaflet/issues/4053)
I haven't found a solution yet. Went back to 0.7

[2016-02-16 06:36] Jakobud commented on #1742
@hilarykitz `pointer-events` css was set to `none`:

[code]

Just don't do that if you still want to interact with the polylines.

[2016-02-16 08:26] IvanSanchez commented on #1742
@Jakobud that `pointer-events` applies to the labels pane, not to the polylines pane. And it might not even be needed if https://github.com/Leaflet/Leaflet/pull/3937/files (or a slight modification of that) gets merged.

[2016-02-16 10:28] turban opened #4249 "Need to stop map drag propagation"
The drag start event in L.Draggable propagates causing trouble if a draggable map is placed within a draggable container. The dragging of the container is overriding map dragging, which is not what I would expect. I'm not able to access the event outside the Leaflet API to stop the propagation.

![Leaflet drag bug](https://cloud.githubusercontent.com/assets/548708/13073625/12655a0e-d4a0-11e5-9d5c-

[2016-02-16 10:29] IvanSanchez commented on #4249
@turban Can you please make a pull request with your proposed fix?

[2016-02-16 12:29] mourner commented on #3271
Closing in favor of #4239

[2016-02-16 12:29] #3271 closed

[2016-02-16 12:30] mourner commented on #4239
@IvanSanchez fantastic CRS tutorial, glad to see this being finally addressed!
Also see #3271 for previous discussion on tutorials.

[2016-02-16 13:15] mourner commented on #4247
@grantHarris can you set up a _minimal_ test case (e.g. on JSFiddle) that reproduces the issue?

[2016-02-16 13:18] #4230 closed

[2016-02-16 13:25] IvanSanchez opened #4253 "WMS tilelayers and non-EPSG4326 axis order"
I was looking at the problem at https://stackoverflow.com/questions/35337356/leaflet-epsg31466-wms-layer/ , and it seems that, with a custom CRS, Leaflet asks coordinates in northing-easting order whenever the WMS version is >= 1.3 **and** the CRS is EPSG:4326.

Unfortunately, for the case in question (EPSG:31466) this means that the order of coordinates is the wrong one (easting-northing).

I her

[2016-02-16 17:57] grantHarris commented on #4247
@mourner Will do. Might take me a couple days before I have the time, but I'll post back here.

[2016-02-17 01:04] Mr0grog opened #4254 "GridLayer opacity does not work in non-3D environments"
This is a pretty similar issue to #4211. When 3D support is disabled (by setting `L_DISABLE_3D` or by running in environments where that's off, such as PhantomJS, where I'm hitting this), GridLayer's `_updateOpacity()` method bails out immediately and never actually sets opacity:

[code]

Since `_fadeAnimated` is `false` (because of no 3D support), it never gets to setting the opacity. The problem

[2016-02-17 08:28] IvanSanchez commented on #4254
@Mr0grog This is an exact duplicate of #4068.

I made #4228 as a fix, but that mysteriously makes the unit tests about opacity fail in PhantomJS :angry:

[2016-02-17 08:28] #4254 closed

[2016-02-17 14:37] Mr0grog commented on #4254
Oh, wow, I thought I'd looked but completely missed that one. Sorry!

[2016-02-17 14:39] IvanSanchez commented on #4254
@Mr0grog Nevermind ;-)

[2016-02-17 15:08] hyperknot opened #4255 "getBounds() + fitBounds() zooms out map"
Running a getBounds() and then a fitBounds() might zoom out the map.

It depends on zoom level, map element size, probably some rounding error.

http://playground-leaflet.rhcloud.com/juq/2/edit?html,output

[2016-02-17 15:13] hyperknot commented on #4255
Introduced with 3fde3c03 cc @IvanSanchez

[2016-02-17 15:21] IvanSanchez commented on #4255
Not really critical, so I'll push it to 1.1. This will need some unit tests.

[2016-02-17 15:29] hyperknot commented on #4255
You are right about unit tests, but this broke non-fractional users, so existing uses might be affected if this gets in rc1.

[2016-02-17 15:30] IvanSanchez commented on #4255
OK, let's push it into 1.0...

[2016-02-17 16:09] IvanSanchez commented on #3724
@ivanmobigis Can you please check if #4256 fixes the problem?

[2016-02-17 16:28] siimots opened #4257 "Attributions not changing when tilelayer changes"
Hi!

Problem: Modified Attribution Control text not changing when tilelayer is changed.
Version: Not working in 1.0, but works in 0.7.7

My code:
[code]

[code]

When I delete second block and use default position for Attribution control, then everything works fine.

Am I using L.control.attribution incorrectly in 1.0? Because same code in 0.7.7 works as I want.

[Link to my website where bug is p

[2016-02-17 16:36] IvanSanchez commented on #4257
Hhhhmmmm, interesting. At first sight I don't see any problem with your code.

I've copy-pasted the relevant bits of the website into a playground to have a better look: http://playground-leaflet.rhcloud.com/jad/1/edit?html,output

[2016-02-17 16:54] #3724 closed

[2016-02-17 16:57] IvanSanchez commented on #3530
Had a brief look removing the return condition from `Map.TouchZoom.js`. When hitting the zoom limit, `L.Map._zoom()` is still called with the right arguments, and the map's `_pixelOrigin` is updated, and events are fired, but nothing refreshes.

[2016-02-17 17:10] rgtaylor1989 opened #4258 "map on click fires when GeoJSON is clicked on leaflet 1.0"
In leaflet 1.0 beta2, when clicking on a GeoJSON with a click function assigned along with a map click function defined, they both fire instead of just one. This doesn't happen in the older versions of leaflet. See fiddle for examples.

Leaflet 7.7
http://jsfiddle.net/tator/5e209s9c/14/

Leaflet 1.0 beta2
http://jsfiddle.net/tator/em9cLfk4/4/

[2016-02-17 18:44] Mr0grog commented on #4254
@IvanSanchez are you sure that failure's not spurious? The same code is passing on the PR test, just not the one triggered by the push.

[2016-02-17 20:31] IvanSanchez commented on #4258
@rgtaylor1989 This is now expected behaviour in 1.0.0 - events from layers bubble up to the map. See, for example, #3307

[2016-02-17 20:31] #4258 closed

[2016-02-17 23:17] rgtaylor1989 commented on #4258
I see. Have to use
L.DomEvent.stopPropagation(e)
to prevent this from happening.

Keep up the good work leaflet team.

[2016-02-18 06:34] badazz91 opened #4259 "Add setContent and getContent API for L.divIcon class"
Similar to the `L.popup` class it would be nice to provide methods like `setContent` and `getContent` for `L.divIcon`, for better implementation of custom icons. Also it would be nice to be able to set also DOM elements, instead of only a html string in `L.divIcon`.

[2016-02-18 09:06] IvanSanchez commented on #4259
I'm not really sure this is a good idea - the code for `L.Icon` expects to have control over the HTMLElement of the icon, so it can be repositioned. While this is a good idea, I don't think implementation would be trivial.

[2016-02-18 09:29] delner opened #4260 "panTo() ignores worldCopyJump option"
I've been developing a web app using Leaflet where the user locates a city by panning to it, then double clicking to place a marker. After the marker is placed, I call the `panTo()` function to pan the map to the location of the city.

Through the course of this interaction, the user gets a weird experience if they pan around the entire map before `panTo()` is called:
1. It will rubberband the map

[2016-02-18 09:43] IvanSanchez commented on #4260
Have you tried the `worldCopyJump` map option?

[2016-02-18 09:50] IvanSanchez commented on #4260
I've made a [playground](http://playground-leaflet.rhcloud.com/kim/edit?html,console,output) showing this bug:

[code]

[2016-02-18 16:13] snkashis commented on #4257
Bisecting indicates we should be looking at https://github.com/Leaflet/Leaflet/commit/6b132009af48b4e3f9b4f25cbcf241e47009f905

[2016-02-18 16:30] snkashis commented on #4257
Okay, so made a debug page directly from @siimots code, and this PR solves for his case, as well as not affecting existing behavior for  attribution controls added by init hooks.

[2016-02-18 17:40] #4257 closed

[2016-02-18 20:32] IvanSanchez commented on #4257
@snkashis Unfortunately your fix was incomplete - I needed to make some unit tests at https://github.com/Leaflet/Leaflet/commit/663978227dc89a4b0269a50b6c6d4d7dcce79f5c - unit tests are your friend!

[2016-02-19 00:14] delner commented on #4260
Oh, interesting. No I haven't, I'll see if adding the option changes anything.

[2016-02-19 01:25] snkashis commented on #4257
Yep, thanks for spotting this, had a feeling it involved more than my initial commit.

[2016-02-19 03:33] ismail44 opened #4264 "_convertLatLong Returns nothing Causing _initWithHoles to Fail"
There is an instance where _initWithHoles fails because _convertLatLong returns nothing if a set of holes is passed in that already an instance of LatLong.

[code]

The second call to convertLatLngs seems to return nothing because the previous call already converted the set of LatLngs to a LatLng type?

[2016-02-19 08:15] IvanSanchez commented on #4264
How can that instance be triggered? Can you publish some reproducible case? (e.g. using http://playground-leaflet.rhcloud.com/ )

[2016-02-19 13:15] ismail44 commented on #4264
I actually first noticed it while trying to integrate the WFS-T plugin from Flexberry into the app. I can certainly add that to the playground if you like. However, it still seems like the issue is that this._convertLatLngs can return nothing which would make the following line:

`if (hole[0].equals(hole[hole.length-1])){`

File because hole is then undefined.

[2016-02-19 13:25] IvanSanchez commented on #4264
@ismail44 That's still not helpful. You don't need to point at the tiny bit that you think is wrong, you need to *convince* me that there is a problem in the first place, and that the problem is Leaflet's fault.

Let me quote from [How to report bugs effectively](http://www.chiark.greenend.org.uk/~sgtatham/bugs.html):

[2016-02-19 13:29] ismail44 commented on #4264
But, you DO see how potentially returning from a method without a value, then using attempting to use that undefined value 1 line later could potentially be bad.

Frankly, you can fix it or not... I will find another solution. I'll close this issue.

Thanks for your "help"?

[2016-02-19 13:29] #4264 closed

[2016-02-19 13:47] IvanSanchez commented on #4264
No, @ismail44, I don't see that! If I cannot see the problem (in a reproducible manner), if I cannot see an error message, if I cannot see a screenshot, if I cannot see Leaflet misbehaving somehow, then I cannot be sure there's a problem.

Show me a case in which Leaflet misbehaves, then I'll pay attention (as I did with hundreds of bugs right here). If you show me nothing, I cannot be sure there'

[2016-02-19 14:02] ismail44 commented on #4264
You honestly cannot from a software engineering standpoint see where if you
return nothing from a method then try to use that value 1 line farther down
it will produce an error. This isn't rocket science. Again... I have my own
problems. Look at it, don't look at it... It is really inconsequential to
me. I've fixed it locally.

On Fri, Feb 19, 2016 at 8:47 AM, Iván Sánchez Ortega <
notifications@g

[2016-02-19 14:13] hyperknot commented on #4264
@ismail44 I believe people would be more than happy to help you, IF you could provide a minimal http://playground-leaflet.rhcloud.com/ example.

We need to see a working example, reproducing the bug, showing console errors!

[2016-02-19 14:17] ismail44 commented on #4264
I have ZERO interest in discussing this further. The question isn't whether
or not someone would or would not be happy to help, I believe they are (and
have been). However, it's a simple principle.. again it's not rocket
science... if you return null (nothing, undefined, whatever) and try to use
it later the it causes a runtime error. That was all I was trying to say.
There is nothing I could put

[2016-02-19 15:00] IvanSanchez commented on #4264
So I've had a look at the thing anyway.

The only way to trigger the issue (`_convertLatLong` returning `undefined`) is to use the 0.7.x versions of Leaflet (a piece of information that *should* have been provided, as we ask in [`CONTRIBUTING.md`](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs)), and feed **non-numerical** data to a polyline or polygon constructor.

[2016-02-19 15:12] ismail44 commented on #4264
Is 0.7 not the current version that should be used? It's the version that's stated on the site. Again it may be GIGO, the plugin may be sending poor data, however, again... returning nothing from a method, regardless of the data coming into it... then trying to use that value after, will ALWAYS return a runtime error.

Again... I was just trying to bring something to the devs attention... I certai

[2016-02-19 15:22] mourner commented on #4264
:+1: thanks, we'll keep this in mind. No need for long dramatic discussions.

[2016-02-21 11:31] rajco26 opened #4266 "geojson properties in bounding box"
Is there a way to show geojson properties which are located in current bounding box?

something like this http://turbo87.github.io/leaflet-sidebar/examples/listing-markers.html
with geojson and its props

[2016-02-21 12:34] mourner commented on #4266
This is not a support forum, it's a place to file Leaflet issues.

[2016-02-21 12:34] #4266 closed

[2016-02-21 19:35] Vanuan commented on #607
https://github.com/Leaflet/Leaflet/pull/3523

[2016-02-22 15:17] PowerPan opened #4269 "ImageOverlay Bring To Back Error"
This is my code:
[code]

And Firebug give me this Error Back:
[code]

I Use Leaflet 0.7.7 in Firefox

[2016-02-22 15:23] IvanSanchez commented on #4269
I [cannot reproduce the error](http://playground-leaflet.rhcloud.com/soc/edit?html,output). Can you make a full reproducible example?

[2016-02-22 16:56] stirringhalo opened #4270 "Leaflet does not display 2048x2048px tiles at their native resolution (at least v0.7.2)"
I have a complete geowebcache serving up WMS tiles directly from the gwc endpoint (http://localhost:8080/geoserver/gwc/service/wms). However, I'm facing an issue where the entire map scene is scaled to fit the window, even if I make the map area a fixed pixel size area. The result is that the tiles are not displayed at their native resolution.

I can see the WMS requests go out and return a 2048x2

[2016-02-23 08:59] mourner commented on #4270
We don't support really old Leaflet versions like 0.7.2.

1. Try to reproduce this in 0.7.7 and 1.0.0-beta2.
2. Create corresponding minimal test cases (e.g. with JSFiddle).

[2016-02-23 13:33] zatziky opened #4271 "Dynamic show/hode zoomControl"
Hello,

I know that zoomControl can be disabled or hidden on startUp using defaults (http://leafletjs.com/reference.html#control-zoom). Dynamically it can be done using `visibility: hidden | visible`. It would be nice to have similar methods as for `map.zoomControl.enable()` and `disable()`. Would this feature make it to a future release?

Best regards,
Zat

[2016-02-23 15:14] IvanSanchez commented on #4271
No. You can already use `control.addTo(map)` and `control.remove()`.

[2016-02-23 15:14] #4271 closed

[2016-02-23 15:19] stirringhalo commented on #4270
Oop, I was integrating a WMS server with a website already in use by someone else so I was going with the existing leaflet version.

1) I can confirm the problem persists in both 0.7.7, 1.0-dev 1.0.0-beta2 and
Behaviour is different. In 0.7.7, the map is displayed but scaled to fit in the map window. In 1.0-dev, the any param (height: "2048", width: "2048") I add to the L.tileLayer.wms request is

[2016-02-23 16:11] stirringhalo commented on #4270
Bah, I hadn't had enough coffee.

If I used "tileSize" instead of height/width, it works fine. Also, I was using the pixel size in quotes, which prevented it working properly despite showing the correct parameters in the Firefox developer tab.

Though, a single tileSize does prevent non-square WMS tiles (but this isn't an issue for me currently)

Cheers

[2016-02-23 16:11] #4270 closed

[2016-02-25 13:20] perliedman opened #4274 "Adding or removing layers from layers control which has been removed from the map causes null reference"
If you add a layers control to the map, and later remove it from the map, you can't add or remove layers from it, since it causes a null reference.

The problem occurs when `_addItem` is called, and `this._map` is not set: https://github.com/Leaflet/Leaflet/blob/master/src/control/Control.Layers.js#L190

We could probably just skip calling `_update` when `this._map` is not set, since `_update` wil

[2016-02-25 13:33] IvanSanchez commented on #4274
Looks like skipping `this._update()` when calling `addBaseLayer` or `addOverlay` or `removeLayer` if `this._map` is not set should do the trick.

This seems very simple. How about we tell @Charlotteis/@YourFirstPR so a newbie can fix it?

[2016-02-25 13:38] perliedman commented on #4274
@IvanSanchez :+1: sounds like a plan!

[2016-02-25 19:28] arahansen commented on #2756
Just ran into a case today where it would have been nice to have tileerror documented somewhere. +1

[2016-02-25 20:13] IvanSanchez commented on #2756
The 1.0.0 docs already have this: http://leafletjs.com/reference-1.0.0.html#tilelayer-tileerror

Maybe worth a simple PR to fix the 0.7.x docs?

[2016-02-26 09:33] ysegorov opened #4277 "GeoJSON markers being placed on a default pane instead of expected specified pane / 1.0.0-beta.2"
Not sure if it's a bug or not but it looks strange as lines and polygons can be placed to separate pane and markers - can not.
Could it be intentionally as markers use two panes actually?

Fix is pretty simple, pr follows.

Probably we can have panes created automatically by `L.Map` instead of creating them ahead, what do you think about it?

Actually, I was looking for an easy way of turning laye

[2016-02-26 11:00] Charlotteis commented on #4274
Thank you!

[2016-02-26 11:58] fplgusmao commented on #4199
@IvanSanchez you're right, it really is a 0.7.x problem. I will try to change to 1.0.0 and report the result.

[2016-02-26 12:15] IvanSanchez opened #4279 "Layers should inherit pane from containing L.LayerGroup"
I've been reading #4277 and started to check some of the code and think.

When a layer is added to a `LayerGroup` (or a child class like `FeatureGroup` or a `GeoJSON`), the layer does **not** inherit the `pane` option of the `LayerGroup` which contains it.

So, for example, this code from the "map panes" tutorial adds a layer to the `labels` pane:

[code]

But this won't:
[code]

So I wonder if `L

[2016-02-26 13:10] IvanSanchez commented on #4277
Hi Yuri! Thanks for noticing this bug!

Unfortunately I don't think this is a simple fix, as it highlights a deeper issue - see #4279. Maybe this is the right way, maybe we need discussion on how to inherit map panes properly.

[2016-02-26 14:43] ysegorov commented on #4277
Hi Iván!
I agree generic solution is much better.
At first I thought `FeatureGroup` and `LayerGroup` types need `pane` to be specified in options too but they are not responsible for layers creation, just for layers manipulation (if I am not missing something in codebase).
Layers to be grouped must be passed to `FeatureGroup` and `LayerGroup` in already created state while `GeoJSON` type creates l

[2016-02-26 17:17] errebenito commented on #4274
I can probably do this one. Just so we're all on the same page, I suppose the _modus operandi_ would be as follows, feel free to correct me if I overlooked something:

1. Claim the issue (done, I guess)
2. Fork the repo
3. Modify _addBaseLayer_, _addOverlay_ and _removeLayer_ to only return _this._update()_ if _this._map_ is not null. Point of interest: what should be returned if it is null?
4. Co

[2016-02-26 17:28] IvanSanchez commented on #4274
@errebenito If you read the [docs for `L.Control.Layers`](http://leafletjs.com/reference-1.0.0.html#control-layers-addbaselayer), you'll see that the three methods return `this`. In other words, they return a reference to the control so you can chain methods.

If you look at the code, then the three public methods do `return this._update()` and then `_update()` does `return this;`.

(Por cierto, R

[2016-02-26 17:33] errebenito commented on #4274
Ah, I see. So if `this._map` is null I merely return `this` without calling `_update()`. Alright, I'll comment again once it's done. Thanks for the clarification (y el consejo sobre Markdown).

[2016-02-26 17:52] errebenito commented on #4274
Pull request created. For reference, the return statement now looks like this:

`return (this._map === null) ? this : this._update;`

[2016-02-26 18:00] IvanSanchez commented on #4274
OK, Raúl, a few things didn't go too well on your first try :-P

* The unit tests failed! (check the link from pull request for details, and run `npm test` locally next time)
* There is a very important difference between the old `return this._update();` and the new `: this._update;`!
* The rest of the Leaflet code doesn't check if `this._map` is a certain type (`null`, `undefined` or `false`), it

[2016-02-26 18:08] errebenito commented on #4274
Apparently I need more coffee before I start coding. I removed the trailing spaces that were causing the build to fail, added the missing parentheses to `_update()` (whoops), and modified the check for null to adapt to existing coding style.

The unit tests are timing out, however. Not sure if that's due to my changes.

[2016-02-26 18:20] IvanSanchez commented on #4274
@errebenito :

![](http://www.homewetbar.com/images/prod/w-Giant-Coffee-Cup75917.jpg)

Read this carefully: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Conditional_Operator , then look at your ternary operators.

Also, @mourner has a strong dislike for having several commits to make a small change - please consider [squashing all commits into one](http://makandracar

[2016-02-26 18:22] IvanSanchez commented on #4274
The unit tests that are timing out are mine (from https://github.com/Leaflet/Leaflet/commit/f777f42c6bf98ed0cfad53d429d95c7621eee01d ), and this is not the first time I see them timing out today. I would guess the Travis CI servers are experiencing high load, and maybe we'll need to increase the timeout limit for those.

[2016-02-26 20:20] errebenito commented on #4274
Thanks for the coffee and the patient guidance (apparently there's no shortage of opportunities to shoot oneself in the foot, even with the simplest of issues; great way to get experience though). It seems I really needed it, switching the ternary operator around and all... :(

Alas, the tests still timeout, and I had to deal with merge conflicts due to having started the work directly on github i

[2016-02-27 11:31] mahmoudmy opened #4281 "Custom build does not create dist/leaflet-custom.js"
I tried to build a custom dist of leaflet, but it produces the original files:

[code]

I also tries other custom parameters, but all are the same!

[2016-02-28 00:00] candidobugarin opened #4282 "put a function plugin as a layer"
Hello!
I'm looking to put a function of a plug with a layer on my map . Example : I have an animation, but it can only appear if you select the animation layer. It is possible?

Thanks

[2016-02-28 00:51] IvanSanchez commented on #4282
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https://gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

[2016-02-28 00:51] #4282 closed

[2016-02-28 11:44] Mexikaner9 opened #4283 "Original tiles"
Hi
how can I use the Original tiles from the first release?
thanks

[2016-02-28 20:58] mvl22 opened #4284 "L.tileLayer: Support tms {-y} format"
When using tms format with a -y value in the tileserver specification, currently Leaflet.js requires this to be specified as ```{y}``` but with a flag ```tms: true``` as documented at:
http://leafletjs.com/reference.html#tilelayer-tms

Various documentation contains references like this:

[code]

e.g. many examples here:
http://wiki.openstreetmap.org/wiki/National_Library_of_Scotland
http://osmlab

[2016-02-28 23:31] hyperknot opened #4285 "Attribution text not removed when tileLayer is removed from map"
Since 66397822, the attribution control text isn't removed when the tile layer is removed from map.

cc: @IvanSanchez

[2016-02-28 23:38] IvanSanchez commented on #4285
@hyperknot Can we have a playground/fiddle, please?

[2016-02-29 00:40] hyperknot commented on #4285
@IvanSanchez sure, I realised it's not as straight-forward as I thought, working on the playground example.

[2016-02-29 00:52] hyperknot commented on #4285
@IvanSanchez wow, deeper things here!

1. The master build (e0c17bff ) is not from the master commit (66397822).
2. Is it because unit tests failed, or because it was pushed without a PR?
3. So the playground does not produce the issue, but only because master is from an old build.
http://playground-leaflet.rhcloud.com/zak/4/edit?html,output
4. If you copy the code to a debug html, it'll trigger t

[2016-02-29 09:15] IvanSanchez commented on #4285
Yeah, it might be due to to being pushed without PRs, and due to the recent Travis CI jobs on PRs failing. Gotta check that first.

(The tests pass because the `L.Layer`s define the `getAttribution()` method)

[2016-02-29 10:18] IvanSanchez commented on #4274
@errebenito Don't worry, these kind of "newbie" issues are just for that: learning how the review workflow works (other people will notice mistakes), and things like rebasing to make clean PRs.

Please take a bit of time to rebase and squash into one commit. Hopefully, Travis will behave this time and the unit tests won't timeout.

[2016-02-29 10:24] hyperknot commented on #4285
@IvanSanchez I mean it seems that tileLayer's attribution behaves differently to your custom L.Layer, as the test passes on L.Layer but is behaving wrong on a real tileLayer.

[2016-02-29 10:46] errebenito commented on #4274
Sure. I'm at work right now, but I'll look into it later today.

[2016-02-29 11:12] anselmdk commented on #582
http://leafletjs.com doesn't seem to display any retina map...

[2016-02-29 12:05] karuit opened #4286 "horizontal polyline - mouseover"
It looks like hovering over some clickable polylines is not correctly recognized, which makes them really hard to click on.
It also seems to be only an issue with nearly horizontal lines. Alll other lines behave correctly.
There's a [fiddle](http://jsfiddle.net/FranceImage/9dggfhnc/) on http://stackoverflow.com/questions/32882523/how-to-apply-css-on-polylines-leaflet where you can see the problem:

[2016-02-29 13:23] IvanSanchez commented on #4286
Can't reproduce the bug on either firefox or chrome. Hovering over horizontal SVG lines works just as expected, as fas as I can see.

Do you have any specific environment this is reproducible in? If not, it's unlikely we'll accept this as a bug.

[2016-02-29 14:16] karuit commented on #4286
Nope, no specific environment.
If you won't mind you could try the same [fiddle ](http://jsfiddle.net/FranceImage/9dggfhnc/) and change the css to:

#map { height: 300px; }

.my_polyline {
 stroke: green;
  fill: none;
  stroke-width: 50;
}

as it's more apparent with thicker lines, escpecially when hovering in from the top.
Here's a screenshot:
![hover](https://cloud.githubusercontent.com/assets/

[2016-02-29 14:20] IvanSanchez commented on #4286
With a thickness of 50 px it still behaves as expected on my side.

What browser are you using, anyway?

[2016-02-29 14:23] karuit commented on #4286
I only has the issue on firefox 38.6.1.
Just tested IE11 and it's working fine.

[2016-02-29 14:31] IvanSanchez commented on #4286
My advice then is to upgrade your Firefox up to v44.

We do care for outdated browsers, but this seems like just a glitch and not a breaking bug, not really worth the time to research and fix it. It might as well be a (now fixed) upstream SVG bug.

[2016-02-29 14:31] #4286 closed

[2016-02-29 16:00] IvanSanchez opened #4288 "GridLayer unit tests failing"
Since a few days ago, the unit tests for `GridLayer` have started to time out in Travis.

Bisecting the issue locally, it fails down to ed05d4ac1e441dd663564b302797721d6b4cc9e5 , the first commit where these tests were introduced. This leads me to think that there has been some changes in the build/test tools that are triggering this behaviour.

[2016-02-29 21:19] errebenito commented on #4274
Soooo... I think I learned to rebase. The PR shows one commit only now, and I double-checked the ternary operators, just in case. Travis isn't behaving though. I'll await further instructions, but it seems an improvement over the initial plethora of mistakes.

[2016-02-29 21:26] IvanSanchez commented on #4274
@errebenito Yeah, the PR looks much nicer now!

Let's wait for some testing on #4289, which *should* fix Travis failing the unit tests, then we can give another kick at your PR :-)

[2016-02-29 21:29] errebenito commented on #4274
Alright. Let me know if there's anything else I have to do. If not, I'm glad I could help, and I'll be happy to contribute again if there's anything I can tackle. Thanks for everything.

[2016-03-01 02:02] arctelix opened #4291 "Implementing a different CRS for each L.TileLayer.WMS instance is confusing or incomplete?"
This is in reference to the features introduced in pull request #945

@mourner I'm a little confused on how to properly implement a TileLayer.WMS with a crs that differs from the map's crs. Currently i do have it working but, only with the addition of @mhotby 's modification which he posted to the pull request. Without that, it seems impossible to implement.. Was this not the point of your integra

[2016-03-01 07:42] perliedman commented on #3002
I made a new version of @rwwagner90's plunkr, that uses latest dev-version of Leaflet: https://playground-leaflet.rhcloud.com/jis/edit?html,output

It seems the problem has been resolved, since all tiles load without problem. Checking @jieter's jsfiddle (http://jsfiddle.net/rord0mak/) seems to indicate the same thing.

I'm closing this as fixed, but feel free to add more info if the problem persis

[2016-03-01 07:42] #3002 closed

[2016-03-01 07:50] perliedman commented on #2133
Like @mourner says, this looks like it has been fixed in current master, although I can't verify since I don't have a polarstereograhic map to test with.

Closing for now, but feel free to add more info if this is still a problem.

[2016-03-01 07:50] #2133 closed

[2016-03-01 07:58] perliedman commented on #4291
Hi,
please note that the issue tracker is not intended for support questions, but rather bug reports or discussion for new features.

Having said that, I more or less duplicate my comment in #945:

@arctelix are you trying to mix more than one CRS on the same map? That has been discussed a couple of times, for example see #2553.

My opinion on this is that CRS switching should not be supported by

[2016-03-01 07:58] #4291 closed

[2016-03-01 08:20] arctelix commented on #4291
@perliedman Thanks for the responce, in both locations ;) I figured nobody would see it in a closed pull request.

That is exactly what confused me... Partial implimentation of a feature.  What other use could there be for permitting each instance of a tile layer to have a unique crs? Thats why i thought it was a bug, not support.

[2016-03-01 09:30] #4274 closed

[2016-03-01 09:31] mourner commented on #4284
That's actually a pretty good idea. Looks more elegant than a `tms` option.

[2016-03-01 09:32] mourner commented on #4283
You mean CloudMade tiles? This company is not providing tiles anymore, and we can't do anything about it.

[2016-03-01 09:32] #4283 closed

[2016-03-01 09:33] IvanSanchez commented on #4288
Closed via #4289

[2016-03-01 09:33] #4288 closed

[2016-03-01 09:34] IvanSanchez commented on #4274
Apparently @mourner jumped in and checked the unit tests and the build. Thanks, @errebenito! (And we hope to see you here again if you'd like!)

[2016-03-01 11:24] littleiffel commented on #4051
in 0.7.7 in the CSS file .leaflet-container received the property

[code]

Removing this line made the page scroll again even while touching/dragging on the map container.

Currently this line is still present in the CSS.

[2016-03-01 12:49] dr-itz commented on #4285
Had the same problem, please see PR #4293.

[2016-03-01 13:14] hyperknot commented on #4285
@dr-itz thanks for your contribution, I'm reviewing it!

We also need to fix the tests, as it should not pass like it does now, with the wrong behaviour.

[2016-03-01 13:17] dr-itz commented on #4285
@hyperknot Tests are fixed :) Maybe I should have mentioned it in the commit message...

[2016-03-01 13:23] hyperknot commented on #4285
@dr-itz so, you have basically reverted the change in 6639782, which caused the original problem. That change was there because of a reason, I need to look more into what was that fixing and what would be a proper way to implement it correctly.

About dummylayer(), it's a separate issue, I need to look into if this properly simulates a tileLayer or not, and what causes the tests to pass while tile

[2016-03-01 13:40] dr-itz commented on #4285
Switching tile layers is exactly how I noticed the double attribution. I'll have a look what #4257 was about.

That `dummyLayer` is there so we don't crash because of missing `onAdd` and `onRemove` callbacks.
Those get called once the map is "loaded" by the `setView()`, necessary to exposes the problem of this bug in the first place. So it's not separate...

So without looking closer (I'll do late

[2016-03-01 14:45] dr-itz commented on #4285
So..I tested with the example from #4257 (http://playground-leaflet.rhcloud.com/jad/1/edit?html,output),
modified to use my local Leaflet. Works just fine.

Looking closer, PR #4263 merged commit fb79bbf that actually fixes the problem of #4257.
Just to be sure, I tested this by reverting the commit on top of my PR.

The real bug was in fact introduced with the change in to Layer.js in 6639782. So

[2016-03-01 14:54] hyperknot commented on #4285
@dr-itz your tests are behaving correctly, but I really wonder if we shouldn't be testing a standard gridLayer instead? @IvanSanchez any reason why we should not test on a standard gridLayer here?

@dr-itz I need to properly understand how #4263, #4257 and #4280 all comes together before deciding on a solution, please give me a day to look into it.

[2016-03-01 21:00] TotoLastro commented on #165
It does not work for me in v0.7.7

My workaround is to patch the `L.Polyline._drawPath` function like that :

[code]

If it can help someone...

[2016-03-01 22:40] Aaron-Pool commented on #3960
Hey, just wanted to give a specific example of this, because I discovered this behavior as well. Like narrowtux, this event only manifested itself with the click event.

If you look at the code below, it nukes the click events added in the `onEachFeature` property, because I remove a layer after adding the click listener

[code]

However, if I reverse the order like so:

[code]

The click events r

[2016-03-02 06:22] mahmoudmy commented on #4281
Any Idea?

[2016-03-02 08:32] IvanSanchez commented on #4281
What did you change in your custom build, and how are you sure the files are kept the same (have you `md5`ed or `diff`ed them?)

[2016-03-02 08:59] mahmoudmy commented on #4281
@IvanSanchez
I test it with different parameters in **`build.html`**. I'm sure it just produce the original build by the log:
[code]
That appears for every subset of build parameters that I tried!

[2016-03-02 09:02] IvanSanchez commented on #4281
What command are you running to trigger the custom build?

[2016-03-02 09:10] mahmoudmy commented on #4281
For example:
[code]

[2016-03-02 09:12] IvanSanchez commented on #4281
And did you check the contents of the `dist/` directory?

[2016-03-02 09:16] mahmoudmy commented on #4281
Yes, no change!

[2016-03-02 09:17] IvanSanchez commented on #4281
And do you have a `leaflet-custom.js` file, and a `leaflet.js` file, and are they different?

[2016-03-02 09:22] mahmoudmy commented on #4281
No `leaflet-custom.js`! Just `leaflet-src.js` and `leaflet.js`.

[2016-03-02 09:27] IvanSanchez commented on #4281
Now we're getting somewhere.

What's your node version? What is your environment (linux, mac, win)? What shell interpreter are you using? How does the **full** output of the build process look like? e.g.:

[code]

[2016-03-02 09:32] mahmoudmy commented on #4281
I'm on Windows 8.1 and may shell is Git Bash and:
[code]
and
[code]

[2016-03-02 09:45] IvanSanchez commented on #4281
I think `jake` is not interpreting the options when running in your environment (the git bash in Win8).

Do read through http://jakejs.com/docs#tasks_passing_parameters_to_jake , note how this relates to `build/build.js` line 36.

Maybe more instructions on how to run custom builds on `zsh` and "weirder" shells are needed in `build/build.html`

[2016-03-02 11:24] mourner commented on #4281
This is weird, jake parameter passing should be cross-platform... This may be a bug in jake, but needs investigation to be sure...

[2016-03-02 11:26] mourner commented on #4281
BTW, I'm wondering if the custom build functionality is that useful now, and whether should we just drop it. 35kb full Leaflet source is pretty much nothing by today's JS standards.

[2016-03-02 11:38] IvanSanchez commented on #4281
I *think* it's about the shell handling brackets and parameters and file globbing. According to the Jake docs, `jake "build [1234,custom]"` *should* work for zsh.

[2016-03-02 14:00] #4285 closed

[2016-03-02 15:50] jmullo commented on #4039
The amount of tiles retained on each side should be configurable.

[2016-03-03 03:14] cnroland opened #4294 "cannot display the zoom animation in IE9"
cannot display the zoom animation in IE9

[2016-03-03 03:20] danzel commented on #4294
IE9 doesn't support transition, so it can't have the feature.

[2016-03-03 03:20] #4294 closed

[2016-03-03 03:22] cnroland commented on #4294
thank you.

[2016-03-03 06:42] dotku opened #4295 "How can retrive the geocode by coordinate?!"
I want to place a marker in the center of the map, and retrive the geocode on map move while the marker keep the same coordinate, how to do it?
The problem is I don't know how to retrive the geocode by the coordinates.

[2016-03-03 08:26] IvanSanchez commented on #4295
That is a feature outside of Leaflet's scope. See the [plugins](http://leafletjs.com/plugins.html), or ask in [Stack Overflow](https://stackoverflow.com/questions/tagged/leaflet) or
[GIS Stack Exchange](https://gis.stackexchange.com/questions/tagged/leaflet).

[2016-03-03 08:26] #4295 closed

[2016-03-03 17:58] JrFolk opened #4298 "L.geoJSON.resetStyle should be callable without arguments."
`geoJSON.setStyle()` does not require or even utilize a target layer thus, I believe in the spirit of consistency `geoJSON.resetStyle()` should also operate without a target layer.

[My proposed change is here.](https://github.com/Leaflet/Leaflet/compare/master...JrFolk:GeoJSON-api)

I believe `layer.DefaultOptions` was unused because the style was taken from the `geoJSON` layer's *current* style

[2016-03-04 09:03] cnroland opened #4299 "the zoomend event execute two times"
map.on("zoomend", zoomend);
function zoomend(evt){
    document.getElementById("test").innerHTML = map.getZoom() + ".zoomend<br>" + document.getElementById("test").innerHTML;
}

[2016-03-04 09:05] IvanSanchez commented on #4299
Duplicate of #4023

Next time you report a bug, please take time to look for duplicates and follow the guidelines in [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md)

[2016-03-04 09:05] #4299 closed

[2016-03-04 14:18] ismailsunni commented on #1580
Hi @Timmmm
As @mourner said, just add to the layer control, but don't add it to the map.

[code]

I stumbled on the same issue also.

[2016-03-04 19:51] kdhenry commented on #4247
@mourner Not the original poster, but I was able to replicate the issue and trace it down (in my case) to having mapbox.js loaded in after leaflet 1.0.0. See fiddle [here](http://jsfiddle.net/khenry/p39mvgnr/)

The zoom behavior is [normal with 0.7.7](http://jsfiddle.net/khenry/tqa3vaxo/), and I haven't delved too deeply into mapbox.js and what may be causing the issue there.

[2016-03-04 21:30] mourner commented on #4247
@kdhenry mapbox.js needs some adjustments for 1.0.0, and the released version is tailored for 0.7.7, so this does not appear to be a Leaflet issue.

[2016-03-04 21:30] #4247 closed

[2016-03-05 00:35] jcguarinpenaranda opened #4301 "click event is not working"
Hello,

I'm new to Leaflet, but as I have seen from the documentation, the following code should work:

`
var map = L.map('map').setView([51.505, -0.09], 13);
map.on('click', function(e){
    console.log(e)
})
`

I am working on Linux Ubuntu with Leaflet v0.7.7. The click event is not being fired with the left click, but with the right click.

Also, on mobile it doesn't work (with cordova).

I got

[2016-03-05 02:50] cnroland opened #4302 "continuous drag or scaling problem"
Hi, at present our project is using the leaflet, I take the map parameters to background program (map.getZoom()  and map.getbounds()) , then load the returned picture by imageoverlay.
excuse me how to solve continuous drag or continuous scaling, only the implementation of calling a daemon?

[2016-03-05 21:48] JrFolk commented on #4298
[Another possible addition.](https://github.com/JrFolk/Leaflet/compare/GeoJSON-api...JrFolk:setDefaultStyle)

The inspiration for this, and example application, is giving the user controls to do things like remove the polygon fill/outline, randomize colors in a tessellated layer etc. like Google Earth, but I want to continue to use `geoJSON.resetStyle()` & `geoJSON.resetStyle()` for things like hi

[2016-03-06 17:29] IvanSanchez commented on #4301
I'll guess this has been already replied at https://stackoverflow.com/questions/35815735/clicking-on-leaflet-js-stops-working-on-mobile

[2016-03-06 17:29] #4301 closed

[2016-03-06 19:40] danzel commented on #4302
I am not sure what you are asking about. Can you please explain with more details?

This sounds like a "How do I" question, which is better suited for stackoverflow than an issue on github. If so please close this and open a question there.
Thanks.

[2016-03-06 23:08] jcguarinpenaranda commented on #4301
Thank you!

Juan Camilo Guarín Peñaranda
Estudiante de Ingeniería Multimedia y Emprendedor en tecnología
Universidad Autónoma de Occidente
Otherwise Studios: http://otherwise-studios.com
<http://mailstat.us/tr/t/pleg6bmaikkbgvuq/h/http://otherwise-studios.com/>

2016-03-06 12:29 GMT-05:00 Iván Sánchez Ortega <notifications@github.com>:

[2016-03-07 00:49] cnroland commented on #4302
thank you.

[2016-03-07 00:58] #4302 closed

[2016-03-07 09:55] cnroland opened #4305 "after the program is released to the server"
in chrome, no scaling effect after released to the server(IIS7), and after scaling, tips to load some of the tiles, each times

[2016-03-07 09:58] IvanSanchez commented on #4305
I do not understand what you're trying to say. Please read [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs) and write a more clear bug report, providing more information.

[2016-03-07 10:00] cnroland commented on #4305
when the map is posted to the server, the zoom effect is not in the browser.

[2016-03-07 10:01] IvanSanchez commented on #4305
What server?

[2016-03-07 10:02] cnroland commented on #4305
window server 2008 R2 standard

[2016-03-07 10:05] IvanSanchez commented on #4305
I asked "What server?", not "What OS does your server run?".

Can I use my own web browser to look at your deployed map?

Also, why are you sure this is a Leaflet bug?

[2016-03-07 10:25] caglardursun commented on #1724
The problem is still exist in here http://jsfiddle.net/EaKn6/2/ @mourner
When you try to change the layer in first time, event cannot fired. But second time it will work.

[2016-03-07 10:37] IvanSanchez commented on #1724
@caglardursun The `baselayerchange` event fires when a base layer is *added* to the map. In your case, you're initializing the map with both base layers, so the first change doesn't add any layer, so no event is fired. This is *not* a bug in Leaflet but rather a PEBCAK.

Change this:
[code]
with this:
[code]

[2016-03-07 11:06] #4305 closed

[2016-03-07 12:26] #4249 closed

[2016-03-08 05:49] karlcow commented on #61
The relevant Mozilla bug
https://bugzilla.mozilla.org/show_bug.cgi?id=675533

[2016-03-08 15:15] loiggeb opened #4307 "Button relative to another button (left, right)"
Is there a common way to place a button relative to another button. So for example if the user clicks on a tools button in the top-left corner, 4 other buttons with tool functionalities right to the tools button appear. Something like a pop-up button group. When the user clicks the tool button for a second time, all the other buttons dissapear

[2016-03-08 15:19] IvanSanchez commented on #4307
http://leafletjs.com/plugins.html#user-interface , https://github.com/Leaflet/Leaflet.toolbar

In the future, please use this bug tracker only for bugs.

[2016-03-08 15:19] #4307 closed

[2016-03-08 15:33] loiggeb commented on #4307
Thank you! I will!

[2016-03-08 15:53] IvanSanchez commented on #4171
Closed via #4173

[2016-03-08 15:53] #4171 closed

[2016-03-08 16:13] IvanSanchez commented on #3530
I plan to set up some unit tests with [prosthetic-hand](https://github.com/IvanSanchez/prosthetic-hand) to debug this.

[2016-03-08 22:59] tlomiej commented on #936
Silly question... how to get value when object is change?

[2016-03-09 00:45] cnroland commented on #4305
sorry, this is my problem.
but, i found a new problem, in IE11, drag the map is not smooth.
http://leafletjs.com/
In your official website home page, the map example is also the same problem.

[2016-03-09 01:43] cnroland opened #4310 "In IE11, drag the map is not smooth"
I found a new problem, in IE11, drag the map is not smooth.
http://leafletjs.com/
In your official website home page, the map example is also the same problem.

[2016-03-09 06:28] czb opened #4311 "`this._times.length` is `undefined` in `Map.Drag.js`"
I have just got report from my client that `this._times.length` is `undefined` in [Map.Drag.js](https://github.com/Leaflet/Leaflet/blob/09c322121197ae8ecb6110ac61bffdafd9d72d25/src/map/handler/Map.Drag.js) in `_onDragEnd` on line `noInertia = !options.inertia || this._times.length < 2;`. I could not reproduce the error so far. The error was triggered on IPad, iOS 9.2.1 in WKWebview. `options.inert

[2016-03-09 07:39] perliedman commented on #4310
Sorry, I can't reproduce this problem. I've looked at http://leafletjs.com/ with IE11 (11.0.9600.18163 on Win7), and it looks about as smooth as it can.

Maybe something on your machine, like a plugin or similar causing this?

[2016-03-09 07:45] cnroland commented on #4310
my version is ie11(11.0.9600.16384 on window server 2012 R2)

[2016-03-09 08:00] IvanSanchez commented on #4310
Are you using remote desktop?

[2016-03-09 08:00] cnroland commented on #4310
yes

[2016-03-09 08:01] IvanSanchez commented on #4310
Then the lag is introduced by the network lag in RDP, not by Leaflet. The problem will persist using any other browser under those circumstances.

[2016-03-09 08:01] #4310 closed

[2016-03-09 08:03] cnroland commented on #4310
Wait a minute. I'm looking for a few computers.

[2016-03-09 08:12] cnroland commented on #4310
Thank you very much.

[2016-03-09 08:28] IvanSanchez commented on #4311
Yes, the only case where this should happen is when the `inertia` option of the map is changed mid-drag, or somehow `_onDragStart` not firing properly. I would not be surprised if this is a browser bug about the `dragstart` event not firing.

I wonder if [prosthetic-hand](https://github.com/IvanSanchez/prosthetic-hand) could be used to write a reproducible test case. Otherwise it can be hard and t

[2016-03-09 10:50] mourner commented on #4311
There should be no side effects of this though, so I would add it.

[2016-03-09 11:16] IvanSanchez commented on #4311
If @mourner thinks it's safe to add it, then I'll second.

The change seems quite trivial, so I'll let a newbie commit the changes (wink wink nudge nudge, @yourfirstpr @errebenito @Charlotteis !).

* [ ] Claim the issue
* [ ] Fork the Leaflet repo
* [ ] `git clone`
* [ ] Create a feature branch like `git checkout -b drag-undefineds`
* [ ] Edit the code: Initialize `this._times` (and `this._positio

[2016-03-09 11:30] errebenito commented on #4311
@IvanSanchez I'm at work currently and therefore unable to take a look at this issue, but it seems simple enough, so if nobody else has claimed it by the time I get home, count me in.

[2016-03-09 11:32] IvanSanchez commented on #4311
@errebenito Let's give @yourfirstpr a bit of time to tweet about it and see if anyone else wants to jump in.

[2016-03-09 11:35] errebenito commented on #4311
@IvanSanchez Sure. It's gonna be a long day for me at work either way, so there's even the possibility I won't want to look at more source code by the time I finish my shift here ;)

[2016-03-09 17:01] srcspider commented on #2028
@mourner it should probably be renamed to noCulling or noSimplification, or at least the docs should be more exact and not just say "Disabled polyline clipping."  The word "[clipping](https://en.wikipedia.org/wiki/Clipping_(computer_graphics))" in the context of computer graphics implies too deeply "only drawing in specific region".

It's very likely for someone to enable it and not test if it act

[2016-03-10 02:44] mapmatters commented on #939
I also experienced same problem.. if you want to show zoom level 19 in retina display, how about try this?

var mylayer = L.tileLayer(url,{
		detectRetina: true,
		maxZoom: 20   //  **zoom level you want to display + 1 more level, you need to render tiles for zoom level 20**
});

var map = new L.Map('mymap', {
  center: [37.4446, 127.1331],
  maxZoom: 19, //  **zoom level you want to display**
  z

[2016-03-10 06:42] cnroland opened #4312 "add a circle layer, but will add two layer to the map object"
**add a circle layer, but will add two layer to the map object.
Why would you add one more layer?**

var map = new L.Map('map', {});
var osmUrl = 'http://a.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib = 'Map data © OpenStreetMap contributors';
var osm = new L.TileLayer(osmUrl, { minZoom: 1, maxZoom: 17, attribution: osmAttrib, detectRetina: true });
map.addLayer(osm);
map.fitBounds(new L

[2016-03-10 07:30] perliedman commented on #4312
I'm not seeing this on for example Leaflet's homepage (http://leafletjs.com/index.html), it shows the expected three layers (tilelayer, marker, popup).

Can you provide a fiddle or similar illustrating the issue?

[2016-03-10 07:40] cnroland commented on #4312
**var map = new L.Map('map', {});
var osmUrl = 'http://a.tile.openstreetmap.org/{z}/{x}/{y}.png';
var osmAttrib = 'Map data © OpenStreetMap contributors';
var osm = new L.TileLayer(osmUrl, { minZoom: 1, maxZoom: 17, attribution: osmAttrib, detectRetina: true });
map.addLayer(osm);
map.fitBounds(new L.LatLngBounds([51,7],[51,7]));
var circle = L.circle([51, 7], {
color: 'red',
fillColor: '#f03',
fi

[2016-03-10 08:07] perliedman commented on #4312
Ok, the extra layer is the renderer being added. See https://github.com/Leaflet/Leaflet/blob/master/src/layer/vector/Renderer.js#L102 . In other words, this is normal.

For the future, please read [CONTRIBUTING.md](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs), and make sure to include a running example illustrating the issue on for example https://playground-leafl

[2016-03-10 08:07] #4312 closed

[2016-03-10 08:10] cnroland commented on #4312
ok, thank you very mach!

[2016-03-10 17:05] elkami12 opened #4313 "Path click event is ignored when click is simulated from L.Map.Tap"
In L.Map.Tap a click event is simulated "if the touch didn't move too much" (according to the source comments).

And this behavior is well implemented in `L.Map._onMouseClick` function :
[code]
(note the    `!e._simulated &&`   )

But in `L.Path._onMouseClick` (SVG implementation), the `e._simulated` is not tested.
As a consequence, when a click is simulated, the click event on the Path is abnorma

[2016-03-10 18:00] elkami12 commented on #4313
Pull request #4314 added

[2016-03-11 07:47] delner opened #4315 "Markers move erratically while zooming on mobile"
Given a Leaflet map, if you initialize the map, add a circle marker, and invoke the following:

[code]

Then when you "pinch-to-zoom" on mobile via touch, the markers on the map move erratically while zoom is in progress, snapping back to the correct position after the zoom is complete. This makes for an ugly user experience.

http://i.imgur.com/O7ZlME5.gif
![markers moving on zoom](http://i.imgur

[2016-03-11 08:07] czb commented on #4023
Any solution to this nearby? It impact other libraries. Se e.g.

https://github.com/Leaflet/Leaflet.markercluster/issues/646

[2016-03-11 09:11] Kayoku commented on #4239
Hi everyone.
I'm just discovering Leaflet, then i did [this](http://leafletjs.com/examples/quick-start.html) "Quick Start Guide". This is maybe stupid but, when you need to make sure that the map container has a defined height with :
`#mapclass { height: 180px; }`
that's not working. Because we did this before :
`<div id="mapid"></div>`
Just rename "mapclass" to "mapid" ? (For beginner, it's maybe

[2016-03-11 09:47] mourner commented on #4239
Hmm, yeah, that's a bug in the tutorial — well noted! Would you want to fix this yourself and make a pull request? It's as easy as clicking "edit" on this file https://github.com/Leaflet/Leaflet/blob/gh-pages/examples/quick-start.md, making a change right in the browser and saving.

[2016-03-11 12:53] Kayoku commented on #4239
Ok thanks. Correction [#4317](https://github.com/Leaflet/Leaflet/pull/4317) open !

[2016-03-11 13:10] skorasaurus commented on #4239
Sorry for making that mistake and thank you for correcting it @Kayoku :)

[2016-03-11 13:52] IvanSanchez commented on #4315
Note to self: try to make a test case using prosthetic-hand.

[2016-03-12 02:39] delner commented on #4315
@IvanSanchez ![hand](https://media.giphy.com/media/7TtvTUMm9mp20/giphy.gif)

[2016-03-12 15:24] trahloff opened #4319 "[Documentation] Marker Arrays need a specific notation to work"
When building the marker array dynamically the notation has to be:
[code]
For example:
[code]
Otherwise the marker won't make it on the map

[2016-03-12 18:37] wolframlange opened #4320 "How to make hover and click popup work both?"
Hi,
I am pretty new to all of this... I try to have a hover on mouse over AND a click event showing different content.

for now the code looks like this, but I cannot figure out how to include the hover without messing up with the click popup.
Thanks in advance!

    // CALL THE CARTODB SQL API HERE IN URL FORMAT
    $.getJSON('http://soundgoods.cartodb.com/api/v2/sql?format=GeoJSON&q=SELECT * FRO

[2016-03-12 19:03] yohanboniface commented on #4320
Hi @wolframlange this is an issue tracker for Leaflet development, not for asking for help on how to use it. For this, you should better use [Stack Overflow](https://stackoverflow.com/questions/tagged/leaflet) or [GIS Stack Exchange](https://gis.stackexchange.com/questions/tagged/leaflet) for example: it's more likely that your question will be answered there.

See also https://github.com/Leaflet/

[2016-03-12 19:03] #4320 closed

[2016-03-12 19:06] yohanboniface commented on #4319
@trahloff sorry, I don't get your point here. I think I'm missing the context.
I'll close the issue because it seems to me no action is required on our part. Please comment and give more details if you think I'm wrong.

Thank you!

[2016-03-12 19:06] #4319 closed

[2016-03-14 15:05] cduzan commented on #859
The 'map.fitBounds(bounds, topLeftPadding, bottomRightPadding)' function seems to be using values to adjust lat long, not pixels. So different levels of zoom will have different results on how far the map is adjusted. I'm sure there is a use case for this, but it seems like for the issue everyone is bringing up, a set size side-bar or top menu, that the adjustment shouldn't depend on zoom level. I

[2016-03-14 15:36] louh commented on #859
`topLeftPadding` and `bottomRightPadding` expect values in pixels: http://leafletjs.com/reference.html#map-fitboundsoptions

[2016-03-14 15:44] cduzan commented on #859
For some reason that doesn't seem to be the case for me. To test this out I center a marker at a zoom level of 15 and then a run this command...
`map.fitBounds(pointsArray, {paddingTopLeft: [0,0], paddingBottomRight: [800,0], maxZoom: map.getZoom()});`
Then I set the zoom level to 19 and run it again. At level 15 it is almost unnoticeable the amount it shifts. However, at level 19, it shift over a

[2016-03-14 15:56] mourner opened #4321 "Ditch TileLayer zoomOffset in favor of Map baseTileSize option"
@jfirebaugh suggested an API change that would make using tiles with non-256 tile sizes MUCH more intuitive:

* Map-wide "base tile size" option that controls "how big z0 is" on screen
* Per-layer `tileSize` option
* No per-layer `zoomOffset` option. The appropriate zoom offset for a given tile layer can be calculated based on the ratio of map `tileSize` to layer `tileSize`.

The current hack of s

[2016-03-14 17:26] jfirebaugh commented on #4321
I like the idea of having a `baseTileSize` map option that sets the CRS one under the hood.

For reference, there are a couple past issues relating to `zoomOffset` that we may need to take into consideration:

* #3793 (not sure if this use case would still be supported if we remove `zoomOffset`)
* #3817

[2016-03-14 18:23] jplante opened #4322 "GridLayer "load" event fires before tiles are rendered in 1.x?"
We are working with Leaflet and Mapbox and a major mapping project to create a map capable of animating a data-layer over the map to represents different points in time using VCR-buttons and a scrubber.  We achieve this having a single data-layer composed of number of Leaflet-layers that we turn on and off.  Normal on/off of Leaflet would cause a blink, so we can either hide via opacity or visibil

[2016-03-14 21:35] hughlomas commented on #419
This is actually happening for me right now in 0.7.7. Everything works fine by commenting out marker.setIcon().

What is unexpected is that I'm using setIcon at other times and the events continue to work, but if I change it inside of a mouseover event handler, it seems to unbind everything.

[2016-03-14 23:56] DeanoFino opened #4323 "Leaflet 0.7.7 throwing Unknown touch event type error in IE10 and IE11 on page load"
Leaflet 0.7.7 (line 7163 leaflet-src.js) error is throwing in IE10 and IE11 (but not IE9) that is preventing page load.
[code]

[2016-03-15 06:55] ravimkh1991 commented on #2302
when i m using data-emojiable  after that onpresskey submit not working

[2016-03-15 08:27] IvanSanchez commented on #4323
This bug report could be better - my test maps work just fine in IE10/IE11 in stable, so you must be doing something that specifically triggers this bug.

Are you attaching any touch events to anything?

[2016-03-15 08:45] IvanSanchez commented on #4322
Can you publish a reproducible example somewhere? (e.g. jsfiddle, jsbin, codepen, http://playground-leaflet.rhcloud.com/ ) We cannot be *exactly* sure of what you mean until we see it with our own eyes (and browsers).

Also: Leaflet 0.7.x or 1.0.0-beta?

[2016-03-15 13:13] IvanSanchez commented on #4311
I see @LucasMouraDeOliveira has opened #4324, but I don't think it's quite right.

[2016-03-15 15:26] #4311 closed

[2016-03-15 17:58] DeanoFino commented on #4323
This was being caused by an outdated version of the Leaflet-Draw plugin, not Leaflet. Thank you for the input Ivan! Your insight steered me into the right direction. Sorry for the false bug!

[2016-03-15 18:10] IvanSanchez commented on #4323
It's OK - just keep in mind that the more detailed a bug report is, the easier it is to track down and fix ;-)

[2016-03-15 18:10] #4323 closed

[2016-03-15 20:28] jplante commented on #4322
This is happening in 1.0.0-betaX.  I'm currently trying to track it down myself, and I'll see if I can get a playground set up.  It appears based on some browser event testing, that the "load" event of an HTMLImageElement is fired after its rendered, which is good.  So, it may be related to the fact that tiles fade in.  There seems to be a slight fade even after setting `fadeAnimation: false`, so

[2016-03-16 01:24] iH8 commented on #4239
The thing is having the most lovable API. You'll need an example for every piece of Leaflet. A couple of tutorials won't suffice. Running/forkable examples. After that tutorials will be a breeze. Promise, willing to resolve. So we can reference those while writing tutorials. Every layer needs to be covered. You can't expect people to grasp tutorials but you can state them the reference. If we'll h

[2016-03-16 11:45] mourner commented on #4239
Replying to a comment about tutorials that was apparently removed by the author, I think eventually we would want, in addition to the current narrated tutorials, build a set of live examples for every feature, just like [Mapbox does for mapbox.js](https://www.mapbox.com/mapbox.js/example/v1.0.0/). But meanwhile, the latter is a great resource, because 95% of the examples are not Mapbox-specific an

[2016-03-16 15:05] ughitsaaron commented on #4239
I hope it's alright for me to throw in and say I'd be happy to help with some of this docs/tutorial writing in the near future. I've been using leaflet a lot lately for a side project I'm working on and would love to help contribute to it eventually.

[2016-03-16 15:17] IvanSanchez commented on #4239
@ughitsaaron Absolutely! I'd love to see some pull requests for more examples/demos!

If you're working on something, just leave a comment about what your example is about, and submit a pull request (to the `gh-pages` branch) when done.

If you need any guidance on how to create a new example and edit the files needed, just ask.

[2016-03-16 20:37] juanpablogd commented on #3881
Hi all,

any solution?

Thanks in advance!

[2016-03-16 21:33] juanpablogd commented on #3881
SOLVED: download and replace file Google.js

https://raw.githubusercontent.com/shramov/leaflet-plugins/leaflet_one/layer/tile/Google.js

[2016-03-17 08:10] perliedman commented on #4321
@mourner it does indeed sound elegant for spherical mercator and similar projections that cover the whole world, but I have a bit of a hard time grasping how it would work for the local projections that Proj4Leaflet support.

My main problem is the terminology "how big z0 is on screen", because it seems to assume there's some hard definition what should fit into z0. For most local projections, wha

[2016-03-17 08:31] ilyapro opened #4325 "Browser.touch is true on desktop IE (Internet Explorer)"
L.Browser.touch property returns true on desktop IE browsers.
This causes some IE bugs in my application.
(src/core/Browser.js)

[2016-03-17 08:33] IvanSanchez commented on #4325
Duplicate of #3944

[2016-03-17 08:33] #4325 closed

[2016-03-17 10:45] anilanar opened #4326 "Popup.isOpen is not documented"
As title says, leaflet docs don't have Popup.isOpen documented.

[2016-03-17 10:48] IvanSanchez commented on #4326
This only affects the 1.0.0 docs, not the 0.7.x docs.

Thus, this is covered by #4203 / #3916.

[2016-03-17 18:41] da-mkay opened #4328 "mousedown and click events interfere with each other"
When using `.on('mousedown', ...)` and `.on('click', ...)` on a `Rectangle` the on-click event may not always fire when the `Rectangle` is clicked. Consider the following example:

    <div id="map" class="map"></div>
    <script>
    var map = L.map('map').setView([42.383901, 4.744117], 5)
      , tileLayer = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png').addTo(map)
      , rectLayer = L.

[2016-03-17 18:59] IvanSanchez commented on #4328
I made a [playground here](http://playground-leaflet.rhcloud.com/pehu/edit?html,console,output). I'm unable to reproduce the problem.

[2016-03-17 19:18] iH8 commented on #4328
Can reproduce, Windows, Edge 25, Chrome 49 and Firefox 44, without the layerGroup, with polylines, polygons and rectangles. Also in Safara 9 on OSX, no problems with Chrome 48.
![click](https://cloud.githubusercontent.com/assets/692063/13857862/1ffec788-ec7c-11e5-93b5-bceeb625861e.gif)

[2016-03-17 20:14] IvanSanchez commented on #4328
This must check with both canvas and SVG (but I forgot how to do that with 0.7.x already)

[2016-03-17 20:34] cduzan commented on #3432
I'm getting a similar issue. I'm not sure if it's diagonal, but the map only snaps back if you drag it quickly and release. If I make sure I stop moving before releasing the mouse then the map doesn't snap back.

[2016-03-18 12:44] mourner commented on #4023
@IvanSanchez why does it get called twice if the `_onZoomTransitionEnd` sets `_animatingZoom` to false?

[2016-03-18 14:36] iH8 commented on #4328
Set `L_PREFER_CANVAS` to true before loading the libary you mean? Canvas is not affected, at least, for me it doesn't even fire the mousedown event?

[2016-03-18 16:31] IvanSanchez commented on #3530
I think I've found the root cause of this.

Whenever `L.Map._move()` is called with the same zoom level, the `pixelOrigin` gets updated, but all the layers ignore the `move` map event!

Most layers react to the `zoom` and `viewreset` events to redraw themselves. When the user is performing two-finger interactions, the `zoom` event is fired on every frame, which triggers the redrawing/repositioning

[2016-03-18 16:35] IvanSanchez commented on #3530
I have made a handy webpage for testing this in the [`bounce-touch`](https://github.com/Leaflet/Leaflet/tree/bounce-touch) branch

[2016-03-18 16:37] mourner commented on #3530
Oh wow. That's a tricky one. I guess the lesser of all evils would be to fire `zoom` when pinch-zooming even when a zoom doesn't change.

[2016-03-18 18:07] yohanboniface commented on #3530
Nice investigation!
But why is it working with mouse and not the touch? i.e. where is the breakpoint between both scenarios?

[2016-03-18 18:28] IvanSanchez commented on #3530
@yohanboniface As far as I remember, mouse interactions rely on `L.Draggable` and do not call `L.Map._move`.

[2016-03-19 08:40] yohanboniface commented on #4023
@mourner it's now only set through an anim frame, see https://github.com/Leaflet/Leaflet/commit/e15097dc1acc9cb80cab72bdbdb7355c77f1a9d0

I'm a bit worried about mixing setTimeout and requestAnimFrame, but I've no plan B to suggest (and I've no iOS at hand to investigate) :(

[2016-03-19 10:18] yohanboniface commented on #4023
Given the conversation here https://github.com/Leaflet/Leaflet/pull/3897 I'm tempted to suggest to remove the iOS hack until proven it's still needed in master.
Thoughts?

[2016-03-19 18:26] StephGS opened #4331 "leaflet: change popup image using popup.setContent()"
I am trying to make images in popups change periodically. The function refreshImage periodically `GET` from server a 64based string of image data and sets the src of the img using `popup.setContent()`. The second part takes the coordinance data from a json file and create markers, bind popups and initiate a onClick event handler that will trigger the refreshImage function. Everything from create m

[2016-03-20 02:16] liratanak opened #4332 "Wrong fonts rendering"
Hi,

The native name of [Cambodia](https://en.wikipedia.org/wiki/Cambodia) should look like this:
![](https://cloud.githubusercontent.com/assets/1790248/13902461/fb836542-ee7b-11e5-963e-674f7ffaa15e.png)

While the current on http://leafletjs.com look like this:
![](https://cloud.githubusercontent.com/assets/1790248/13902469/290b20ea-ee7c-11e5-987e-cd5fc007a487.png)

Thanks for considering to fix

[2016-03-20 08:47] IvanSanchez commented on #4332
This is not a Leaflet bug, but rather an OpenStreetMap rendering bug. Consider researching into the typefaces used in github.com/gravitystorm/openstreetmap-carto , and see http://www.openstreetmap.org/relation/49898

[2016-03-20 08:47] #4332 closed

[2016-03-20 08:53] IvanSanchez commented on #4331
This is a bug tracker, you will get no support here. See the CONTRIBUTING.md file for pointers on where to ask these kind of questions.

[2016-03-20 08:53] #4331 closed

[2016-03-20 09:43] guillaumeprevost commented on #1921
Similar issue seems to be present when calling:

`map.fitBounds(bounds);`

Maybe I'm doing things wrong but here is the context: a circle marker is placed on the map with a popup binded to it. Inside the popup content, in addition to information about the marker, a "Zoom in" link triggers a javascript function that uses the location of the marker and call map.fitBounds();

The map center and zoom

[2016-03-20 23:11] balciseri opened #4333 "Leaflet for a custom game map."
Hi i'm trying to upgrade my project from 0.7.7 to 1.0.0-beta.2.

I have made two identical fiddles to show you my problem.

Working with leaflet 0.7.7 https://jsfiddle.net/Mavvo/Lm0Lv6d3/
Not working with leaflet 1.0.0-beta.2 https://jsfiddle.net/Mavvo/k0ofzmbg/
`leaflet.js:6 Uncaught TypeError: Cannot read property 'max' of undefined`
I think this is where max is coming from: `y:this.options.tms?

[2016-03-21 00:23] hyperknot commented on #4333
Just a quick note, use: https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/master/leaflet-src.js in your fiddle, it'll tell you where the bug is.

So it is indeed trying to look for `this._globalTileRange.max.y` while `this._globalTileRange` is not initialised, because of tms somehow.

But why are you using TMS? Do you realise it's just a simple Y flipping? If it's a game map, you can just gen

[2016-03-21 04:58] dotku opened #4334 "Uncaught Error: iconUrl not set in Icon options (see the docs)."
I setup the icon like this

[code]

but I got the error:

[2016-03-21 05:00] answerquest opened #4335 "Make clickable:false but allow mouseover"
Hi, could there be a way of setting `clickable:false` while still enabling the `mouseover` event  in `layer.on` ?
Example snippet:
[code]
Currently, the `clickable:false` setting overrides and disables the `mouseover` function I've set.

[2016-03-21 06:04] tzetter commented on #4334
That's because you put `iconURL` in the icon options instead of  `iconUrl` like it said in the docs (and error message). JavaScript is case sensitive.

[2016-03-21 06:36] IvanSanchez commented on #4335
Use Leaftet 1.0.0-beta, which implements event delegation.

[2016-03-21 06:36] #4335 closed

[2016-03-21 08:12] balciseri commented on #4333
Thanks for your suggestions!
When I started I didn't know much about this kind of stuff, actually I don't know so well now either.
I simply followed two blogs post telling me how to make the tiles out my big picture representing the game map and then used tms:true because with that everything was working fine!
So back to the present.. I'm more than happy to adapt and do as you said. The problem is

[2016-03-21 10:06] balciseri commented on #4333
I've found the posts about the y flipping :
https://github.com/Leaflet/Leaflet/commit/678a5cbd052a1761787068b8320e81a993cdc3e8#commitcomment-5224256

https://github.com/Leaflet/Leaflet/issues/2897

I tried again : https://jsfiddle.net/Mavvo/2hfoakxy/
I'm doing it wrong because in the console i can see i can't retrieve the tiles:
`Failed to load resource: the server responded with a status of 404 (

[2016-03-21 10:56] hyperknot commented on #4333
@balciseri you don't need -y or TMS, but you will need to regenerate / reorganize your title files not to use the TMS option.

Did you know there is a recent tutorial for a similar case?
http://leafletjs.com/examples/crs-simple/crs-simple.html

[2016-03-21 11:08] balciseri commented on #4333
Hello.
I was reading it right now :D
At the moment i don't fully understand it yet.
Anyway i was hoping for just an immediate way of upgrading from an older version of leaflet to a new one. I know there are many projects that used leaflet to render custom images and gamemaps simply following the old tutorials telling to use crs.simpe and tms: true but now it seems not doable to just upgrade to a n

[2016-03-21 11:24] hyperknot commented on #4333
I think this is a bug in 1.0, but I'm not an expert in CRS so I cannot confirm it.

If it's been working in 0.7 and it's broken in 1.0 (as you proved with examples) then I believe it will be fixed soon, so you don't need to do anything.

[2016-03-21 11:28] balciseri commented on #4333
Thank you again.
For the moment i will stick to 0.7 then.
In the meanwhile i'll try to generate new tiles to work with tms= false like you suggested.
Waiting for an expert to look into this issue then :D

[2016-03-21 11:36] #4284 closed

[2016-03-21 11:40] hyperknot opened #4338 "TMS doesn't work with L.CRS.Simple in 1.0"
As provided by a user in #4333 using L.CRS.Simple with tms: true results in an exception where `this._globalTileRange` is uninitialised in tileLayer / getTileUrl.
https://github.com/Leaflet/Leaflet/blob/b60e18d5c6c1ceacdcccfc03f184c0afa516607b/src/layer/tile/TileLayer.js#L77

http://playground-leaflet.rhcloud.com/jac/1/edit?html,output

It works untouched in 0.7, but is broken in 1.0

Related issu

[2016-03-21 14:22] jplante commented on #4322
This is *not* an issue with Leaflet, but MapBox.  MapBox.css has:

[code]

Which forces a transition, regardless of `fadeAnimation: false`.  The issue it causes, is that it appends an additional 200ms to the rendering phase, and so the even though the image `load` event fires, it has not yet been fully drawn, causing a 'blink' if you were to try to swap to that `L.GridLayer` as soon as the layer's

[2016-03-21 14:22] #4322 closed

[2016-03-21 16:43] #4334 closed

[2016-03-21 20:58] HarelM opened #4341 "Please support NuGet"
There is a NuGet package but it's outdated...

[2016-03-21 21:01] IvanSanchez commented on #4341
We do not maintain any NuGet packages. See https://www.nuget.org/packages/leaflet and contact the people listed there.

[2016-03-21 21:01] #4341 closed

[2016-03-21 21:04] IvanSanchez commented on #4341
See also #1841.

cc @resnyanskiy @ernstmartinj

[2016-03-21 23:25] mlazowik opened #4342 "Zoom animation sometimes stopped mid-way in Safari with Google tiles (>=0.7.4)"
Safari 9.0.3 (11601.4.4), leaflet >= 0.7.4

When complex enough zoom animations are happening on Safari with Google Maps tiles the animation is sometimes stopped before completing. The bug was introduced with [workaround for another bug](https://github.com/Leaflet/Leaflet/commit/4eb39d531255a6deaf3f3c56fb24933d44f5eccc).

I _think_ that this happens when there are two simultaneous zoom animations

[2016-03-22 00:26] hyperknot commented on #4342
What do you mean by >=0.7.4? What is the exact version?

The workaround you linked was for 1.0, it's not in 0.7 branch.

Can you make a minimal example on http://playground-leaflet.rhcloud.com/?

[2016-03-22 00:44] mlazowik commented on #4342
Right, I've linked to the wrong commit (as it does the same). Here's the [correct one](https://github.com/Leaflet/Leaflet/commit/91477588faa44e2b266d86a5a44cb98490244d39).

Will try to port the example from https://lazowik.pl/leafletbug.html should that help in any way.

[2016-03-22 01:03] mlazowik commented on #4342
[Done](http://playground-leaflet.rhcloud.com/val/1). Interestingly enuogh, it won't happen in the embedded output view, I had to take it full screen. Still happens only sometimes, and only with viewport sizes that make fitBounds do zooming out.

[2016-03-22 07:29] #3530 closed

[2016-03-22 09:03] pke opened #4343 "TileLayer: unloadInvisibleTiles and reuseTiles have no effect"
I have these options for my tilelayer:

[code]

Yet, when panning around back and forth, new tiles are constantly faded in. Seems like those options have no effect at all.

[2016-03-22 09:05] IvanSanchez commented on #4343
Those options were removed in 1.0.0. The documentation update from #4203 should cover this.

[2016-03-22 09:15] pke commented on #4343
Ah ok, yeah I am on 1.0.0 already. Docs are still for 0.7.x

[2016-03-22 09:16] IvanSanchez commented on #4343
No, there are docs for 1.0.0 and they mention the options you referred to: http://leafletjs.com/reference-1.0.0.html#tilelayer-unloadinvisibletiles

[2016-03-22 09:19] pke commented on #4343
So why isnt't it working then?

[2016-03-22 09:21] IvanSanchez commented on #4343
Because those options were removed in 1.0.0. The only problem here is that the 1.0.0 docs still refers to those options.

[2016-03-22 09:22] pke commented on #4343
Whats the suggested upgrade path. The default behaviour is barely acceptable.

[2016-03-22 09:24] IvanSanchez commented on #4343
The tile pruning behaviour is a different issue: #4039

[2016-03-22 10:06] perliedman commented on #4338
The problem is that `L.CRS.Simple` is an so called "infinite" CRS (https://github.com/Leaflet/Leaflet/blob/master/src/geo/crs/CRS.Simple.js#L24), which means it does not have any bounds.

TMS, on the other hand, needs an upper bound for the CRS's Y coordinate, to be able to flip the tile row.

This means that TMS will not work with `L.CRS.Simple` out of the box in 1.0. On the other hand, the only

[2016-03-22 10:45] hyperknot commented on #4159
Just updated to Safari 9.1 on 10.9, same behaviour. I guess probably 10.9 related.

[2016-03-22 10:57] perliedman commented on #4333
Repeating short form of what I wrote in #4338: `L.CRS.Simple` will not work with `tms: true` in 1.0, since `L.CRS.Simple` has `infinite: true`, meaning it has no bounds. Leaflet needs bounds when working with TMS, since the bounds are used to flip the tile's row coordinate.

This works in 0.7, but only because of implicit bounds inherited from Leaflet's default projection. A better idea is to eith

[2016-03-22 10:59] balciseri commented on #4333
Thank you, i went down the second path.
Fixing the tiling scheme to row coordinates growin downwards fixed it.

[2016-03-22 11:13] jieter commented on #4338
Regarding #4337, should we not try to replace `{-y}` if `map.crs.infinite === true` to prevent this error ?

[2016-03-22 11:17] perliedman commented on #4338
@jieter yes, sounds like a good plan. In general it would of course be very nice to provide a better error message than that some internal variable is `undefined`!

[2016-03-22 11:29] balciseri commented on #4338
Yes at the moment if i reference the master version with the {-y} fix i can't use crs: L.CRS.Simple,
because it will not work.

[2016-03-22 11:32] jieter commented on #4338
Hang on, working on it...

[2016-03-22 12:47] jieter commented on #4338
@perliedman Leaflet doesn't seem to do much explaining in error messages. I've added an example of the error produced by a small `L.CRS.Simple`-example to the description of #4344 .

[2016-03-22 13:10] balciseri commented on #4333
Here is the modified gdal2tiles app which
allowed me to generate tiles without TMS flipping:
[gdal2tiles-leaflet](https://github.com/commenthol/gdal2tiles-leaflet)
Happy mapping!

[2016-03-22 16:55] Jonas-WMDE opened #4345 "L.Map.fitBounds() with invalid bounds error message could be better"
`Uncaught TypeError: Cannot read property 'lat' of undefinedo.LatLngBounds.getNorth @ leaflet.js:6o.LatLngBounds.getNorthWest @ leaflet.js:6o.Map.o.Class.extend.getBoundsZoom @ leaflet.js:6o.Map.o.Class.extend.fitBounds @ leaflet.js:6wikibase.queryService.ui.resultBrowser.CoordinateResultBrowser.SELF.draw @ CoordinateResultBrowser.js:64(anonymous function) @ App.js:411`

http://tinyurl.com/jbxrwlv

[2016-03-22 17:53] IvanSanchez commented on #4345
Maybe a check for `bounds.isValid()` inside `fitBounds()` is a good idea (throw a descriptive error if not). Otherwise, `isValid()` can be called from the user's code.

[2016-03-22 17:57] IvanSanchez commented on #4345
Maybe this bug report is a good candidate for @yourfirstpr ?

Code-wise, the changes are simple (inside the `fitBounds` method in `L.Map`, check if the bounds are valid with a call to `bounds.isValid()`, then throw an error in the same way `_initContainer` does.

Other than that, it's the usual "claim the issue, fork, clone, branch, edit, commit, pull request" workflow.

[2016-03-22 20:55] gmpersons commented on #3185
Any ideas how this could be clarified a bit? Seems like there should be an easier way...

https://gist.github.com/gmpersons/d86796aecac61015718b

[2016-03-23 04:54] TopologyApplied opened #4347 "How to visualize a heatmap with numbers using Leaflet map?"
I wish to create a heatmap similar to the following:

http://www.trulia.com/local/san-francisco-ca/tiles:1|points:1_crime

With the number changes at different zoom level - the number can appear in a mouse-hover window instead of directly showing on the map.

Any idea how to make this with Leaflet map?

[2016-03-23 07:29] perliedman commented on #4347
Hi, and thanks for using Leaflet!

This issue tracker is used for bugs and new feature discussions. That means that questions on how to use Leaflet and similar is better discussed at Stackoverflow or gis.stackexchange.com.

[2016-03-23 07:29] #4347 closed

[2016-03-23 15:32] #4338 closed

[2016-03-23 21:37] IvanSanchez opened #4351 "dashArray on canvas crashes IE9, IE10"
See #4171 and specially the comments at the end of #4308: the method for setting the `dashArray` on a `<canvas>` renderer triggers a crash in IE10.

A bit of debugging in an actual IE10 is needed, but the fix might be something like

[code]

[2016-03-24 03:43] SupremumLimit commented on #3993
I observe the same effect with both a marker and a canvas layer using Leaflet 0.7.7.

[2016-03-25 09:35] MojoKingBee commented on #2282
It' doesn't seem to be included in beta1 as it still has
.leaflet-container img.leaflet-image-layer {
	max-width: 15000px !important;
	}
that prevents the solution (so I overrided that in my css, as proposed above).

Also, at very high width the browser doesn't seem to manage well the overlay.
In my case at a width: 437267px (on firefox) the overlay is shifted somewhere.

[2016-03-25 09:56] IvanSanchez commented on #2282
@MojoKingBee Use beta2 then. It's fixed in the `master` branch, so there's nothing else to do in regards to this issue.

[2016-03-28 06:21] theotow commented on #4345
i will give it a try

[2016-03-29 02:54] briantjacobs commented on #3194
This vibration is still a rough issue, especially when flying short distances with a longer duration within a single tile zoom. Also very noticeably less stable than a panTo animation over the same distance.

[2016-03-29 07:01] IvanSanchez commented on #4345
Closed via #4353

[2016-03-29 07:01] #4345 closed

[2016-03-30 19:35] clhenrick opened #4357 "adding a L.geoJson layer to the map is slow in IE with v0.7.7"
Adding a new layer to the map object hangs the browser in IE10+. Depending on the complexity of the geometry it could be 10 seconds or over a minute. Seems related to #4061

Issue can be replicated by viewing the following in IE, (notice the lag when clicking on a polygon and new data is added to the map): http://clhenrick.github.io/fosi-test/

Reverting Leaflet to version 0.7.5 fixes the problem.

[2016-03-30 20:35] danzel commented on #4357
Have you tried this with leaflet 1.0.0-beta2?

[2016-03-30 22:13] clhenrick commented on #4357
@danzel seems that this is not an issue in 1.0.0.-beta2.

[2016-03-31 07:53] IvanSanchez commented on #4357
If I recall correctly, this is due to IE10 spending an awful lot of time to attach `dblclick` event handlers in 0.7.x, and 0.7.7 in particular attaches events to everything so it works OK with `msPointer` events in IE10/IE11 (which were causing problems in Win8 touchscreens in 0.7.5).

Making everything work in every browser for 0.7.x is a lot of work, and we must focus on 1.0.0-rc1. I suggest you

[2016-03-31 08:41] href commented on #3575
I found a css workaround that gets rid of the problem for me on Safari 9.1 on OS X El Capitan:

[code]

I can't take much credit however, I took it from the following Stackoverflow answer which also hints at *why* this helps: http://stackoverflow.com/a/17822836/138103

Maybe this can be used as a proper fix, though it would probably be good if others tried this first. It works for me however and d

[2016-03-31 08:47] IvanSanchez commented on #3575
@href Maybe you could make a pull request with that fix? That'd make it easier to test.

[2016-03-31 08:50] hyperknot commented on #3575
@href @IvanSanchez Are you sure that this won't affect rendering performance? I think we should profile how does adding a box-shadow with an alpha opacity affect mobile devices for example, it might have a visible effect on performance, or even possibly disabling hardware acceleration for panning.

[2016-03-31 09:03] href commented on #3575
@IvanSanchez done.

I'm not at all sure what the effect of this is. From the Stackoverflow answer this doesn't seem to have an effect, but that's just trusting someone else's opinion on a tangentially related issue. It would surely be a great idea if someone more knowledgable could look into it and profile my workaround.

I just got lucky when I googled around and I wanted others to know.

[2016-03-31 09:03] IvanSanchez commented on #3575
@hyperknot @href I'll happily perform some benchmarks in a couple of weeks against my set of test browsers.

[2016-03-31 11:02] hyperknot commented on #3575
@IvanSanchez @href Also, it might be good to limit this hack to affected browsers only, not just apply it globally.

@IvanSanchez is there a recommended workflow for profiling Leaflet rendering performance?

[2016-03-31 11:31] href commented on #3575
I personally only see it in Safari, so it would make sense to limit it for safari. There were mentions of people seeing this in Chrome however. Does anyone still see this bug in other webkit browsers?

[2016-03-31 11:47] IvanSanchez commented on #3575
It's quite trivial to add a CSS class to the map only for selected browsers, in the `L.Map` constructor stuff.

@href The issue is present in my Chromium 49

@hyperknot I'm not aware of the best way to profile these kind of things. Let's talk about that this weekend ;-)

[2016-03-31 11:55] IvanSanchez commented on #3575
@href Also, this fix kinda messes up tiles in my Chromium 49... it blurs the whole image instead of just the edge. Original, with `.leaflet-container { background: black }`:

![fractional-space](https://cloud.githubusercontent.com/assets/1125786/14174902/ca0c27cc-f747-11e5-9e12-f286336169ad.png)

With `img.leaflet-tile.leaflet-tile-loaded { box-shadow: 0 0 1px rgba(0, 0, 0, 0.05); }`:

![fractiona

[2016-03-31 14:15] href commented on #3575
That's weird. The issue is not present for me in Chromium 49 (OS X El Capitan), nor does the box-shadow seem to have any influence either way.

[2016-03-31 16:52] louh opened #4359 "A draggable divIcon containing a SVG <use> element cannot be dropped in IE / Edge / Safari 8"
SVG sprites are a handy way [to reuse vector scalable icon assets](https://css-tricks.com/svg-sprites-use-better-icon-fonts/) in an application. So, I have a project where I bundle SVG assets including the markers that I use for Leaflet. However, there is a problem with certain browsers we support: IE11, Edge, and Safari 8. We are using Leaflet 0.7.7.

In these browsers, a _draggable_ `divIcon` th

[2016-03-31 17:06] clhenrick commented on #4357
Thanks @IvanSanchez, I can see how the focus needs to be on getting 1.0.0 out the door. However this seems like a fairly large bug to overlook for v0.7.7 given the popularity of IE users.

The project I ran into this with ( http://fosigrid.org ) appears to work fine with v0.7.5. I just wanted to point this issue out here in case anyone else happens to run into it.

[2016-03-31 17:36] louh commented on #4359
I think I can add this into `L.Draggable.prototype._onMove` to fix the bug:

[code]

[2016-03-31 21:10] bpinney commented on #2934
Any update on when this might be added?

[2016-03-31 22:28] mourner commented on #4061
Closing as duplicate of #4357

[2016-03-31 22:28] #4061 closed

[2016-03-31 22:28] mourner commented on #4041
Closing as duplicated of #4357

[2016-03-31 22:28] #4041 closed

[2016-03-31 22:29] mourner commented on #4357
We would be extremely grateful if someone could look into this and provide a PR with a fix. I don't currently have a Windows/Edge machine to test on unfortunately.

[2016-04-01 00:39] ryanjhodge commented on #4357
FYI - Microsoft provides free virtual machines for testing Microsoft Edge and versions of IE6 through IE11.

https://developer.microsoft.com/en-us/microsoft-edge/tools/vms/windows/

[2016-04-01 04:15] davojta commented on #4357
https://github.com/davojta/Leaflet/commit/a545f38fab7dc0a857e09e459eb4a594c68480c3
This fix was working for us in 0.7.7
(revert touch detection from commit https://github.com/danzel/Leaflet/commit/4b289ab8071e480c182bb5df76bbfe0cac2a54e0)
https://github.com/davojta/Leaflet/commits/stable_0_7_7_1_release - branch with fix

[2016-04-01 06:31] rashadk commented on #3881
Thanks

[2016-04-01 09:37] vripoche opened #4360 "Shift on zoom toolbar tap (touch version)"
Hi,

On touch device version, we have a conflict between the zoom toolbar tap and the double tap behavior (center to the cursor), when we tap fast on the +/- zoom, sometimes the double tap event on map bubbles and the zoom shifts to the spot behind the zoom toolbar...

Screencast:
http://imgur.com/bs3urFU

Thank you.

[2016-04-01 12:22] Patrikios opened #4361 "Leaflet for R"
I would like to implement leaflets in shiny with R. I try to go with the simples example I found online:

    library(leaflet)
    library(ggmap)

    Information from URL : http://maps.googleapis.com/maps/api/geocode/json?    address=Vienna&sensor=false

    lon      lat
    1 16.37382 48.20817

It shows a grey space with the blue marker. No trace of OSM or any other spatial visualisation.
Could

[2016-04-01 14:13] IvanSanchez commented on #4361
Hi, glad to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet (with or without R), please use [gis.stackexchange.com](https://gis.stackexchange.com) or [stackoverflow](https://stackoverflow.com).

[2016-04-01 14:13] #4361 closed

[2016-04-01 14:14] IvanSanchez commented on #4360
Which Leaflet version?

[2016-04-01 14:30] perliedman opened #4362 "dashArray on canvas uses ES5 functions (map)"
See https://github.com/Leaflet/Leaflet/blob/master/src/layer/vector/Canvas.js#L79

`map` and other ES5 functions (`forEach`, `reduce`, `filter`, etc)  are not supported by IE8, which Leaflet still supports.

[2016-04-01 14:35] perliedman opened #4363 "dashArray on canvas is only used if set by setStyle"
The initlization of `this.options._dashArray` is only done in `_updateStyle`, which is only called when `setStyle` is used: https://github.com/Leaflet/Leaflet/blob/master/src/layer/vector/Canvas.js#L76

[2016-04-01 15:18] vripoche commented on #4360
On the last one v0.7.7
http://leafletjs.com/examples/mobile-example.html

[2016-04-01 15:20] IvanSanchez commented on #4360
Be aware that we are focused on releasing 1.0.0 - fixes for the 0.7.x series will take time.

Also you should try reproducing this in 1.0.0-beta2.

[2016-04-01 15:42] vripoche commented on #4360
Yes indeed it works well on v1.0.0-beta.2.

Thanks.

[2016-04-01 16:31] perliedman commented on #4023
The original fix (3e200bed22bdb1f59e54f37c93b4fce034fd7ee4) protects a call to `_resetView`, while the current code in master doesn't call `_resetView` directly, but only indirectly by when calling `_moveEnd`.

How about just calling the `_moveEnd` inside the `requestAnimFrame`? Might of course introduce some other race.

[2016-04-01 20:27] juanpablogd opened #4365 "SetZoom Error"
Running a fitBounds () and then change setZoom (). the map view not Update.

[2016-04-01 21:06] mourner commented on #4365
Please read how to report bugs here: https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs

[2016-04-01 21:06] #4365 closed

[2016-04-01 22:08] #4333 closed

[2016-04-02 06:04] yohanboniface opened #4366 "Get rid of gh-pages"
Idea is to keep documentation and static site (tutorial...) in the master branch.

Let's start by looking for hosting alternatives.

It needs to:
- be free for open source
- be deployable through git the easy way
- or be deployable through Travis
- allow prebuild hooks to generate documentation with Leafdoc.
- allow custom domain

Another option is to try to keep gh-pages is sync automatically, bu

[2016-04-02 06:15] yohanboniface commented on #4366
### aerobatic
https://www.aerobatic.com/docs/getting-started
Only works with Bitbuket (akward).
We may want to maintain a Bitbucket mirror, it may be less of a pain than having a separate branch (can be easily automated), but seems a bit complex for what we want to achieve.

[2016-04-02 06:44] jieter commented on #4366
Why not use travis to build it and deploy to a different repo in the leaflet org for hosting with gh-pages?

[2016-04-02 06:47] yohanboniface commented on #4366
That's an option. But having two separate repositories (even if we should push only on one) will still be confusing.

[2016-04-02 06:51] jieter commented on #4366
Would that be less confusing than having to understand a completely different platform?

[2016-04-02 06:52] yohanboniface commented on #4366
I meant confusing for other users not aware of the subtilties of those two repos, not for us ;)

[2016-04-02 07:05] perliedman commented on #4362
Not a critical issue, since IE8 does not support canvas, and will not run this code.

However, it seems like asking for trouble if we start using ES5 stuff in the code, while still supporting IE8. People might look at the code and figure its ok to use in other places, which will be executed on IE8.

[2016-04-02 09:38] #3408 closed

[2016-04-02 09:51] #4351 closed

[2016-04-02 09:51] #4363 closed

[2016-04-02 10:19] perliedman commented on #230
Also see #1010 if we decide to do this.

[2016-04-02 10:30] yohanboniface commented on #2086
@patrickarlt up for working on this before 1.0 or should I postpone? :)

[2016-04-02 10:33] yohanboniface commented on #2154
Should be fixed with #3653 please open a new issue if needed.

[2016-04-02 10:33] #2154 closed

[2016-04-02 10:40] jieter commented on #2086
Huh, I already made a PR for this...

[2016-04-02 10:42] hyperknot commented on #3575
Made an up to date playground: http://playground-leaflet.rhcloud.com/yid/1/edit?html,output

I will be submitting Leaflet-less bugs to Webkit and Blink teams.

[2016-04-02 10:46] yohanboniface commented on #2699
@perliedman can you just have a quick look with IE11 to see if the issue is still present, and if then we should close, fixed during today sprint, keep as 1.0 fix or move to 1.1? :)

[2016-04-02 11:00] yohanboniface commented on #2971
I agree with @jfirebaugh but I guess now it's on the history of Leaflet and should leave with it. Closing as no action is expected.

[2016-04-02 11:00] #2971 closed

[2016-04-02 11:10] perliedman commented on #2699
Example to test this out using latest Leaflet-dev: https://playground-leaflet.rhcloud.com/rul/edit?html,output

[2016-04-02 11:27] yohanboniface commented on #3800
@danzel any chance you put out a fix for that for 1.0? :)

[2016-04-02 11:27] hyperknot commented on #3575
OK, successfully made a minimal Leaflet-less example reproducing the issue:
http://playground-leaflet.rhcloud.com/say/1/edit?html,output

[2016-04-02 11:29] yohanboniface commented on #2697
No better naming as raised since two years, so I think we can close.

[2016-04-02 11:29] #2697 closed

[2016-04-02 11:33] perliedman commented on #2699
This is still a problem on IE11. I'm going for implementing that changes suggested by @danzel in https://github.com/Leaflet/Leaflet/issues/2699#issuecomment-44219069 and https://github.com/Leaflet/Leaflet/issues/2699#issuecomment-44222633.

[2016-04-02 12:01] hyperknot commented on #3575
Chromium bug report submitted: https://bugs.chromium.org/p/chromium/issues/detail?id=600120

[2016-04-02 12:29] hyperknot commented on #3575
Webkit bug submitted: https://bugs.webkit.org/show_bug.cgi?id=156130

[2016-04-02 12:30] perliedman commented on #2699
`L.DomEvent.disableClickPropagation` stops propagation of `touchstart` for touch devices; for the `select` element, this unfortunately prevents it from opening on touch (at least in IE11, still works in Chrome). So it looks like modifying and using `disableClickPropagation´ is not an option, since it must disable `touchstart`.

[2016-04-02 13:51] #4184 closed

[2016-04-02 14:44] yohanboniface commented on #3058
See https://github.com/Leaflet/Leaflet/pull/3059#issuecomment-204728004

[2016-04-02 14:44] #3058 closed

[2016-04-02 16:18] #3985 closed

[2016-04-02 16:26] #4362 closed

[2016-04-02 16:32] #4068 closed

[2016-04-02 16:48] yohanboniface commented on #2713
See https://github.com/Leaflet/Leaflet/pull/3049#issuecomment-204756291

[2016-04-02 16:48] #2713 closed

[2016-04-02 17:01] perliedman opened #4374 "Regression: calling fitBounds with an array of LatLngs crashes"
Commit 19d91d5bcd59b2631dc7bcd94a255eecdafa095b introduced a regression when you call `fitBounds` with an array as argument, rather than an `L.LatLngBounds`. We must turn args into an `L.LatLngBounds` before calling any methods on it.

[2016-04-02 17:23] #4374 closed

[2016-04-02 17:33] #2396 closed

[2016-04-02 17:33] #3936 closed

[2016-04-02 17:41] IvanSanchez opened #4378 "canvas renderer prevents propagation of events"
Related to #3937.

If a canvas renderer is on a pane on top of everything else, it will catch all DOM events and prevent any other layers from triggering their event handlers.

Reproducible with something like:

[code]

Then, event handlers for the marker will not be fired when clicking on the red circle, or even when clicking *outside* of the red circle.

[2016-04-02 17:56] #4255 closed

[2016-04-02 18:02] IvanSanchez commented on #3298
@iippa73 I cannot reproduce this on my android 5.0.2. If you still have your galaxy trend, can you still confirm the bug?

[2016-04-02 18:08] #4023 closed

[2016-04-02 18:18] IvanSanchez commented on #3298
The issue cannot be reproduced either in Chrome in Android 4, according to @hyperknot. I'll push it back into the future as it looks like it won't affect a lot of users.

[2016-04-02 18:27] IvanSanchez opened #4379 "Prepare 1.0.0-rc1 release"
We've closed a bunch of bugs and merged quite a lot of pull requests during the Madrid Leaflet Weekend Code Sprint™, and we ( @yohanboniface  @perliedman @hyperknot @IvanSanchez ) feel like -rc1 is ready.

- [x] write blog post @IvanSanchez
- [x] write changelog @yohanboniface
- [x] update changelog with changes of the last few days @perliedman
- [x] update changelog date and merge @perliedman
- [

[2016-04-02 18:33] IvanSanchez commented on #3627
Closed via #4085

[2016-04-02 18:33] #3627 closed

[2016-04-02 18:48] #2086 closed

[2016-04-02 19:21] IvanSanchez commented on #4326
Closed via #4203 / #3916

[2016-04-02 19:21] #4326 closed

[2016-04-02 19:21] IvanSanchez commented on #3645
Closed via #4203 / #3916

[2016-04-02 19:21] #3645 closed

[2016-04-02 19:22] IvanSanchez commented on #4132
Closed via #4203 / #3916

[2016-04-02 19:22] #4132 closed

[2016-04-02 19:24] IvanSanchez commented on #2756
Closed via #4203 / #3916

[2016-04-02 19:24] #2756 closed

[2016-04-02 19:24] IvanSanchez commented on #3927
Closed via #4203 / #3916

[2016-04-02 19:24] #3927 closed

[2016-04-02 19:28] IvanSanchez commented on #3705
Is this not covered in the panes tutorial? Maybe a section on how to create renderers with panes is needed.

[2016-04-02 19:33] IvanSanchez commented on #3301
This will be covered by #4356 - there's a handy UML class diagram there, showing inheritances.

[2016-04-02 19:38] jieter commented on #3301
I think a small note in the docs for `L.LatLng` won't hurt, one is probably not going to read the tutorial if getting error messages while trying to do `.include()` on `L.LatLng`

[2016-04-02 20:01] IvanSanchez commented on #2366
Leafdoc's "AKA" directives make this automatic. Is this still relevant for the 1.0.0 docs?

[2016-04-02 20:05] IvanSanchez commented on #4187
No more info provided after a month. Reopen if more specific conditions are provided.

[2016-04-02 20:05] #4187 closed

[2016-04-02 20:06] IvanSanchez commented on #4181
No more information has been provided, and more than a few weeks have passed. We'll assume this issue is no longer relevant and/or there is no interest to make a better report.

[2016-04-02 20:06] #4181 closed

[2016-04-02 20:07] IvanSanchez commented on #4168
No more information has been provided, and more than a few weeks have passed. We'll assume this issue is no longer relevant and/or there is no interest to make a better report.

[2016-04-02 20:07] #4168 closed

[2016-04-02 20:08] IvanSanchez commented on #4159
@hyperknot I saw you being able to reproduce this in a leaflet-less webpage, just `<div>`s and `preventDefault()`s. Did you open an upstream bug report?

[2016-04-02 20:09] IvanSanchez commented on #4144
No more information has been provided, and more than a few weeks have passed. We'll assume this issue is no longer relevant and/or there is no interest to make a better report.

[2016-04-02 20:09] #4144 closed

[2016-04-02 20:10] IvanSanchez commented on #4378
Duplicate of #4135

[2016-04-02 20:10] #4378 closed

[2016-04-02 20:11] IvanSanchez commented on #4047
No more information has been provided, and more than a few weeks have passed. We'll assume this issue is no longer relevant and/or there is no interest to make a better report.

[2016-04-02 20:11] #4047 closed

[2016-04-02 20:14] IvanSanchez commented on #4013
This is covered in the 1.0.0 code. Doubtful whether we'll spend time to fix this in 0.7.x.

[2016-04-02 20:18] IvanSanchez commented on #4006
@fnicollet @jjrv @perliedman Is this problem still relevant in the rc1 code? If so, would anybody be willing to spend some time to make a reproducible case with prosthetic-hand?

[2016-04-02 20:20] IvanSanchez commented on #3972
I'm gonna close this as a duplicate of #4357 - issue is pretty much the same (lots of stuff in IE and `doubleTap` event handler)

[2016-04-02 20:20] #3972 closed

[2016-04-02 20:21] IvanSanchez commented on #3904
No more information has been provided, and more than a few weeks have passed. We'll assume this issue is no longer relevant and/or there is no interest to make a better report.

[2016-04-02 20:21] #3904 closed

[2016-04-02 20:22] IvanSanchez commented on #3883
No more information has been provided, and more than a few weeks have passed. We'll assume this issue is no longer relevant and/or there is no interest to make a better report.

[2016-04-02 20:22] #3883 closed

[2016-04-02 20:26] IvanSanchez commented on #3712
There have been a bunch of changes to the two-finger gestures (and we can now automate stuff with prosthetic-hand). @stvno , would you be able to try all this again and maybe see if some prosthetic-hand automated webpages work as expected in your browsers?

[2016-04-02 20:27] IvanSanchez commented on #3077
No more information has been provided, and more than a few weeks have passed. We'll assume this issue is no longer relevant and/or there is no interest to make a better report.

[2016-04-02 20:27] #3077 closed

[2016-04-02 20:40] perliedman commented on #4315
What I think happens is that disabling and again enabling the dragging, event handlers switch order.

After dragging is enabled again, a pinch zoom suddenly initializes _both_ a drag and a pinch zoom, which in turn makes the markers use twice the offset, probably once from the drag handler and once from the pinch zoom.

If you do it on desktop with touch support, it becomes even more obvious, sinc

[2016-04-02 20:41] yohanboniface commented on #4379
For version of raw changelog: https://gist.github.com/yohanboniface/2def6e7176169e8d5606e01c45eb8572

Should we go with that and edit it by hand (putting it in categories, removing tiny PRs, etc.), or is there something that could be made better by the script before?

[2016-04-02 21:09] hyperknot commented on #4159
@IvanSanchez not yet, I will do it. I think it's related to OS X 10.9, but I'm not sure.

Can someone have a look at http://playground-leaflet.rhcloud.com/sow/1/edit?html,output in OS X 10.10 or 10.11 using Safari?

[2016-04-02 22:16] danzel commented on #3800
Yeah should be able to. How should we fix it?

I think maybe we could change the ```transform-origin``` css to target just the things that we need to (https://github.com/Leaflet/Leaflet/issues/3800#issuecomment-138468604).

I'll try take a look during this week.

[2016-04-02 22:26] yohanboniface commented on #3800
Sounds to me :)

[2016-04-03 01:15] #4359 closed

[2016-04-03 01:16] #2862 closed

[2016-04-03 01:16] #3646 closed

[2016-04-03 01:24] mourner commented on #4226
Let's try a better workaround that would not limit `flyTo` range: https://github.com/Leaflet/Leaflet/pull/4376#issuecomment-204845988

[2016-04-03 03:14] JohnCGH opened #4384 "Map dissapears/tiles don't load fully after zooming on Android 4.2.2 using Chrome"
Even navigating to the main leafletjs.com, the sample map is visible when the page loads. But as soon as I zoom in or out, when I remove my fingers from the screen, the map disappears. It seems like it is not auto-loading the new tiles at the new zoom level.

Additional Note: My own app allows for turning on and off satellite view. And when this same problem happens in my app, if I toggle to sat v

[2016-04-03 06:53] yohanboniface commented on #4384
Is that a really really old version of Chrome or am I missing something?

[2016-04-03 09:16] yohanboniface commented on #4366
Turns out that surge.sh is free for custom domain, free for SSL, but *SSL on a custom domain* is paid feature.
Apart from that, surge sounds like a really nice service. I've deployed the site in 5 minutes (including time to install jekyll on my new Arch laptop :p ): http://leaflet.surge.sh

Other option to consider: https://github.com/X1011/git-directory-deploy

[2016-04-03 09:16] yohanboniface commented on #4366
cf also #3277

[2016-04-03 09:32] hyperknot opened #4385 "'shadow' hard coded to L.Marker"
This is not a bug, but a cleaner design decision.

At the moment, shadow is hard coded to marker, this we have to define createShadow on anything which extends Marker, so shadow "infests" any other code built on Marker, Icon, etc.

With divIcons, glyph icons, labels extended from Marker, etc. I think shadow should not be defined in marker, but in the child classes like Icon.

[2016-04-03 09:40] hyperknot opened #4386 "Tests fetching tiles from example.com"
Some of the tests are trying to fetch tiles from example.com. I'll provide more details soon.

[2016-04-03 09:57] yohanboniface commented on #4366
Ingoing discussion here in Madrid: now that documentation is generated, in can makes sense to separate it from the main Leaflet site and blog, which are hand maintained.
So we can have something like:
- a new git repository leafletjs.com that would be a gh-pages only repo, keeping using Github Pages for it (or maybe not)
- a new domain doc.leafletjs.com, and a dedicated surge site, without ssl for

[2016-04-03 17:31] perliedman commented on #4315
Some further detail: without the `disable`/`enable` map drag, a drag _only_ touches the `leaflet-map-pane` transform, and a pinch zoom _only_ touches the `leaflet-tile-container` and `svg` element transforms.

After the `disable`/`enable` map drag, a pinch zoom touches the `leaflet-map-pane` transform, the `leaflet-tile-container` and `svg` element transforms, which of course results in a double o

[2016-04-03 18:37] perliedman commented on #4315
Yet another update: the root cause is the order of map handlers, and in turn the order they register event handlers.

I have reproduced the issue _without_ enabling/disabling map drag, by just making sure the `Map.Tap` handler is registered _before_ the drag handler.

When the tap handler is registered before, it catches touch events and turns them into simulated mouse events. These mouse events o

[2016-04-04 04:52] IRus commented on #4366
13$ per month? nginx+github webhook+let's encrypt+digital ocean box for 5$ per month in nicest option.

[2016-04-04 05:59] Patrikios commented on #4361
Thnx for info!

[2016-04-04 07:23] MikkoAhtiainen opened #4388 "Removing one path from html canvas removes click event handlers for all paths on the canvas"
Leaflet version 0.7.7, All browsers

When you remove only part of the path elements from the html canvas (L_PREFER_CANVAS=true)  the click event handlers are also removed from the rest of the path elements that are not removed. Result is that path elements still remaining on the screen can't receive any click events anymore.

Seems that `this._onClick` is `undefined `and commenting the following l

[2016-04-04 09:07] yohanboniface commented on #4388
Can you please check with latest master? http://playground-leaflet.rhcloud.com/ may help for this?

Thanks!

[2016-04-04 09:56] hyperknot commented on #4366
I would personally recommend using Cloudflare for the CDN, it is free and would allow HTTPS for CDN, blog, docs, website, everything.

I can help setting it up, I did it on a dozen websites last month.

[2016-04-04 11:10] MikkoAhtiainen commented on #4388
Ok. Seems to work on latest development version.

Thanks!

[2016-04-04 11:57] louh commented on #4359
Fantastic. Thanks so much for the quick response! Looking forward to rc1. :tada:

[2016-04-04 14:55] perliedman commented on #4051
@louh can you clarify exactly what the problem is with this example on mobile: http://louhuang.com/nyc-community-boards/#11/40.6051/-74.1055

When loading it in mobile mode, it shows a header and search field on top, the map in the middle, and an information text below. I can pan the map with touch, but there's nothing I can scroll on this page. Or is that example running a working version?

Also,

[2016-04-04 15:39] NielsHolt opened #4389 "No 'mousemove' event fired when pan or zoom with keyboard"
Hi
When the map is paned or zoomed using the keyboard, the mouse position on the map is changed, but no mousemove-event is fired
Kind Regards
Niesl Holt

[2016-04-04 16:03] louh commented on #4051
Hi @perliedman, thanks for responding! The http://louhuang.com/nyc-community-boards/#11/40.6051/-74.1055 link is probably not the best to look at since I did a bunch of work on it since then.

I've done the leaflet playground as you suggest:

with Leaflet v1, drag-scrolling the page fails on Android or Chrome mobile simulator when the user touches the map:
http://playground-leaflet.rhcloud.com/fuz

[2016-04-04 17:54] stvno commented on #3712
@IvanSanchez I still have my laptop, so yes I'll be able to test them again. I just did and chrome and edge are properly working (albeit doing a double finger drag on a map still doesn't zoom, but thinking about it I realized that it would be a weird gesture anyway)
However I just did a fresh pull of master and Firefox 45.0.1 still has the same issues. If you have test urls for me, I'm happy to te

[2016-04-04 19:55] bpinney commented on #2934
#2267 and #2532 are open issues making the same request

[2016-04-04 20:51] yohanboniface commented on #2934
The fastest way of getting this into core is a pull request ;)
We are now working on 1.0.0-rc1 release, and we have frozen the features perimeter of the 1.0, so we will basically only work on bug fixes ourselves. But any pull request will be considered.
So, to answer your question, unless someone provide a pull request, this will not be in Leaflet before 1.1 or later.

[2016-04-04 20:54] Grsmto commented on #2934
Didn't do any PR back in time as I saw you were rebuilding the whole things with 1.0.
Gonna have a look to that to implement the fix I did above.

[2016-04-04 21:12] yohanboniface commented on #4315
Have we been able to bisect this issue?

[2016-04-04 22:43] rickj33 opened #4390 "L.GridLayer does not honor opacity setting when set using options."
This is similar to #4096, but I am not using IE.

When I try to set the opacity of a tile/grid layer using the options.opacity, it is ignored.
I traced it to _initTile : function(tile), It looks like options.opacity is only used if the browser is "ielt9".

[code]
I modified my version of the _initTile function  and added the following lines so that the opacity options are used if set.

[code]

If

[2016-04-05 01:19] livemixlove opened #4391 "Correct settings for using new mapbox styles (rendered, nonvector) image tiles"
Hi All,

When I use the new mapbox styles image tiles, they render too small:

[code]
<img width="368" alt="screen shot 2016-04-04 at 6 16 06 pm" src="https://cloud.githubusercontent.com/assets/148947/14268573/5a2c6ac8-fa91-11e5-81fd-9f5fc6cebc45.png">

  I tried to use {tileSize: 512} and  {tileSize: 128} on the tileLayer to no avail.  Is there any way to scale the base tiles, to make the tiles b

[2016-04-05 01:57] danzel commented on #4390
Works for me in chrome
http://playground-leaflet.rhcloud.com/pex/edit?html,output

leaflet sets the opacity of the container here:
https://github.com/Leaflet/Leaflet/blob/master/src/layer/tile/GridLayer.js#L313-L315

[2016-04-05 02:11] danzel commented on #4389
Well, technically your mouse didn't move...

We just pass on the browser mousemove event, and add some extra data to it
https://github.com/Leaflet/Leaflet/blob/master/src/map/Map.js#L934-L935
https://github.com/Leaflet/Leaflet/blob/master/src/map/Map.js#L1036-L1042

Potentially we could fire movemove events when the map moves, but we'd need to check that the mouse was on the map and all sorts of d

[2016-04-05 06:58] perliedman commented on #4315
Haven't tried it, but given that your comments in #3872 more or less exactly describe this issue, it sounds likely it might be the source. Don't have time to do a bisect right now.

[2016-04-05 07:06] ajodedra opened #4393 "Zoomin/zoomout control using rectangle selection"
Hi every one i am working on Web GIS application and i need some custom control like zoomin and zoomout using rectengular selection zoombox,if any one whould help me then it is great help  .... thanks....

[2016-04-05 09:12] NielsHolt commented on #4389
I think it is a question of perspective :-)
The mouse don’t move on the screen or on the map-element, but the coordinate for the mouse is changed when the map is panned using the keyboard

My current use case is simple to display the coordinates of the cursor on the map.
The moveend, zoomend events only provides Event not MouseEvent

It isn’t implemented in JS either - If the position of an eleme

[2016-04-05 20:09] IvanSanchez commented on #4393
Hi, great to hear that you find Leaflet useful!

[There's a plugin for what you want to do](http://leafletjs.com/plugins.html#interactive-panzoom). Please do a bit of basic research before asking questions.

Also, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https://gis.stackexchange.com) or [stackover

[2016-04-05 20:09] #4393 closed

[2016-04-05 20:13] rickj33 commented on #4390
I found I was using an older version of the leaflet src, I updated to the current version in git-hub and It is working as danzel pointed out.
Sorry for premature posting.
Rick

[2016-04-05 20:13] #4390 closed

[2016-04-05 20:20] IvanSanchez commented on #4389
This can also worked around by storing the mouse position (in pixels relative to the map container) on every `mousemove` event, then calling `map.containerPointToLatLng()` with that on `'zoomend moveend'`.

You can even do that automatically by extending the behaviour of the keyboard map handler.

Either way, I see no (good) reason why we should fire a `mousemove` event whenever the map is moved -

[2016-04-05 20:20] #4389 closed

[2016-04-05 20:38] moviejb commented on #3223
hello everyone, I am not an expert but I created my map leaflet . I view the markers around the user's location . There are many ( less than 100 ) but it is very slow to open popups . How can I fix the problem? It is too slow. Can someone help me?
Thank you
Antonio

[2016-04-05 22:14] hyperknot commented on #4226
I just wanted to note here, that I was unclear before: the fix doesn't limit flyTo in general, it only makes a "jump" in the case when the browser would have gone to an infinite loop. Any other case is unchanged, including the 10+ zoom level animations.

I'll be looking into the u1 check, as linked by @mourner:
https://github.com/mapbox/mapbox-gl-js/blob/master/js/ui/camera.js#L636-L645

[2016-04-06 04:26] rgtaylor1989 opened #4394 "Edge Browser breaks assigned geoJSON functions when it includes e.target.bringToFront"
It seems like e.target.bringToFront(); breaks leaflet 1.0 beta2 while using the Microsoft's Edge Browser.

In the following example, the mouseout or click functions assigned to the geojson don't work when you include e.target.bringToFront() in the mouseover function.

http://jsfiddle.net/tator/sufc0dLp/4/

Edge works fine if you remove e.target.bringToFront() on leaflet 1.0 beta2

http://jsfiddle.

[2016-04-06 10:46] perliedman commented on #3223
@moviejb Hi and thanks for using Leaflet!

Please note that this is our issue tracker, where bugs and feature requests and posted and discussed. For questions on how to use Leaflet and other support, you're better off using [stackoverflow](https://stackoverflow.com/) or [gis.stackexchange.com](https://gis.stackexchange.com/).

[2016-04-06 10:50] perliedman commented on #4391
Hi and thanks for using Leaflet!

Please note that this is our issue tracker, where bugs and feature requests and posted and discussed. For questions on how to use Leaflet and other support, you're better off using [stackoverflow].(https://stackoverflow.com/) or [gis.stackexchange.com](https://gis.stackexchange.com/).

Having said that, I think you want to look into using [Mapbox's `@2x` tiles](ht

[2016-04-06 12:04] hyperknot opened #4395 "Initial fitBounds regression"
#4377 introduced a regression to the initial fitBounds method. By initial I mean when run on a map which has not yet received a zoom level + center, but is using fitBounds to set the view.

The result is that the view is sometimes off, sometimes totally broken with NaN bounds exception.

The reason is that in getBoundsZoom, for zoom level 0, boundsSize has values like:
[code]

Now with the added _

[2016-04-06 12:59] perliedman commented on #4395
Interesting, yes this looks like it needs some more thought, especially when taking other projections than EPSG:3857 into consideration. I'll look into it.

[2016-04-06 16:05] livemixlove commented on #4391
It's maybe not a bug, but it's a gap in or incomplete documentation.  If that's not a github issue, I'll take this elsewhere.

That said,
It's actually the opposite problem, on @2x it's even smaller.  The image I included is of normal non-2x tiles which are 512x512.  Changing tilesize to a non default value (512) has unexpected behaviours.  The documentation says: "Tile size (width and height in p

[2016-04-06 18:37] basilveerman commented on #3441
Hi, any updates on this?

I would also support clearing a parameter by passing in a falsey value to `setParams`.

Pros:
1. Non-breaking
2. No double redraw issues

Cons:
1. Someone may *want* to set a wmsParam to `''` or `0`

That issue could be dealt with by passing in a Boolean `clearNull` (default `false`) just like `noRedraw` which would keep existing behaviour.

[2016-04-06 20:58] #4395 closed

[2016-04-06 22:23] kaynz opened #4398 "Leaflet does not create valid WMS-C requests"
Hi,

please take a look into this conversation: https://sourceforge.net/p/geoserver/mailman/message/34998283/

May you have an idea to fix the problems.

Regards

[2016-04-07 03:08] kobesin opened #4399 "L.tileLayer error when zoomReverse and detectRetina set true"
When zoomReverse and detectRetina set true at the same time, tileLayer occur error.

This is my code:

`L.tileLayer("http://gis.sinica.edu.tw/googlemap/AM50K_1944/{z}/{x}/IMG_{x}_{y}_{z}.png", {
            zoomReverse: true,
            detectRetina: true,
            zoomOffset: -1
 }).addTo(map);`

[demo](http://leaflet-test.herokuapp.com/)

I think the adjusted zoomOffset may be wrong.
However

[2016-04-07 07:01] perliedman commented on #4391
If you're using Mapbox raster tiles (and most other tiles), the tiles are __256x256 pixels__, not 512x512. [Mapbox docs](https://www.mapbox.com/api-documentation/#retrieve-tiles) refers to OpenstreetMap's tile naming guide, which specifies this: http://wiki.openstreetmap.org/wiki/Slippy_map_tilenames

You must be doing something weird in your code - out of the box, Leaflet works perfectly with Map

[2016-04-07 07:12] perliedman commented on #4398
Hi, I have a hard to figuring out what the issue or question is from reading that thread. It seems there is a problem with EPSG:4326 and WMS-C.

Can you provide an example illustrating the problem, or at least give a clear explanation of what you're trying to do and the result? See the [guide for submitting bugs](https://github.com/Leaflet/Leaflet/blob/master/CONTRIBUTING.md#reporting-bugs), if yo

[2016-04-07 10:00] febeling opened #4400 "Loader Module definition not correct, as it assumes global `L`?"
The [Plugin Guide's section about module loaders](https://github.com/Leaflet/Leaflet/blob/master/PLUGIN-GUIDE.md#module-loaders) suggests a UMD-like defintion that doesn't seem to be correct.

It assumes a variable `window.L`, which typically isn't present in a browserify or webpack environment. So plugins shouldn't generally use this kind of boilerplate code, I believe.

The example code in quest

[2016-04-07 10:11] febeling commented on #4400
The plugin leaflet-tilejson does this:

[code]

at https://github.com/kartena/leaflet-tilejson/blob/master/index.js#L8

[2016-04-07 16:37] livemixlove commented on #4391
I'm using the new styles studio.  I was able to reproduce this:

http://playground-leaflet.rhcloud.com/jeg/edit?html,output

Confirmed that the tiles are 512x512:
https://api.mapbox.com/styles/v1/mapbox/streets-v8/tiles/15/19160/11041?access_token=pk.eyJ1IjoidHJpbGxpdW10cmFuc2l0IiwiYSI6ImVUQ2x0blUifQ.2-Z9TGHmyjRzy5GC1J9BTw

I can no longer find documentation for using the new Mapbox styles with
le

[2016-04-07 16:40] livemixlove commented on #4391
With tilesize set to 512:

http://playground-leaflet.rhcloud.com/fek/edit?html,output

On Thu, Apr 7, 2016 at 9:37 AM, Paul Clay <paul@trilliumtransit.com> wrote:

[2016-04-07 17:28] rickj33 opened #4401 "Exception in L.Canvas _updateStyle function"
I am getting an exception in the _updateStyle function of the Canvas Renderer
I have traced the exception to the call _updatedDashArray().  The _updateStyle is calling _updateDashArray with out any parameters, when the function expects the layer to be passed in.
This causes the "TypeError: Cannot read property 'options' of undefined" to be thrown.

[code]
I am using Leaflet 1.0.0-beta.2 ("139340e"

[2016-04-07 19:57] IvanSanchez commented on #4401
How are you triggering this problem? It would be very helpful to see what kind of polyline/polygon triggers this error. Something like a fiddle, codepen or http://playground-leaflet.rhcloud.com/ is very helpful.

[2016-04-08 01:29] ismail44 opened #4403 "Question about SVG in Leaflet 1.0.0"
I am working on an application that allows users to add N number of custom layers, paths, basically anything on top of a base layer. These layers can be anything from KML, WMS, WFS, SHP, etc. Sometimes, these layers are also specified in GeoJSON format (i.e. SHP or just plane GeoJSON). When adding these layers, we allow them to "sort" them by to be "above/below", basically modifying the z-index.

[2016-04-08 10:52] perliedman commented on #4391
Wow, yeah, that doesn't look right. Let me check what's going on here.

BTW, interesting with the tile size, I thought only vector tiles where 512x512, but raster remained in the old size.

[2016-04-08 12:27] perliedman commented on #4391
The issue can be fixed by using `zoomOffset: -1`: http://playground-leaflet.rhcloud.com/moy/edit?html,output

This actually makes sense, since with 512x512 pixels tiles, if you want the world to cover exactly one tile on zoom 0, you can't use the same scale factor as Leaflet's default (which is based on 256 pixel tiles). Hence, `zoomOffset` to the rescue.

While this might hard to figure out, I ha

[2016-04-08 12:27] #4391 closed

[2016-04-08 14:29] perliedman commented on #4400
There's a pretty long discussion of this here: https://github.com/Leaflet/Leaflet/issues/2364. The final word is that `window.L` is the way it will work for now.

Please note that even when used with Browserify and WebPack, Leaflet _will_ set `window.L` if `window` is defined: https://github.com/Leaflet/Leaflet/blob/master/src/Leaflet.js#L27-29 - you'll have to explicitly use `noConflict` if you d

[2016-04-08 14:29] #4400 closed

[2016-04-08 14:32] perliedman commented on #4401
This sounds like a regression from #4364. Will check it out.

[2016-04-08 14:34] febeling commented on #4400
:+1: Thanks for clarifying.

[2016-04-08 15:50] #4401 closed

[2016-04-08 17:47] livemixlove commented on #4391
Thank you for looking into this!!   I really appreciate it.

I posted this on stackoverflow on a related question: http://stackoverflow.com/questions/35590579/is-it-possible-to-use-leaflet-version-1-with-custom-mapbox-style

Seems like mapbox could improve the docs on this.

[2016-04-09 17:12] yohanboniface commented on #4399
Which Leaflet version are you using?
Seems to be working with latest master: http://playground-leaflet.rhcloud.com/xoz/edit?html,output

[2016-04-09 17:56] DeanoFino opened #4406 "Leaflet v0.7.7 Layer Control Overflow Scroll IE Bug"
On Leaflet layer control (v0.7.7) with multiple layers and collapsed:true, with height set and overflow: scroll, IE automatically scrolls to the top of the list, making the control unusable. If collapsed: false, IE auto scroll to top does not happen, but map is dragged when the layer control is moused over. The control works great in Chrome and FF. Also, not sure if this is related, but L.Browser

[2016-04-10 06:37] perliedman commented on #4403
I think what you're looking for is _panes_, which allows you to get fine-grained control over z-index and grouping things where the normal `bringToFront`/`bringToBack` is not enough.

Check the [panes tutorial](http://leafletjs.com/examples/map-panes.html) if you haven't already!

[2016-04-10 06:37] #4403 closed

[2016-04-10 09:58] kobesin commented on #4399
I am using latest master version Leaflet.js, Chrome49.0.2623.110 (64-bit), os x el capitan.

If detectRetina don't set true:http://playground-leaflet.rhcloud.com/boz/1/edit?html,output
<img width="1280" alt="2016-04-10 5 24 35" src="https://cloud.githubusercontent.com/assets/5188396/14409347/c0f07d84-ff42-11e5-8a14-0f0d79da0903.png">

When zoomReverse and detectRetina set true at the same time:htt

[2016-04-10 11:50] NielsHolt commented on #4389
Hi
I created my own extension to solve the problem for me:
https://github.com/FCOO/leaflet-mouseposition

[2016-04-10 17:04] ismail44 commented on #4403
Actually,  my question was why is there only one SVG G element being added to the overlay pane regardless of how many GeoJSON datasets are being added. I think it would make more sense to create a G element for EACH GeoJSON dataset added to the map. But, I'll play around with it and make a PR.

Thanks.

[2016-04-10 19:05] balciseri opened #4407 "Adding img marker on Canvas"
So far i was able to extend L.Canvas to add _updateImage function:
...
`ctx.drawImage(layer.options.img, p.x, p.y);`
...
, and also extended L.CircleMarker (i think that's not the right way, but i wanted to just make a quick test) :
`var nettleCanvasMarker = L.CircleMarker.extend({
        options: {
            renderer: cavRend,
            radius: 20,
            img: image
        },
        _

[2016-04-10 20:51] perliedman commented on #4403
@ismail44 ok, sorry if I misunderstood. What is it that you want to achieve by putting the datasets into separate `g` elements?

[2016-04-11 06:43] perliedman commented on #4407
Leaflet's vector features (`L.Path`) are clipped, simplified and redrawn on each `moveend`. You can see this in effect if you have polygon or polyline extending outside the viewport - while dragging, areas of the feature that were outside the viewport when drag started, are not shown until you stop dragging.

Since a features geometry is potentially changed on every `moveend`, it also has to be re

[2016-04-11 07:42] ZondLV opened #4408 "[Suggestion] Please make HTTPS download links"
I am unable to load Leaflet in JSFiddle, because download links are HTTP. It would be great if there were HTTPS download links for JS and CSS files.

[2016-04-11 09:13] balciseri commented on #4407
thank you for the explanation. The redraw is so fast that i didn't even notice there was a redraw until i read the code.
I'm using Leaflet 1.0.0-beta.2 (55fe462).I downloaded it yesterday to change the canvas code, I probably downloaded an outdated version, sorry for the wrong bug report about the _updateCircle.
Should we change the canvas resize (testing if changed) https://github.com/Leaflet/Lea

[2016-04-11 09:52] balciseri commented on #4407
i now tried b74cf17 and i see that in this version they fixed the onZoomStart hiding of the vectors of the cavans.
Is it hard to implement markerZoomAnimation: false also for the vectors of the canvas layer?
I think it's more clean if the vectors disappear during the zoom ( just like the markers with markerZoomAnimation false ).
I see there is this check here : https://github.com/Leaflet/Leaflet/b

[2016-04-11 12:17] ismail44 commented on #4403
I want to have discreet control of the ordering of each G element that
comes from a disparate dataset. So, say I have 2 separate GeoJSON datasets
I am adding to the map, I would like each to have its own G representation.
That way, I can manipulate the DOM to order them appropriately. Currently,
all the data, regardless of their source datasets, gets create as a PATH
element inside of just ONE G e

[2016-04-11 12:23] yohanboniface commented on #4403
I think custom panes here is the correct option.

[2016-04-11 12:25] ismail44 commented on #4403
Sure, I can get to whatever pane I need from querying my map object.
However, I need a way to take all the separate PATH elements and order them
in the DOM. Currently, though, I don't think there's a way to say, "This
GeoJSON produced this set of PATH elements".

On Mon, Apr 11, 2016 at 8:23 AM, Yohan Boniface <notifications@github.com>
wrote:

[2016-04-11 13:20] perliedman commented on #4403
What we mean is that you should put your different objects into separate panes, and then control the order of the panes, not of the paths.

The renderer abstraction exists since Leaflet doesn't always use SVG, and panes is a renderer-neutral way to do what I think you want to do.

You can of course always reach in to the internals and do whatever you want with the SVG elements.

[2016-04-11 13:22] perliedman commented on #4403
Subclassing the SVG renderer might be another option, and make it add paths in the structure you want. See https://github.com/Leaflet/Leaflet/blob/master/src/layer/vector/SVG.js#L102

[2016-04-11 13:23] ismail44 commented on #4403
I got you... yeah... I was just creating the "stock" L.geoJson... but, I
see what you are saying. Yes, subclassing is a good idea. I didn't think
about that! Thanks!

On Mon, Apr 11, 2016 at 9:23 AM, Per Liedman <notifications@github.com>
wrote:

[2016-04-11 18:13] DennisSchiefer opened #4410 "Jumpy zooming with Magic Mouse"
This is a follow-up to #2154 . As requested there, I am opening a new issue as the problem still persists.

Test Setup:
- Latest master (63870f1) together with the code of the quick start example
- MacBook Pro Retina with OSX Yosemite and Magic Mouse

Problems:
- Zooming with the Magic Mouse is very sensitive. It is almost impossible to zoom by only one zoom level
- When zooming for more than one

[2016-04-11 19:39] snkashis commented on #4408
Duplicate of https://github.com/Leaflet/Leaflet/issues/1824.

[2016-04-11 19:39] #4408 closed

[2016-04-11 19:57] IvanSanchez commented on #4410
@DennisSchiefer: Any chance you could debug what's going on in debug `L.DomEvent.getMouseDelta()` ? I'd be good to know if the pixel values are OK-ish, and whether the magic mouse sends several `wheel` events when doing a quick swipe, or just one.