[2022-03-23 06:36] IvanSanchez commented on #8082
This is a problem with either your logic, or with the graphlayer stuff. This is not a bug in Leaflet.

[2022-03-23 06:36] IvanSanchez commented on #8082
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https://gis.stackexchange.com/questions/tagged/leaflet) or [stackoverflow](https://stackoverflow.com/questions/tagged/leaflet).

If you are *really* sure that this is a bug in leaflet, or a feature re

[2022-03-23 06:36] #8082 closed

[2022-03-23 19:09] patrickarlt commented on #7810
It looks like 1.8.0 does cause an issue with Leaflet.Editable. I've got a basic [recreation in this CodePen](https://codepen.io/patrickarlt/pen/ExoNOXa?editors=1000). Editing still seems to work but after clicking to complete a new shape the map you get this error:

[code]

This error does not throw in [this recreation in 1.7.1](https://codepen.io/patrickarlt/pen/NWXbEBE?editors=1000)

It looks li

[2022-03-23 19:18] Malvoz commented on #7810
@patrickarlt There's a discussion for the v1.8.0-beta.0 here: https://github.com/Leaflet/Leaflet/discussions/8044. I think it'd be best to report any issues there - one comment for each issue, to which others can reply - discussions are much more easy to follow along that way. 👍🏼

[2022-03-23 21:21] Malvoz commented on #8080
Fixed in https://github.com/Leaflet/Leaflet/issues/8080.

Thank you for the contribution @wyankush!

[2022-03-23 21:21] #8080 closed

[2022-03-24 06:28] wyankush commented on #8080
Welcome!

[2022-03-26 14:23] MihirRajChowdhury commented on #7936
@IvanSanchez hello I am a new contributor who just joined the community and I would want to contribute in this issue can you please tell me on what do I have to do here as I am new I don't have any idea of it

[2022-03-26 14:46] Falke-Design opened #8085 "Refactor / Extend VideoOverlay Tutorial (ImageOverlay, SVGOverlay)"
`ImageOverlay` and `SVGOverlay` are not explained.

Change the VideoOverlay-Tutorial to following structure:

**Rename the header.**

**Explain `ImageOverlay`**
- The general explanaition can be used from `VideoOverlay`
- If know-how available add a sample how to use different sources
- Explain that the option `interactive` is per default `false`. This means that no mouse events are triggered. Can

[2022-03-26 14:47] Falke-Design commented on #7936
@MihirRajChowdhury this issue needs first to be discussed because it is not clear if we want to change this. But maybe you want to take care of #8085

[2022-03-26 16:46] Falke-Design opened #8086 "UML diagram is outdated"
The UML diagram in the Tutorial [Extending Leaflet](https://leafletjs.com/SlavaUkraini/examples/extending/extending-1-classes.html) is outdated.

On a fast check VideoOverlay and SVGOverlay are missing.

@IvanSanchez @mourner how was the diagram created?

[2022-03-26 17:46] Malvoz commented on #8086
Can we use Mermaid perhaps?  See https://github.blog/2022-02-14-include-diagrams-markdown-files-mermaid/.

This:

produces:

[code]

(this would also make the diagram available to devs who use screen readers, related: https://github.com/Leaflet/Leaflet/discussions/8006#discussioncomment-2190730)

[2022-03-26 18:46] piotr-cz commented on #7255
@Falke-Design The 1.8 is quite big update which includes breaking changes
IMHO bugfix should be released in a patch update 1.7.2

[2022-03-26 19:52] NicoHood commented on #7255
If 1.8.0 includes breaking changes, why isnt it a 2.0.0 release then??

[2022-03-27 08:24] mourner commented on #7255
It has very minor breaking changes that shouldn't affect most codebases, and NPM doesn't upgrade minor versions anyway. v2.0 will have more substantial changes like dropping support for old IE.

[2022-03-27 08:26] #7434 closed

[2022-03-27 09:00] adam-lynch opened #8089 "Polyline moves on pan / zoom"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the behavi

[2022-03-27 09:12] IvanSanchez commented on #8089
Adding a debug tilelayer shows me that Leaflet is behaving properly - dragging the map moves the polyline as well as the tilelayer with no offset.

The issue might be at the leaflet-mapboxgl integration. Stuff was never designed to work reliably at zoom level 24 and further, anyway.

[2022-03-27 09:12] #8089 closed

[2022-03-27 09:18] adam-lynch commented on #8089
Thanks for the quick reply. I'll go log an issue there. It's also broken when using MapLibre rather than Mapbox but as far as I know the MapLibre integration was forked from the Mapbox one so that could explain it.

[2022-03-27 09:34] IvanSanchez commented on #8086
I created that manually, ages ago. The tool I used and the "source" for the diagram are at https://github.com/Leaflet/Leaflet/blob/main/docs/SlavaUkraini/examples/extending/class-diagram.txt

But last couple of years I've been [perfecting some Leafdoc templates](https://gitlab.com/IvanSanchez/gleo/-/tree/master/build/leafdoc-templates/graphviz-class-diagram) for generating [graphviz](https://graph

[2022-03-27 12:10] Falke-Design commented on #8086
@IvanSanchez this looks great! Keeping the UML diagram in sync is a good idea and makes totally sense.

Two things from my side, but I have no clue of the UML standard:
- I would flip the class-tree, it is more readable and makes more sense. The hierarchical diagrams that I know, are in a tree format. From a single entry at the top to multiple ones at the bottom.
- For me the arrows needs to go in

[2022-03-27 13:25] IvanSanchez commented on #8086
That's just a https://graphviz.org/docs/attrs/rankdir/ tweak. I prefer the bottom-up design (since the "base" classes are... at the base of the diagram), but I do not have a strong opinion. This can be played with.

Nope, arrowheads go to the parent/base class, as per https://en.wikipedia.org/wiki/Class_diagram#Class-level_relationships

The issue I have is that my leafdoc templates for UML diagra

[2022-03-28 10:37] UsamaAndroid opened #8092 "HI i am using flutterMap that is inspired by leaflet. How can i get "moveend" event in flutter. I need a callback when user DragEnds/ScaleEnds/ZoomEnds on all these"
Flexible(
                  child: GestureDetector(
                    // onHorizontalDragEnd: (t){print('here i am hshdsh');},
                    onScaleEnd: (t){print('here i am pan end');},
                    child:  FlutterMap(
                        mapController: widget.mapController,
                        options: MapOptions(
                          allowPanningOnScrollingParent: tr

[2022-03-28 10:41] mourner commented on #8092
This is a place for reporting Leaflet issues. Please use StackOverflow for asking help with your app.

[2022-03-28 10:41] #8092 closed

[2022-03-28 13:52] UsamaAndroid commented on #8092
I am done with it thanks

[2022-03-30 06:51] Eschon commented on #3575
Leaflet 1.8 is on its way and sadly it breaks the workaround of increasing tile size. The reason is #7872. Because of the performance implications it is probably sensible to remove `will-change` however you can just add it back to make the workaround function again:

[code]

Another solution that I have found working is the `box-shadow` approach mentioned by @href. It doesn't work on its own for m

[2022-03-30 10:13] alexandis commented on #5914
For me, this does not work at all, I always see a whole world map:

[code]

Bounds are correct.

Could it be because Google Cloud billing is NOT enabled? I just want to test API so far, but without features like `fitBounds` the component is useless...

[2022-03-31 03:31] TurtIeSocks commented on #8068
Any luck with this? Or anything I can help troubleshoot? My issue on React Leaflet was mentioned above includes a minimum codebase to reproduce, if that helps.

[2022-03-31 05:27] siimots commented on #8068
I guess we have to wait for iOS 15.4.1 not much to do here.
I have submitted bug report at Apple Feedback Assistant.
Maybe you can submit it too with your app url so they know it is problem for many users.

https://feedbackassistant.apple.com/

[2022-03-31 05:38] Falke-Design commented on #8068
@TurtIeSocks yes we need to wait for the next IOS release. No one of the maintainers has an IOS Phone. If it is a long term problem, we need to look for a solution

[2022-03-31 10:32] mourner opened #8101 "Vectors animations getting stuck on rapid zoom"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported (maybe #3249 is related?)

**Steps to reproduce**

Zo

[2022-03-31 10:59] d3netxer commented on #2214
yes it is possible, teastman added a geojson pattern example on this issue you linked to: https://github.com/teastman/Leaflet.pattern/issues/3

[2022-03-31 12:10] IvanSanchez commented on #8101
@mourner Nope, it's the first time I notice this. Right now I'm suspecting it's due to a `L.Renderer` calling `_update` in between a CSS zoom animation, i.e. between the `zoomstart` and `zoomend` events.

SVG renderers do an `_update()` on `moveend` but also on `zoomstart` (due to https://github.com/Leaflet/Leaflet/pull/3950). I wonder if there's some race condition between those events. Maybe som

[2022-03-31 13:36] mourner commented on #8101
Also, it's reprodicible on Safari, but not Firefox, so looks like it might be triggering some Webkit/Blink CSS anim bug.

[2022-03-31 14:26] IvanSanchez commented on #8101
I can reproduce it on Firefox 98 on Linux.

[2022-03-31 20:03] Falke-Design commented on #8101
I think a good sultion would be to check for now if it is IOS and for 1.8.1 removing it completley

[2022-03-31 20:09] mourner commented on #8101
@Falke-Design I'd like to include this in v1.8.0. Seems like a quick fix either way and we've localized it.

[2022-03-31 20:18] mourner commented on #8101
Poked at it on my iPhone for some time and I can't reproduce any issues after removing the hack apart from #7401. So let's just remove it for now and see if any issues pop up.

[2022-03-31 20:20] IvanSanchez commented on #8101
It's always nice to find some weird piece of code to armor against an obscure edge case, asking oneself "but why did we do this?"... and then being able to answer "Oh, *that*'s why".

I agree with removing the `animframe` and seeing if there's complaints from the iOS front.

[2022-03-31 21:54] mourner commented on #8101
Still happening in FF/Linus and occasionally Chrome/Mac, so will need further experiments.

[2022-04-01 20:26] xavidram commented on #8076
Just wanted to place a comment here. Figured out the issue. This is due to zone.js and how it handles change detection. All events in angular that need to be handled independently should be handled outsize of zone.js like the library ngx-leaflet. The use of [mapbox-gl-leaflet](https://github.com/mapbox/mapbox-gl-leaflet) and how it handles events caused the rubberbanding. Hope this helps anyone el

[2022-04-02 11:56] Malvoz commented on #7822
Azure Maps use [visually hidden elements](https://webaim.org/techniques/css/invisiblecontent/#offscreen) (they happen to use popups, but that's probably not desirable for Leaflet) to enable keyboard and screen reader accessibility for vectors in their [Shape Selection sample](https://samples.azuremaps.com/popups/accessible-shape-selection):

![azure-accessible-shapes](https://user-images.githubuse

[2022-04-03 08:52] dravnic commented on #6101
here is a workaround we did based on the idea of increasing tile size. this workaround increase tile size only during animations, so while map is at rest there are no visual glitches due to the minor tile overlap.

for 256px tiles:
`
.leaflet-pan-anim .leaflet-tile,
.leaflet-zoom-anim .leaflet-tile {
    width: 256.5px !important;
    height: 256.5px !important;
}
`

for 512px tiles:
`
.leaflet-pa

[2022-04-03 09:24] Falke-Design commented on #6101
I close this because it is a duplicate of #3575.

@dravnic the animation workaround is a good idea, can you please post it in #3575 again.

[2022-04-03 09:24] #6101 closed

[2022-04-03 09:44] dravnic commented on #3575
here is a workaround we did based on the idea of increasing tile size. this workaround increase tile size only during animations, so while map is at rest there are no visual glitches due to the minor tile overlap.

for 256px tiles:
[code]

for 512px tiles:
[code]

as tile size is set during layer initialization maybe a general solution would be to setup such css animation override per layer during

[2022-04-03 10:17] Malvoz commented on #3575
I think it should be sufficient to target the dimensions in the `style` attribute, for example for @dravnic's workaround above:

[code]

It'd be cleaner if tiles used `width` and `height` attributes to set tile sizes, but maybe there's a good reason that's not the case.

[2022-04-03 12:28] Malvoz commented on #4737
@jonkoops would you like to take a look at this, please?

[2022-04-04 01:56] JoueBien commented on #6552
there is definitely something nasty going on. Things like new LatLng hang with the same window definition issue. Which I can get around with:
[code]
The libraries is great but it feel really dated to work with - the web has moved on.

[2022-04-04 14:48] Malvoz opened #8111 "Show tooltips on focus"
**Is your feature request related to a problem? Please describe.**

Tooltips are toggled visible if the element that is bound to it is hovered, but not on focus.

The current behavior doesn't allow keyboard-only users to access tooltips. To confirm this behavior:

1. Go to `debug/map/tooltip.html`
2. Focus any marker that does not have its tooltip initially visible

**Describe the solution you'd l

[2022-04-04 14:52] Malvoz opened #8112 "Tooltips should be (reliably and deliberately) announced to screen reader users"
**Is your feature request related to a problem? Please describe.**

When tooltips are toggled visible they're not reliably announced by screen readers.

This is because screen readers generally don't announce elements on DOM updates or changes to CSS (e.g. `display`).
(I.e. https://github.com/Leaflet/Leaflet/issues/8111 doesn't help the case for screen reader users.)

(I say "not _reliably_ announ

[2022-04-04 14:54] Malvoz opened #8113 "Logical focus order between markers and popups"
_Raising this issue on behalf of @timveld._

**Is your feature request related to a problem? Please describe.**

The focus order ("tab order") between markers (or other elements bound to popups) and popups is not logical.

This is due to markers and popups existing in different subtrees of the DOM (`leaflet-marker-pane` and `leaflet-popup-pane`).

A [logical focus order is desirable](https://www.w

[2022-04-04 14:56] Malvoz commented on #8113
Regarding the proposed solution:

A proper DOM order is very important, however I believe it would require a big architectural change that will potentially impact a lot of other things that may seemingly be unrelated at a quick glance, so I'm not sure it is realistic. At least not in the short term.

[2022-04-04 14:59] Malvoz opened #8114 "Focus shifts to `leaflet-container` after activating markers when using a screen reader"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**

1. Go to [quick-start/exampl

[2022-04-04 15:02] Malvoz opened #8115 "Focus management between markers and popups"
**Is your feature request related to a problem? Please describe.**

1. Popups are not reliably announced by screen readers after they've been opened
   (they _may_ be announced as a side effect of https://github.com/Leaflet/Leaflet/issues/8114, depending on the screen reader).

2. No logical focus order between elements (e.g. marker) and popups
   (this would be more reliably solved by https://git

[2022-04-04 15:03] #2199 closed

[2022-04-04 15:08] Malvoz opened #8116 "Discern interactive markers from non-interactive markers"
**Is your feature request related to a problem? Please describe.**

`role="button"` informs screen reader users that it is an interactive element, and that they can expect something to happen once activated.

The role is currently set unconditionally on markers (introduced in https://github.com/Leaflet/Leaflet/pull/7895, allows screen reader users to activate markers).

**Describe the solution you

[2022-04-04 15:28] mourner opened #8117 "Cover vector drift issue with tests"
https://github.com/Leaflet/Leaflet/pull/8103 fixes a long-standing issue with vector drift on pinch zoom, but a test designed for it (from https://github.com/Leaflet/Leaflet/pull/7965) fails to reflect what happens in practice for some reason (quoting @Falke-Design):

![rectangle_pinch](https://user-images.githubusercontent.com/19800037/161381712-1ed82dbe-0ce6-4776-9a2c-ddb7c5699f8e.gif)

We need

[2022-04-04 15:28] #6395 closed

[2022-04-04 15:28] #7401 closed

[2022-04-04 15:28] #6099 closed

[2022-04-04 15:28] #7466 closed

[2022-04-04 16:16] mourner commented on #6099
Please check out the latest beta https://github.com/Leaflet/Leaflet/releases/tag/v1.8.0-beta.3 and see if everything's resolved?

[2022-04-04 16:16] mourner commented on #7401
Can you please check out the latest beta https://github.com/Leaflet/Leaflet/releases/tag/v1.8.0-beta.3 and see if everything's resolved?

[2022-04-04 17:15] siimots commented on #8068
iOS 15.4.1 did not fix it.

But now I tested with new beta release v1.8.0-beta.3 and now controls don't get hidden under tile layer.
https://github.com/Leaflet/Leaflet/pull/8102 maybe it fixed it?

[2022-04-04 23:30] SpencerKaiser commented on #7255
Any updates on ETA? I just spent 30 minutes debugging this only to stumble upon this issue after tracing it back to the `Marker` `onClick` 😅

[2022-04-05 04:42] stephenspol commented on #8117
Is #7407 related?

[2022-04-05 06:44] Falke-Design commented on #7407
@stephenspol yes this is also fixed. Thank you.

Here the example with the newest 1.8.0-beta.3: [example](https://gist.githack.com/Falke-Design/b07ece1a0363437e85974a8b75eedd54/raw/d1ab06a0ee1205bbc82a95c5b0b4cc30adc3f566/index.html)

[2022-04-05 06:44] #7407 closed

[2022-04-05 07:18] indigoxela commented on #3575
As only (some) webkit browsers seem affected, it's also possible to limit the style to these by wrapping in:
[code]

I tested the approach with only setting the increased size while animating, but there seems to be a tiny side effect: when animations are done, there's a minimal move (as if the tiles "sit down").

I can't test Safari (nor IOS), so here's a demo: http://olga.indigofloat.at/bugdemo/d

[2022-04-05 08:08] mourner commented on #7255
@SpencerKaiser can you try `leaflet@beta`?

[2022-04-05 09:14] plotaroute commented on #8068
We've had a few users reporting this issue too with our route planners, using Safari 15.4 on both desktop and mobile:

Desktop: https://www.plotaroute.com/routeplanner
Mobile: https://www.plotaroute.com/mobile/routeplanner

We haven't been able able to reproduce it though, so it does seem to be very intermittent and dependent on some set of circumstances that we haven't yet been able to identify.

[2022-04-05 09:44] siimots commented on #8068
I changed controls z-index to 999999 manually in safari developer tools (usb connection to phone) and controls still stayed under tile layer.

[2022-04-05 10:15] siimots commented on #8068
Webkit Bugzilla: https://bugs.webkit.org/show_bug.cgi?id=238589

[2022-04-05 12:35] #8041 closed

[2022-04-05 12:45] Malvoz commented on #7632
https://github.com/Leaflet/Leaflet/issues/3210#issuecomment-95030940 suggests it was used to make screen readers on iPad ignore images. Though it's impossible to tell if they tested a Leaflet version where tiles already had an empty `alt` (that would make them decorative) or not, as [the bug report](https://github.com/Leaflet/Leaflet/issues/3210) did not include the version(s) tested. The bug repo

[2022-04-05 14:24] SpencerKaiser commented on #7255
@mourner one of the devs on my team (@joswayski) is still looking into it but he did find this one _breaking change_... looks like the Ukrainian flag is misaligned 🤣 Want us to open new issue for that?

Also do yall have an eta on the next release? I'm fine using the beta build for now, but I'm worried about future releases breaking us, so I'm nervous about checking that in as permanent fix.

![im

[2022-04-05 14:35] mourner commented on #7255
@SpencerKaiser yes, please make an issue or at least a minimal reproducible live test case! Seems like some kind of CSS conflict.

[2022-04-05 14:35] mourner commented on #7255
ETA a few days. Very likely at the end of the week.

[2022-04-05 14:36] Falke-Design commented on #3575
Is not working while zooming out in Chrome.

[2022-04-05 14:55] Malvoz commented on #7944
Test case: https://plnkr.co/edit/1Hl2n2i71oxJzLvn

The problem is that if the layer control is completely covered by something, it can't be interacted with, and as such the user wont be able to uncover it. The only robust solution is to:

but that assumes the layer control is always in the top right corner...

[2022-04-05 15:18] SpencerKaiser commented on #7255
The `off topic` police are going a bit overboard here 🙄 the comment directly above this one is _**directly related**_ to this issue...

[2022-04-05 15:19] Malvoz commented on #7255
👮

[2022-04-05 16:37] Malvoz commented on #8116
While markers can toggle tooltips on click, they should already be showing on focus (per https://github.com/Leaflet/Leaflet/issues/8111), so:

<ins>`role="button"` wouldn't be necessary on markers that _only_ bind to tooltips (could even be undesirable).</ins>

(There are quite a few issues open now, that I think together help define/enforce the unique characteristics of tooltips (https://github.c

[2022-04-06 09:51] jonkoops commented on #8116
+1 This sounds like an excellent idea.

[2022-04-06 12:12] Falke-Design commented on #8068
@mourner can you test it on your mac?

I tested it with the [example from the tutorial](https://leafletjs.com/SlavaUkraini/examples/layers-control/example.html) on a IPhone and it happened too.
I didn't find a step by step instructions to reproduce but mostly it happened after zooming fully out and zooming / moving while loading. Maybe we have more luck with debugging on a mac.

[2022-04-06 12:37] Malvoz commented on #8068
I just want to note that I experienced the same issue on Windows using Chrome in the [`<mapml-viewer>`](https://github.com/Maps4HTML/Web-Map-Custom-Element) component which uses Leaflet, in one of the following experiments: https://maps4html.org/experiments/.

This was about a year ago. I can't reproduce it now, although at the time it was very easily reproducible. I never got around to file a bug

[2022-04-06 13:06] jspraul opened #8121 "leaflet.css - Unexpected duplicate selector (SonarQube Major Code Smell x8)"
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the behavior:
- run [SonarQube](https://www.sonarqube.org/) static code analysis on leaflet.css

**Expected behavior**
No (simple) SonarQube

[2022-04-06 20:33] Malvoz commented on #8121
In some cases selectors are duplicated for developer convenience, for readability, for example:

https://github.com/Leaflet/Leaflet/blob/7847cc6913c296fb7e409e086a57366237c42728/dist/leaflet.css#L253-L255

https://github.com/Leaflet/Leaflet/blob/7847cc6913c296fb7e409e086a57366237c42728/dist/leaflet.css#L268-L269

In some cases not:

https://github.com/Leaflet/Leaflet/blob/7847cc6913c296fb7e409e086

[2022-04-06 21:19] Malvoz commented on #7704
Thanks everyone for your input.

Just so we don't miss anything important (let me know if I did), here's a brief summary:

- [x] Scheduled/periodic meetings are not helpful to already overloaded maintainers!
- [x] Potential codebase modernization and other big breaking changes: https://github.com/Leaflet/Leaflet/discussions/7729.
- [x] "Automate as much release routine as possible". I believe ther

[2022-04-07 12:14] TurtIeSocks commented on #8068
I couldn't reproduce on a Mac but back when I first opened the React Leaflet issue, I hooked up a 15.4 iPad to a Mac and opened up the dev tools. My best guess is that the bug/issue is related to the new Cascade Layers.

https://webkit.org/blog/12445/new-webkit-features-in-safari-15-4/

You can open up the new layers dev panel and see UI components going in and out as you pan/zoom around a Leaflet

[2022-04-07 16:29] #7579 closed

[2022-04-07 20:44] carlshe opened #8124 "map.fitBounds throws: Invalid LatLng object: (NaN, NaN), but flyToBounds works well with the same bounds"
I faced to the same issue as #5015 : https://github.com/Leaflet/Leaflet/issues/5015.

I happened to this issue with version 1.7.1, and then moved to 1.8.0 beta 1, but it still is there.

I checked the bounds and feel it was well provided. This problem occurs in random. With the same bounds sometime it works well, sometime not. And then I changed the call from map.fitBounds to map.flyToBounds, it w

[2022-04-07 20:57] paulatthehug opened #8125 "On latest Firefox scroll wheel zooms map two zoom levels"
**Steps to reproduce**

- go to any leaflet map (e.g. the default one in the plunker or any of the examples in the documentation) using Firefox 99.0
- use the scroll wheel to zoom
- the map jumps two zoom levels each time instead of one.

**Environment**
- Leaflet version: 1.7.1 (also 1.8.0-beta.1)
- Browser: Firefox 99.0 (64 bit)
- OS/Platform (with version): Linux (Ubuntu 18.04) or Windows 10

T

[2022-04-07 21:07] paulatthehug commented on #8125
BTW I'm raising this on Leaflet rather than on Mozilla as our other apps, using <whisper>OpenLayers</whisper> are not exhibiting this behaviour so it seems to be related to the way Leaflet is servicing scroll wheel events from Firefox.

[2022-04-07 21:11] IvanSanchez commented on #8124
There's `_cellCoordsToBounds` in the error stack, which tells me that you're using esri-leaflet.

[2022-04-07 21:11] #8124 closed

[2022-04-07 21:21] IvanSanchez commented on #8125
Can confirm.

We need to double-check the `getWheelDelta` behaviour at https://github.com/Leaflet/Leaflet/blob/7847cc6913c296fb7e409e086a57366237c42728/src/dom/DomEvent.js#L252-L266

[2022-04-07 23:01] carlshe commented on #8124
Thanks! yes, you're right.
It should be of esri-leaflet. If map zoomed, the esri layer responded with mistake in random. If I switched esri layer off, it became ok.

[2022-04-07 23:13] clavijojuan opened #8126 "Export Leaflet Layer as ESRI Shapefile"
Hi, i have been trying along of time to export a leaflet layer as Esri Shapefile but I have not succeeded.

 I tried to use this [library ](https://github.com/mapbox/shp-write) but it doesn't works. So, i want to ask if is possible to add this feature or someone can help me.

Thanks

[2022-04-07 23:44] IvanSanchez commented on #8126
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https://gis.stackexchange.com/questions/tagged/leaflet) or [stackoverflow](https://stackoverflow.com/questions/tagged/leaflet).

If you are *really* sure that this is a bug in leaflet, or a feature re

[2022-04-07 23:44] #8126 closed

[2022-04-08 00:19] Malvoz commented on #7668
Related / potentially duplicate of #6226.

[2022-04-08 04:37] Falke-Design commented on #6226
Duplicate of #4484

[2022-04-08 04:37] #6226 closed

[2022-04-08 04:37] Falke-Design commented on #7668
Duplicate of #4484

[2022-04-08 04:37] #7668 closed

[2022-04-08 07:26] Falke-Design commented on #7465
@darrenklein Can you please check out the latest beta https://github.com/Leaflet/Leaflet/releases/tag/v1.8.0-beta.3 and see if it is resolved?

[2022-04-09 16:14] #7952 closed

[2022-04-10 03:18] darrenklein commented on #7465
@Falke-Design I'd love to be able to test this in my project, but I'm having a bit of a difficult time getting the dependency installed in my existing project - my apologies, I'm actually not much of a front-end dev, and the intricacies of `yarn` and the nested dependencies of NPM modules are all a little mysterious to me. My project has several dependencies that themselves all depend on Leaflet,

[2022-04-10 04:27] pcpatfire opened #8130 "updating the popup content on popupopen"
I'm trying to update the popup content associated to a marker (in the `pointtolayer` function when adding a GeoJSON overlay) in the `popupopen `event handler, with the following code:
[code]
The first time I click on a marker the popup content is not updated. If I click again, while the popup is open, the popup content is updated.

Using the debugger, I noticed that also during the first click eve

[2022-04-10 05:04] Falke-Design commented on #7465
No problem, let us try it with plunkr.
First your sample, does it still fire the click event?: https://plnkr.co/edit/K0zFAtZDzez9ebaP?preview
Then the 1.8.0-beta.3 Version:https://plnkr.co/edit/v3bfqlGQ20OQUXyH

[2022-04-10 05:11] Falke-Design commented on #8130
Is working fine for me: https://plnkr.co/edit/q9Eo7elzRUoKcNP3
Are you sure that you are using Leaflet Version 1.7.1 or newer?

[2022-04-10 06:27] pcpatfire commented on #8130
Yes, I am using Leaflet Version 1.7.1.

In my code  I'm defining the marker popup in the function passed to the `pointToLayer` option  of `L.GeoJson()`.
Can this make the difference?

[2022-04-10 06:44] Falke-Design commented on #8130
Please share your code and if possible make a demo here: www.leafletjs.com/SlavaUkraini/edit.html

[2022-04-10 09:48] Malvoz commented on #8125
Related / potentially duplicate of https://github.com/Leaflet/Leaflet/issues/7403.

[2022-04-10 12:43] Malvoz commented on #2164
Looks like people are still experiencing style recalculations due to `leaflet-dragging` on `<body>` (even though the class doesn't set any styles on the body itself).

https://web.dev/reduce-the-scope-and-complexity-of-style-calculations/:

Re https://github.com/Leaflet/Leaflet/issues/2164#issuecomment-478572976:

The [concern](https://github.com/Leaflet/Leaflet/issues/2164#issuecomment-27944701)

[2022-04-10 13:28] IvanSanchez commented on #8130
It might be either to a user's error by now keeping track of the variables involved (I'm kinda tired of linking to an explainer of how JS closures work), or it might be due to Leaflet firing the `popupopen` event before the container has been actually added to the DOM (but then, a `getElementById()` call would return `undefined`, and something should throw an error).

In any case:  the container f

[2022-04-10 13:55] darrenklein commented on #7465
@Falke-Design thank you! Yes, I can confirm that this issue has been resolved in the 1.8.0-beta.3 release. I tested Safari, Chrome, and Firefox on iOS, but could not reproduce the issue (it did still occur on 1.7). Many thanks to you and the Leaflet team!

[2022-04-10 14:10] Falke-Design commented on #2164
We need consider that maybe some plugins add styles over `leaflet-dragging`

[2022-04-10 14:14] Falke-Design commented on #7465
Nice thank you for testing!

[2022-04-10 14:14] #7465 closed

[2022-04-11 04:00] pcpatfire commented on #8130
Probably it is "not a Leaflet bug", but i fixed my problem doing something "strange" with a Leaflet marker method:
[code]
I just added the line `this.setPopupContent();` after popup content update, which shouldn't (?) do anything... but it is actually doing something, in Falke-Design's demo too. In fact the popup rendering is different, with or without that call.
I don't know why, maybe someone ca

[2022-04-11 05:58] Falke-Design commented on #8130
This Your suggestion is very tricky and not a clean workaround.

**Why is happening?**
Leaflet defines the size of the popup based on the content, but you changing the DOM directly without letting Leaflet know, that the content has changed, because of this the width of the container is not growing.
When you call `setPopupContent()` the caclucation for the size of the container is triggered but wit

[2022-04-11 05:58] #8130 closed

[2022-04-11 08:22] Falke-Design opened #8131 "Popup should have a min-height"
The close button overflows the popup container if the container is empty:

![grafik](https://user-images.githubusercontent.com/19800037/162693049-187cd57f-6e05-4ab6-af11-6f83da77e72c.png)

[code]

[2022-04-11 10:11] paulatthehug commented on #8125
If anyone wants a quick and dirty fix for now then this (where `mapObj` is your map):

`mapObj.on('zoomstart',  function(evt) { evt.target.options.wheelPxPerZoomLevel = 120; });`

seems to make the problem go away without breaking anything else.

Tested on Win10/Edge, Win10/Firefox, Linux/Chrome, Linux/Firefox, Linux/Waterfox, MacOS/Safari, ChromeOS/Chrome

[2022-04-11 11:30] #7787 closed

[2022-04-11 14:58] Falke-Design commented on #8131
Hi @MassiGy,

thank you for your suggestion but it should be a "static" value in the leaflet.css file.

The problem with your approach is that it needs to be explicit set, which will result in not adding the option because normally a popup has content and then the option `minHeight` is not needed. And if then the case happens that it has no content, the option `minHeight` is not set.

[2022-04-11 15:15] Malvoz commented on #8131
@MassiGy You could utilize the [`:empty`](https://developer.mozilla.org/en-US/docs/Web/CSS/:empty) pseudo-class. Also, the `min-height` doesn't have to be that excessive. Use the smallest `min-height` that would fix the issue.

@Falke-Design Is it really necessary to fix this? Seems like an enhancement for development only. If popups are empty in production that's the wrong use of a popup.

[2022-04-11 15:20] Falke-Design commented on #8131
It's not important but I think it would be good to have it, because it is clearly an UI topic which comes from Leaflet.

[2022-04-11 18:23] pcpatfire commented on #8130
You are right that it was a very tricky suggestion. But I found a workaround with a correct usage of the API.

[code]
I add a wrapper to the previous popup content and then I pass the `innerHTML `of the wrapper to `setPopupContent`. Now Leaflet knows the DOM changed and getContent is working properly.
Check the demo here: https://plnkr.co/edit/egZnvbHMjPAK1gHY

[2022-04-12 15:52] ansh-ag commented on #8131
Looks like a straight forward change, picking this up guys.

[2022-04-12 16:15] #8131 closed

[2022-04-13 07:31] indigoxela commented on #3575
Another CSS approach: `mix-blend-mode: darken;`

Currently my personal favorite. Here's another [demo to compare](http://olga.indigofloat.at/bugdemo/demo-chrome-2.html).
I'm aware that it's still not perfect, but better than the size hack - which has side-effects.

Safari / IOS users please report your findings - ideally with a little more words than "not working" :wink:

[2022-04-13 08:07] Falke-Design commented on #3575
In my Win10 Chrome (100.0.4896.75) is no difference 😕

[2022-04-13 08:32] indigoxela commented on #3575
@Falke-Design so both maps behave exactly the same when you grab and push sidewards / up / down? What exactly do you see? Flickering gaps while the animation takes effect?

[2022-04-13 08:47] Malvoz opened #8137 "`data-` prefix `anchor` attribute in docs"
The OpenUI is working on standardizing popups for the web, and they're proposing an [`anchor`](https://open-ui.org/components/popup.research.explainer#anchoring-the-anchor-attribute) attribute.

It'd be best to [`data-`](https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/data-*) prefix the "custom" attribute:

https://github.com/Leaflet/Leaflet/blob/c94faa201a916fbf48e30156179d78a

[2022-04-13 09:21] indigoxela commented on #3575
So let's try to combine mix-blend-mode and will-change. But only for Webkit to prevent a performance regression for other browsers that don't have that gap-bug.

Another [demo](http://olga.indigofloat.at/bugdemo/demo-chrome-3.html). For me adding `will-change` doesn't change anything (Chromium / Linux), but maybe for Win10 / Chrome this works better.

[2022-04-13 10:35] Falke-Design opened #8138 "Redirect to the wanted site"
If someone opens the url https://leafletjs.com/examples/quick-start/ it redirects to the ukraini index.md (which is correct).
Now it would be nice to keep the original path and redirect to it after clicking `over here` instead of going to the startpage.

1. `https://leafletjs.com/examples/quick-start/`
2. shows ukraini index.md
3. click `over here`
4. redirects to `https://leafletjs.com/SlavaUkrai

[2022-04-13 13:01] Falke-Design commented on #7810
@mourner I think we should release 1.8 with the end of this week. What do you think?
There is no fast solution for #3575, which is in the 1.8 milestone

[2022-04-13 16:45] raphael10-collab opened #8139 "Suddenly I'm getting this error message: Failed to load resource: the server responded with a status of 403 ()"
Suddently I'm getting this error message,  strange  to me since I haven't been touching the map part :

    Failed to load resource: the server responded with a status of 403 ()

Searching for a clue I found this outdated info:
https://ninio.ninarski.com/2014/06/18/leaflet-tiles-failed-to-load-resource-the-server-responded-with-a-status-of-403-forbidden/

But I'm aleady using `openstreetmap` as ti

[2022-04-13 17:36] mourner commented on #8139
We're not able help, because you haven't provided us with a reproducible live test case. Generally it seems to be a server-side issue, not anything to do with Leaflet, so closing.

[2022-04-13 17:36] #8139 closed

[2022-04-13 17:51] IvanSanchez commented on #8139
Hi, great to hear that you find Leaflet useful!

However, this issue tracker is used for reporting bugs and discussing new features. For questions on using Leaflet, please use [gis.stackexchange.com](https://gis.stackexchange.com/questions/tagged/leaflet) or [stackoverflow](https://stackoverflow.com/questions/tagged/leaflet).

If you are *really* sure that this is a bug in leaflet, or a feature re

[2022-04-13 20:23] Falke-Design opened #8140 "Rectangle tests are missing"
There is not much difference to a polygon but the initalization and `setBounds` should be tested.

https://leafletjs.com/SlavaUkraini/reference.html#rectangle

[2022-04-14 08:31] raphael10-collab commented on #8139
@IvanSanchez  I filled my post with all related code. Please feel free to have a look at it, and give me your feedback :
https://stackoverflow.com/questions/71861153/leaflet-suddenly-im-getting-this-error-message-failed-to-load-resource-the

[2022-04-14 11:07] plotaroute commented on #8068
We think we may have found a workaround for this. As it's an intermittent problem we can't be 100% sure, but after adding the following css to the page the problem seemed to go away:

.leaflet-control-container .leaflet-top, .leaflet-control-container .leaflet-bottom {
	transform: translate3d(0px, 0px, 0px);
}

We have a few other DOM elements (outside of the leaflet map container) that are positi

[2022-04-14 11:45] artir3 opened #8141 "Missing FeatureCollection case in the leaflet/GeoJSON.geometryToLayer switch."
Missing FeatureCollection case in the [leaflet/GeoJSON.geometryToLayer](https://github.com/Leaflet/Leaflet/blob/main/src/layer/GeoJSON.js
) switch.

Current version throws error, when i provided "FeatureCollection" type.

`

  	case 'GeometryCollection':
  		for (i = 0, len = geometry.geometries.length; i < len; i++) {
  			var layer = geometryToLayer({
  				geometry: geometry.geometries[i],

[2022-04-14 11:59] siimots commented on #8068
Thank you!

@plotaroute, can you make PR for it. I think it great simple fix.
Looks like there will be 1.8.0 release soon, so it would be nice to have it included.

[2022-04-14 13:36] Malvoz commented on #8068
@Falke-Design from https://github.com/Leaflet/Leaflet/discussions/8044#discussioncomment-2539739:
https://dev.opera.com/articles/css-will-change-property/#the-old-the-translatez-or-translate3d-hack

[2022-04-14 13:49] Falke-Design commented on #8068
@Malvoz Thank you! I searched 15 minutes ... 😄

@plotaroute can you please try to use:
[code]

[2022-04-14 14:46] jinchun-wang commented on #8125
We have the same issue.

Can we check the zoomDelta in the following method of leaflet.js?

	_performZoom: function () {
		...

        if (!delta) { return; }

        // Fix the issue - https://github.com/Leaflet/Leaflet/issues/7403
        if (Math.abs(delta) > map.options.zoomDelta) {
            delta = delta > 0 ? map.options.zoomDelta : -map.options.zoomDelta;
        }

  		if (map.options

[2022-04-15 06:57] jinchun-wang commented on #7403
We also have the issue on firefox with the fix.

It's really fixed if I add a check in the following file

Leaflet/src/map/handler/Map.ScrollWheelZoom.js

 _performZoom: function () {
    ...
    if (!delta) { return; }

	// Check if delta is bigger than zoomDelta for firefox
    var zoomDelta = map.options.zoomDelta;
    if (Math.abs(delta) > zoomDelta ) {
      delta = delta > 0 ? zoomDelta : -z

[2022-04-15 07:11] Falke-Design commented on #8125
I closing this because of duplicate of #7403

[2022-04-15 07:11] #8125 closed

[2022-04-15 07:13] Falke-Design commented on #7403
@jinchun-wang you added
[code]
correct?

[2022-04-15 07:15] jinchun-wang commented on #7403
Yes

[2022-04-15 08:00] Falke-Design commented on #7403
@jinchun-wang thank you for your idea but it is not a good workaround, because it destroys fast scrolling.

@IvanSanchez was on the right way. The problem is that Firefox changed from line scrolling to pixel scrolling like Chrome.

_Originally posted by @IvanSanchez in https://github.com/Leaflet/Leaflet/issues/8125#issuecomment-1092210598_

We need to adjust the logic for Firefox and make it same

[2022-04-15 08:03] Falke-Design commented on #7403
Windows:
- Chrome 100:
[code]

- Firefox 99:
[code]

- Edge 100:
[code]

[2022-04-15 09:40] jinchun-wang commented on #7403
Thanks for sharing the info.

Here is my case:

Use Virtual Machine with Windows 11

2 screens : small one and big one with the same resolution
The result is same for the 2 screens

NOK - 2 zoom steps on Firefox - v99.0.1 (64-bit)
window.devicePixelRatio = 1
win = true
chrom = false
gecko = true

deltaMode: 0
deltaX: 0
deltaY: -102
deltaZ: 0
detail: 0
wheelDelta: 120
wheelDeltaX: 0
wheelDeltaY: 12

[2022-04-15 09:47] Falke-Design commented on #8141
@artir3 can you please share a sample geojson

[2022-04-15 09:54] Falke-Design commented on #8007
@Mushr0000m I think it should work if you do following:

[code]

[2022-04-15 09:54] #8007 closed

[2022-04-15 09:55] #7844 closed

[2022-04-15 10:01] Falke-Design commented on #7580
![grafik](https://user-images.githubusercontent.com/19800037/163557727-f33da86e-9353-4751-8757-157fff77ea39.png)

[2022-04-15 10:03] Falke-Design commented on #7580
Do we want to do something? I see not the need of doing it

[2022-04-15 11:19] Malvoz commented on #7580
If anything, it'd be additions/updates to docs.

[2022-04-15 12:25] Falke-Design commented on #7426
_Originally posted by @mourner in https://github.com/Leaflet/Leaflet/issues/7480#issuecomment-985460197_

[2022-04-15 12:25] #7426 closed

[2022-04-15 12:27] #7425 closed

[2022-04-15 14:02] raphael10-collab opened #8142 "Issues with loading and viewing `openstreetmap` tiles : Failed to load resource: the server responded with a status of 403 ()"
As I described in this `StackOverflow` question : https://stackoverflow.com/questions/71861153/leaflet-suddenly-im-getting-this-error-message-failed-to-load-resource-the?noredirect=1#comment126988321_71861153
I'm experiencing issues with loading and viewing `openstreetmap tiles`  :

`Failed to load resource: the server responded with a status of 403 ()`

Based on the info here : https://operations

[2022-04-15 14:47] #7435 closed

[2022-04-15 19:18] IvanSanchez commented on #8142
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-04-15 19:18] #8142 closed

[2022-04-15 20:25] mourner commented on #7403
Thanks for the help tracking this down! If there's a good idea on the fix, I think it would be nice to include in 1.8.0 final as well.

[2022-04-15 21:12] IvanSanchez commented on #7403
@Falke-Design Yes. I can only test with the touchpad at the moment, which triggers big, discrete `wheel` events with a delta of 114px:

Firefox 98.0 @ Linux:
[code]

@mourner The apparent solution would be...

[code]

...but I'd rather get some numbers on Safari first. Can someone get a clicky-wheel USB mouse on a mac and get the `deltaY` of the `wheel` events?

[2022-04-16 08:34] Falke-Design opened #8145 "Missing Map tests"
[Map](https://leafletjs.com/SlavaUkraini/reference.html#map-setview):
- [x] setZoom
- [x] setZoomAround
- [x] fitWorld
- [x] #8365
- [ ] #8366
- [ ] #8367
- [x] setMinZoom
- [x] setMaxZoom
- [ ] #8368
- [ ] #8369
- [ ] #8370
- [ ] #8371
- [ ] #8372
- [x] createPane
- [x] getPane
- [x] getPanes
- [x] getContainer
- [x] getSize
- [x] getPixelBounds
- [x] getPixelOrigin
- [x] getPixelWorldBounds
- [

[2022-04-16 09:06] Falke-Design commented on #7403
@IvanSanchez can you please test Chrome too?

MacBook Air (Retina Screen):

Chrome 100:
[code]

Safari 15.2:
[code]

[2022-04-16 09:24] raphael10-collab commented on #8142
Hi @IvanSanchez ! I'm going to ask clues about this specific issue in the`react-leaflet` github repo.
If they say that it's a problem related to `leaflet` I will have to come back here

[2022-04-16 13:17] cdauth opened #8147 ""Synthetic overlays" plugins section is missing from the docs"
The section "Synthetic overlays" is missing on the Plugins page of the docs. It seems that this section was simply missed when the page was refactored as part of #7805.

[2022-04-16 14:42] #8147 closed

[2022-04-16 17:57] Falke-Design commented on #7476
Duplicate of #4410

[2022-04-16 20:42] HolgerJeromin commented on #3575
demo shows some flashing gaps while pinch zoom on Vivaldi (blink based) on my Android phone.
Not sure if this matters

http://olga.indigofloat.at/bugdemo/demo-chrome-3.html

[2022-04-17 08:26] indigoxela commented on #3575
@HolgerJeromin yes, I think it's relevant, as Vivaldi also seems to be built with the same render engine as Chrome.

Seems like this issue needs a little more time to evaluate the right workaround for the browser bug - one without performance drawbacks.

It might make sense to remove it from the 1.8.0 milestone, otherwise it unnecessarily holds up the release.

[2022-04-18 10:39] mourner commented on #7810
Releasing now. Checklist:

## Releasing a new version of Leaflet

- [ ] Ensure all https://github.com/Leaflet/Leaflet/labels/blocker issues and pull requests are resolved.
- [ ] Update [the changelog](https://github.com/Leaflet/Leaflet/blob/main/CHANGELOG.md) since last release and commit.
- [ ] Run `npm version <patch | minor | major>` (this will bump the version in `package.json` and create a ne

[2022-04-18 10:42] Malvoz commented on #7810
@mourner We should make the flag in the attribution resizable with font-size. I'm about to send a PR, if it's worth waiting for it.

[2022-04-18 10:45] mourner commented on #7810
@Malvoz oops, too late :( Let's move to v1.8.1

[2022-04-18 10:47] Malvoz commented on #7810
That's alright, I'll open an issue for now.

[2022-04-18 11:57] Malvoz opened #8151 "Allow attribution flag to resize with font-size"
The 🇺🇦 flag does currently not scale with font-size changes unlike the rest of the attribution.

`width: 1em` and `height: auto` should be sufficient in allowing the flag to resize with `font-size` changes.

Though `em` is not supported in IE 6-9, so perhaps something like the following is required:

[code]

[code]

The CSS takes precedence over the presentational attributes, allowing the flag to

[2022-04-18 12:05] #7810 closed

[2022-04-18 14:27] #8138 closed

[2022-04-18 16:42] sumitsaurabh927 commented on #8151
Hey @Malvoz I'd like to work on this. Can you please assign me?

[2022-04-18 19:08] IvanSanchez commented on #7403
I've made https://plnkr.co/edit/eecQ7iqySIccbB0X to try and compile info, and:

| What             | Chrome 100, win | Firefox 99, win | Edge 100     | Firefox 99.0.1, win | Chrome       | Firefox 98, linux | Chrome 100, OS X | Safari 15.2  | Firefox 98, linux | Chromium 99, linux |
|------------------|-----------------|-----------------|--------------|---------------------|--------------|--------

[2022-04-18 19:34] maciek-szn opened #8158 "SVG images for marker and layer control"
I'm not sure if it's intended or not - I couldn't find anything about that except for #7600. `src/images` folder contains SVG images for marker and layer control. However, v1.8.0 still uses PNG images.

[2022-04-18 20:16] mourner commented on #8158
It's intended. Why do you need SVG in place of images by default? Images work perfectly fine, they're better for performance, they don't need to be scaled, and they're supported by legacy browsers Leaflet still supports. You can still use custom SVG markers if needed.

[2022-04-18 20:18] Falke-Design commented on #7403
@IvanSanchez yes I used the same [mouse](https://www.amazon.de/zelotes-Gaming-Tasten-Multi-Modi-Gewichtstuning-T90/dp/B07RHYTVMT) as for my windows pc. I added also magic mouse (touchpad) columns

[2022-04-19 00:21] brettfelts commented on #8141
Is this issue still open?

[2022-04-19 01:15] gwacker opened #8159 "Popup close button adding #close hash to URL"
Starting with version v1.8.0, clicking the popup close 'x' button adds #close to the URL

Behavior is reproducible on the leaflet.js website in examples with popups such as:
https://leafletjs.com/SlavaUkraini/examples/quick-start/example.html

Previous to v1.8.0 clicking the popup close button prevented #close hash from being added to the URL

Not ideal for Single Page Applications that rely on ha

[2022-04-19 01:42] IvanSanchez commented on #8159
Can confirm (firefox, linux). Doesn't happen on 1.7.0 (see https://plnkr.co/edit/TFdFTrIxdQXXOccK , make sure to open up the preview in a separate tab).

Doing a `git blame` of the relevant file points at https://github.com/Leaflet/Leaflet/pull/7794 and https://github.com/Leaflet/Leaflet/pull/6639 like the possible culprits of this regression. Not sure if this is something triggered by the ARIA at

[2022-04-19 04:24] sumitsaurabh927 commented on #8151
I'll get started in this! Thanks for assigning me!

[2022-04-19 04:43] Falke-Design commented on #8159
While refactoring, `DomEvent.stop(e)` was removed:

![grafik](https://user-images.githubusercontent.com/19800037/163921537-65170d75-9b42-4606-a22c-fc33ef2105a4.png)

[2022-04-19 06:22] jinchun-wang commented on #7403
Here is my settings

Windows 11
USB mouse
2 display screens : small and big
Dispaly settings - Scale and layout - Change the size of text, apps, and other items - 100% (Recommended)

[2022-04-19 06:48] Falke-Design commented on #4239
Adding a tutorial for `PosAnimation`

[2022-04-19 06:52] IvanSanchez commented on #8159
Ah, so the source of the regression is https://github.com/Leaflet/Leaflet/pull/7439 , I see.

[2022-04-19 08:57] piotr-cz commented on #7951
Warning started to show after upgrading 1.7.1 to 1.8.0 when map has maxBounds defined.
Apparently this has been added in https://github.com/Leaflet/Leaflet/pull/6958

[2022-04-19 10:28] Malvoz commented on #7445
Looks like this was fixed in https://github.com/Leaflet/Leaflet/pull/7469.

[2022-04-19 10:28] #7445 closed

[2022-04-19 10:30] #8140 closed

[2022-04-19 10:56] stephenspol commented on #8145
Can you assign this to me @Falke-Design?

[2022-04-19 10:59] Malvoz commented on #8145
@stephenspol Done! 👍🏼

[2022-04-19 13:09] paulatthehug commented on #7403
Hope these help?

**Chrome 100.0.4896.127 on Linux**

Leaflet: '1.8.0'
Win: false
Gecko: false
Chrome: true
Edge: false
Safari: false
Retina: false
wheelDeltaY: 120
deltaMode: 0
deltaY: -53
deltaX: -0
deltaZ: 0
wheelDelta: 120
detail: 0
devicePixelRatio: 1
Zoom delta: -1

**Firefox 99.0 on Linux**

Leaflet: 1.8.0
Win: false
Gecko: true
Chrome: false
Edge: false
Safari: false
Retina: false
wheelDel

[2022-04-19 13:21] zdila commented on #7403
All on Linux with 4k display:

<details>
  <summary>Click to expand!</summary>

  Vivaldi:

[code]

Chrome:

[code]

Edge:

[code]

Firefox:

[code]
</details>

[2022-04-19 13:27] paulatthehug commented on #7403
Blimey, never occurred to me that I **could** TBH ;-) but I have and here's the result:

User-agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:99.0) Gecko/20100101 Firefox/99.0
Leaflet: 1.8.0
Win: false
Gecko: true
Chrome: false
Edge: false
Safari: false
Retina: false
wheelDeltaY: 48
deltaMode: 0
deltaY: -16

[2022-04-19 13:33] zdila commented on #7403
Macbook with low-dpi display:

<details>
  <summary>Click to expand!</summary>

Firefox:

[code]

Safari:

[code]

Chrome:

[code]

</details>

[2022-04-19 13:59] juedan opened #8162 "Opening PopupBox brings "invalid LatLng object (NaN, 11.3850302945) in LatLng.js:32"
Opening a popup box which is bound to an marker show the following error:

[code]

First, this behaviour is new since Leaflet 1.8.0 and second in the whole data there is no such longitude " 11.385030294575534". I think this is somewhere calculated.
With Leaflet 1.7.1 I don't get this error.

**Environment**
- Leaflet version: 1.8.0
- Browser (with version): Chromium 99.0.4844.84 / FireFox 99.0
- O

[2022-04-19 14:21] Falke-Design commented on #3575
While panning the gaps are gone for me

[2022-04-19 14:27] jonkoops commented on #8159
Added this to the 1.8.1 milestone, looks like a regression we should fix in the next patch release.

[2022-04-19 14:46] Malvoz commented on #6218
The lines you're seeing are borders:

https://github.com/Leaflet/Leaflet/blob/2a60e29ad6f5b11b3ce6be90c34c8f1910a88804/dist/leaflet.css#L538-L542

We should consider removing them.

[2022-04-19 14:55] Malvoz commented on #6218
@cccruzr add the following to your CSS:

[code]

[2022-04-19 15:12] artir3 commented on #8141
`
	"geojson": {
        "type": "FeatureCollection",
        "features": [
            {
                "id": "id",
                "properties": {
                    "description": "description",
					"name": "foo"
                },
                "geometry": {
                    "type": "Point",
                    "coordinates": [
                        139.871126667,

[2022-04-19 18:38] noobyogi0010 commented on #8115
Hey @Malvoz !
I would like to work upon this, if no one else is already on it.
Thanks!

[2022-04-19 18:50] Malvoz commented on #8115
@noobyogi0010 Awesome, I've assigned you this issue. 👍🏼

[2022-04-20 00:03] Sillson opened #8164 "map.flyTo shifts canvas"
Upon upgrading to version 1.8.0, I've noticed new intermittent behavior with the map.flyTo function, where all items on the canvas shift, and the tiles remain stationary. This is fixed after a pan of the map or re-zooming.

**Steps to reproduce**
Steps to reproduce the behavior:
- Set a lat/lng and zoom
- run `map.flyTo()` with a lat/lng that is near the map center (within view) and the same zoom

[2022-04-20 03:11] elvinfucom opened #8165 "Missing /leaflet/dist/leaflet.js in v1.8.0"
I'm curious why  v1.8.0 doesn't have leaflet.js in dist folder?

[2022-04-20 05:14] Falke-Design commented on #8165
Where do you look? `leaflet.js` is existing:

From leaflet Downloads:
![image](https://user-images.githubusercontent.com/19800037/164155120-7b207711-ac54-45cc-86e7-8540d9ddfcfa.png)

[jsDelivr](https://www.jsdelivr.com/package/npm/leaflet?version=1.8.0&path=dist):
![image](https://user-images.githubusercontent.com/19800037/164155170-c59fe0c9-0bde-4b49-8537-178f9755a71a.png)

[2022-04-20 05:45] Falke-Design commented on #8164
[Demo](https://plnkr.co/edit/7bFGAAdzlvQLE75k)

Click multiple times on the Marker-Icon (calls `flyTo`)

[2022-04-20 06:27] elvinfucom commented on #8165
![Uploading Screen Shot 2022-04-20 at 2.24.34 PM.png…]()
I downloaded the zip here.

[2022-04-20 06:29] Falke-Design commented on #8165
@elvinfucom uploading of the image worked not correctly

[2022-04-20 06:31] Falke-Design commented on #8165
@mourner In the [Github Release 1.8.0](https://github.com/Leaflet/Leaflet/releases/tag/v1.8.0) the dist files are missing.

[2022-04-20 06:34] mourner commented on #8165
GitHub Releases in general only provide the source code in downloads. I'm not sure whether we should change that. Leaflet distribution is officially available through NPM and download links on the website.

[2022-04-20 06:34] #8165 closed

[2022-04-20 07:03] elvinfucom commented on #8165
Sometimes it is installed from git repo.

[2022-04-20 07:23] sprout2000 opened #8166 "Warining: "listener not found" in L.imageOverlay@18.0.0"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

After updating to [v18](https://github.com/Leaflet/L

[2022-04-20 07:36] Falke-Design commented on #8166
Thank you for reporting. We have already a fix for this: #8161

Duplicate of #7951

[2022-04-20 07:36] #8166 closed

[2022-04-20 07:38] sprout2000 commented on #8166
Thank you very much.
Sorry for opening duplicate issue.

[2022-04-20 07:40] juedan commented on #8162
Meanwhile I found out that there are more troubles with version 1.8.0 than I have exprected. Please close this issue.

[2022-04-20 07:43] Falke-Design commented on #8162
@juedan Please share your problems, and it would be good anyway if you share the code for this problem. We would like to fix it.

[2022-04-20 08:01] Falke-Design commented on #8162
Have you a online example with that error?

[2022-04-20 08:03] mourner commented on #8164
Looks like this is probably related to `map.getCenter()` returning the same (mutable) object if the map didn't move (`map._lastCenter`), where mutating it leads to all sorts of issues. However, `git blame` shows that this behavior was present for at least 7 years. What could have changed? Might need some git bisecting.

@Sillson which version (that doesn't have the issue) have you upgraded from th

[2022-04-20 08:04] mourner commented on #8164
The workaround for now is to do `map.getCenter().clone()` if you're mutating the object afterwards.

[2022-04-20 09:49] juedan commented on #8162
The next days I will create an code snippet.
Coincidently I found when
[code]
comes up. When the L.Marker attribute "autoPanOnFocus" is set to true, then I get this error message. Turning it off, all works perfect.

[2022-04-20 09:51] Malvoz commented on #8158
I like SVGs, they look great, depending on the implementation they could be easily stylable, and might even save some byte size (e.g. [this icon](https://fonts.google.com/icons?selected=Material%20Icons%3Aplace%3A) is 300 bytes, versus current 1.43 kb).

Also, for v2 I think it's not inconceivable for default controls/icons to get a bit of a face lift? @maciek-szn do you want to suggest this featu

[2022-04-20 09:52] Falke-Design commented on #8115
After closing a popup with the close button, the focus should go back to the marker of the popup

[2022-04-20 10:46] Malvoz commented on #8158
Closing per above comments, feel free to continue discussing here or in https://github.com/Leaflet/Leaflet/discussions/7729#discussioncomment-2599910.

[2022-04-20 10:46] #8158 closed

[2022-04-20 10:52] Malvoz commented on #8073
Related / possibly duplicate of https://github.com/Leaflet/Leaflet/issues/4623, https://github.com/Leaflet/Leaflet/issues/4109.

[2022-04-20 10:52] Malvoz commented on #4623
Is this duplicate of https://github.com/Leaflet/Leaflet/issues/4109?

[2022-04-20 10:53] Malvoz commented on #7770
See also https://github.com/Leaflet/Leaflet/issues/2981.

[2022-04-20 11:05] Falke-Design commented on #8073
Only happens while zooming out

[2022-04-20 11:05] Malvoz commented on #7562
@MengQiu-zl If you're still having this issue, please fill in the necessary information to reproduce it, or file a new bug report.

[2022-04-20 11:05] #7562 closed

[2022-04-20 11:30] Malvoz commented on #8034
@john-sausby I don't understand your last comment. Can you please clarify if this is (still) an issue with Leaflet, or was it an issue with your application that was resolved?

If you're still seeing this issue:

[2022-04-20 11:54] ahmed1107 commented on #3575
Yes I can confirm this is the case for me too. While panning the gaps are gone

[2022-04-20 11:57] #7951 closed

[2022-04-20 12:08] Malvoz commented on #3575
@indigoxela In that workaround I'm seeing the gaps on Windows, Chrome v100.0.4896.127, the only difference is that they're not glitching/flickering while panning (they do on zoom).

@Falke-Design I think we should rename this issue, as it's not limited to WebKit-based browsers?

[2022-04-20 12:16] IvanSanchez commented on #8162
Sounds like a bug introduced by #8042, then.

This sounds more and more like a valid Leaflet bug, but we still need to see a reproducible case of this. I'm curious about the values of the marker icon's `iconSize` and `iconAnchor`, since the calculations applied (get map center, unproject, add/subtract pixel margins, project again) depend on that. Looking at line 536 of `src/map/Map.js` I can see h

[2022-04-20 12:18] Falke-Design commented on #3575
Yes let us rename it, but currently it is working fine for me on Win / Firefox

[2022-04-20 14:04] KnightJam1 commented on #8137
Hi, @Malvoz could I help with this?

[2022-04-20 14:29] indigoxela commented on #3575
@Malvoz Interesting... if you visit that demo again - do you see the red text below the second map? I added some text that should only be visible for browsers that "understand" that hack (Webkit-based ones, which includes Chrome). 100.0.4896.127 - mine has the exact same version. :thinking:

Another question: do both maps behave the same for you, or is there any difference?

BTW: I never had a pro

[2022-04-20 14:41] indigoxela commented on #3575
Ah, now I get it, I misunderstood that at first. That's really odd. Ideas welcome!

[2022-04-20 14:49] Malvoz commented on #8137
@KnightJam1 Is this not a suitable place for discussion? Also, before getting started, have you read [Contributing to Leaflet](https://github.com/Leaflet/Leaflet/blob/main/CONTRIBUTING.md)?

[2022-04-20 15:28] amadeumoromarques opened #8169 "Missing file leaflet.js on directory dist"
I'm trying to download the Leaflet using bower install... But when I downloaded the lib, I didn't see any JavaScript file on this folder... I just have the file "leaflet.css and images folder"... I'm using the newest version 1.8.0 and Angular JS

[2022-04-20 15:46] HolgerJeromin commented on #3575
Perhaps/probably this depends on [devicePixelRatio](https://developer.mozilla.org/en-US/docs/Web/API/Window/devicePixelRatio) of the device.

[2022-04-20 15:51] KnightJam1 commented on #8137
Hi again, I've looked into data-* attributes, anchors and Element.setAttribute(), and have made a change (renaming 'anchor' to 'data-anchor') to try and solve the issue, but I'd like to test how it works. Following the guidance in CONTRIBUTING.md, I have run npm test, npm run rollup and looked at spec/index.html, however I'm not sure if these tests are testing the anchor script. Do you know how I

[2022-04-20 15:53] mourner commented on #8169
I'm surprised to learn Bower still exists (please use NPM instead!), but anyway, we can automate adding Leaflet distribution as a download to GitHub Releases (cc @jonkoops), but we're definitely not going back to committing the dist files to the repo for the release tags like we used to — it led to so many problems, and it's generally not how JavaScript libraries are distributed these years.

[2022-04-20 16:03] #8169 closed

[2022-04-20 16:25] Sillson commented on #8164
@mourner v1.6.0 did not exhibit this behavior.

[2022-04-20 16:31] noobyogi0010 commented on #8115
@Malvoz
Cool, I will get started on it.

[2022-04-20 16:35] jmorrison1847 opened #8170 "Ukrainian Flag in attribution offset by 1px in Chrome on a Mac"
**Steps to reproduce**
Steps to reproduce the behavior:
- Navigate to any Leaflet map, but if you want to reproduce this _exact_ example, [go to this map in particular](https://radiantearth.github.io/stac-browser/#/external/stac.satellitevu.com/satellitevu-public/collection.json).
- Look at that
<img width="236" alt="Screen Shot 2022-04-20 at 11 14 17 AM" src="https://user-images.githubusercontent

[2022-04-20 16:51] noobyogi0010 commented on #8115
@Malvoz
One doubt. I have installed the dependencies into my local machine. Can you tell me how can I run the app locally?
Thanks!

[2022-04-20 16:52] #8170 closed

[2022-04-20 16:56] Falke-Design commented on #8115
You need to open a Terminal in the root of your project and run `npm run watch` which generates the `leaflet-src.js` file in the `dist` folder. For testing you can open `/debug/map/map-mobile.html`

[2022-04-20 20:05] jthorpe80 opened #8171 "Bower does not include leaflet js files in dist folder"
- [ x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [ x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [ x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the beh

[2022-04-20 20:13] Falke-Design commented on #8171
Please look into https://github.com/Leaflet/Leaflet/discussions/8149#discussioncomment-2601603

[2022-04-20 20:13] #8171 closed

[2022-04-20 20:15] juedan commented on #8162
As promised here an link for the test code: https://juedan.nerdcamp.net/Test/test_leaflet.html
If the iconSize is set to [<pixel number>, "auto"] then an error is thrown. But with Leaflet 1.7.1 this works without any issues.

[2022-04-20 20:52] Malvoz commented on #8137
@KnightJam1 The attribute is only used in the documentation at `reference.html`, so you'll only need to follow the [Improving documentation](https://github.com/Leaflet/Leaflet/blob/main/CONTRIBUTING.md#improving-documentation) steps. After making the change you can simply inspect the DOM of the document locally, using the "Elements" tab in your browser's devtools, to see if the change is reflected

[2022-04-20 21:02] jthorpe80 commented on #8171
It would of been nice to see this listed in the breaking changes. It did break our build.

[2022-04-20 21:08] IvanSanchez commented on #8162
@juedan Thanks! That certainly clarifies things.

However, I'll close this bug as "user not following the API reference". The `iconSize` option is supposed to be a `L.Point`, or an array of two numbers (and it should be obvious that the `"auto"` string is not a number). The fact that this way of defining icon sizes work at all is a chain of coincidences:

* `L.Point` is not enforcing any strict ty

[2022-04-20 21:08] #8162 closed

[2022-04-20 21:12] pto1026 commented on #8121
Can you assign me to this issue, I'd like to tackle the refactoring

[2022-04-20 21:23] Malvoz commented on #8121
@pto1026 I believe the refactoring would potentially happen in 2 parts, as described above, see the issues:

Or were you thinking of removing comments and deduplicating selectors manually?

[2022-04-21 00:01] Malvoz commented on #8151
IMO, we may as well take the opportunity and set a dedicated CSS class per https://github.com/Leaflet/Leaflet/pull/8119#discussion_r842896686.

For example:

[Control.Attribution.js#L9](https://github.com/Leaflet/Leaflet/blob/da386bec18d2e103acb207e97cf332bd388bb575/src/control/Control.Attribution.js#L9):

[code]

[leaflet.css#L426-L429](https://github.com/Leaflet/Leaflet/blob/da386bec18d2e103acb2

[2022-04-21 05:26] Makin-Things opened #8173 "Setting maxbounds on map creation throws warning"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the behavi

[2022-04-21 05:30] Falke-Design commented on #8173
Thank you for reporting.
This should be fixed with #8168, so it would be nice if you can test it with the newest main version : https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/main/leaflet-src.js

[2022-04-21 05:42] Makin-Things commented on #8173
Thanks, I can confirm that the fix works for me. Closing.

[2022-04-21 05:42] #8173 closed

[2022-04-21 06:19] indigoxela commented on #3575
That seems plausible! I can (sort of) simulate the gaps @Malvoz describes by zooming on browser level (the complete window).
So I added `detectRetina: true` to the demo map options of the second map. Does that make any difference? (Should it, anyway?)

[2022-04-21 06:26] Falke-Design commented on #3575
Doesn't make any difference for me. While zooming out the gaps are visible

[2022-04-21 06:30] brgrz commented on #3575
Let me just chime in with a thought: working around the issue with CSS hacks won't solve this problem. Leaflet is the only mapping library with this issue.

What are Mapbox, OpenLayers, Google Maps etc. doing differently that they do not experience this problem?

[2022-04-21 06:35] indigoxela commented on #3575
Sure, that's not the problem we're trying to figure out right now - that zooming still doesn't work is a known problem as also described on the demo page (text below map).

Heck, you'd be our hero if you figure that out! :wink: It IS a known browser bug in webkit based browsers, but I wasn't able to figure out how the others work around that. Some years back Google maps had the exact same problem,

[2022-04-21 06:57] Falke-Design commented on #3575
A big difference is, that they hava "smooth" scrolling.

Yes I know, I only say while panning the gaps not visible (same as before) for me and while zooming still there.

[2022-04-21 09:23] jonkoops commented on #8169
We have decided to drop support for Bower in v1.8.0 (see #7831). I'd recommend using NPM or another supported package manager instead.

[2022-04-21 10:46] NielsHolt commented on #8169
Well, calling 1.8 a minor update is a bit strange when it clearly is not compatible with 1.7.1
 Given the user 4 mounts to change from Bower is also short notice.
The correct way to release all the new things would have been:
1.7.2 = All bug fixes
1.8.0 = All new features
2.0.0 = All re-coding, no Bower support etc.

[2022-04-21 11:26] Malvoz commented on #7627
Duplicate of #5446?

[2022-04-21 12:20] KnightJam1 commented on #8137
Thank you very much for the help! I've followed the steps, and it all seems to be working fine, as expected. I've staged the changes, but discovered I have a newer version of Karma. Should I install the older version to prevent merge conflicts?

[2022-04-21 12:22] jonkoops commented on #8169
It's unfortunate this is causing issues for those using Bower. However we always need to balance the needs of the project versus the needs of the community, and in this case we wanted to reduce the maintenance burden of the project.

In all honesty this should not come as a surprise, Bower has advertised it's own death for **years** now so I don't think the argument that this is a sudden change on

[2022-04-21 12:25] Falke-Design commented on #8137
Yes use the same version as we have defined in the `package.json`. The `package.json` should not be changed (so revert it, if you changed it) and then run `npm install`. Then you should have the same version installed as Leaflet uses.

[2022-04-21 12:29] NielsHolt commented on #8169
True, but if Bower is doing the job for you, there are always more important problems to solve than to change something that works :-)

[2022-04-21 12:34] KnightJam1 commented on #8137
Great, thanks!

[2022-04-21 12:35] Falke-Design commented on #8169
The one thing is that we don't support bower anymore (which makes sense for me)  but I don't understand why we not simply add a new zip file to the release, which contains the source files ... this is no effort and solves the problem for the users.

@jonkoops @mourner why not simply change the Github Release zip file?

[2022-04-21 12:45] KnightJam1 commented on #8137
This worked, now only the reference.js file will be changed!
I will commit this and then submit a pull request, unless I missed a step?
Thank you very much for the help and guidance, and have a lovely day!

[2022-04-21 13:00] Falke-Design commented on #8137
Please don't generate / commit the `reference.html` file. This is done before publishing a release

[2022-04-21 13:24] sumitsaurabh927 commented on #8151
Sure, sounds great! Will set a dedicated class for it!

[2022-04-21 14:51] skorasaurus commented on #8115
Thanks for creating a new issue; I updated the test case that y'all can use; it's now at http://skorasaurus.github.io/maptemplates/leaflet-test-8115.html to reflect the new issue number.

[2022-04-21 15:51] #8137 closed

[2022-04-21 20:24] Falke-Design opened #8176 "Extend eslint rules"
We should extend the eslint rules to include following:

**1. Don't allow "concise methods":**
[code]
should be
[code]

Eslint rule:
"object-shorthand": ["error", "never"],

**2. Don't allow "arrow methods":**
[code]
should be
[code]

**3. 4x-spaces should be a tab**

@mourner I tried to extend your eslint-config but it didn't worked, maybe you can try it?

[2022-04-21 23:39] #7632 closed

[2022-04-22 06:42] john-sausby commented on #8034
this is not currently an issue with leaflet. I was using an older version of leaflet where this was the issue.
________________________________
From: Robert Linder ***@***.***>
Sent: 20 April 2022 13:30
To: Leaflet/Leaflet ***@***.***>
Cc: John Sausby ***@***.***>; Mention ***@***.***>
Subject: Re: [Leaflet/Leaflet] After clicking in the map and routing to another page using the useHistory hook te

[2022-04-22 06:44] Falke-Design commented on #8034
@john-sausby thank you for your response

[2022-04-22 06:44] #8034 closed

[2022-04-22 12:56] #5396 closed

[2022-04-22 13:29] #8085 closed

[2022-04-22 14:38] lootnath opened #8178 "Ucraine ceivanruss, don't get killed because of NATO threatening russia."
Ucraine ceivanruss, don't get killed because of NATO threatening russia

Tell the Clown making brothers fight to surrender. Theres no Keiv its keivanrus like kusrain  one word. Some retards split the word, like splitting germany and calling it ge rman y. Y?

[2022-04-22 14:42] #8178 closed

[2022-04-22 16:04] ralyodio opened #8179 "How to import using dynamic imports (ie: svelte)"
[code]

This fails saying "L is not defined"

[2022-04-22 16:20] Falke-Design commented on #8179
Try `const L = window.L`

[2022-04-22 19:08] mourner commented on #8179
Leaflet doesn't expose the module build by default, but you can try importing it like this:

[code]

[2022-04-22 19:08] #8179 closed

[2022-04-23 01:15] ralyodio commented on #8179
It did though.

[2022-04-23 12:16] Malvoz commented on #3575
Since this issue has many comments I have updated https://github.com/Leaflet/Leaflet/issues/3575#issue-92084027 to attempt to collect all suggestions for potential solutions, i.e. not including workarounds such as increasing tile size.

[2022-04-23 13:11] indigoxela commented on #3575
Until now I wasn't aware of that [PR](https://github.com/Leaflet/Leaflet/pull/6234) (Switching from translate3d to translate for webkit), but it looked so promising that I tested it locally (manually updated leaflet-src.js).

Two findings:

1. It doesn't work for me (latest Chrome on Linux), exactly the same flickering gaps when panning or zooming
2. It also applies to Firefox (as Browser.webkit3d

[2022-04-23 19:57] Jmuccigr commented on #8068
will-try. Can you confirm that I should be inserting this bit of css then:

[code]

[2022-04-23 19:58] Falke-Design commented on #8068
yes exactly

[2022-04-23 19:59] Jmuccigr commented on #8068
Yeah, that seems to work, too. Here's exactly what I added:

[code]

[2022-04-23 20:00] Malvoz commented on #8068
The [WebKit bug](https://github.com/Leaflet/Leaflet/issues/8068#issuecomment-1088521297) was fixed 2022-04-20.

Confirmed workarounds include:
- [`transform: translate3d(0, 0, 0)`](https://github.com/Leaflet/Leaflet/issues/8068#issuecomment-1099073652)
- [`will-change: transform`](https://github.com/Leaflet/Leaflet/issues/8068#issuecomment-1099207299)

`transform: translate(0)` may also work.

(wh

[2022-04-23 20:06] Falke-Design commented on #8068
@Malvoz I suggest to add https://github.com/Leaflet/Leaflet/labels/won%27t%20fix, what do you think?

[2022-04-23 20:07] #8068 closed

[2022-04-24 02:37] IvanSanchez opened #8181 "Deprecate "mousewheel" events"
While perusing #7925, I noticed that `src/map/handler/Map.ScrollWheelZoom.js` relies on the `mousewheel` event.

The `mousewheel` event is deprecated, and should be removed in favour of the `wheel` event. `wheel` event is present since IE9, so this deprecation would technically break IE8.

[2022-04-24 03:00] IvanSanchez commented on #8181
This is actually already done by https://github.com/Leaflet/Leaflet/pull/7060 . Turns out that #7925 is using an incredibly outdated revision of `Map.ScrollWheelZoom.js`.

[2022-04-24 03:00] #8181 closed

[2022-04-24 14:40] sumitsaurabh927 commented on #8151
I'm having a little problem running the server to see things in action. I went through the conrtibutor's guide and ran rollup but when I issue 'npm start' the server doesn't start. How do I see the deployed version where I can see the flag?

[2022-04-24 15:08] Falke-Design commented on #8151
run `npm run watch` and then open `/debug/map/map-mobile.html`

[2022-04-24 15:25] sumitsaurabh927 commented on #8151
I've made the changes and tested and it works as expected!

[2022-04-24 15:26] sumitsaurabh927 commented on #8151
But I made the changes in the main branch of my fork, shall I go ahead and raise a PR?

[2022-04-24 15:29] Falke-Design commented on #8151
Yes simply make a PR

[2022-04-24 15:47] sumitsaurabh927 commented on #8151
Done! I've raised a PR. Please review it and merge if things are okay.

[2022-04-24 22:42] Malvoz commented on #7641
@hamdipro Would you like to fill out the [bug report template](https://github.com/Leaflet/Leaflet/issues/new?assignees=&labels=&template=bug_report.md) for this issue?

[2022-04-24 23:06] Malvoz commented on #2164
While it may be a breaking change for the small percentage(?) that are actually utilizing this class (since it actually doesn't do anything by default), I think that's worth it, if it improves performances for everyone else.

[2022-04-25 03:30] edgexie opened #8185 "how can I get correct container point in Retina screen?"
![image](https://user-images.githubusercontent.com/18474752/165015678-caba70db-8bc4-4e6e-a2dc-b15604df6704.png)
I saw canvas width and height are twice of canvas style width and height.
when I transfer map.latLngToContainerPoint function, then use the return values to  draw a circle to canvas renderer, the circle is not at correct position.
many thanks

[2022-04-25 04:54] Falke-Design commented on #8185
Can you please create a [demo](https://leafletjs.com/SlavaUkraini/edit.html)

[2022-04-25 08:07] edgexie commented on #8185
@Falke-Design  in this [demo](https://plnkr.co/edit/tL4sbvfJQku2rP1r) , the canvas circle is not at the marker position

[2022-04-25 08:11] Falke-Design commented on #8185
![canvas_circle](https://user-images.githubusercontent.com/19800037/165047531-1ce73e59-c4f8-4b8c-b8bc-5c6572fd3660.gif)

[2022-04-25 08:32] IvanSanchez commented on #8185
Because https://github.com/Leaflet/Leaflet/commit/674d9ae4d350b193c544503803feb1398a6a3fee.

`latLngToContainerPoint` *et al* all return CSS pixels, not screen pixels, and that's expected. The `HTMLCanvasElement` needs to have its size in screen pixels.

I fail to see how this is a bug. The only actionable thing here would be to replace the docstrings of `latLngToContainerPoint` *et al* so they re

[2022-04-25 08:45] edgexie commented on #8185
@IvanSanchez thanks
my screen is 2k , and I set system config display zoom to 150%. In this case, how can i get the `CSS pixel`  from latLng, so that I can render circle at the marker position?
![image](https://user-images.githubusercontent.com/18474752/165053571-e12524ac-ce3e-4ab2-806f-b6c520d6874f.png)

[2022-04-25 09:09] Eschon commented on #3575
Thanks @Malvoz for compiling that list.
I've also noticed that we seem to be talking about two related but slightly different issues here.

1. My original post was about gabs between the tiles when loading the map with a fractional zoom level. No zooming, no panning just loading the map with e.g. zoom 19.5 and then seeing the gaps.
2. Flickering gaps when zooming or panning

A proper solution for

[2022-04-25 09:30] #7326 closed

[2022-04-25 09:58] Malvoz commented on #7244
This is possibly related to the WebKit bug that caused https://github.com/Leaflet/Leaflet/issues/8068.

[2022-04-25 09:58] Malvoz commented on #7641
This is possibly related to the WebKit bug that caused https://github.com/Leaflet/Leaflet/issues/8068.

[2022-04-25 10:01] Malvoz commented on #3575
@Eschon I think it's fine to keep the general discussion here, or in the corresponding existing PRs. Also, I expect the flickering/glitching of the gaps (as a result of the workaround?) to disappear when the gap is absent.

[2022-04-25 12:55] Eschon commented on #3575
I took some time to look through the suggestions.

- I think https://github.com/Leaflet/Leaflet/pull/6234 is generally the same as https://github.com/Leaflet/Leaflet/pull/6234
Both switch to `translate` instead of `translate3d`. This improves the situation a bit for me for Chrome on Mac OS but not for Safari and according to @indigoxela it also doesn't help on Linux.
- Could it be that https://git

[2022-04-25 13:00] Falke-Design commented on #3575
same PR twice

[2022-04-25 13:29] clavijojuan commented on #7949
Its different feature. In this function, he is setting the label rotation based on the angle parameter on the Point element. I was asking about the automatic direction of the tooltip based on the slope of the polyline.

[2022-04-25 13:38] IvanSanchez opened #8188 "Use "window.devicePixelRatio" instead of "L.Browser.Retina ? 2 : 1""
Reading over #8185, I noticed the code used to set the pixel size of the canvas in `L.Canvas`: https://github.com/Leaflet/Leaflet/blob/0f987feda97584ef25b5e64fc166ed2f1ff581ae/src/layer/vector/Canvas.js#L108-L114

The problem with this approach is that Retina displays are not always 2 screen/device pixels per 1 CSS pixel - nowadays we can have values of `window.devicePixelRatio` of 3, 4, 1.5, 0.5

[2022-04-25 13:43] jonkoops commented on #8188
I like this idea.

[2022-04-25 13:45] jonkoops commented on #4953
Closing this issue, as it seems clear that we don't want to do this for the aforementioned debugging reasons.

[2022-04-25 13:47] jonkoops commented on #7591
I think this might be a useful feature that we could consider for 2.0 so I added it to the milestone. This does not mean this is automatically accepted.

[2022-04-25 13:58] jonkoops commented on #8188
Let's start using the `accepted` label for v2 proposals we can all agree on, it will make it easier to create an overview of the changes we'd like to land.

[2022-04-25 14:07] jonkoops commented on #7028
I don't think we want to fix this issue as we are dropping support for (older) versions of Internet Explorer in the future. Adding changes to support this unused browser makes no sense at this point.

[2022-04-25 14:10] jonkoops commented on #6136
Support for Internet Explorer 11 [will be dropped](https://docs.microsoft.com/en-us/lifecycle/products/internet-explorer-11) on Jun 15th 2022. I suggest we drop support for Internet Explorer entirely in V2, which should be released after that date.

I propose we move to accept this proposal. @mourner @IvanSanchez @Falke-Design WDYT?

[2022-04-25 14:43] jonkoops commented on #8188
Agreed.

[2022-04-25 14:46] jonkoops commented on #6136
My main problem with IE11 is it's [crippled support](https://kangax.github.io/compat-table/es6/#ie11) for anything modern JavaScript. Going forward I think our lowest possible compile target should be ES2015.

[2022-04-25 15:19] Malvoz commented on #6136
It'll be interesting to see the poll results, however, dropping IE completely means less considerations and an improvement to the overall workflow. People can still user older versions of Leaflet if they want to support IE.

[2022-04-25 15:36] jonkoops commented on #6136
If anything dropping support will incentivize people to stop supporting it all together.

[2022-04-26 01:10] Malvoz opened #8191 "Blog posts broke"
See e.g. https://leafletjs.com/2022/04/18/leaflet-1.8.0.html.

I think we didn't consider https://github.com/Leaflet/Leaflet/commit/dfbe5a884a5f61b74efd928199ea1a843cc6b69d in https://github.com/Leaflet/Leaflet/pull/8177. I'm not able to address this until maybe tomorrow.

/cc @Falke-Design, @mourner

[2022-04-26 02:22] edgexie commented on #8185
@Falke-Design another question, L.canvas mouse event failed. click event is in the demo at line 96. any ideas?

[2022-04-26 03:21] RebeccaStevens opened #8192 "TileLayer event for load animation end"
**Is your feature request related to a problem? Please describe.**
I have two tile layers that I would like to switch between. When I switch to one, it is added to the map and the other is removed. I want to be able to delay the removal of the old layer until the animation of the new layer loading has completed.

**Describe the solution you'd like**
An event similar to `layeradd` but which fires a

[2022-04-26 04:51] Falke-Design commented on #8191
Sorry my fault ... but i can't fix it in the next 9 hours.

No the `/SlavaUkraini` folder cannot be removed because it contains the dialog logic and content of the dialog

[2022-04-26 07:12] IvanSanchez commented on #8192
I understand the motivation, but in the past I had nightmares with the [`transitionend` event](https://developer.mozilla.org/en-US/docs/Web/API/HTMLElement/transitionend_event) (see #2269, [#4158](https://github.com/Leaflet/Leaflet/pull/4158/files)), which would be the approach to such an event without relying on `setTimeout`s.

I just don't hope that the old `transitionend` problems have gone awa

[2022-04-26 11:42] jonkoops commented on #4953
What would be logical places to use getters and setters? I think accessing a property should always be without side-effects, so the question is where are we currently using methods where get/setters make more sense?

[2022-04-26 12:11] IvanSanchez commented on #4953
Map's `getCenter`/`getZoom` and their setters. Read-only `getMaxZoom`/`getBounds`. Marker's `getLatLng`/`getIcon` and setters. Popup content getter/setter. The `setParameters` in `L.TileLayer.WMS`. `setURL` for `ImageOverlay`. There's lots of potential stuff.

Reading, yes; modifying (setting), no. I'm of the opinion that using setters instead of `setWhatever()` methods lead to *slightly* cleaner

[2022-04-26 12:24] Falke-Design commented on #4953
How good can be getter/setter overwritten from plugins like it is currently possible?

I don't have much experience with this because it was for me always to complicated instad of making a simple get and set method if they are needed. Means I open for new things but I don't need it.

[2022-04-26 14:52] jonkoops commented on #4953
I'll re-open the issue as it seems there is still some discussion to be had :+1:

[2022-04-26 14:53] jonkoops commented on #4953
Adding this to the v2 milestone, and since this would be a breaking change I will mark it as such.

[2022-04-27 08:20] #8151 closed

[2022-04-27 13:16] #8191 closed

[2022-04-27 17:11] mourner commented on #8188
Looks like it's only used in two instances 1) Canvas, 2) 2x tiles if retina. We want to keep the 2nd behavior so it's down to just the canvas case (and any case we want it for in the future like scroll wheel). Which seems fine to me.

[2022-04-28 08:28] SuperPat45 opened #8197 "Add zIndexOffset options on shapes."
I have many clickable ploygons, I may not click on a smaller shape inside a big shape according to the order in which they were created.

This is why I need the zIndexOffset options on shapes.

[2022-04-28 08:41] Falke-Design commented on #8197
As workaround you can use [bringToFront](https://leafletjs.com/reference.html#path-bringtofront) and `bringToBack`.

[2022-04-29 20:45] solaroptic opened #8200 "MouseEvent.mozPressure is deprecated"
Mozilla Dev Edition warning:
MouseEvent.mozPressure is deprecated. Use PointerEvent.pressure instead.
 it identified it occuring in util.js:15:3

**Steps to reproduce**
Using the main page simple version

**Expected/Current behavior**
Still functioned fine but eventually may not

**Environment**
main page 'create map' code

- OS/Platform (with version):
Mozilla Developer Edition 100.0b9

**Additio

[2022-04-29 20:50] RomanistHere opened #8201 "Trying to move (drag) map while zoom animation is still in progress results in "click" behavior."
Here's the video I recorded here: https://leafletjs.com/examples/quick-start/ and also is working locally with 1.8.0 for me.

https://user-images.githubusercontent.com/49812531/166066386-8cfb5889-bca6-4972-b6bb-16bfe6e1d645.mp4

So the problem is when you're trying to move (by dragging) while just zoomed - you don't move the map and it reads my actions as click. So if you show something to user on

[2022-04-29 21:01] RomanistHere commented on #8201
I mean I can do it myself (disable handlers on zoom) but I wondered if it's intended or not.

[2022-04-29 21:16] IvanSanchez commented on #8200
Duplicate of https://github.com/Leaflet/Leaflet/issues/7078

[2022-04-29 21:16] #8200 closed

[2022-04-29 21:24] Darksymphony75 commented on #8173
is there a minimized version with this fix? I downloaded from the official page the 1.8-dev version, but still have this issue

[2022-04-30 08:32] RomanistHere commented on #8201
It procs on the 'dragend' so if you're doing "long" drag 200ms won't be enough. I stopped at 300 but it feels unnatural, so I'd still like some built-in way to prevent the issue.

![image](https://user-images.githubusercontent.com/49812531/166098243-87575bf7-ac10-4820-a7ba-01c1b217ee6e.png)

[2022-04-30 20:29] Falke-Design commented on #8173
Try https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/main/leaflet-src.js

[2022-05-01 07:22] Darksymphony75 commented on #8173
that§s what I talking about, I tried it already. It works fine alone, but with using Leaflet.Sleep the warning is there again.

[2022-05-01 20:34] eliboni opened #8203 "Closing a PopUp calls window.onpopstate"
**Steps to reproduce**
https://leafletjs.com/examples/quick-start/example.html

add

`	window.onpopstate = function(event) {
	  console.log(event);
	  console.log("onpopstate");
	}; `

see [attached ](https://plnkr.co/edit/jZYUUuMVaGkmreIt)

**Expected behavior**
window.onpopstate should not be called when a popup is closed (click on x on top-right of the popup), at least this is the behavior I wo

[2022-05-01 20:40] IvanSanchez commented on #8203
Duplicate of https://github.com/Leaflet/Leaflet/issues/8159 . Preventing the event's default behaviour (as done in https://github.com/Leaflet/Leaflet/pull/8160) should avoid the change in the window state.

[2022-05-01 20:40] #8203 closed

[2022-05-02 13:28] jonkoops commented on #6136
Another reason why we might want to drop support for Internet Explorer is that our tooling is no longer working in newer versions (see https://github.com/Leaflet/Leaflet/pull/8204#issuecomment-1114878906). Some dependencies are already held back simply to keep this support around.

[2022-05-02 15:50] jonkoops commented on #6136
The final results from the [Twitter poll](https://twitter.com/LeafletJS/status/1518606186521804800) are in, I think we have enough information to make an educated decision. I am personally in favor for dropping it for the following reasons:

- Only 9.7% of responses have indicated the desire to keep supporting Internet Explorer (these users can keep using 1.x).
- We are [holding back](https://gith

[2022-05-02 16:03] jonkoops commented on #8173
Perhaps this plugin is overwriting existing functionality somehow? Could you log an issue on their repo?

It would also be useful for us if you could log this as a new issue instead, and make sure to provide a reproducible example (preferably something that can be viewed online).

[2022-05-02 16:13] Falke-Design commented on #6136
I think we should make a V1.9 release with a few fixes with the most important things and then we make a V2 release with dropping all IE versions. **BUT** we don't add other features from the [Roadmap](https://github.com/Leaflet/Leaflet/discussions/7729). We have to much open PRs and issues.

[2022-05-02 16:45] jonkoops commented on #6136
So in essence we'd just use the 'v2' version as a way to drop support for older browsers without actually adding any new features. I think that is perfectly valid, and it would reduce the impact of the release in terms of massive changes.

[2022-05-02 16:49] septatrix commented on #3870
Regarding the drawback for blame there is [`git blame --ignore-rev/--ignore-revs-file`](https://git-scm.com/docs/git-blame#Documentation/git-blame.txt---ignore-revs-fileltfilegt) which is also [supported by github when given the correct filename](https://docs.github.com/en/repositories/working-with-files/using-files/viewing-a-file#ignore-commits-in-the-blame-view)

[2022-05-02 18:07] Darksymphony75 commented on #8173
I agree, but with the older version of Leaflet the same Leaflet.Sleep did not cause any warnings. For now I use the older version of Leaflet with Leaflet.Sleep and there is no warning at all. But I opened an issue for Leaflet.Sleep on their repo, however I don't think anyone will care there :)

[2022-05-02 18:42] arieldr opened #8208 "Edge canary 102: offset in SVG hit detection"
With recent release of Microsoft Edge Canary version (as of date 2/May/2022, version 102.0.1243.0) it seems like when moving the mouse it is and hovering over a marker there is a gap between the place of the marker and the mouse location.

As can be seen here, if you move the mouse in the borders of the marker, the cursor icon will change between finger and hand mode in the wrong location

https:/

[2022-05-02 18:58] eggertj opened #8209 "Closing Leaflet pop-up in map in a page whose html head contains <base target="_blank"/> opens new map page"
- [ ] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [ ] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [X] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the behavi

[2022-05-02 19:09] IvanSanchez commented on #8209
Duplicate of https://github.com/Leaflet/Leaflet/issues/8159

[2022-05-02 19:09] #8209 closed

[2022-05-02 19:48] IvanSanchez commented on #8208
OK, so there's a cross-post in https://stackoverflow.com/questions/72089960/leaflet-with-edge-canary-recent-version-mouse-and-markers-glitch-gap-shift , and you're not reporting which version(s) of Leaflet this is reproducible in, neither which platform(s) (windows, linux, mac).
Please don't ignore the bug report template, and edit your bug report to add this information.

[2022-05-02 20:01] arieldr commented on #8208
Sorry, this is my first time.
Where is that template?
I am working with :
Windows 10,
Leaflet (any: 1.6.0, 1.7.1, 1.8.0),
Microsoft Edge Canary (recent version 102.0.1243.0).

![mouseAndMarkerGap](https://user-images.githubusercontent.com/57740222/166317011-6768781a-b6da-41cf-af84-00fbfa9384dc.jpg)

Thanks, Ariel

[2022-05-02 20:27] IvanSanchez commented on #8208
When any user clicks on the green buttons to create a new bug report, they are ultimately taken through https://github.com/Leaflet/Leaflet/issues/new?assignees=&labels=&template=bug_report.md . If you haven't seen that, you're using a weird way to open new bug reports.

Second: Use screenshots instead of photographs taken from a phone.

Third: That's not a marker (`L.Marker`), that's a circle (`L.

[2022-05-02 20:44] jonkoops commented on #8173
This indeed might be considered a breaking change. Although one could argue it's silly to use the API in this manner.

[2022-05-02 20:49] arieldr commented on #8208
1. I just clicked new issue and did not get to that step, now I see I do reach that step.
2. I used a photo because a screenshot will not show the mouse pointer
3. Agree
4. I am running on a desktop pc, the values requested are as following:
window.devicePixelRatio = 1
L.Browser.retina = false
L.Browser.SVG = true

Thanks

[2022-05-02 23:16] IvanSanchez commented on #8208
Confirmed in a Win10 VM with edge canary 102.0.1243. Seems like an upstream bug, since the hitbox of SVG elements is OK in the edge DOM inspector.

Cannot test in Linux, since there's no canary releases for that platform.

[2022-05-03 06:37] mourner commented on #6136
@jonkoops yep, that was my plan for v2 all along :) see https://github.com/Leaflet/Leaflet/issues/7704#issuecomment-953972098

[2022-05-03 07:42] olereidar opened #8210 "Replace CSS color-adjust to print-color-adjust"
Hello, based on the newest [update from autoprefixer](https://mobile.twitter.com/Autoprefixer/status/1520903101040975878?cxt=HHwWjICztf7TqpsqAAAA), the color-adjust shorthand is currently deprecated.

Could `color-adjust` be replaced with `print-color-adjust` in the code below?

[code]
source: https://github.com/Leaflet/Leaflet/blob/main/dist/leaflet.css#L658

- [x] I've looked at the [documentati

[2022-05-03 09:20] #8210 closed

[2022-05-03 12:07] jonkoops commented on #6136
Sounds good to me :+1:

[2022-05-03 16:14] christian-knecht commented on #7368
+1 for moving to buttons.

I am facing an issue with close popup buttons in a SPA using Aurelia framework. The app tries to navigate to the href="#close" route and displays the 404 page. I am hiding the buttons using following settings as a temporary fix: `instance.bindPopup(layer.popupContent, {closeButton: false})`

[2022-05-04 09:01] jonkoops opened #8213 "Update Contribution guide with pre-commit linting"
See: https://github.com/Leaflet/Leaflet/pull/8212#issuecomment-1117047748

[2022-05-04 19:58] simonneutert commented on #8068
@Falke-Design thank you very much for the hint given 🚀
It fixed the disappearing overlays and buttons I had to struggle with  👏

[2022-05-05 20:02] pouemes opened #8216 "Events.js:180 listener not found with maxBounds"
hello
no problem with 1.71 version
but with leaflet 1.8.0
 in chrome console "listener not found" with maxBounds:[[-90,-180],[90,180]]

**Steps to reproduce**
Steps to reproduce the behavior:

in a test.html file

`<!doctype html><html lang="fr"><head><meta charset="utf-8"><link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"><style>#map{margin:auto;width:450px;height:450p

[2022-05-05 20:37] IvanSanchez commented on #8216
Duplicate of https://github.com/Leaflet/Leaflet/issues/7951, already covered by https://github.com/Leaflet/Leaflet/pull/8168.

[2022-05-05 20:37] #8216 closed

[2022-05-08 12:04] siikamiika commented on #8032
I mostly solved this issue on pretty slow hardware with ~2000 total markers by

1. Creating  `L.marker` instances for each marker in advance but not adding them to the map with `marker.addTo(map)` yet
2. Binding a function to `L.map` `moveend` event that
    1. removes all markers with `marker.remove()`
    2. checks if the zoom level is large enough to sufficiently limit the amount of visible mar

[2022-05-08 12:56] mu88 opened #8217 "Using popup in Blazor app breaks autoPan"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
1. Create a [Blazor app](http

[2022-05-08 14:21] IvanSanchez commented on #8217
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-05-08 14:21] #8217 closed

[2022-05-08 14:23] mu88 commented on #8217
And what would be the appropriate repo? Blazor is working fine, so Microsoft won't do anything.

[2022-05-08 14:44] IvanSanchez commented on #8217
Then dissect whatever CSS properties and event handlers are being added to the Leaflet popup, replicate the problem *without* blazor but with using vanilla JS with those CSS properties and events, and open a new bug here.

Emphasis on the "dissect". What's the **minimal** amount of vanilla HTML+JS that you must add to a Leaflet popup in order to reproduce the problem?

[2022-05-08 16:54] mu88 commented on #8217
That's impossible: I cannot disassemble a complete framework which does the heavy-lifting of rendering C# code in the browser. I opened an issue in the Blazor repo, but I'm pretty certain how the answer will look like.

[2022-05-09 14:37] arieldr commented on #8208
Hi,

Just an update. The issue evolved to the "Dev" version of Ms. Edge too  (build 102.1245.3)

[2022-05-09 18:14] mu88 commented on #8217
@IvanSanchez please see Microsoft's answer https://github.com/dotnet/aspnetcore/issues/41577#issuecomment-1121300225:

Does Leaflet offer a way to trigger a redraw or autopan  after the fact?

[2022-05-09 18:29] IvanSanchez commented on #8217
Yup. The `update()` method of `L.Popup`'s parent class...

https://github.com/Leaflet/Leaflet/blob/9bfd4b9b0b0a333734f6706b60da31eae3974e6f/src/layer/DivOverlay.js#L170

...will call the logic to auto-pan the map so the popup is in view, which itself happens in an internal method at...

https://github.com/Leaflet/Leaflet/blob/9bfd4b9b0b0a333734f6706b60da31eae3974e6f/src/layer/Popup.js#L249

Don't

[2022-05-09 18:35] IvanSanchez opened #8222 "Use ResizeObserver to deprecate L.Map's invalidateSize()"
Pretty straightforward feature - attach a `ResizeObserver` to the map's container, and call `invalidateSize()` whenever the container is resized. Detach the `ResizeObserver` when the map is destroyed (on `L.Map`'s `remove()`).

This won't work on any version of IE, nor Edge < 79 (that includes all the Edge versions previous to the switch to chrome's blink engine).

[2022-05-09 18:42] IvanSanchez opened #8223 "Use ResizeObserver to call L.Popup's update()"
Feature request, very similar to https://github.com/Leaflet/Leaflet/issues/8222 , but for popups instead of for the whole map.

The idea consists in attaching a `ResizeObserver` to the DOM element with the popup's (or the tooltip's) contents. Whenever the contents change in such a way that the container box is resized, call the `update()` method.

This needs a bit of research, in regards of where

[2022-05-10 14:12] jockerfox opened #8224 "L.canvas() render forgets about zIndex"
Hi all.
My application uses polygons and circles with the L.canvas() option enabled.
The polygons and circles are grouped in layerGroups. Each Layer has a different zIndex.
Finally the polygons are in a different Pane than the circles.

Example:

[code]

I noticed that the mouse click event is received ONLY by the last added Layer (or better PanCircle) ! Hiding the ones below even though the zInde

[2022-05-10 14:55] pgrondelaers opened #8225 "Firefox 100: Clicking control fires ghost dblclick"
**Steps to reproduce**
Steps to reproduce the behavior:
- Click the control in the top right corner with Leaflet 1.7.1 activated
- Click the control in the top right corner with Leaflet 1.8.0 activated

**Expected behavior**
The map has a button in the top right corner and a text area in the bottom left. Clicking the button should toggle the area's visibility.

**Current behavior**
Clicking the bu

[2022-05-10 15:11] IvanSanchez commented on #8224
Duplicate of #6205 / #5739. Should be covered by  #6012 as well.

[2022-05-10 15:11] #8224 closed

[2022-05-10 15:15] IvanSanchez commented on #8225
I don't have a Firefox v100 at hand, but I must ask: Are you absolutely sure you're clicking, and **not double-clicking**, the button?

[2022-05-10 15:27] jonkoops commented on #8225
Thank you so much @pgrondelaers for including a reproducible example, this helps us greatly. I just checked this on Firefox 100 on Fedora 36 (Linux) and I can reproduce this issue.

[2022-05-10 15:27] IvanSanchez commented on #8225
Ugh. Sounds like a regression introduced by the changes in the 1.8.0 logic for touch doubleclick, in either #7027, #7059, #7084 or #7415. Paging @johnd0e.

This is going to need a fair bit of proper debugging, to see what events are being fired at the control, what events are being propagated to the map, and what events are synthetic events is Leaflet creating along the way.

[2022-05-10 15:53] IvanSanchez commented on #8225
I can **not** reproduce. Firefox 100.0-1 on Debian Linux. Laptop with no touchscreen. Using external USB mouse and touchpad.

My values for `L.browser.gecko`,  `L.browser.pointer` and  `L.browser.touch` are all `true`.

[2022-05-10 16:06] jonkoops commented on #8225
@[vanSanchez try using [this Fiddle](https://jsfiddle.net/51bLtj9x/) which includes the latest version of Leaflet.

[2022-05-10 16:07] Th3AnG3L opened #8226 "Event.composedPath()"
Hello i have been using leaflet.js for a months but now i receive error in web browser:

Deprecated Feature Used
'Event.path' is deprecated and will be removed in M109, around January 2023. Please use 'Event.composedPath()' instead. See https://www.chromestatus.com/feature/5726124632965120 for more details.

or maybe i need new version leaflet.js, can someone help me out with builded new one .js f

[2022-05-10 16:56] IvanSanchez commented on #8225
Putting a [plunkr](https://plnkr.co/edit/jtIJIqvoqFwwZXVe) (also [standalone](https://run.plnkr.co/preview/cl30e37zy0007206kqu0it63k/)) here just because I like plunkr a tiny bit more than jsfiddle.

[2022-05-10 16:59] Falke-Design commented on #8226
@Th3AnG3L you can use the already builded source files:
https://www.jsdelivr.com/package/npm/leaflet
[code]

[2022-05-10 17:13] Th3AnG3L commented on #8226
Thank you i will download it and will take a look.

[2022-05-10 17:20] IvanSanchez commented on #8225
I think I have an idea of what's going on.

On one hand, Firefox is not fully compliant with the `PointerEvent`s spec. Specifically, a `click` event should be a `PointerEvent`, but current versions of Firefox handle it only as a `MouseEvent`. Therefore, this doesn't work as we would expect:

https://github.com/Leaflet/Leaflet/blob/9bfd4b9b0b0a333734f6706b60da31eae3974e6f/src/dom/DomEvent.DoubleTap

[2022-05-10 17:24] Falke-Design commented on #8224
@IvanSanchez should not one of the issues are open? Else we don't know that this bug ist still there

[2022-05-10 17:37] Falke-Design commented on #8225
@IvanSanchez where did you find that this is the normal behaviour? I always have troubles to find this web / browser definitions. My first attempt is always `mdn`.

[2022-05-10 17:39] IvanSanchez commented on #8225
Firing up chromium and `console.log()`ing events happening at both the label and checkbox :shrug:

[2022-05-10 17:51] Falke-Design commented on #8225
Good idea 😄

I found out that the second click event still has the coords of the orginal event but a different target. So we can use this as check:

[code]

[2022-05-10 17:55] Falke-Design commented on #8226
@Th3AnG3L can you please set up a demo: https://leafletjs.com/edit

[2022-05-10 17:57] Falke-Design commented on #8225
But the map `click` event is still firing twice.

[code]
![grafik](https://user-images.githubusercontent.com/19800037/167692338-68f1ff7d-67f3-4963-a299-fd007b2c8ae0.png)

[2022-05-10 17:59] Th3AnG3L commented on #8226
i cant because its implemented as plugin in the system, but i can show live demo
https://resido.thesky9.com/properties/6007-applegate-lane
- when click zoom or out it shows this error
- by functions it reads directly leaflet.js codes and i had download the last one 1.8.0 and when make that zoom in zoom out pop ups in browser this error

[2022-05-10 18:08] IvanSanchez commented on #8224
I... guess? My understanding is that the old reports were closed as "won't fix", but it might be a good idea to file a clean new one and put it in the "2.0" bucket.

[2022-05-10 18:10] Falke-Design commented on #8226
The error happens in Chromium Browsers while dragging the map. But to see the problem you need to open the issues Tab in the Developer Tools, the console is not enough (for me).

![grafik](https://user-images.githubusercontent.com/19800037/167694550-8becc504-8674-4275-bd32-1392bac38035.png)

[2022-05-10 18:14] IvanSanchez commented on #8226
Then this is the chromium equivalent of #7078, triggers when copying all properties of an event. Safe to ignore.

[2022-05-10 18:15] #8226 closed

[2022-05-11 06:16] Malvoz opened #8228 "Site SEO"
## Problems

(While the `/SlavaUkraini/` URL change may have (temporarily) affected search engine indexing, that's not my concern with this issue.)

I've found that (before, during, and after the URL change), in some cases, when explicitly searching for a title/heading of a Leaflet page:

- search engines aren't showing optimal/relevant results
- other sites get priority in the search results

Of

[2022-05-11 08:42] astomas opened #8231 "leaflet.dialog plugin : bug with leaflet 1.8 (working with 1.7)"
link to the original issue: [https://github.com/NBTSolutions/Leaflet.Dialog/issues/27](https://github.com/NBTSolutions/Leaflet.Dialog/issues/27)

in [http://nbtsolutions.github.io/Leaflet.Dialog/](http://nbtsolutions.github.io/Leaflet.Dialog/), calling new Leaflet 1.8 API (04/2022) results in the following error:
" Uncaught TypeError: Cannot read properties of undefined (reading '0') ... at dialog

[2022-05-11 08:47] astomas opened #8232 "leaflet-streetview plugin: bug with last mapillary API (11/2021)"
original issue : [https://github.com/Zverik/leaflet-streetview/issues/3](https://github.com/Zverik/leaflet-streetview/issues/3 )
since mapillary change of API, the mapillary URL call is unknown, see demo map for example:
[https://zverik.github.io/leaflet-streetview/index.html](https://zverik.github.io/leaflet-streetview/index.html)
Mapillary client Id fill (now pKey) has changed too with the new A

[2022-05-11 09:18] jonkoops commented on #8232
We do not directly support Leaflet plugins as they are 3rd party code. If something is broken in a plugin please report the issue in their respective issue tracker.

[2022-05-11 09:18] #8232 closed

[2022-05-11 09:27] IvanSanchez commented on #8231
Not a Leaflet bug.

[2022-05-11 09:27] #8231 closed

[2022-05-11 09:29] IvanSanchez commented on #8231
Since you've been fumbling to write meaninful bug reports, I'm gonna point you towards:
- ["How To Ask Questions The Smart Way"](http://www.catb.org/esr/faqs/smart-questions.html)
- ["http://www.chiark.greenend.org.uk/~sgtatham/bugs.html"](http://www.chiark.greenend.org.uk/~sgtatham/bugs.html)
- [The Secret Life of Open Source Developers](https://media.ccc.de/v/bucharest-322-the-secret-life-of-ope

[2022-05-11 16:38] Malvoz opened #8233 "Issue forms with YAML templates"
Originally suggested in https://github.com/Leaflet/Leaflet/issues/7704#issuecomment-981410604.

Issue forms can help people create better issues, which is helpful to maintainers.

Public repo to try the new templates out: https://github.com/Malvoz/test-issue-form-templ/issues/new/choose.

File as many issues as you want there, the repo will be deleted after it has served its purpose. The content i

[2022-05-11 17:05] IvanSanchez commented on #8233
A couple of nitpicks:
- Links should open in a new tab/window
- OS/Platform should be pluralized in the same way as browsers, e.g. "affected OS(es)/platform(s)"
- Field for the REPL should be a bit more explicit about not using any frameworks

Consider:
- Add a field for input method(s) used (mouse/touchscreen/keyboard/all)
- Add a field for frameworks used (react, angular, etc), and fail if the f

[2022-05-11 17:34] Malvoz commented on #8233
Thanks for the feedback.

I don't know if it's possible to control the width of the inputs, or the link targets.

[2022-05-11 18:26] IvanSanchez commented on #8233
Looks like you're right. I'm reading https://stackoverflow.com/questions/41915571/open-link-in-new-tab-with-github-markdown-using-target-blank and it's discouraging.

Other than my nitpicks, I'm all for this.

[2022-05-11 20:57] #8225 closed

[2022-05-11 23:17] hadson172 opened #8235 ""X" mark in popup is breaking applications by pointing to "#close""
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the behavi

[2022-05-12 01:59] IvanSanchez commented on #8235
Duplicate of https://github.com/Leaflet/Leaflet/issues/8159

[2022-05-12 01:59] #8235 closed

[2022-05-12 08:07] Malvoz commented on #8233
Fixed in https://github.com/Malvoz/test-issue-form-templ/commit/db33346a6291016785b38898a4fa75c4e02afc5b.

Fixed in the same commit, changed period to exclamation mark and bold text.

Added a multi-selectable dropdown in https://github.com/Malvoz/test-issue-form-templ/commit/eff4b8a1bd7d2f85c623d218528112b37cf0e3b4.

[Quick link to bug template](https://github.com/Malvoz/test-issue-form-templ/issu

[2022-05-12 08:19] Falke-Design commented on #8233
Should we make **Steps to reproduce**, **Leaflet version** and **Browser** required too? That are important informations for a bug

[2022-05-12 08:27] jonkoops commented on #8233
Perhaps we can use Markdown for the links in the 'Support' section? That way it doesn't feel so text heavy.

![A screenshot of the Support section](https://user-images.githubusercontent.com/695720/168026233-a871889c-cef8-4d15-8f6f-41010c77a65c.png)

Ideally I would like to see the 'Minimal example' required for bug reports, but I understand if sometimes this is no viable.

[2022-05-12 08:27] Malvoz commented on #8233
@Falke-Design Possibly. I just didn't want to be too restrictive. We could look at existing bugs, there may be cases where Steps to reproduce is not clear even to the reporter, for example?

[2022-05-12 08:29] Malvoz commented on #8233
@jonkoops I did try that out, unfortunately it seems markdown links aren't supposed in [config.yml](https://github.com/Malvoz/test-issue-form-templ/blob/main/.github/ISSUE_TEMPLATE/config.yml). But I agree. Maybe we can trim the text down.

[2022-05-12 10:43] mourner commented on #8233
This is generally great! Thanks so much for working on this @Malvoz!

My initial intuitive reaction to the form is that it's currently overcomplicated. When a user sees such a huge and complex form (even though most fields are optional) they can be so overwhelmed that it can greatly discourage them from submitting  anything (which might be OK but only to a point). Let's try to strike a balance bet

[2022-05-12 11:10] Malvoz commented on #8233
Thanks for the feedback @mourner.

If we're not explicit about each type of information that is desired, then we're likely not going to get that info. And as you say, people can choose not to fill in most inputs if that's troublesome for them.

Another concern for me if we're to simplify the form (even with describing all types of info that is desired in a single textarea vs multiple textareas) is

[2022-05-12 11:16] mourner commented on #8233
@Malvoz maybe we could find a balance — perhaps not a single text area, but at least not this many either. E.g. let's think which of the fields are unlikely to be filled out or are only relevant in a small minority of potential issues, and combine them (maybe into "Additional context"?)

[2022-05-12 11:20] mourner commented on #8233
And one more small nit — we should probably rephrase the checklist items so that they fit one line for clarity, e.g.:

<img width="728" alt="image" src="https://user-images.githubusercontent.com/25395/168063277-3cc839ed-d77e-46c6-8e6c-e52584b186e3.png">
vs:

<img width="816" alt="image" src="https://user-images.githubusercontent.com/25395/168062750-8cbd3b36-0116-4a07-8f1b-a7aa1c3b8092.png">

[2022-05-12 11:38] Malvoz commented on #8233
Agree, fixed in https://github.com/Malvoz/test-issue-form-templ/commit/e109d299ba966d196b30dcb21ed5ea2f73532c14.

[2022-05-12 11:39] Malvoz commented on #8233
We can start with removing the Assistive tech input?

[2022-05-12 16:53] hadson172 opened #8236 "Leaflet mobile view triggers "onClick" event only when double tap when there is custom layer - pixi.js"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the behavi

[2022-05-12 18:28] IvanSanchez commented on #8236
Able to reproduce on Firefox 100 + Linux. Using a REPL with no pre-bundled pixi, at https://plnkr.co/edit/yYbg8gNq8ZG5PvIR

I've tracked the root cause down to https://github.com/pixijs/pixijs/blob/f2c7e769e65d62df769e5842bb9d9a60197a94f0/packages/interaction/src/InteractionManager.ts#L1206-L1217 . For whatever reason, Pixi is preventing the default browser behaviour for `touchstart` events and, f

[2022-05-12 18:28] IvanSanchez commented on #8236
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-05-12 18:28] #8236 closed

[2022-05-12 19:03] tiimgreen opened #8237 "100s of events output to the console"
- [x] I've looked at the [documentation](http://leafletjs.com/reference.html) to make sure the behavior is documented and expected
- [x] I'm sure this is a Leaflet code issue, not an issue with my own code nor with the framework I'm using (Cordova, Ionic, Angular, React…)
- [x] I've searched through the issues to make sure it's not yet reported

**Steps to reproduce**
Steps to reproduce the behavi

[2022-05-12 19:05] IvanSanchez commented on #8237
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-05-12 19:05] #8237 closed

[2022-05-12 22:14] hadson172 commented on #8236
@IvanSanchez
To be honest i set autoPreventDefault = false and it seems that this fix a problem a little but it completly.
On windows browser it register onclick but on safari iOS iphone 8 still requires two click (not double click but two clicks).

This stuff worked at leaflet 1.7.1 for months but stopped working on leaflet 1.8.0. Are you sure it is plugin's fault ? Thanks

[2022-05-12 23:25] IvanSanchez commented on #8236
If you read the [changelog](https://github.com/Leaflet/Leaflet/blob/main/CHANGELOG.md) you'll notice that Leaflet 1.8.0 changed the way that `TouchEvent`s are handled (at #7059, #7084, #7415)

So when you use a touchscreen the browser triggers both a `touchstart` and then a `pointerdown` event. In Leaflet we're trying to sloooowly deprecate `touchstart`/`touchmove`/`touchend` in favour of `pointer

[2022-05-13 08:30] lroal opened #8238 "Permanent tooltip is gone when panning from an area with no markers"
**Steps to reproduce**
- Create markers with permant tooltip
- Zoom into an area where there are no markers
- From there, pan until you reach an area with markers

**Expected behavior**
The tooltip should be in the dom and visible.

**Current behavior**
The the tooltip is not there (not in the dom). Only the marker itself is shown.

**Environment**
- Leaflet version: 18.0
- Chrome 101.0.4951.64
-

[2022-05-13 08:54] Malvoz commented on #8233
I've removed the Input method + Assistive tech fields in the existing [bug report form](https://github.com/Malvoz/test-issue-form-templ/issues/new?assignees=&labels=bug&template=bug_report.yml). Also added a further [simplified bug report form](https://github.com/Malvoz/test-issue-form-templ/issues/new?assignees=&labels=bug&template=bug_report_simplified.yml) which combines Browser/OS/Platform and

[2022-05-13 08:56] Malvoz commented on #8233
Maybe the simplified bug report should just have 1 textarea for Environment instead of one for Leaflet version and another for Browser/OS/Platform?

[2022-05-13 09:05] youssefbandak commented on #8159
yes i faced this issue yesterday:
Cause : The X button to close the pop up is placed as "<a class=\"leaflet-popup-close-button\" href=\"#close\">×</a>"
so it is redirecting the app

Solutions:
1- remove the Close buttton
const popup = L.popup({
	closeButton: true
})
2- catch the event onclose and change href (but it will refresh the page) not recommended
marker.getPopup()?.on('remove', (e) => {

[2022-05-13 09:05] IvanSanchez commented on #8238
Can you publish a fiddle/codepen/[plunkr](https://leafletjs.com/edit) that displays this behaviour?

[2022-05-13 09:06] Malvoz commented on #8233
The only difference between the [bug report](https://github.com/Malvoz/test-issue-form-templ/issues/new?assignees=&labels=bug&template=bug_report.yml) and the [simplified bug report](https://github.com/Malvoz/test-issue-form-templ/issues/new?assignees=&labels=bug&template=bug_report_simplified.yml) now is that the former has separate fields for:

- Steps to reproduce
- Current behavior
- Expected

[2022-05-13 09:09] Falke-Design commented on #8159
The problem occurs since Leaflet 1.8.0 so it makes no difference if you use 1.7.1 or 1.7.0

[2022-05-13 10:33] lroal commented on #8238
https://jsfiddle.net/lroal/4tjy3dqc/36/

[2022-05-13 10:38] lroal commented on #8238
It happens when clearing the markerLayers and readding the markers on the moveend event.

[2022-05-13 11:22] Malvoz commented on #8233
A few more iterations of simplifying, I think they're both looking pretty good now.
I personally prefer [`bug_report.yml`](https://github.com/Malvoz/test-issue-form-templ/issues/new?assignees=&labels=bug&template=bug_report.yml) over [`bug_report_simplified.yml`](https://github.com/Malvoz/test-issue-form-templ/issues/new?assignees=&labels=bug&template=bug_report_simplified.yml).

[2022-05-13 16:41] Malvoz commented on #7712
There are snapshots of all the reference versions in the Internet Archive's Wayback Machine:

- [0.7.x](https://web.archive.org/web/20211103212702/https://leafletjs.com/reference-0.7.7.html)
- [1.0.3](https://web.archive.org/web/20211129173330/https://leafletjs.com/reference-1.0.3.html)
- [1.1.0](https://web.archive.org/web/20211103195233/https://leafletjs.com/reference-1.1.0.html)
- [1.2.0](https

[2022-05-13 17:10] Mackulus commented on #8159
I work on an app exhibiting the same behavior on leaflet 1.7.1 and changing to 1.7.0 stopped the behavior. So it does make a difference

[2022-05-13 17:48] saadatali48 commented on #8238
`map.on("moveend", onMapChanged); `
`map.on("resize", onMapChanged);`
`map.on("load", onMapChanged);`

`function onMapChanged() {`
	`markersLayer.clearLayers();`
	`markersLayer.addLayer(marker);`
`}`

when you call clearLayers, it removes the marker and associated Tooltip. After that when add the marker again, it adds the marker to layer group, but you haven’t added the tooltip to "newly added mar

[2022-05-13 19:42] mourner commented on #8233
@Malvoz Love this! Let's go with the first one, it already looks much nicer than the initial iteration.

One minor suggestion I'd add is perhaps we could remove the "Additional context" field and instead add a note in the description to current/expected behavior (e.g. "A clear and concise description of what is actually happening. Provide additional context if necessary (screenshots, video, links,

[2022-05-13 19:52] lroal commented on #8238
Thank you very much. I notice that If I bind the tooltip before adding it to the layer, the tooltip wil disappear again, Is that expected behaviour ?
[code]

I see in the leaflet documentation that it is recommended to use clearLayers and addLayer instead of adding single ones if you have a large set. In my real scenario I am doing filtering and add new markers. this means I have to traverse the l

[2022-05-13 23:35] IvanSanchez commented on #8238
What baffles me is that a `moveend` event caused by a pan animation seems to delete the tooltip, but a `moveend` event caused by a zoom animation seems to restore the tooltip (or, at least, that's my impression after playing with https://jsfiddle.net/lroal/4tjy3dqc/36/ for two minutes). This calls for a bit more in-depth investigation. The behaviour should be the same.

[2022-05-14 09:26] aSemy commented on #6659
I would also like to dynamically refresh background tiles. Thanks @barryhunter for your code! I've come up with an alternative that doesn't disable animations for 5 seconds.

I'm using Leaflet 1.7.1 and Kotlin/JS. I'll try and translate my code to Javascript to make it more clear.

When adding the TileLayer, I overloaded the default `_tileOnLoad` function. This is the function that each tile `<img

[2022-05-14 09:27] saadatali48 commented on #8238
@lroal It depends on how you build the logic. I prefer adding a key "Properties" {shown below} in the marker object. and then access anything that i need later on. no need for any loop.

[code]

[2022-05-14 19:16] lroal commented on #8238
Thanks @saadatali48

[2022-05-14 19:18] lroal commented on #8238
@IvanSanchez Yes, a zoom animation seems to restore it.

[2022-05-15 04:02] Azbesciak commented on #7615
@IvanSanchez

   => Support Chromium, Firefox, Safari but not IE, Lagacy Edge (non Chromium).
Deprecating IE10 is a separate issue that can (and IMO should) be undertaken separately. Leaflet is considered stable because it works in old browsers still, so don't assume fancy functionality and assume pre-chromium Edge is still a thing. In particular, do not assume WebGL.

So maybe it is time for leaf

[2022-05-15 05:50] joeyskuo commented on #6551
hello, I've attempted a solution by modifying the Popup class's Layer to include a keydown eventListener to close the   popup. ( #8239 )

**Edited Plunkrs for review**
https://plnkr.co/edit/pkOzSCsI5QvtAcAe
https://plnkr.co/edit/4hXgn7EMinn9Wwn6

[2022-05-15 17:41] halhwadi opened #8240 "Is there onmapclick(e) function for flutter plugin"
--------------^ Click "Preview" tab for a nicer view!

I tried to search if onmapclick(event) function is available in leaflet flutter plugin but I didn't find any reference
please advise if its available, if yes, would you share one example please?

Best Regards

[2022-05-15 19:19] IvanSanchez commented on #8240
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-05-15 19:19] #8240 closed

[2022-05-16 09:42] Malvoz commented on #8233
Done, in https://github.com/Malvoz/test-issue-form-templ/commit/441327480c64bbbf79a7d4c2d86feb26883103b2. I thought it'd be strange to repeat it, but I actually like it more this way.

Check it out: [bug_report.yml](https://github.com/Malvoz/test-issue-form-templ/issues/new?assignees=&labels=bug&template=bug_report.yml)

[2022-05-16 09:43] Malvoz commented on #8233
Other things to consider:

1. I rewrote the following checklist item, as emphasized:

   as there would be no need to report a bug if it indeed _is_ documented and expected?

2. Should the bug report template include a link to [CONTRIBUTING.md#reporting-bugs](https://github.com/Leaflet/Leaflet/blob/main/CONTRIBUTING.md#reporting-bugs)?

   The existing checklist item:

   would essentially be cove

[2022-05-16 10:38] mourner commented on #8233
@Malvoz great work on the templates!

Not sure. It's also linked in the sidebar when creating an issue, although not very prominent, and we'd also like to avoid forcing people to read a ton of things before being able to report something. We can skip this for now.

Definitely.

I think this is preferable, because we want to be able to quickly list all issues that need a triage. Currently we can do

[2022-05-16 11:55] Malvoz commented on #8233
- [x] Added `needs triage` labelling in https://github.com/Malvoz/test-issue-form-templ/commit/5bff026ff53bbdbb0928c5ad333c065e0efacf39.
- [x] Changed to use a link for "Leaflet version" in https://github.com/Malvoz/test-issue-form-templ/commit/fd539621a161cbdc7a46d2fed0193d9ad2f07c04
- [x] Added example for Environment in its description, in https://github.com/Malvoz/test-issue-form-templ/commit/

[2022-05-16 12:41] mourner commented on #8233
@Malvoz looks great, let's do it!

[2022-05-16 16:13] andresgwell commented on #4453
is happenig again

[2022-05-17 07:08] nakigoe opened #8248 "How to display circles of the exactly specified radius independent of their latitude"
I'm trying to display circles  with their radius independent of the latitude object size distortion.
For such a simple question, there must be a simple answer.

I've searched Stack Overflow and other sites, but there is no understandable answer in **plain human English or a Math formula**

[2022-05-17 07:34] Falke-Design commented on #8248
Look into this plugin: https://github.com/nuclearsecrecy/Leaflet.greatCircle

[2022-05-17 07:55] Malvoz commented on #8248
I suggest that you ask a new question on SO in that case.

[2022-05-17 07:56] #8248 closed

[2022-05-17 10:09] #8233 closed

[2022-05-17 22:46] jonkoops commented on #6136
I think we're all in agreement here that we want to drop support for all versions of Internet Explorer so I am marking this proposal as accepted.

[2022-05-18 11:45] geoimpact opened #8249 "Implement a getAttributions method"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-05-18 12:07] Falke-Design commented on #8249
@geoimpact yes you can make a `getAttributions` function. I will look over it when you have created a PR.

[2022-05-18 12:30] IvanSanchez commented on #8249
Attributions belong to `L.Layer`s, not to the attribution control. So

[code]

I don't think attributions should be changed outside of `L.Layer`s. Breaks encapsulation and creates edge cases. I'm really really tempted to close as "won't fix".

[2022-05-18 12:54] Falke-Design commented on #8249
I think it makes totally sense to get the current text of the attirbution control. Changing will be not working but getting the current text is valid.

[2022-05-18 13:57] #8111 closed

[2022-05-18 13:57] #8112 closed

[2022-05-19 10:00] SeboCoder commented on #8164
I still experience this Issue when using the latest main branch version. @Sillson Did it fix the issue on your side?

[2022-05-19 10:07] Falke-Design commented on #8164
@SeboCoder can you try it please with https://leafletjs-cdn.s3.amazonaws.com/content/leaflet/main/leaflet-src.js

[2022-05-19 12:40] SeboCoder commented on #8164
Using that file I get this errormessage
![image](https://user-images.githubusercontent.com/91601291/169295232-058b1b60-dd98-4834-ac1a-22764d0cf423.png)

[2022-05-19 12:45] SeboCoder commented on #8164
Managed to remove the errormessage by removing a 3rd party extention, but original issue is still there

[2022-05-19 14:10] Malvoz commented on #7931
There's also relevant info in the Github docs: https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content

[2022-05-19 15:12] KAMIKAZEUA opened #8252 "More smooth Zoom in map"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-19 16:11] Malvoz commented on #7985
Adding another item to the list: the mobile menu is covering the dialog.

<img width="400" src="https://user-images.githubusercontent.com/26493779/169347318-34371a35-e3ed-422d-ae1e-4a1ddf5b12ab.jpg" alt="dialog covering mobile menu">

(seen on Android Chrome, can't reproduce on desktop simulating mobile though)

[2022-05-20 06:51] nakigoe opened #8253 "Display circles of the exactly specified radius independent of their latitude"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-20 11:58] IvanSanchez commented on #8253
Use `L.CircleMarker`.

[2022-05-20 11:58] #8253 closed

[2022-05-20 12:00] IvanSanchez commented on #8252
Behaviour as expected.

Feel free to experiment with the `zoomSnap`, `zoomDelta`, and `wheelPxPerZoomLevel` options.

[2022-05-20 12:00] #8252 closed

[2022-05-20 15:03] KAMIKAZEUA commented on #8252
@IvanSanchez can u please take a look https://github.com/gpxstudio/gpxstudio.github.io/issues/162#issuecomment-1131868740 ?

Maybe you missed something?

[2022-05-20 15:16] #6175 closed

[2022-05-20 15:20] eliboni commented on #6865
Any news on this one? Also with 1.8.0, when long tapping on a marker (iOS 15.5), the event is properly handled by leaflet but the marker then gets magnified with teh option to close it. I'm wondering if this is connected with [@1926](https://github.com/lichess-org/lichobile/issues/1926) , anyway  "-webkit-user-select: none" does not seem to have solved the issue.

https://imgur.com/J8DE8bQ.png

[2022-05-20 15:42] Falke-Design commented on #6865
@eliboni does it also happens when you make a long click on the zoom control and while making a long click on the shadow of the marker?

[2022-05-20 16:48] eliboni commented on #6865
When clicking on shadow the behaviour is different, the "+" of the zoom
control gets selected! The same happens when long tap anywhere else on the
map

On Fri, May 20, 2022, 17:43 Florian Bischof ***@***.***>
wrote:

[2022-05-22 10:18] Malvoz commented on #5284
Not able to reproduce in v1.8.0.

[2022-05-22 10:18] #5284 closed

[2022-05-22 10:55] Malvoz commented on #7704
Again, thanks everyone for participating in this discussion.

I believe my previous [comment](https://github.com/Leaflet/Leaflet/issues/7704#issuecomment-1090818637) summarizes this issue well. If you've suggested a feature here that hasn't been posted in https://github.com/Leaflet/Leaflet/discussions/7729, please do so!

As long as there is a demand for Leaflet, it will be kept alive by the maint

[2022-05-22 10:55] #7704 closed

[2022-05-22 11:17] Malvoz commented on #5449
I haven't tried to investigate why `display: flex` changes the behavior of text selection, but it's probably desirable to disable text selection in controls in particular. Related: https://github.com/Leaflet/Leaflet/issues/6872.

[2022-05-22 11:23] Falke-Design commented on #5449
If you are speak about controls in general I'm against that. There are many different usecases in plugins which should support text selection in controls. Search of the current position, Error messages, Input fields, etc.

But we can think about disable text selection for the zoom control

[2022-05-22 11:36] Malvoz commented on #5449
@Falke-Design we can continue discussing details in https://github.com/Leaflet/Leaflet/issues/6872, there can be many solutions, for example [SVG icons](https://github.com/Leaflet/Leaflet/discussions/7729#discussioncomment-2599910) wouldn't catch text selection.

[2022-05-22 11:38] Malvoz commented on #6872
https://github.com/Leaflet/Leaflet/issues/5449#issuecomment-1133876106:

[2022-05-22 11:49] Malvoz commented on #6865
Re https://github.com/Leaflet/Leaflet/issues/6865#issuecomment-1133030697:

Sure, but that would only fix the issue in Safari.

Re https://github.com/Leaflet/Leaflet/issues/6865#issuecomment-1133116467:

That's about text selection, separate issue: https://github.com/Leaflet/Leaflet/issues/6872.

(However, even the `<a href="#">` controls (e.g. zoom controls) can prompt the URL "touch callout", th

[2022-05-22 12:19] Malvoz commented on #8068
File a new WebKit bug? Or ask in the existing one?

Simultaneously people are asking to [remove `will-change`](https://github.com/Leaflet/Leaflet/pull/7872).

[2022-05-22 18:43] Malvoz commented on #4260
Yes.

[2022-05-22 18:43] #4260 closed

[2022-05-22 19:47] Malvoz commented on #6734
Without going into details, culling off-screen tooltips will affect the accessibility of tooltips that are out of view, to some extent, so perhaps this should be optional.

[2022-05-23 00:56] aabdolla commented on #8068
If it is removed from the tiles then will we not need to add it to the controls?

[2022-05-23 04:25] agishk opened #8258 "leaflet-measure plugin broken with v1.8.0"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-23 12:26] siimots commented on #8068
Leaflet has fixes for IE8-10, but why not make fixes for millions of iOS devices?
Safari is new IE. This bug has been there for 9 months and it does not look there will be any proper fix in sight.
Safari does not auto update from App Store. iOS update is needed, but many users skip those big updates.
It means Leaflet will be broken for long time for many users.

[2022-05-23 13:33] Kapcash opened #8265 "Some source code not reflected in published version"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-23 13:43] Falke-Design commented on #8265
Thank you for taking time to report this. But when you look on the release date of [1.8.0](https://github.com/Leaflet/Leaflet/releases/tag/v1.8.0) you will see, that #6685 is merged after the release. So everthing is as expected. The change will be in the next release 1.9.0.
The `main` branch is not in sync with the lastest release.

[2022-05-23 13:43] #8265 closed

[2022-05-23 13:47] Kapcash commented on #8265
🤦‍♂️ I just looked at the PR creation date, which is 2019. So I assumed it has been merged long time ago haha

Sorry for the inconvenence, and thank you for this very quick reply!

[2022-05-23 21:37] WTVader opened #8266 "leaflet v1.8.0" javascript module could not be built in skypack"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-23 23:25] IvanSanchez commented on #8266
Skypack doesn't give any useful debug output, so it's impossible to tell what's going on behind the scenes.

[2022-05-23 23:25] #8266 closed

[2022-05-24 04:14] agishk commented on #8258
@jonkoops @mourner @Falke-Design @Malvoz @johnd0e Can anyone look into this bug ASAP?

[2022-05-24 05:13] Falke-Design commented on #8258
Hi @agishk,
we maintain the Leaflet project in our free time and we don't get paid for that. So we will not prioritize this issue only because you say you need it ASAP.

If this issue is so important for you, why do you not fill out all fields while creating the issue? Without a [demo](leafletjs.com/edit.html) we can't do anything.

Leaflet don't has a built in measure tool, so this is pretty sure

[2022-05-24 05:56] agishk commented on #8258
@Falke-Design Here is the jsfiddle URL: https://jsfiddle.net/hoagies/wqj1tkur/5/

[2022-05-24 07:32] Malvoz commented on #8258
For clarity:
- Plugin used: https://ljagis.github.io/leaflet-measure/
- Issue: https://github.com/ljagis/leaflet-measure/issues/171

[2022-05-24 08:05] agishk commented on #8258
Yes , this is the plugin that is being used

[2022-05-24 08:32] eliboni commented on #6865
Well, the issue is *only* with Safari

[2022-05-24 08:34] Malvoz commented on #6865
@eliboni No, see https://github.com/Leaflet/Leaflet/issues/6865#issuecomment-599536458. I can also reproduce on Android.

[2022-05-24 09:04] eliboni commented on #6865
EDIT: corrected jsfiddle.net link above, the issue does not appear with older leaflet versions (1.0 for example).

[2022-05-24 16:18] #6218 closed

[2022-05-25 07:51] Malvoz opened #8267 "Consider not using default values for `alt` and `title`"
Reminder to discuss https://github.com/Leaflet/Leaflet/pull/8251#discussion_r881053782:

[2022-05-25 14:29] mourner commented on #8258
This looks like a serious issue if this plugin became unusable with v1.8.0. Might have to do with the new `stop`/`preventDefault` system — can't think of anything else that could be this breaking. cc @Falke-Design

[2022-05-25 14:41] adamb111 commented on #8258
Hi @agishk,
Probably you need to add `autoPanOnFocus: false` in file leaflet-measure.js
[code]

[2022-05-25 16:07] Falke-Design commented on #8258
I close this because it is a problem of the plugin.

Workaround:
[code]

[2022-05-25 16:07] #8258 closed

[2022-05-25 19:19] JollyBanny opened #8268 "I don't get update from Leaflet's repository"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-25 19:40] Malvoz commented on #8268
Leaflet v1.8.0 was released [2022-04-18](https://github.com/Leaflet/Leaflet/blob/main/CHANGELOG.md#180-2022-04-18) and [`color-adjust` was changed](https://github.com/Leaflet/Leaflet/pull/8211) afterwards. The change will be available in the latest stable version once v1.9.0 has been released.

[2022-05-25 19:40] #8268 closed

[2022-05-26 05:24] jasperdunn opened #8269 "Use semver"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-26 09:02] mourner commented on #8269
Since you haven't provided any details on your issue except "it's broken", there's no way to address this in any way or even understand what exactly was breaking v1.8. Please do better.

[2022-05-26 09:02] #8269 closed

[2022-05-26 14:20] JollyBanny opened #8270 "Uncaught TypeError: Cannot read properties of null (reading 'latLngToLayerPoint')"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [x] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adh

[2022-05-27 04:56] dungla2011 opened #8271 "Error in button Leaflet Jquery Dialog - mobile device"
### Checklist

- [ ] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [ ] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [ ] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-05-27 08:18] IvanSanchez commented on #8270
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-05-27 08:18] #8270 closed

[2022-05-27 08:21] IvanSanchez commented on #8271
That's an issue with https://github.com/gregallensworth/L.Control.jQueryDialog , not with core Leaflet.

[2022-05-27 08:21] #8271 closed

[2022-05-27 08:33] #6336 closed

[2022-05-27 12:11] sumeyradavran commented on #8268
When is the release going to be? @Malvoz

[2022-05-27 12:14] Falke-Design commented on #8268
@sumeyradavran in the next months. We can't say a exact date

[2022-05-28 13:52] mu88 commented on #8217
I solved it, [see here](https://github.com/dotnet/aspnetcore/issues/41577#issuecomment-1140268771)

[2022-05-30 07:54] FloMueh commented on #7652
Gm guys,

mate i had the same issue and it took my hours to find out what the problem is.

problem is the **async** keyword.
`createTile: async function (coords, done) {`

remove the **async** keyword and access your async data via Promise.then(x => tile.src = x) and it will work perfectly.

writing this comment for many guys from google 💯

[2022-05-31 07:04] sumeyradavran commented on #8268
Same issue

[2022-06-01 06:00] Leddfoot commented on #7538
I have a bit of a problem myself, reading **some of the text** at the 0.7 transparency. I can see the black text just fine, however the blue text is a bit fuzzy. And I second that there is no gain visually for me between 0.8 and 1, for the blue text.

The weak contrast is caused by the blue link text, the black text is acceptable contrast.

I know that the link is blue to indicate to users that is

[2022-06-01 18:54] designcomputer opened #8275 "Problem binding a Popup to a specific Marker in an array of Markers"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-06-01 22:44] frafra commented on #6659
I tried a different approach with Leaflet v1.8.0 (with React): I just comment `DomUtil.remove(tile.el);` from `_removeTile`, save the tile and remove the element after the new tile is loaded.

[code]

Flickering is minimal.

[2022-06-02 08:16] nessor commented on #8210
@mourner Can you release this fix soon? Currently our internal pipeline is failing because of this depreciation :(

This would be a good fix without the need of building sth. around :)

[2022-06-02 08:23] Falke-Design commented on #8210
@nessor no there will be no release in the next days.
You can simply overwrite the css by adding this to your own css file:
[code]

[2022-06-02 13:38] ikokostya commented on #8024
https://waronfakes.com/

[2022-06-02 18:55] digital-codes commented on #8159
Can confirm the error with 1.8.0, is solved when going back to 1.7.0
Closing the popup shouldn't route anywhere, right?

[2022-06-02 20:05] mhirsch opened #8276 "GridLayer fails to load map tiles when `redraw` called at fractional zoom level"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-06-03 10:56] afonit opened #8277 "Add redraw as a method to ImageOverlay"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-06-05 16:46] Malvoz commented on #7538
@Leddfoot There are good reasons UAs use a distinct color for link text. I personally don't want to be hovering/clicking text simply to find out which parts are links.

Of course, it'd be easier to reason about (future) design choices that affect accessibility if there was an a11y statement (https://github.com/Leaflet/Leaflet/issues/7537). However I think most will agree that accessible defaults a

[2022-06-07 06:21] Leddfoot commented on #7538
@Malvoz What did you think about the last option though?

This still indicates a link and allows for the proper contrast ratio, and transparency.

I think that your suggestion in #6742, use `font-weight: bolder` is also an indicator that the text is different, and increases readability despite the contrast ratio because of the larger size text.

How about underlined black text or underlined black

[2022-06-07 21:11] Falke-Design opened #8287 "`_isClickDisabled` throws error if parent is removed from DOM"
Since I upgraded leaflet to version 1.8.0, two components in my app have stopped working. They are a [react-search-box](https://www.npmjs.com/package/react-search-box) and a [react-select](https://react-select.com/home) that I placed inside my own custom control. I have applied `DomEvent.disableClickPropagation()` to the control container, like so:
`L.DomEvent.disableClickPropagation(container);`

[2022-06-07 21:11] Falke-Design commented on #8287
@Falke-Design I set up [this demo](https://codesandbox.io/s/infallible-wood-zl59xo?file=/src/components/Map/components/CustomControl.tsx) in codesandbox, I hope it helps! Once again, thank you so much for your help!

_Originally posted by @AngelaCandela in https://github.com/Leaflet/Leaflet/issues/7439#issuecomment-1148999564_

[2022-06-08 08:37] #8287 closed

[2022-06-08 23:33] L53c commented on #6552
You just need to import it. Keep in mind that dynamic is part of next.js, in case You are mistakenly using just react, regards.

`import dynamic from 'next/dynamic'`

[2022-06-09 08:01] JoueBien commented on #6552
which only works with react components if it is a plane old class or function your SOL.

[2022-06-10 03:33] Fate-ui commented on #4453
I solved the question by adding this code to project (anywhere , just sure it will be used)
[code]

[2022-06-10 12:29] hoetmaaiers opened #8289 "GeoJSON has 'renderer' property, but is not documented"
### Checklist

- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this change hasn't been suggested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.

### Which documents need updating?

https://leafletjs.com/reference.html#geojson-option

### Mo

[2022-06-10 13:15] IvanSanchez commented on #8289
No, they don't. `L.GeoJSON` inherits from `FeatureGroup` and `LayerGroup`, which are **not** `L.Path`s. `L.GeoJSON` does not take a `renderer` option at instantiation time.

If you mean "The `L.Path`s spawned by a `L.GeoJSON` have a `renderer` option because they're `L.Path`s", then that's already covered by https://leafletjs.com/reference#geojson-pointtolayer and https://leafletjs.com/reference#g

[2022-06-10 13:15] #8289 closed

[2022-06-11 21:32] camilo-mujica commented on #8268
Same error here

[2022-06-13 08:11] hoetmaaiers commented on #8289
Excuse me for the missing question mark!

About L.GeoJSON not taking a `renderer` option at instantation time... I am defining this at instantation time to allow the `tolerance` to be defined.

When defining tolerance only on the `L.map` instance this has no effect on the Geojson drawn paths.
This [CodeSandbox](https://codesandbox.io/s/leaflet-geojson-tolerance-t7cspp?file=/src/index.js) makes thi

[2022-06-13 15:11] skerit commented on #4844
That plugin draws the individual tiles to their own canvas element. So instead of having a lot of img elements, you have a lot of canvas elements. That might be better for performance, but it doesn't help with the gaps.

[2022-06-14 09:25] cravend commented on #8268
Following. Just FYI, the new version of create-react-app uses Webpack 5, so this will impact anyone on CRA/react-scripts.

[2022-06-14 09:30] MartinSoderholm commented on #3575
Searched this thread for “canvas” but didn't find any answer to this. I just had a look at both Google Maps and MapBox and they both use a single canvas, on which they draw all tiles. Sorry if this was obvious and already known (wasn't sure after reading comment above).

[2022-06-14 12:50] HolgerJeromin commented on #3575
@indigoxela
Leaflet creates many `<img>` elements and try to position them exactly back to back to have seamless surface of map data. Positioning these has to be done very precise. Otherwise we have gaps.

Google, Mapbox paint map data on a single canvas. With this complete different concept it would be hard to have unwanted gaps in the map.

But changing concept is not a small refactoring but a c

[2022-06-14 12:54] MartinSoderholm commented on #3575
@indigoxela Yeah I'm not familiar enough with this library or using canvas to draw stuff to know if this is a viable solution. I just checked their canvas context and they are using WebGL, so my assumption is that drawing images in a grid pattern with decimal coords is something WebGL can handle easily. Drawing chunks of an image tile by tile should yield the same result as drawing the entire imag

[2022-06-14 13:32] HomiG commented on #8268
It Blocks All CI CD.

[2022-06-14 22:44] syonfox commented on #8101
This is how I mitigate this issue on touch devices for mobile. It might help/ point in the right direction but it probably dosent fix the root bug. note that this must be initialized before the map so our event listener gets executed first

[code]

[2022-06-15 10:37] CityBelfast opened #8293 "WMS Zoom Level issue on leaflet"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-06-15 15:10] Falke-Design commented on #8115
@GhadaAJIMI please look into: https://stackoverflow.com/a/71176793/8283938

[2022-06-15 15:45] GhadaAJIMI commented on #7870
@Irokaiser how do we add that plugin in Angular? I installed it from npm but I don't find the module that I need to inclure in app.modules

[2022-06-16 23:22] Malvoz commented on #7526
It was an oversight to suggest `aria-expanded` as it's currently not possible to reliably convey the _expanded_ state. This is because  the `<a>` control itself is `display: none` when the menu is expanded (and focus must stay on the control for screen readers to announce the new state).

Also, the behavior changed (https://github.com/Leaflet/Leaflet/issues/7191#issuecomment-652831990), and the la

[2022-06-16 23:22] #7526 closed

[2022-06-16 23:50] Malvoz commented on #7712
Should `reference-versions.html` be removed as well? Or do we replace the links in that document with the web archive links above?

[2022-06-17 08:58] Falke-Design commented on #7712
I think we should replace it web archiv links or at least suggest that the versions can be found in the web archiv

[2022-06-18 09:13] Malvoz commented on #8208
I'm not able to reproduce this in Edge v102.0.1245.44, are you?

(@IvanSanchez I removed the https://github.com/Leaflet/Leaflet/labels/ie label as the intention is to close out all IE-only issues once support for IE has been dropped.)

[2022-06-18 12:01] Malvoz commented on #8228
Another consideration:

- [ ] Link to documents consistently, per SEO guideline: [Try to keep your internal linking consistent](https://developers.google.com/search/docs/advanced/guidelines/duplicate-content#:~:text=Be%20consistent%3A%20Try%20to%20keep%20your%20internal%20linking%20consistent.).

For example, `https://leafletjs.com` (URL of the 1st search results of "Leaflet js") is not the same r

[2022-06-18 12:03] MrCatEsq opened #8295 "Is it possible to be non-political?"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-06-18 12:10] Malvoz commented on #8295
I'm closing this, because I'm certain that @mourner is not interested in changing the statement.

[2022-06-18 12:10] #8295 closed

[2022-06-18 12:34] MrCatEsq commented on #8295
I would like to hear the opinion of the community on this issue. Perhaps this will change your mind. It is unlikely that an attempt to ignore and silence the problem corresponds to the ideals of freedom that Ukrainians are now fighting for. And, most importantly, I am not suggesting that the statement be changed, I am suggesting that the statement be corrected in accordance with reality and in a m

[2022-06-18 14:34] arieldr commented on #8208
All versions of Edge have resolved the problem so it no longer exists

[2022-06-18 14:35] Malvoz commented on #8208
Thanks for checking @arieldr!

[2022-06-18 14:35] #8208 closed

[2022-06-18 15:52] Falke-Design opened #8297 "Access to the open source program of Browserstack.com"
I registered us for the open source program of Browserstack and I hope we get a positiv answer.

The reseaon for the registration are the issues #7403 and #3575. We have different results in different browsers.

https://www.browserstack.com/open-source
![grafik](https://user-images.githubusercontent.com/19800037/174446256-def91434-6722-4387-b31f-0b5b06e9390e.png)

FYI: @mourner @IvanSanchez @Malvo

[2022-06-18 16:16] mourner commented on #8295
From the source you cited, UN officially confirms 4.5k civilians killed, but with the following note:

In Mariupol alone, local city council estimates 22,000 civilians killed at the minimum — these are just the ones in known mass graves, there are many bodies remaining under the ruble or in improvised graves all over the city. Because of ongoing hostilities and occupation of large parts of Ukraine

[2022-06-18 16:44] Falke-Design commented on #7403
Hey guys,

can you please checkout my solution on your Browsers #8298

Demo: https://plnkr.co/edit/gqQUNU9mf6RiqxD4

@zdila, @paulatthehug, @jinchun-wang

[2022-06-18 18:33] Malvoz commented on #4239
- [ ] A security guide that could explain one or more of the following, if needed:

  - Using [CSP with Leaflet](https://github.com/Leaflet/Leaflet/issues?q=is%3Aissue+csp+is%3Aclosed) ([similar to MapBox](https://docs.mapbox.com/mapbox-gl-js/guides/browsers-and-testing/#csp-directives)). A [_strict_ CSP](https://web.dev/strict-csp/) is very useful for mitigating XSS ([#6465](https://github.com/Le

[2022-06-18 18:34] Malvoz commented on #7580
This looks like a duplicate of https://github.com/Leaflet/Leaflet/issues/6465 (potential for XSS in the attribution).

This is the potential for XSS in popups.

If such content was based on user-input, developers could use a CSP and/or sanitize the HTML to mitigate XSS. Leaflet could provide docs to make developers aware of potential XSS issues and mitigation methods. I've added an item to the wis

[2022-06-18 18:34] #7580 closed

[2022-06-18 19:25] KommX commented on #7403
This works well on my system (Firefox 101.0.1, Win 10).

[2022-06-19 06:53] zdila commented on #7403
@Falke-Design works fine on Firefox and Vivaldi on Linux with HiDPI display.

[2022-06-19 09:56] paulatthehug commented on #7403
Works fine on:

- Linux (Ubuntu 20.04.4 LTS):
  - Firefox 101.0.1
  - Chrome 102.0.5005.115 (Official Build) (64-bit)
  - Waterfox 2020.10 (64-bit) *(yeah, I know, but as I had it hand)*

- macOS Catalina running on a Linux Virtualbox VM
  - Safari 15.4 (15613.1.17.1.13, 15613)

[2022-06-19 10:22] Tyrrrz commented on #8295
Are we still entertaining these claims? Sounds like a lot of confidence in a statement that has no statistical basis, but that has a lot of anecdotal evidence to the contrary.

[2022-06-19 10:31] Malvoz commented on #6158
Confirmed fixed since v1.4.0 (https://github.com/Leaflet/Leaflet/pull/6313).

[2022-06-19 10:31] #6158 closed

[2022-06-19 10:34] japplegame commented on #8295
You should not trust a package whose author allows himself to relay propaganda in open source code.

[2022-06-19 10:50] agromanager commented on #6316
HI
Is this issue fixed?
We have the same problem with the L_DISABLE_3D = true.
But the performance increase makes met want to disable to 3D but then the scaling is not working.

Greetings
Agromanager

[2022-06-19 11:26] Malvoz commented on #6790
Indeed: https://bugzilla.mozilla.org/show_bug.cgi?id=559561

[2022-06-19 11:26] #6790 closed

[2022-06-19 12:49] bartfeenstra commented on #8295
As a longtime Leaflet user, as a longtime Open Source maintainer, and as a longtime human being, I support these changes. If you feel like you want to avoid any mention of one country invading another, I'd like to suggest you find another library or go off-grid entirely. ❤🇺🇦

[2022-06-19 13:00] Malvoz commented on #6703
Fixed in https://github.com/Leaflet/Leaflet/pull/7855.

[2022-06-19 13:00] #6703 closed

[2022-06-19 13:52] Malvoz commented on #7153
@miqrogroove Looks like it was a timing issue, closing in favor of #4200.

[2022-06-19 13:52] #7153 closed

[2022-06-19 13:55] Firefishy commented on #8295
❤️🇺🇦👍

[2022-06-19 19:35] tmiaa commented on #3575
If I put black background on a map we can see gaps:

![gap](https://user-images.githubusercontent.com/95731292/174496360-62cf29a2-d210-442a-9b96-51f9dc9d2324.png)

But from the suggestion by @Eschon to use [L.TileLayer.Canvas](https://github.com/GIAPspzoo/L.TileLayer.Canvas) we don't have gaps:

![no-gap](https://user-images.githubusercontent.com/95731292/174496395-96486aba-dbfb-43ea-95dd-72d605fe

[2022-06-19 22:05] Malvoz commented on #6784
Testing this again for v1.8.0:

- https://leafletjs.com/examples/quick-start/:

  ![leaflet-perf-test2](https://user-images.githubusercontent.com/26493779/174501114-1eaa2834-3f5c-4dff-8156-116ad8d443fc.png)

- https://leafletjs.com/examples/quick-start/example.html:

  ![leaflet-perf-test](https://user-images.githubusercontent.com/26493779/174501172-c12b13fd-357b-4298-8264-3c79ec975279.png)

@xtas

[2022-06-19 22:15] jonkoops commented on #8295
@mourner I suggest we lock this conversation as this will not produce any discussion worth our attention.

[2022-06-20 03:04] sbquinlan opened #8300 "GridLayer flickers when animating fractional zoom changes"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-06-20 03:25] sbquinlan commented on #8300
The start of the animation calls setView with noPrune set to true:

https://github.com/Leaflet/Leaflet/blob/23bee9486c0609c1ef167ea6300a7802c7c913bf/src/layer/tile/GridLayer.js#L533-L535

https://github.com/Leaflet/Leaflet/blob/23bee9486c0609c1ef167ea6300a7802c7c913bf/src/layer/tile/GridLayer.js#L552-L555

When the zoom is 3.1 `this._tileZoom` will not be updated to undefined so the tiles for zoom

[2022-06-20 06:57] #6784 closed

[2022-06-20 06:58] xtassin commented on #6784
Can not reproduce or observe increasing memory consumption any more, with the simple use case on version 1.8

[2022-06-20 07:04] indigoxela commented on #3575
That seems to work! Here's a [demo to compare](http://olga.indigofloat.at/bugdemo/demo-chrome-canvas.html) 1.8.0 as-is with canvas.

[2022-06-20 07:49] Falke-Design commented on #3575
Now we have problems in Firefox while zooming:
![tile_gaps_firefox](https://user-images.githubusercontent.com/19800037/174551401-9a1fb11b-ce79-4c1d-ad36-8896983fa9cf.gif)

But this is a first step in the right direction for Chrome. But I don't know how good the performance is with canvas rendering

[2022-06-20 07:56] indigoxela commented on #3575
Which version? (can't reproduce on 91.10.0esr)

Among other things this needs to be considered, of course. At least, for me there's no noticeable performance impact (FF / Chromium), but that might be different on other OSes or hardware.

[2022-06-20 08:27] Falke-Design commented on #3575
Firefox 101.0.1

[2022-06-20 08:31] Falke-Design commented on #8297
@mourner do you know something about an existing access to Browserstack?

[2022-06-20 09:12] Malvoz commented on #6712
I can reproduce in 1.8.0.

@francoisromain This does look like a Chrome bug (if you want to be sure, try to reproduce it without Leaflet). I encourage you to file a [Chromium bug](https://bugs.chromium.org/p/chromium/issues/wizard).

[2022-06-20 09:16] Malvoz commented on #6712
From https://francoisromain.github.io/bug-leaflet-chrome/:

I noticed you don't necessarily have to interact _with the map_, if you first left-click any area outside the map for example. then use the mousewheel to zoom the map it works as expected too.

[2022-06-20 11:49] tmiaa opened #8302 "L.TileLayer.Canvas in core"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-06-20 11:54] tmiaa commented on #3575
I added new feature request https://github.com/Leaflet/Leaflet/issues/8302 😊

[2022-06-20 20:38] mourner commented on #8297
@Falke-Design nope, no idea. I never used Browserstack myself.

[2022-06-21 10:53] Malvoz commented on #7297
Unable to reproduce in Chrome 102.0.5005.115 and Firefox 101.0.1.

Click and drag pans the map - without moving the cursor after clicking the button - as expected.

[2022-06-21 10:53] #7297 closed

[2022-06-21 13:31] #5996 closed

[2022-06-21 14:09] Malvoz commented on #6051
See also https://github.com/Leaflet/Leaflet/issues/5008.

[2022-06-21 14:09] #5008 closed

[2022-06-21 14:29] #8213 closed

[2022-06-21 15:26] mourner commented on #8297
@Falke-Design the response is very confusing. Let me ping them on Twitter, maybe they can elaborate...

[2022-06-21 15:38] muditlambda commented on #8297
If you wanna explore LambdaTest.com
feel free to ping me back 😁

or drop a mail at support@lambdatest.com

https://www.lambdatest.com/open-source

[2022-06-21 16:18] Falke-Design commented on #8297
@muditlambda first bug in my code already found over your test suite 😄 I think LambdaTest has all what we need and is worth a try. Can you get us in the open source sponsoring?

We can discuss more over my mail design.falke@gmail.com

[2022-06-21 17:02] Falke-Design commented on #8297
Browserstack responsed too:
![grafik](https://user-images.githubusercontent.com/19800037/174856964-085eabc7-fd45-4293-aa15-06d759085c67.png)

[2022-06-21 17:02] #8297 closed

[2022-06-21 17:26] bigomega commented on #8297
@Falke-Design The confusion was primarily because of another registration and sponsorship on the name of [Leaflet](https://github.com/Leaflet/Leaflet) from `kustalex5-at-gmail.com` on `2022-04-23`. Currently, we do not verify the open-source project ownership of the developer requesting access. We believe anyone can, and should-be-able-to contribute to any open-source project, so we trust develope

[2022-06-21 17:30] Falke-Design commented on #8297
@bigomega thank you for solving this!

[2022-06-21 21:41] frowenz opened #8308 "How do I synchronize gifs in chrome?"
Hi. I am working on a map where the tiles are composed of gifs that need to be in sync. When a user zooms in to a new layer and then moves around, the gifs in new tiles will load in out of sync.

The weird thing is this does not happen on Safari only on Chrome. Is there any fix for Chrome?

[2022-06-21 22:10] Etienne-M opened #8309 "Add custom data to marker"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-06-22 05:16] Falke-Design commented on #8308
Can you please share a demo?

[2022-06-22 08:31] jonkoops commented on #7055
I am not against introducing this in the v2 milestone, it's a good moment to introduce changes that might be breaking (see #6239 why this is a breaking change).

@mourner How would you feel about including this one? I think it makes sense to batch some of these breaking changes together.

[2022-06-22 09:02] jonkoops commented on #8308
Please provide a minimal reproducible example of your code or otherwise we cannot help you. Closing this issue due to lack of information, feel free to open a new one with enough details for us to reproduce.

[2022-06-22 09:02] #8308 closed

[2022-06-22 09:51] septatrix commented on #7055
I like this approach. `leaflet/globals` or (legacy, or compat, or whatever name) could probably be as simple as:

[code]

This should still be backwards compatible.

[2022-06-22 12:25] Malvoz commented on #4637
I'm unable to reproduce in v1.8.0 using Firefox 101.0.1 (perhaps due to https://github.com/Leaflet/Leaflet/pull/7872, as suggested by https://github.com/Leaflet/Leaflet/issues/4637#issuecomment-227746356?).

Anyhow, I highly doubt we'll be able to close out #3575 and still have gaps in Firefox, so I think we should close this for now.

[2022-06-22 12:30] bigomega commented on #8297
@mourner Yes, dealing with this abuse of open-source support is an ongoing battle. The price is usually paid by genuine open source devs. TravisCI [stopped their support](https://earthly.dev/blog/migrating-from-travis/) for OSS because of crypto miners.

[2022-06-22 12:30] Malvoz commented on #5705
Closing in favor of https://github.com/Leaflet/Leaflet/issues/8222.

[2022-06-22 12:30] #5705 closed

[2022-06-22 13:42] leroydev commented on #6859
@reiniermujica Did you find a workaround for this issue by any chance? I'm running into the same issue when using leaflet through `react-leaflet`

[2022-06-22 13:48] Falke-Design commented on #6859
@leroydev can you please share a stacktrace of the error?

[2022-06-22 13:52] Falke-Design commented on #6859
It is pretty the same as #8287. The problem is always that React already removed the DOM element of the layer before `layer.remove()` is called.

I will take care of this. We already solved other issues like that for react too. (#8288)

[2022-06-22 14:38] joelhickok commented on #7055
I am not a contributor on this project, so I know I may not hold weight here.  You have to remove the global L at some point to move forward.  Whatever the solution is, I'm sure the talented people here can figure something out.  I realize the plugin issue, but in my own dev world, Leaflet is one of the few libraries out there keeping my development and build pipelines 10 years behind.

And, actua

[2022-06-22 14:50] Malvoz commented on #6901
Looks like the same feature request as https://github.com/Leaflet/Leaflet/issues/5883.

[2022-06-22 14:50] #6901 closed

[2022-06-22 14:50] Malvoz commented on #5883
See also https://github.com/Leaflet/Leaflet/issues/6901.

[2022-06-22 18:53] peanutman0 commented on #8238
@IvanSanchez @lroal I don't know if this helps but I was seeing a similar issue with panning on the tooltips that seems to have been introduced in 1.8.0.   I was able to work around this by wrapping the onMapChanged function call within the movend event in a setTimeout.   Like this:

        map.on('moveend', function (evt) {
            setTimeout(function () {
                onMapChanged();

[2022-06-22 21:14] Malvoz commented on #5774
Re https://github.com/Leaflet/Leaflet/issues/5774#issuecomment-372360856:

http://jsfiddle.net/spydmobile/5hmadjnk/

Able to reproduce in 1.7.1.
Not able to reproduce in 1.8.0.

[2022-06-24 06:09] roncodes commented on #7382
Just checking in to see if you've found a solution. Experiencing the same exact issue.

[code]

but
[code]

both point to the same definition.

[2022-06-24 06:27] roncodes commented on #7382
Update, managed to resolve, if using leaflet plugins or writing a leaflet ESM plugin do not import leaflet. I was importing leaflet and caused the conflict. Removed the esm imports and works fine.

[2022-06-24 08:16] keul commented on #7382
No, I used some workaround that I don't even remember, sorry

[2022-06-24 08:57] mitow7821 opened #8310 "Tooltip jumps while it's content is changed during zooming."
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-06-24 11:13] #8310 closed

[2022-06-27 09:51] #6053 closed

[2022-06-27 13:53] fjoho commented on #8210
Still no patch release planned for this?

[2022-06-27 14:33] jonkoops commented on #7055
I have a some work in progress on the [`export-esm`](https://github.com/Leaflet/Leaflet/compare/export-esm) branch. It adds the proper entry-points to the package and exposes the globals without any breaking changes.

However, strangely enough it looks like I managed to actually break Rollup with this one as all of the outputs end up in a single file instead of separated files.

Perhaps I can get

[2022-06-27 18:53] p3x-robot opened #8313 "How to download the reference"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-06-28 07:43] ayush572 opened #8314 "Leaflet.js showing "Uncaught Error: Invalid LatLng object: (NaN, NaN)" when trying to process the data from sessionStorage"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-06-28 11:06] jonkoops commented on #8313
Can't you download the files from GIT? https://github.com/Leaflet/Leaflet/tree/main/docs

[2022-06-28 17:35] Falke-Design commented on #8314
Please post one entry of `geojsondata` after parsing the file and one after parsing sessionStorage

[2022-06-28 17:42] Falke-Design commented on #8313
You can simply use the browser internal "Save page as ..." function.
https://www.howtogeek.com/415086/how-to-save-a-web-page-in-chrome/

[2022-06-28 17:42] #8313 closed

[2022-06-29 03:51] purpen opened #8315 "this.map is undefined"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `leaflet@1.8.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/issues/296).</em>

[2022-06-29 11:40] AMDvsTMD opened #8316 "bug map._move parameter supressEvent be assigned Accidently"
https://github.com/Leaflet/Leaflet/blob/4e0e97a6311e721a46699ae6e51f2c81ab348863/src/map/handler/Map.TouchZoom.js#L100 the moveFn here expect supressEvent  to be undefind but the next line `this._animRequest = Util.requestAnimFrame(moveFn, this, true);`
according to requestAnimationFrame function description :
The callback method is passed a single argument, a [DOMHighResTimeStamp](https://develop

[2022-06-30 14:54] cwdgservices opened #8318 "Map Scale Way Off"
When displaying both miles and meters I noticed our map displayed 100km and 100 miles at the same time.  It was also displaying this distance while I was looking at a map of the entire united states.  I will be digging into your functions to help find a solution to the issue when I have some time.

[code]

[2022-06-30 16:35] IvanSanchez commented on #8318
How exactly is it "way off"? What's the expected result vs the actual result?

[2022-07-01 09:07] mohammed-gehad opened #8319 "autoprefixer: Replace color-adjust to print-color-adjust. The color-adjust shorthand is currently deprecated"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-01 09:11] Malvoz commented on #8319
Duplicate of https://github.com/Leaflet/Leaflet/issues/8268.

[2022-07-01 09:11] #8319 closed

[2022-07-01 11:12] Malvoz commented on #8309
This is essentially a duplicate of https://github.com/Leaflet/Leaflet/issues/4225 (how to use [`data-*` attributes](https://developer.mozilla.org/en-US/docs/Learn/HTML/Howto/Use_data_attributes) with markers). But leaving this open for discussion for now, as it seems to be a common question on SO:
- [How to pass data with marker in leaflet js](https://stackoverflow.com/questions/17423261/how-to-pa

[2022-07-01 13:57] RRGT19 commented on #8268
I have the same problem, we need a hotfix version, would be awesome.

[2022-07-01 15:04] pouemes opened #8323 "i am using https://github.com/stefanocudini/leaflet-search"
i am using https://github.com/stefanocudini/leaflet-search
with leaflet  1.7.1 and 1.8.0  with firefox its impossible to scroll on the search result (with other browsers no problem)

in this example https://opengeo.tech/maps/leaflet-search/examples/geojson-layer.html
try to search with firefow m then scroll, it work because on this page its with a previous version of leaflet here 1.3.0

with firef

[2022-07-03 03:56] pouemes commented on #8323
i really think that it's not because of the plugin

[2022-07-05 14:25] AmitMY opened #8327 ""window is not defined" (server side rendering)"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-05 16:39] IvanSanchez commented on #8327
Duplicate of https://github.com/Leaflet/Leaflet/issues/6331 , https://github.com/Leaflet/Leaflet/issues/3220 , https://github.com/Leaflet/Leaflet/issues/6552 .

[2022-07-05 16:39] #8327 closed

[2022-07-05 21:27] Falke-Design commented on #8323
This is a issue with the plugin / Firefox, because it uses the old [mousewheel](https://github.com/stefanocudini/leaflet-search/blob/15b4c295c935c6c227781fca05c6a6daa113c621/src/leaflet-search.js#L362) event listener instead of  `wheel` to prevent zooming on the map. Firefox doesn't fire `mousewheel` anymore: https://plnkr.co/edit/sbrPjG2j2GRJ3Av0

You use this simple workaround:
[code]

[2022-07-05 21:27] #8323 closed

[2022-07-05 21:37] Falke-Design commented on #8316
@AMDvsTMD wow very nice catch!
It would be nice if you can add a PR for this.
Change
[code]
to
[code]

[2022-07-06 06:03] pouemes commented on #8323
A great thank it work in changing mousewheel by wheel in the plugin
thank you fake-design

[2022-07-06 11:12] septatrix commented on #7055
It definitely would be nice if this could be implemented in a backwards compatible manner. Nevertheless I think that for v2 the global `L` should be considered for removal as this encourages plugins to be more modular and not modify global stuff.

[2022-07-06 11:25] #8316 closed, assigned to nobody

[2022-07-06 15:11] jonkoops commented on #7055
I think we want to drop UMD builds and the global at some point (whether that's 2.0 or some other future version). To maintain backwards compatibility we can provide a dedicated `leaflet/globals` import to restore the behavior.

Personally I'd like to work Leaflet towards an 'ESM first' library so that it can simply be imported directly from a web browser. New standards such as [Import Maps](https

[2022-07-07 23:24] AndreasAtakan commented on #4696
Hey! Not sure if this is right or not, thought I'd share ([here](https://github.com/mutsuyuki/Leaflet.SmoothWheelZoom))

[2022-07-09 13:19] Falke-Design commented on #4696
@AndreasAtakan thank you for sharing. This is a nice plugin.

[2022-07-09 13:22] Falke-Design commented on #3575
I have currently no time, but maybe someone wants to test this [SmoothWheelZoom Plugin](https://mutsuyuki.github.io/Leaflet.SmoothWheelZoom/) with Leaflet 1.8.0 and check if the spaces are gone

[2022-07-09 15:35] tmiaa commented on #3575
@Falke-Design Here is SmoothWheelZoom Plugin and black background on map with Leaflet 1.8.0:

![smooth-wheel-zoom-gap](https://user-images.githubusercontent.com/95731292/178112205-2c200f95-29b9-4b70-ae66-d7ca17e35687.png)

[2022-07-10 09:53] indigoxela commented on #3575
Unfortunately same here, setting a strong contrast bg via dev tools - and the lines are there when zooming. Additionally, this plugin makes zooming slower (less responding).

[2022-07-13 16:34] kgjenkins opened #8333 "list Leaflet.fullscreen on plugin page"
### Checklist

- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this change hasn't been suggested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.

### Which documents need updating?

https://leafletjs.com/plugins.html#fullscreen-controls

###

[2022-07-13 16:36] MareinK opened #8334 "geoJson: layers based on feature property"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-07-13 19:41] #8334 closed

[2022-07-14 11:25] asdf8dfafjk opened #8335 "Lots of one sided propaganda by banderites on the website."
### Checklist

- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this change hasn't been suggested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.

### Which documents need updating?

_No response_

### Motivation

Can you tell me some ukraini

[2022-07-14 15:00] ma7moudat opened #8336 "Tiles can no longer be loaded due to CORB error"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-14 15:23] IvanSanchez commented on #8336
In your REPL you're providing the URL of a `.json` file (`L.TileLayer('https://openmaptiles.github.io/osm-bright-gl-style/style-cdn.json')`) instead of a template to images. This falls into the "PEBCAK" category of problems.

Note that Leaflet has no built-in support for mapbox-style vector tile stylesheets (which is, supposedly, what that `.json` file is)

[2022-07-14 15:23] #8336 closed, assigned to nobody

[2022-07-14 23:31] sumitsaurabh927 commented on #8333
I'd love to work on this!

I've previously contributed to Leaflet ( issue: #8183) and would absolutely love to contribute more!

Can you please assign me?

[2022-07-15 08:52] meislisha opened #8337 "If the marker customizes icon, when the map is zoomed, the marker will not be positioned correctly and will move around."
`<!DOCTYPE html>
<html>
  <head>
    <title>CRS.Simple example - Leaflet</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLo

[2022-07-15 15:00] meislisha commented on #895
Using this code, you can see that the marker location is constantly moving when zooming

`
<!DOCTYPE html>
<html>
<head>
	<title>CRS.Simple example - Leaflet</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
  <link rel="stylesheet" href="https://unpkg.com/leafle

[2022-07-15 17:10] sumitsaurabh927 commented on #8333
Okay, I installed ruby and ruby-devel packages, added the directory to my `path` variable, and reloaded the .zshrc file, yet this is happening:

![image](https://user-images.githubusercontent.com/62152915/179273886-d1c7f4a5-d25c-4e7f-a16b-75982c08720a.png)

Where am I going wrong? I'm on fedora.

[2022-07-15 22:25] viniciussousa opened #8338 "Type alias 'Geometry' circularly references itself"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-15 22:58] IvanSanchez commented on #8338
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-07-15 22:58] #8338 closed

[2022-07-15 22:58] IvanSanchez commented on #8338
In particular, note that there is no typescript anywhere in this repo.

[2022-07-16 01:16] meislisha commented on #895
@IvanSanchez  look at this,please   [https://github.com/Leaflet/Leaflet/issues/895#issuecomment-1185630452](url)

[2022-07-17 16:50] jonkoops commented on #6859
Not sure what to do about this issue if we do not have a reliable and reproducible test case. I say we close this issue until someone finds a way to reproduce this.

@Falke-Design WDYT?

[2022-07-17 17:23] jonkoops commented on #8333
Strange error, but no worries. If you can update the plugin file I can verify this locally.

[2022-07-17 17:24] jonkoops commented on #8318
Closing this issue due to lack of activity and no reproducible example.

[2022-07-17 17:24] #8318 closed

[2022-07-17 17:25] jonkoops commented on #8315
Closing this due to a lack of a reproducible example.

[2022-07-17 17:25] #8315 closed

[2022-07-17 17:26] jonkoops commented on #8314
Closing this due to lack of response and no reproducible example.

[2022-07-17 17:27] #8314 closed

[2022-07-17 17:29] jonkoops commented on #8309
Perhaps this is something that could be improved with better documentation on our side? Perhaps this could be a part of [the examples](https://leafletjs.com/examples.html)?

[2022-07-17 17:35] jonkoops commented on #8302
If anything this would be an entirely separate TileLayer which I don't think is compatible with the philosophy of Leaflet (or it's current architecture). But I'd like to see one of the core members weigh in on this.

[2022-07-17 18:53] Falke-Design commented on #6859
I tried to reproduce this error but I found no way how this can happens. `map._mapPane` is only "deleted" in the `map.remove()` function but this also stops the animation. So it is not possible that `_mapPane` is `undefined` with only the Leaflet-Core code.

I never worked with react, so my knowledge is very small but I tested it and I get no errors: https://codesandbox.io/s/leaflet-with-react-for

[2022-07-17 18:53] #6859 closed

[2022-07-17 20:58] #5216 closed

[2022-07-18 19:32] PatriotRossii opened #8346 "Website is unavailable from Russia"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-18 19:40] Malvoz commented on #8346
This is not a problem with Leaflet.

[2022-07-18 19:45] Malvoz commented on #8346
And to clarify, in the case you haven't accessed the Leaflet site at all lately, Russia is blocking the site due to a dialog that contains the same message as in https://github.com/Leaflet/Leaflet#readme:

[2022-07-18 20:57] IvanSanchez commented on #8346
This has been known since May (about two months ago). As far as we're aware, Роскомнадзор/Roscomnadzor (Russia's federal agency for censorship) is responsible for the block, and they're the only ones able to lift it.

[2022-07-19 13:53] sumitsaurabh927 commented on #8333
How do I update that?

[2022-07-19 18:00] kgjenkins commented on #8333
I think there just needs to be a new file added to https://github.com/Leaflet/Leaflet/tree/main/docs/_plugins/fullscreen-controls following the pattern of the existing files there.

Note that the existing `leaflet-fullscreen.md` file is for a *different* plugin by @brunob that has the same name `leaflet.fullscreen`.

I'm not sure how best to handle the name collision.  Hopefully @brunob and others

[2022-07-19 22:58] davetapley commented on #8165
This just caught me out: https://stackoverflow.com/a/73044271/21115

[2022-07-20 05:13] scaddenp commented on #7243
With 1.8 this issue seems to be problematic again. My tests were working for simulating mouseclicks for a polygon with:

    var ev = new MouseEvent('pointerdown', {'view': window, 'bubbles': true, 'cancelable': true, 'clientX': x, 'clientY': y});
    var el = document.elementFromPoint(x, y);
..,
and then
    var ev = new MouseEvent('pointerup', {'view': window, 'bubbles': true, 'cancelable': true

[2022-07-20 07:15] Radik24 commented on #8268
Hi, I found it to be an issue too. Hotfix would be great! Thanks

[2022-07-20 08:11] stephenjason89 opened #8348 "Replace color-adjust to print-color-adjust"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-20 09:32] brunob commented on #8333
Hi, i've already proposed this on https://github.com/Leaflet/Leaflet.fullscreen/issues/119 but didn't get any feedback :p

This plugin haven't been updated since 2018. FTR, i've published https://github.com/brunob/leaflet.fullscreen on 2012, then https://github.com/Leaflet/Leaflet.fullscreen came in 2013.

Maybe just use a `.` instead of a `-` and it will be fine ?

[2022-07-20 10:26] stephenjason89 commented on #8348
@IvanSanchez Thank you for the reply. I'm sorry for the duplicate issue .

[2022-07-20 15:04] existe-deja commented on #8210
I don't think it should be closed :thinking:

[2022-07-20 15:46] Falke-Design commented on #8333
You can use what you want. I suggest to use `Leaflet-Fullscreen`, then it is listed behinde the current `leaflet.fullscreen` which has active maintainance (which is better).

[2022-07-20 15:48] Falke-Design commented on #8210
@existe-deja We haven't released a new version since that but it is closed because we already fixed it. You can simple use the code from the repo und build your own source files, then the issue is solved for you.

[2022-07-20 15:53] cravend commented on #8210
That's not a solution to this issue and I'd also like to request that it be re-opened. Of course it's _theoretically_ possible to build the source files directly, but if you're using the code via NPM or a CDN (like literally everyone these days), then you're stuck with these build errors. Please release a patch ASAP!

[2022-07-20 16:26] IvanSanchez commented on #8210
You folks are treading the thin line between politely asking for a release and harassing the maintainers.

Bug reports are closed when the bug isn't reproducible on a build from the `main` branch, not when a release happens.

[2022-07-20 16:54] davetapley opened #8349 "Be able to use main branch with NPM"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-07-20 20:17] jonkoops commented on #8349
We could attempt to publish a `-dev` version to NPM on every commit although this would require some automation to create new version commits as NPM does not allow you to overwrite versions. So that would end up becoming something like `x.x.x-dev.1`, `-dev.2, etc.

Alternatively if we end up turning the library into a pure ESM package I think it would be possible install the package from GIT (as l

[2022-07-20 20:18] #7055 closed

[2022-07-20 20:35] jonkoops commented on #7243
Please open a new issue (or check for existing issues), we don't keep track of comments of closed issues as they are hard to track.

[2022-07-20 21:04] davetapley commented on #8349
@jonkoops hmm, good point, I think that makes pushing to NPM a no go.

But! I also just learned that NPM can take a [tarball URL](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#urls-as-dependencies), so it might be as simple as making ⬇️ also push a `.tar` (I already checked and it doesn't work with the `.zip`) 😞
https://github.com/Leaflet/Leaflet/blob/519db3d77177b8016f0478763261199b7