[2022-07-21 09:22] Malvoz commented on #8068
@siimots Is it fixed in 15.6? Otherwise you may want to re-open your [original bug](https://bugs.webkit.org/show_bug.cgi?id=238796) that was marked as duplicate of bug 238589.

AFAICT (and as described in the bug report) the bug is only appearing during pan, so it's not totally broken, more of a UX bug. Anyway, even if the workaround was added to leaflet.css it wouldn't be fixed until the next rel

[2022-07-21 09:29] siimots commented on #8068
I'm using iOS 16 beta and this bug is fixed there.

I do not have access to 15.x device at the moment.

[2022-07-23 11:47] jonkoops commented on #8068
Thanks for verifying that @siimots, much appreciated.

[2022-07-23 11:53] jonkoops commented on #8349
I think the tarball approach would work for us, it's very low maintenance and would skip the whole actually publishing to a registry debacle.

[2022-07-24 11:26] jonkoops opened #8351 "Drop support for UMD modules"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-07-24 11:38] jonkoops opened #8352 "Update documentation to reflect 'ESM first' approach"
Now that we have landed support for ES modules in #8329 the documentation should be updated to reflect this as the preferred approach to use Leaflet. This includes:

- Replacing usages of the global `L` with imports (preferably named)
- Updating installation instructions to prefer loading Leaflet as an import from CDNs
- Possibly recommending [Import Maps](https://caniuse.com/import-maps) (needs m

[2022-07-24 11:42] jonkoops commented on #3314
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:42] #3314 closed

[2022-07-24 11:43] jonkoops commented on #7414
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:43] #7414 closed

[2022-07-24 11:43] jonkoops commented on #6490
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:43] #6490 closed

[2022-07-24 11:43] jonkoops commented on #6470
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:43] #6470 closed

[2022-07-24 11:44] jonkoops commented on #6306
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:44] #6306 closed

[2022-07-24 11:44] jonkoops commented on #5548
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:44] #5548 closed

[2022-07-24 11:44] jonkoops commented on #5371
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:44] #5371 closed

[2022-07-24 11:44] jonkoops commented on #5109
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:44] #5109 closed

[2022-07-24 11:44] jonkoops commented on #4799
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:44] #4799 closed

[2022-07-24 11:45] jonkoops commented on #3891
Closing this issue as we have decided to drop support for Internet Explorer in a future version of Leaflet (see #6136).

[2022-07-24 11:45] #3891 closed

[2022-07-24 11:46] jonkoops commented on #3197
Can anyone verify this is still an issue that occurs?

[2022-07-24 11:54] jonkoops opened #8353 "Release 1.9"

[2022-07-24 11:56] jonkoops commented on #8353
@mourner @IvanSanchez @Falke-Design I think it's time we start prepping the 1.9 release, let's use this issue to coordinate our efforts on what we still need to do before release. I'm updating the 1.9 milestone so we have all of the work in there that was merged since the last release.

[2022-07-24 12:06] jonkoops commented on #8353
Okay, I've added all of the changes to the correct milestone. Perhaps one of you could run through it to see if I missed anything?

[2022-07-24 12:17] Falke-Design opened #8354 "min/maxZoom Limit not working correct with `NaN`?"
I amended the commit to include tests that check if two layers with different zoom levels will update the zoom limit. For example, if `minZoom` is 6 for the first layer and 4 for the second layer, then the min zoom limit of the map will updated to 4.

However, in the process I discovered an edge case that I think is a bug but wanted your opinion on. When only `minZoom` or only `maxZoom` is explici

[2022-07-24 12:33] Falke-Design commented on #8354
With `NaN` for `minZoom` while TileLayer creation, the `maxZoom` results to be `NaN` too..
[code]

[2022-07-24 12:44] #7762 closed

[2022-07-24 13:26] mann-codes2014 commented on #7281
Hi, I think, we can import a **GeoJSON** file as geojson files also have **.json** extension. After that we can parse that JSOn to simple Javascript object and use with **L.geoJSON**.

[2022-07-24 15:13] Falke-Design commented on #7403
@paulatthehug are you sure that it worked on Safari? In all Browser simulations that i made with safari, it didn't worked.

Anyway can you please check it again, I updated the logic for macOS.
Old: https://plnkr.co/edit/gqQUNU9mf6RiqxD4
New: https://plnkr.co/edit/vtEzxb7P0EFCkHoq

[2022-07-24 15:28] jonkoops commented on #7281
I don't see the need to put this into separate JSON file, the code is about how to display GeoJSON. The manner in which is retrieved is up to the user.

[2022-07-24 15:28] #7281 closed

[2022-07-24 15:32] jonkoops commented on #8309
I'm closing this issue as it's a question which has been answered. If anyone feels up to writing a guide for this feel free to open up a PR.

[2022-07-24 15:32] #8309 closed

[2022-07-24 15:43] jonkoops commented on #8185
Closing this issue as it doesn't seem to be a bug in Leaflet. If you are looking help with specific issues I'd recommend using Stack Overflow or the discussions.

[2022-07-24 15:43] #8185 closed

[2022-07-24 18:48] AronSchoffer opened #8355 "popups do not use style of custom elements"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-24 20:04] aeallord opened #8356 "#close being appended to URL"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-24 20:10] Falke-Design commented on #8356
Already fixed in #8160 and will be released with 1.9.0

[2022-07-24 20:10] #8356 closed

[2022-07-25 00:13] IvanSanchez commented on #8355
This is behaviour as expected. The contents of the popup are different from the popup itself.

Do read https://gis.stackexchange.com/q/285588/ .

[2022-07-25 00:13] #8355 closed

[2022-07-25 08:14] paulatthehug commented on #7403
Apologies for the delay in replying: Virtualbox upgrade failed. Now fixed.

On both of those the console log is showing a Zoom delta of +/- 1 but I can't help but think we need someone with a real Mac to be sure one way or the other ...

[2022-07-25 10:57] AronSchoffer commented on #8355
I think I didn't use the right terminology.
The question you linked talks about the style of the popup itself.
What I tried to show with the example above is that the popup content isn't being styled when you pass a styled custom element to bindPopup(). The popup content _is_ being styled however, when you pass a styled html element (not a custom element) to bindPopup().
![image](https://user-imag

[2022-07-25 11:11] Malvoz commented on #8355
@AronSchoffer Your example with `<my-popup>` is reproducible without Leaflet, as such not a Leaflet bug. How come you're styling `<p>` in one scenario but not the other? Otherwise, change `<my-popup>` to `display: block`.

[2022-07-25 11:32] Malvoz commented on #8353
Aside from the issues and PRs in the 1.9.0 milestone, there are other [PRs that already have been approved](https://github.com/Leaflet/Leaflet/pulls?q=is%3Apr+is%3Aopen+review%3Aapproved+no%3Amilestone), maybe they can be merged in too before releasing?

[2022-07-25 11:36] AronSchoffer commented on #8355
Ah you're right. Thanks and my apologies, should have looked into it more before raising an issue.

[2022-07-26 06:28] Malvoz commented on #7613
@pieterhoekstra Please provide a minimal example reproducing this issue (using [plunker](https://plnkr.co/edit/?p=preview&preview) or any other suitable editor), if possible.

[2022-07-26 06:55] IvanSanchez commented on #7770
Can't reproduce.

Besides, the example provided has a zero-height `<body>`.

[2022-07-26 07:43] Malvoz opened #8358 "Refactor/extend positioning of controls"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-07-26 07:56] Malvoz commented on #7931
This seems pretty straight forward with Zenodo, following the GH docs.

Do we want to allow the following access?

![zenodo](https://user-images.githubusercontent.com/26493779/180953343-f1395edc-bde6-412c-992b-d7042f12deab.png)

Should I go ahead and attempt to set this up, or maybe you want to do it @IvanSanchez?

[2022-07-26 11:14] IvanSanchez commented on #7931
@Malvoz I don't see any immediate benefit, so feel free to go ahead.

[2022-07-26 14:48] Malvoz commented on #7338
Is this bug still present in later versions of Firefox for Android? @NHellFire, @ya-web Can you test please?

[2022-07-26 16:11] Malvoz commented on #7185
- The information in this bug report is too vague.
- Response to feedback from maintainers is vague or lacking.
- And with little demand from the community for a bug fix, this is perhaps either app-specific or specific to iOS 13 which must've been resolved since.

@Bitxenio, @ivanov-v If you can reproduce this bug in later versions of iOS with Leaflet v1.8.0 we can re-open this issue. Although I e

[2022-07-26 16:11] #7185 closed

[2022-07-27 10:39] Malvoz commented on #2652
Updated with `@latest` Leaflet versions:
- [With `maxZoom`](https://jsfiddle.net/vmfuyc87/)
- [Without `maxZoom`](https://jsfiddle.net/g18kexbz/)

@nicomgd, @Starefossen, @PascalReintjens Are you able to reproduce the bug using the `@latest` version?

[2022-07-27 11:26] Malvoz commented on #8020
I don't see any reason to keep this issue open, since the bug is not present on iOS 14 or later.

[2022-07-27 11:26] #8020 closed

[2022-07-27 17:20] ChristopherWirtOfficial opened #8359 "The site's dialog should be moved to localStorage from sessionStorage"
### Checklist

- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this change hasn't been suggested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.

### Which documents need updating?

_No response_

### Motivation

I personally support everyth

[2022-07-27 18:06] sumitsaurabh927 commented on #8333
Still having the ruby installation issue. I've even done a clean re-install of OS on my machine.

[2022-07-27 19:30] NeverGiveUp23 commented on #8145
Hello, can you assign me a task. doesn't matter which one.

[2022-07-27 20:59] IvanSanchez commented on #8359
Sounds very reasonable. If you can do a PR against https://github.com/Leaflet/Leaflet/blob/main/docs/dialog/dialog.js (after having tested that using `localStorage` works as expected), it should be no problem to merge that.

ping @Malvoz

[2022-07-27 21:09] Falke-Design commented on #8145
@NeverGiveUp23 maybe the easiest ones are:
 - containerPointToLatLng
 - latLngToContainerPoint
 - mouseEventToContainerPoint
 - mouseEventToLayerPoint
 - mouseEventToLatLng

[2022-07-28 09:54] Malvoz commented on #7227
@jfrankl Your codepen was deleted. Are you able to reproduce this in v1.8.0?

[2022-07-28 12:22] Malvoz commented on #8353
I appreciate the push towards a release, but was that step necessary? I just removed https://github.com/Leaflet/Leaflet/pull/7851 from the 1.9.0 milestone, since it was released with 1.8.0 (not to be confused with https://github.com/Leaflet/Leaflet/pull/8211). We should instead create a changelog from the [list of commits since the v1.8.0 release](https://github.com/Leaflet/Leaflet/compare/v1.8.0.

[2022-07-28 13:40] jfrankl commented on #7227
@Malvoz I can't reproduce this in the latest version of Chrome, so I am going to close the issue.

[2022-07-28 13:40] #7227 closed

[2022-07-28 17:37] #6666 closed

[2022-07-28 17:51] Malvoz commented on #6486
Not able to reproduce using v1.8.0: https://plnkr.co/edit/SudJnPOVbG7Y901P?preview

[2022-07-28 17:51] #6486 closed

[2022-07-28 17:53] Malvoz commented on #5774
Closing per above comment.

[2022-07-28 17:53] #5774 closed

[2022-07-28 21:35] Malvoz commented on #4812
That JSBin no longer works (resources are blocked due to [mixed content](https://developer.mozilla.org/en-US/docs/Web/Security/Mixed_content)).

Updated:

- v1.0.0-rc.3: https://jsbin.com/xiyaduxizo
- v1.8.0: https://jsbin.com/waviyemumu

Can reproduce the bug in v1.0.0-rc.3. Not reproducible in v1.8.0.

[2022-07-28 21:35] #4812 closed

[2022-07-30 16:28] abhi3315 commented on #8145
It seems no one is assigned to this issue. Can I pick up this issue?

[2022-07-30 18:07] AndiLeni opened #8360 "Smoother tile updates"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-07-30 18:44] IvanSanchez commented on #8360
Duplicate of https://github.com/Leaflet/Leaflet/issues/6659

[2022-07-30 18:44] #8360 closed

[2022-07-30 20:45] Malvoz commented on #8145
@abhi3315 Absolutely!

[2022-08-01 06:27] satrock1 opened #8361 "when hovering the mouse over the leaflet-control disappears"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [x] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-01 06:52] IvanSanchez commented on #8361
Please provide a reproducible example. Right now it's impossible to know what's going on.

Does the bug reproduce in other browsers?

[2022-08-01 10:34] Malvoz commented on #8361
Looks similar to / possibly duplicate of https://github.com/Leaflet/Leaflet/issues/5931.

@satrock1 It would indeed be very helpful if you could provide a reproducible example.

[2022-08-01 15:54] jonkoops commented on #8353
Just some bookkeeping as I want to use the milestone to compile the changelog. I've used the list of commits to assign them to the correct milestone, but we can also just use the commit log as a reference.

I think we should go ahead with the release of 1.9 without merging in more work. Perhaps we can start releasing some betas?

I'd like to write a statement for the 2.0 release about our support

[2022-08-01 17:00] jonkoops commented on #8359
This seems like a reasonable request, would you be willing to implement this @ChristopherWirtOfficial?

[2022-08-01 17:01] jonkoops opened #8365 "Implement test for 'panTo' method of Map"

[2022-08-01 17:02] jonkoops opened #8366 "Implement test for 'panBy' method of Map"

[2022-08-01 17:02] jonkoops opened #8367 "flyToBounds"

[2022-08-01 17:03] jonkoops opened #8368 "Implement test for 'panInsideBounds' method of Map"

[2022-08-01 17:04] jonkoops opened #8369 "Implement test for 'stop' method of Map"

[2022-08-01 17:05] jonkoops opened #8370 "Implement test for 'locate' method of Map"

[2022-08-01 17:05] jonkoops opened #8371 "Implement test for 'stopLocate' method of Map"

[2022-08-01 17:06] jonkoops opened #8372 "Implement test for 'addHandler' method of Map"

[2022-08-01 17:06] jonkoops opened #8373 "project"

[2022-08-01 17:07] jonkoops opened #8374 "Implement test for 'unproject' method of Map"

[2022-08-01 17:07] jonkoops opened #8375 "Implement test for 'layerPointToLatLng' method of Map"

[2022-08-01 17:08] jonkoops opened #8376 "latLngToLayerPoint"

[2022-08-01 17:08] jonkoops opened #8377 "Implement test for 'containerPointToLatLng' method of Map"

[2022-08-01 17:08] jonkoops opened #8378 "Implement test for 'latLngToContainerPoint' method of Map"

[2022-08-01 17:09] jonkoops opened #8379 "Implement test for 'mouseEventToContainerPoint' method of Map"

[2022-08-01 17:10] jonkoops opened #8380 "mouseEventToLayerPoint"

[2022-08-01 17:10] jonkoops opened #8381 "Implement test for 'mouseEventToLatLng' method of Map"

[2022-08-01 17:11] jonkoops commented on #8145
I've created some more granular issues so that we can track the changes better, feel free to sign up for any of them.

[2022-08-01 17:19] ChristopherWirtOfficial commented on #8359
@jonkoops I'll be honest, the repo is set up in such a bespoke way, I have no idea how I'd "build it". The fix is 100% a string replacement of `sessionStorage` to `localStorage` because they are the same interface for the purposes of the dialog.

I made a PR, but it's untested. To test, I would simply check that the dialog ack timestamp is set into localStorage and retrieved properly by not showin

[2022-08-01 17:21] abhi3315 commented on #8377
I will be taking up this issue as I am already done with the test case of `containerPointToLatLng`.

[2022-08-01 17:37] abhi3315 commented on #8378
Please review the PR https://github.com/Leaflet/Leaflet/pull/8384.

[2022-08-01 17:37] abhi3315 commented on #8377
Please review the PR https://github.com/Leaflet/Leaflet/pull/8384.

[2022-08-01 19:51] IvanSanchez commented on #8359
There are some instructions at https://github.com/Leaflet/Leaflet/blob/main/CONTRIBUTING.md#improving-documentation .

[2022-08-01 20:44] nenadvicentic opened #8385 "Popup font drastically smaller since update to 1.8.0"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-01 21:18] Malvoz commented on #8359
Fixed in https://github.com/Leaflet/Leaflet/pull/8382.

[2022-08-01 21:18] #8359 closed

[2022-08-01 21:39] Malvoz commented on #8385
Duplicate of https://github.com/Leaflet/Leaflet/issues/7952.

This is due to changes that allow fonts to respect users' browser settings (https://github.com/Leaflet/Leaflet/pull/7800, https://github.com/Leaflet/Leaflet/pull/8057).

You may end up with small font sizes if you're also using small fonts on the document. You can change the `font-size` of `.leaflet-container` (or the font size of the d

[2022-08-01 21:39] #8385 closed

[2022-08-02 03:56] satrock1 commented on #8361
I can’t provide my code due to the specifics of confidentiality, but the problem can be reproduced using a plugin like mine (`Leaflet.Control.Layers.Tree`), use 210 layers (`L.tileLayer.wms`) and output them using (`L.control. layers.tree`). The total number of objects should be more than 600,000, and the styles in the geoserver should be as follows:
[code]

[2022-08-02 05:17] satrock1 commented on #8361
I saw the L.tileLayer.canvas plugin but I don't understand how to implement it instead:
[code]

[2022-08-02 06:20] nenadvicentic commented on #8385
After reading #7952 , #7800, #8057, I'm see the intention (following user's browser settings), but the reasoning of implementation seems very complicated to me.

On top of that, proposed workaround:

Does not have any effect on the website. Leaflet's  `.leaflet-container` rule overrides the rule above, placed in `site.css`.

To make a workaround work, I made following override:

[code]

Not sure i

[2022-08-02 09:02] #8377 closed

[2022-08-02 09:02] #8378 closed

[2022-08-02 10:00] matrad opened #8386 "L.svgOverlay produces a crash on the iOS Safari Browser if we add multiple SVG-Overlays"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-02 12:44] matrad commented on #8386
Additional Note: We noticed that when using a custom layer it works. It's strange why it does not work with the svgOverlay, because it uses nearly the same way to render.

Example: https://bit.ly/3d0lbB6

[2022-08-02 17:59] terax6669 commented on #8302
http://olga.indigofloat.at/bugdemo/demo-chrome-canvas.html
This introduces white lines on FF (103.0)

[2022-08-03 17:39] Falke-Design commented on #8302
I can confirm

[2022-08-04 09:28] chocho11 opened #8389 "this._source is not defined (leaflet 1.8)"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-04 09:31] #7403 closed

[2022-08-04 09:32] Falke-Design commented on #8389
Please share a demo: https://leafletjs.com/edit.html

[2022-08-04 13:02] cgalvarino commented on #8068
FYI I see this issue in Chrome v 104.x on the iPhone running iOS 15.5.  https://github.com/Leaflet/Leaflet/issues/8068#issuecomment-1107640526 does the trick.  H/T!

[2022-08-04 13:17] cgalvarino commented on #8068
I spoke too soon.  Didn't seem to fix it completely.  I'll stay tuned for the iOS update.

[2022-08-05 02:04] anurag-dhamala commented on #8365
Thank you @jonkoops .

[2022-08-05 06:07] anurag-dhamala commented on #8365
Hi @jonkoops ,
Quick question.
When I try,

`map.panTo([83, 27], {zoom: 15});
console.log(map.getZoom());
`
Shouldn't it log 15 to the console?

If it is so, then I think it should look like:

`	panTo: function (center, options) { // (LatLng)
		return this.setView(center, options.zoom, {pan: options});
	}
`

I haven't investigated it in detail what issue it may cause by changing the existing panTo

[2022-08-05 07:07] anurag-dhamala commented on #8365
#8390
Also, Here's a PR test implementation of panTo method of Map.

[2022-08-05 10:30] bram2000 opened #8392 ""click" event incorrectly fires on the map during "mouseup" after dragging from ImageOverlay"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-05 13:52] michaeldiener commented on #5179
I'm having the issue with Polygons as well and just like to emphasize that a fix would be especially useful along the date line.

[2022-08-07 05:42] MahijithMenon commented on #8380
i would love to work on this but can you tell me some resource to check .I am not able to  figure out what to do?

[2022-08-08 12:57] ClementLong opened #8394 "L.geoJSON doesn't allow array of GeoJson with typescript check"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-08 13:08] IvanSanchez commented on #8394
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-08-08 13:08] #8394 closed

[2022-08-08 13:08] IvanSanchez commented on #8394
Note that the leaflet typescript definitions are not in this repository.

[2022-08-08 15:47] zcorpan commented on #8115
This might be slightly off-topic here, feel free to move to a new issue...

Does the Open UI Pop Up API proposal meet the requirements for web maps / Leaflet?
https://open-ui.org/components/popup.research.explainer

(File new issues for open-ui here https://github.com/openui/open-ui/issues )

[2022-08-09 18:30] Tausifqureshi786 commented on #8379
I would love to work on this. Is someone already working on this?

[2022-08-10 00:11] BrianOfTsushima opened #8395 "Extend support for {-y} tiled maps into infinite"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-08-10 04:49] Falke-Design commented on #8379
@Tausifqureshi786 no, feel free to take it. I add you als assigne.

[2022-08-10 13:13] JohnnyMoonlight opened #8396 "L.Util.setOptions does not merge objects in config"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-10 18:13] bram2000 commented on #8396
I've seen a deep merge function added to other plugins for this exact reason. See [here](https://github.com/w8r/Leaflet.Path.Transform/blob/7629f42d5ca82f728d190f67c1c8665152220b09/src/Util.js#L26)

[2022-08-11 08:53] JohnnyMoonlight commented on #8396
This is the corresponding passage from L.Util, see [code here](https://github.com/Leaflet/Leaflet/blob/main/src/core/Util.js#L133).

The important part for my issue is the for-loop: it takes the options passed in from the factory function and adds them to the options of the object. If the value for a key from the factory function is an object, that object is simply placed in the options of the obj

[2022-08-13 10:39] #8365 closed

[2022-08-14 19:15] dvdnhm commented on #8356
any eta on 1.9 release?

[2022-08-15 09:37] Saeed-Pooyanfar commented on #8348
Please release new version since this just fixed.
We get a annoying warning about it.
Thanks.

[2022-08-15 11:25] AKopytenko opened #8398 "Rename path options names [SVG]"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [ ] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-08-15 12:12] VladimirKalachikhin opened #8401 "map.getZoom() return real instead integer"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-15 16:07] VladimirKalachikhin commented on #8401
About last: it's not so easy... I'll think about how to show it clearly.

[2022-08-17 16:03] swaroop-invn opened #8402 "Page hangs when there are 1000's of layers"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-17 16:21] IvanSanchez commented on #8402
Duplicate of https://github.com/Leaflet/Leaflet/issues/6314

[2022-08-17 16:21] #8402 closed

[2022-08-20 09:54] hhhc opened #8408 "White lines with maptiles"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-20 11:30] IvanSanchez commented on #8408
Duplicate of #3575

[2022-08-20 11:30] #8408 closed

[2022-08-22 17:35] php4fan commented on #6314
It's time for this to be reopened (actually it shouldn't have been closed in the first place).

The idea that the normal use case for a map is to have less than a few dozens points was already wrong ten years ago, but it's absolutely laughable today.

Thousands of points _is_ the common use case.

Then it has to be addressed because it's an acceptable limitation and solutions exist (Google Maps do

[2022-08-22 20:53] jonkoops opened #8414 "Artifact publishing is broken"
The uploading of artifacts is [broken on CI](https://github.com/Leaflet/Leaflet/runs/7960936219) due to access issues. Probably some kind of token has expired.

[2022-08-22 20:55] jonkoops commented on #8414
@mourner could you take a look at this? I think we might have to update the secrets with a new token.

[2022-08-24 08:39] Yojahuang commented on #4453
Should anyone reopen this issue?

[2022-08-24 08:54] jonkoops commented on #4453
Please file a new issue if you are experiencing problems with clear steps to reproduce.

[2022-08-24 21:17] mourner commented on #8414
@jonkoops updated the secrets but it's still failing — will try to figure out what's going on tomorrow, maybe new S3 security policies at Mapbox...

[2022-08-25 06:57] mourner commented on #8414
@jonkoops BTW, I wonder if there's any way we could get rid of our dependence on that external S3 bucket? Is the ["Download Leaflet"](https://leafletjs.com/download.html) option something people use very often in the era of CDNs, package managers and bundlers? For published versions, we also put the download in GitHub Releases — we could link those. And for the current "development" version, maybe

[2022-08-25 09:41] treac1e opened #8416 "Attributions of base layers are concatenated when adding attribution with L.control.attribution"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-25 09:47] treac1e commented on #8416
Here is a screenshot showing the differences:
![Bildschirmfoto 2022-08-25 um 11 45 26](https://user-images.githubusercontent.com/36190088/186633002-f1b5d0e6-7d0b-4c78-990f-6545e32c2002.png)

[2022-08-25 14:18] Adithya-Sr opened #8417 "Addition of a search-bar in the "Docs""
### Checklist

- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this change hasn't been suggested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.

### Which documents need updating?

https://leafletjs.com/reference.html

### Motivation

![ima

[2022-08-25 15:24] asyahubar commented on #6552
I had a similar problem to [yog3sha](https://github.com/yog3sha). My nuxt application has to be server-side rendered and none of the solutions above worked for me.
What I skipped installing leaflet as a dependency and imported it via <script> in <head> of my layout similar to instructions written in the [Leaflet Quick Start Guide](https://leafletjs.com/examples/quick-start/).
First I tried to impo

[2022-08-25 19:04] mourner commented on #8417
Since the docs are all on one page, can't you just use Ctrl-F (the built-in browser search)?

[2022-08-26 12:09] malun22 commented on #5740
`autopanend` would indeed be very helpful.

[2022-08-26 17:29] Adithya-Sr commented on #8417
Sry  my bad , didn't think about that .

[2022-08-26 22:34] #8417 closed

[2022-08-27 21:19] mourner commented on #8414
It got fixed on the bucket side, but long term in would be nice to get rid of the reliance on it. https://github.com/Leaflet/Leaflet/runs/8053138474

[2022-08-27 21:19] #8414 closed

[2022-08-27 21:21] #8401 closed

[2022-08-28 20:33] #7627 closed

[2022-08-28 20:33] #5446 closed

[2022-08-30 03:28] defineconst opened #8421 "How leaflex sets the zindex layer order for geojason layers"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-30 10:39] jonkoops commented on #8414
Yeah, I agree. It doesn't make sense to keep our own bucket around with the wide availability of CDNs. Perhaps we can incorporate this into the V2 as a breaking change?

[2022-08-30 16:56] cdbierl opened #8422 "Popup close button adds "close" hash to location URL"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-08-30 17:05] cdbierl commented on #8422
I have found other sites describing this as a regression from a pull request where some event propagation was refactored: https://github.com/Leaflet/Leaflet/pull/7439/

[2022-08-30 17:07] cdbierl commented on #8422
Rats. Saw this issue was addressed already in the "closed" issues.

[2022-08-30 17:07] #8422 closed

[2022-09-01 20:40] ThatBlockyPenguin opened #8423 "When used on a website with `require-trusted-types-for 'script'` in its CSP, Leaflet doesn't load."
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-02 04:39] stephenspol commented on #8333
Have you installed the ruby developement package yet?
If not, you can run `sudo dnf install ruby-devel`.

If you get an error about a c compiler, run  `sudo dnf group install "C Development Tools and Libraries"` before the above command.

Let me know if this helps

[2022-09-03 02:28] sumitsaurabh927 commented on #8333
Yes, I had installed them, and yet it didn't work. Anyway, right now, I'm busy and am hence unassigning myself from this. Issue remains for others to contribute to.

[2022-09-04 03:16] bbhxwl opened #8425 "How should I cut out my own game map? And load?"
How should I cut out my own game map? And load?

[2022-09-04 15:39] mourner commented on #8425
https://leafletjs.com/examples/crs-simple/crs-simple.html

[2022-09-04 15:39] #8425 closed

[2022-09-06 20:17] mealbarracin10 opened #8430 "Set View only works certain times"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-07 09:14] bbhxwl commented on #8425
I still don't understand how to make maps by myself.,

[2022-09-07 17:34] PaulKotrik commented on #8423
Hello @ThatBlockyPenguin ,
to fix this, please change from:
		`<meta http-equiv="Content-Security-Policy" content="require-trusted-types-for 'script'">`
to
		`<meta http-equiv="Content-Security-Policy-Report-Only" content="require-trusted-types-for 'script'">`

Let me know if this works.

Kind regards,
Paul Kotrik - Web Dev

[2022-09-08 08:47] mourner commented on #8430
I don't think we'd be able to diagnose the issue without a minimal live test case reproducing this. Can you try building one?

[2022-09-08 09:05] IvanSanchez commented on #8430
I'm tempted to say this is a race condition due to the Angular lifecycle logic.

[2022-09-08 10:46] MaximRikel opened #8432 "remove() doesn't check that parent has that child causing an exception"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-08 16:46] mourner commented on #8432
I'm not sure it should — it's helpful to see this error because it usually indicates a deeper issue we should find the root cause of. Can you create a minimal test case of a situation where this happens? (I see it's something related to the markercluster plugin?)

[2022-09-08 16:53] MaximRikel commented on #8432
I wasn't able to recreate this bug with markercluster base code and I'm not at liberty to share my clients code. I hope you are able to solve this without an example but if not I'll try to find the time to write something reproducible.

[2022-09-08 18:21] Falke-Design commented on #8430
Maybe `setView` is called multiple times and then the last one wins, beacause it stops the animation and the zooming

[2022-09-09 07:13] lhs1478 opened #8434 "In the latest version, the canvas element is added to the map, and the map positioning effect appears when clicking on the element."
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-09 07:47] KommX commented on #7403
@Falke-Design
I still experience this bug with Firefox 104.0.2 on Windows 10.
Is the fix really rolled out to production yet?

[2022-09-09 08:17] Falke-Design commented on #7403
@KommX no it is not in productive yet. It will be released with 1.9.0

[2022-09-09 08:22] Falke-Design commented on #8434
Add `autoPanOnFocus: false` to your marker:
[code]

[2022-09-09 08:22] #8434 closed

[2022-09-09 10:07] Falke-Design commented on #8353
I created the Changelog for 1.9.0. I created a gist because I hope that not everyone gets a mention notification.

@jonkoops @Malvoz @IvanSanchez @mourner can you please look over it: https://gist.github.com/Falke-Design/9da6ba06be7d2cf357312a805b9e3205

We have currently one blocker open: https://github.com/Leaflet/Leaflet/labels/blocker

[2022-09-09 15:37] mourner commented on #8353
@Falke-Design this is great! I merged your blocker fix. Let me do an edit pass on the changelog and I'll do a release on Monday (it's usually considered a bad practice to release on Friday night or weekend). Thanks everyone for you help.

[2022-09-09 16:53] Falke-Design commented on #8353
@mourner Perfect! I will look that I create the 2.0.0 Changelog until monday too.

Did you consider releasing a beta?

[2022-09-12 04:22] anton-climate commented on #8276
I am having the same issue.

**Example here**:
https://plnkr.co/edit/nxKSXlEczQz8dTPn

js code from the example:

[code]

[2022-09-12 11:55] jonkoops commented on #8353
@Falke-Design Thank you so much for creating the release notes, that's a huge help! Yeah, might be a good idea to release a beta first. I want to ensure the enablement of ES modules in #8329 does not cause any unexpected issues in edge cases.

As for 2.0 that is a good question, perhaps we want to create a `dev` branch where all the latest development takes place? If we need to backport anything t

[2022-09-13 14:38] mourner commented on #8353
Let's not rush too much on v2 and discuss the approach after we release v1.9.0 (apologies for the delay, got sick).

I'd say that once we decide to focus on v2 going forward, I'd do the other way around — development in the `main` branch, while keeping a long-living `v1` branch for important v1 bugfixes (hopefully infrequent).

[2022-09-13 16:58] jonkoops commented on #8353
Yeah, that sounds like a better plan. We can always backport critical features.

[2022-09-13 18:28] Falke-Design commented on #8353
@jonkoops the Release notes looking good for me. We should not forget to add them in [CHANGELOG.md](https://github.com/Leaflet/Leaflet/blob/main/CHANGELOG.md) too

[2022-09-15 10:57] alex4401 opened #8442 "Tooltips throw exceptions when using vector shapes with the canvas renderer after #8247"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-15 11:39] IvanSanchez commented on #8442
Can confirm.

[2022-09-15 16:39] calexander-sanborn commented on #2662
Is this still the case?

[2022-09-16 09:05] jonkoops commented on #8353
Yeah, that will be part of the release process. @mourner if it's alright with you I'd like to give it a whirl to run a beta release early next week. It's probably good for me to familiarize myself with the release process.

[2022-09-16 10:19] smileBeda commented on #3575
This issue is very easily replicable by using a dark map, and setting `zoomSnap` to anything not round.
For example, set it to 0.1, **and then use a non-round zoom level too, like 2.7**
If you set the actual zoom level in `setView` to a _round_ value like 2, or 3, it will _not happen_. But it is the whole point of zoomSnap to actually allow decimal zoom levels...

This is using 1.8.0

Only solutio

[2022-09-16 10:34] mourner commented on #8353
I made a quick edit pass on the changelog in the release draft — looks great @Falke-Design!

@jonkoops sure, go for it! I'm wondering whether there should even be a beta, since it's a release without notable breaking changes unlike v1.8.0. Maybe worth just releasing v1.9.0 final outright? And doing v1.9.1 shortly if we discover any issues. This makes the overall release process a little simpler an

[2022-09-16 10:52] Falke-Design commented on #8353
@mourner there should be no breaking change but

can break something.

On the otherside how many will users will use the beta version and how long do we wait until the final release? I think as soon as possible would be good

[2022-09-16 11:11] jonkoops commented on #8353
I guess we can risk it, the ESM enablement was a hard one to get right in a backwards compatible manner. I have tested as many edge cases as possible, but you never know what kind of obscure cases can remain in the realm of users.

Should we just do a full release then? Just need to add a section to the release notes about ESM support and what it will mean going forward to the other module formats

[2022-09-20 14:13] iTyphoons commented on #5886
12

[2022-09-21 14:38] bnthor opened #8445 "npm install leaflet doesn't bring you the latest dist/leaflet.css file, making autoprefixer fail"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-21 14:41] jonkoops commented on #8445
This change has not been released yet, so that's why it's not present in the NPM package.

[2022-09-21 14:41] #8445 closed

[2022-09-21 16:17] jonkoops commented on #8353
Alright, I have added a statement to the release notes that we can also add to the blog. @mourner @Falke-Design @Malvoz, can I ask y'all to take a look at it and give it a thumbs up?

[2022-09-21 17:24] Malvoz commented on #8353
@jonkoops That's a good summary. 👍🏻 But if the idea is to re-use that statement as a blog post for the v1.9 release in particular, isn't there too little focus on that version? Or were you thinking a standalone blog post? Either way, I personally don't mind it, just an observation.

[2022-09-21 19:06] mourner commented on #8353
@jonkoops great work on the statement! I made an edit pass, making it more compact and easier to digest.

[2022-09-21 19:41] jonkoops commented on #8353
Yeah, I think you might be right. Besides, when we release 2.0 we will have plenty of time to explain the finer details.

[2022-09-21 19:42] jonkoops commented on #8353
Okay, I think we're good to go for a release. I'll get started.

[2022-09-21 19:55] jonkoops commented on #8353
Looks like I don't have the access to push directly to `main`, which makes sense. I've opened up a PR with the updates to the changelog (#8446). @mourner could you do the version bump and push it to `main`?

[2022-09-21 20:02] Falke-Design commented on #8353
@jonkoops my 2 cents to the release notes:
I would not preview `Embracing modern JavaScript.` for v2, because that change can cause that we need much longer then expected and wanted for the next release

[2022-09-21 20:13] moosetraveller commented on #8392
I experience a similar issue. After the pan action is completed, the map also does zoom in.

However, in my map, I don't use an `ImageOverlay` but I do have overlay panes created with `L.Map.createPane` and features are rendered on canvas. All layers are `L.geoJSON` (except basemap).

It is not always reproducible but it also happens with this map: https://leafletjs.com/examples/custom-icons/examp

[2022-09-21 20:28] jonkoops commented on #8353
Hmmmm, yeah I get the confusion. I meant to say that we would want to be able to use ES2015+ syntax, not necessarily that we're landing standardized classes in 2.0.

We could see if we can implement this in a backwards compatible way in a minor version, and then remove the legacy implementation in 3.0. But this requires further investigation.

We need to work out exactly what we want to deprecate

[2022-09-21 21:26] mourner commented on #8353
@jonkoops not at the laptop atm but will do tomorrow morning (and also take a look at permissions so you could push in future)

[2022-09-21 23:32] moosetraveller commented on #8392
May be related to #7049 and #7105.

[2022-09-22 08:54] mourner commented on #8353
The release is out! Now pending updates to the docs/website. Dropping a checklist here before we close this out:

## Releasing a new version of Leaflet

- [ ] Ensure all https://github.com/Leaflet/Leaflet/labels/blocker issues and pull requests are resolved.
- [ ] Update [the changelog](https://github.com/Leaflet/Leaflet/blob/main/CHANGELOG.md) since last release and commit.
- [ ] Run `npm version

[2022-09-22 09:18] jonkoops commented on #8353
@mourner are you updating the docs, or would you like me to take a swing at it?

[2022-09-22 09:32] mourner commented on #8353
@jonkoops not updating docs yet — you're welcome to do so if you wish!

[2022-09-22 09:38] jonkoops commented on #8353
Let me take a look, I think it's good if I get familiar with the process.

[2022-09-22 09:50] mourner commented on #8423
Is there something on the Leaflet side that could change to address this, or is this all on the page setup side? I guess we'd have to close if there's nothing we can do about this, but let me know if the solution above doesn't work and this should be reopened.

[2022-09-22 09:50] #8423 closed

[2022-09-22 10:08] jay-sf opened #8449 "addCircleMarkers radius smaller than 1"
Hi, thanks for maintaining leaflet!

I wonder how I might get a better control of the circle radius. Depending on the zoom factor it can get pretty clumpy. How is it possible to get smaller circles, say 1/2 or 1/4 the size? I tried values smaller than 1, but decimal resolution doesn't seem to be possible. Please see example below.

![Rplot27](https://user-images.githubusercontent.com/32597794/1917

[2022-09-22 10:33] indigoxela opened #8450 "Leaflet 1.9.0 breaks Leaflet Markercluster"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-22 10:44] mourner commented on #8450
Oh, definitely needs to be backwards-compatible — let us investigate and do a quick 1.9.1 with a fix.

[2022-09-22 10:45] IvanSanchez commented on #8449
Hi, and thanks for taking the time to open a bug report in Leaflet.

However, in this repository we only handle bugs in "[vanilla](http://vanilla-js.com/)" Leaflet. This means that we do **not** handle bugs which are specific to frameworks such as:
* React
* Ractive
* AngularJS
* Bootstrap
* Leaflet for R
* Joomla
* Wordpress
* Ionic
* Cordova
* Vue
* Electron
* Polymer
* TypeScript
* D3
* Folium

[2022-09-22 10:45] #8449 closed

[2022-09-22 10:46] IvanSanchez commented on #8449
By the looks of it, you're using R, not vanilla javascript.

[2022-09-22 10:54] mourner commented on #8450
Bisected — this was broken by #8161. @Falke-Design should we try to find a quick fix for this, or just revert the PR for v1.9.1?

[2022-09-22 11:03] Falke-Design commented on #8450
Let me look into it

[2022-09-22 11:12] jay-sf commented on #8449
@IvanSanchez Ah, yes I am working R focused and didn't realize yet that Leaflet actually bases on Java Script. Thanks for taking the time to point me in the right direction.

[2022-09-22 11:24] Falke-Design commented on #8450
So far I found that it is because of the `listens` change.

Also I found that Markercluster overwrites the default function: https://github.com/Leaflet/Leaflet.markercluster/blob/cf09b65d77e88bbc7219aba0b947b97020a8db01/src/MarkerClusterGroup.js#L816

[2022-09-22 11:24] jay-sf commented on #8449
I have moved this [there](https://github.com/rstudio/leaflet/issues/818#issue-1382276819).

[2022-09-22 12:19] Falke-Design commented on #8450
Found the error, it is because of propagation and fallback for old versions:

https://github.com/Leaflet/Leaflet/blob/e4c8f645bef74aa76e91400f0481a73deeda92fb/src/core/Events.js#L219-L223

[code]

I will create tests and a PR in 4 hours, should be home then

[2022-09-22 12:32] MichalKepr commented on #2662
we've moved on to [maplibre](https://github.com/maplibre/maplibre-gl-js), Leaflet's team vector-based maps that seems to be more active.

[2022-09-22 13:18] Sergiobop opened #8451 "Leaflet 1.9 breaks Leaflet.heat"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-22 13:22] jonkoops commented on #6136
Closing this as we just branched off for v2, so we can consider this resolved.

[2022-09-22 13:22] #6136 closed

[2022-09-22 13:29] Falke-Design commented on #8451
@jonkoops can you look into this?

[2022-09-22 13:47] VashJuan opened #8452 "@types/leaflet@1.9.0 doesn't exist?"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-22 13:53] mourner commented on #8452
At the moment, the TypeScript types are maintained by the community, not the Leaflet team. I guess they will need a few days to catch up with the new release.

[2022-09-22 13:53] #8452 closed

[2022-09-22 13:53] jonkoops commented on #8353
@mourner PR for the release notes is here: #8453

[2022-09-22 13:56] jonkoops commented on #8451
Sure, I'll take a look :+1:

[2022-09-22 13:57] mourner commented on #8353
We're done 🎉 Still need to follow up with v1.9.1 shortly it seems, but still, great work everyone.

[2022-09-22 13:57] #8353 closed

[2022-09-22 13:59] mourner opened #8454 "`FirefoxNoTouch` & ``FirefoxTouch` jobs are flaky"
I had to rerun these jobs a bunch of times today — they seem to be extra flaky lately. Worth investigating.

[2022-09-22 14:58] jonkoops commented on #8451
I've created this [example project](https://github.com/Leaflet/Leaflet/files/9626850/leaflet-playground.zip) which reproduces the issue using Vite. The issue comes from the way Leaflet is imported:

[code]

Since this imports all of the [named exports](https://github.com/Leaflet/Leaflet/blob/0716af266f5bde0aa9d7bdaa6bc1f51cb3e7dcea/src/LeafletWithGlobals.js#L2) APIs from Leaflet, but not the globa

[2022-09-22 15:03] jonkoops commented on #8451
This is still a backwards compatibility issue however, although I don't think there is a way we can fix this elegantly. The only way I can see this working is by removing the module entry point. There is no way to augment the [namespaced import](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#namespace_import) from a module that imports it.

[2022-09-22 15:20] jonkoops commented on #8451
The way I see it we can resolve this two ways:

1. Add migration notes to our release for users that are using the namespaced import.
2. Remove the entrypoint to the ECMAScript module version from the package and release a patch.

I'm leaning towards the first, even though it's a breaking change for users of namespaced import. The reason for this is that it allows a migration path to the next majo

[2022-09-22 15:48] mourner commented on #8451
Yeah, I think it makes sense. The plugins working with a namespaced import is already a hack that shouldn't have been working in the first place, and gives the illusion of proper ES with tree-shaking even though it doesn't tree-shake at all.

I'd move the ESM changelog item under "Breaking changes" and add a note about plugin compatibility. But I don't really know how much of a pain point this wou

[2022-09-22 15:58] Falke-Design commented on #8451
I see a little bit the problem with unmaintained plugins. What if we publish to sources like before with `.esm.js`?

[2022-09-22 16:02] jonkoops commented on #8451
Ahh, as in plugins that might be using the namespaced import method already? Yeah, those could indeed exist, but I have no idea how many. A lot of existing 'legacy' plugins all seem to rely on the global `L`, which should remain compatible (even in 2.0).

[2022-09-22 16:26] mourner commented on #8454
Example failed job: https://github.com/Leaflet/Leaflet/actions/runs/3107063425/jobs/5034728955

[2022-09-22 16:31] Falke-Design commented on #8454
Or https://github.com/Falke-Design/Leaflet/actions/runs/3107093741/jobs/5034793690

[code]

[2022-09-22 16:32] #8450 closed

[2022-09-22 16:36] mourner commented on #8451
Should we do a quick v1.9.1 with the `listens` fix before we decide on this one, and do a v1.9.2 later if necessary? Or should we wait?

[2022-09-22 16:36] Falke-Design commented on #8451
https://github.com/search?q=%22import+*+as+L+from+%27leaflet%27%3B%22&type=code

"import * as L from 'leaflet';" --> 12,945 code results 😶

[2022-09-22 16:38] Falke-Design commented on #8451
Yes I think that would be good.
But if you guys think you find a solution in the next hours, it is also ok for me to wait. I need to go now, but I think you can handle this without me 😄

[2022-09-22 16:45] jonkoops commented on #8451
Yeah, let's do a quick release before we decide what to do here. Sounds good to me.

[2022-09-22 18:37] mourner opened #8458 "Update integrity script to generate hashes from published files"
https://github.com/Leaflet/Leaflet/pull/8456 shows it's very fragile to depend on local generation of integrity hashes. We could simplify the process and eliminate any potential errors by generating them from already published files from `unpkg` instead of relying on local files.

[2022-09-22 19:40] #8458 closed

[2022-09-22 19:48] mourner opened #8460 "Release build for NPM publishing might randomly run in non-release mode"
OK, I figured out why https://unpkg.com/leaflet@1.9.0/dist/leaflet.js has the hash in the version (meaning it was built without `NODE_ENV=release`. It's a tricky one!

According to the [raw job log of v1.9.0 tag build job](https://pipelines.actions.githubusercontent.com/serviceHosts/63923d90-4a1f-44c3-8ec1-bd59c3ff7d7c/_apis/pipelines/1/runs/1868/signedlogcontent/29?urlExpires=2022-09-22T19%3A36%3

[2022-09-22 20:06] jonkoops commented on #8460
Ahhhh, yeah that makes a lot of sense! Let me see if I can come up with a fix.

[2022-09-23 04:31] tmiaa commented on #8302
I guess it's better to only have white lines in [3%](https://gs.statcounter.com/) of browsers. 🙈

[2022-09-23 07:13] vagran opened #8461 "Typo in docs (lon -> lng)"
Seems like typo in reference doc:
[code]
https://github.com/Leaflet/Leaflet/blob/29606c37b42b40576da4c5a42747270312cacaf4/docs/reference.html#L19250

[2022-09-23 07:24] jonkoops commented on #8461
Feel free to open up a PR to fix this 😄

[2022-09-23 08:46] mourner commented on #8454
Most of the failures seem to be related to popup code for some reason. Here's another:

[code]

[2022-09-23 09:08] mourner commented on #8451
v1.9.1 released.

[2022-09-23 09:15] plainheart commented on #8461
I guess it might be not a typo but a tip for indicating it is also compatible with `lon`? See also https://github.com/Leaflet/Leaflet/blob/main/src/geo/LatLng.js#L131

[2022-09-23 09:25] vagran commented on #8461
OK, I see. But in such case seems it should somehow be reflected in the documentation. Probably here:
https://github.com/Leaflet/Leaflet/blob/29606c37b42b40576da4c5a42747270312cacaf4/docs/reference.html#L19287
May be something like "`lon` property works as well which is alias for `lng`" or similar.

[2022-09-23 09:46] mourner opened #8464 "Running tests locally on ChromeHeadless/Mac only runs half of them"
When I'm running `npm test` locally on my Mac machine, it only runs half of the tests and acts as if that's OK:

[code]

What's going on? There are no errors, no excessive skips, it just doesn't execute half the tests for some reason. When I run other browsers like `npm test -- --browsers Safari` it runs all of them, so it must be specific to `ChromeHeadless`. I'm not sure how long it's been this

[2022-09-23 09:51] Falke-Design commented on #8464
Is working for me with the newest master:

![grafik](https://user-images.githubusercontent.com/19800037/191935449-018d6533-eac3-4234-9559-99658bee9826.png)

[2022-09-23 09:52] Malvoz opened #8465 "Add `<base target="_top">` in tutorials frame"
Add `<base target="_top">` in tutorials frame on next release (after v1.8.0) per https://github.com/Leaflet/Leaflet/pull/8194#issuecomment-1111027405.

[2022-09-23 10:12] #8465 closed

[2022-09-23 10:47] mourner commented on #8464
@Falke-Design I see you're on Windows... So it might be Mac-related.

[2022-09-23 14:17] RRGT19 opened #8467 "Leaflet.Routing was not found in 'leaflet'"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-23 14:32] jonkoops commented on #8467
Duplicate of #8451. The reason why `import L from 'leaflet'` is not working is probably because the TypeScript definitions (which we don't maintain) haven't been updated yet. You might want to try to enable [`allowSyntheticDefaultImports`](https://www.typescriptlang.org/tsconfig#allowSyntheticDefaultImports), it could solve that issue.

[2022-09-23 14:32] #8467 closed

[2022-09-23 14:32] jonkoops commented on #8467
Duplicate of #8451.

[2022-09-23 14:37] jonkoops commented on #8451
@Sergiobop could you verify that the fixes I mentioned above also work for you? I'd like to make sure that it's not just 'works on my machine'.

[2022-09-23 18:26] Sergiobop commented on #8451
Hey @jonkoops

Option 1:
`import L from 'leaflet'`

My IDE and app complains:
[code]

Option 2:
`import 'leaflet';`

My IDE and app complains when i use L.
[code]

[2022-09-24 19:17] jonkoops commented on #8451
Thanks for checking @Sergiobop. So the first problem is likely issue due to the fact that `@types/leaflet` not yet being updated to reflect the changes in Leaflet.

You might be able to work around this by following the instructions in https://github.com/Leaflet/Leaflet/issues/8467#issuecomment-1256294293.

[2022-09-25 06:02] pouemes commented on #8200
with leaflet1.91 there is still this warning with firefox 105.0.1 64bits (last version)

[2022-09-25 11:51] Malvoz commented on #8442
Quite an oversight, should be fixed in https://github.com/Leaflet/Leaflet/pull/8251 by utilizing Canvas Sub DOM for accessible vectors:

![leaflet-canvas-sub-dom](https://user-images.githubusercontent.com/26493779/192141747-587c7399-8dcb-4fe6-a47a-d270c6818231.png)

/cc @alekzvik

[2022-09-25 19:45] jonkoops commented on #8442
This seems like something we might want to consider back-porting a fix for, WDYT? Also is `1.9.1` affected?

[2022-09-25 19:50] jonkoops commented on #8200
@pouemes could you file this as a separate issue?

[2022-09-25 20:18] IvanSanchez commented on #8200
It's gonna be still a duplicate of #7078, so there's no point - this won't go away until a full revamp of decorated mouse/pointer events.

[2022-09-25 20:47] jonkoops commented on #8200
Got it, thanks @IvanSanchez.

[2022-09-25 23:47] SamuelGaona commented on #8451
Same with GeometryUtil from leaflet-draw

[2022-09-26 01:11] Malvoz opened #8477 "Evergreen language in the documentation"
- [ ] Change the wording to not mention specific Leaflet versions (and to not say "_new_ feature") in:
  - [map-panes](https://github.com/Leaflet/Leaflet/blob/399ed2105220f10b79e69b57420597e03502e611/docs/examples/map-panes/index.md?plain=1#L20)
  - [wms](https://github.com/Leaflet/Leaflet/blob/990d49773a129619f2eed09712867627c8e3cf60/docs/examples/wms/wms.md?plain=1#L146-L150)
- [ ] Change [the w

[2022-09-26 04:54] Falke-Design commented on #8477
Only in docs or in the code too? I would like to remove it, but many users are still using `L.circle([0,0], 400).addTo(map)`

[2022-09-26 08:33] Malvoz commented on #8361
@satrock1 Thanks for reporting the bug. Let's merge this into https://github.com/Leaflet/Leaflet/issues/5931.

[2022-09-26 08:33] #8361 closed

[2022-09-26 09:09] Malvoz commented on #8145
Closing this per the above comment / in favor of the more granular issues.

[2022-09-26 09:12] mourner commented on #8454
Another common error looks like this:

[code]

The intermittent failures are getting really bad, to the point that nearly any PR or commit will likely fail, so we have to do something about it. @Falke-Design @jonkoops any idea when it started doing this and how we can go about tracking this down?

[2022-09-26 10:51] jonkoops commented on #8454
Yeah, this is getting quite excessive. We'll have to get this stabilized ASAP.

[2022-09-26 10:52] jonkoops commented on #8145
Let's keep this open as not all tasks inside of this tracking issue have been resolved.

[2022-09-26 10:53] Malvoz commented on #8145
Ok.

[2022-09-26 11:23] mourner commented on #8464
I bisected this particular problem, surprisingly, to your #8433 @Falke-Design. Not sure what exactly triggers early exist from the test suite but I'll try disabling unit tests one by one to see which one does it.

[2022-09-26 11:30] Falke-Design commented on #8464
Not good to here :(

Maybe the loop without a `done()` causes the break?

https://github.com/Leaflet/Leaflet/blob/509c655b8204052b20d4bd65e6cad24cb0b3b75c/spec/suites/geometry/LineUtilSpec.js#L144-L157

[code]

[2022-09-26 11:30] mourner commented on #8464
@Falke-Design looks like it's triggered by the `LineUtilSpec` tests, they're unstable — probably due to some race condition between `before/afterEach` and the custom remove/map init? There's also a lot of repetition. This needs to be refactored...

[2022-09-26 11:37] mourner commented on #8464
OK found a quick solution for now, committing...

[2022-09-26 11:46] mourner commented on #8454
It's possible that this is related to #8464 and could be fixed by #8478 🤞 At least all the tests surprisingly pass in that PR.

[2022-09-26 11:48] #8464 closed

[2022-09-26 11:57] mourner opened #8479 "`wheelPxPerZoomLevel` unit test always fails on Mac"
The last unit test in `Map.ScrollWheelZoomSpec.js` added by @Falke-Design always fails for me locally on Mac:

[code]

We should figure out if it's expected to fail and fix either the behavior of the test, making it more platform-agnostic.

[2022-09-26 14:24] alex4401 commented on #8442
Yup: https://codepen.io/alex4401/pen/VwxrJaQ

[2022-09-26 15:29] jonkoops commented on #8442
Thanks for checking @alex4401.

[2022-09-26 16:02] adeeb18 commented on #8369
Hi I am a first time contributor. Could I try this issue, or one of the other testing issues? Do you have any insight on how I should write these tests?

[2022-09-26 16:10] adeeb18 commented on #8145
Hello! I am a first time contributor, are there any tasks I can be assigned and do you have any insight on how to best tackle them? Thank you!

[2022-09-26 16:28] mourner commented on #8454
Looks like it's stable again now after #8478. Will reopen if it still happens

[2022-09-26 16:28] #8454 closed

[2022-09-26 16:35] jonkoops commented on #8454
What a strange bug, I wonder why these animations impact the tests so much.

[2022-09-26 16:36] jonkoops commented on #8145
@adeeb18 I'd recommend to take a look at the PRs for the issues that have been closed. They will give you a good impression on how to get started.

[2022-09-26 16:36] jonkoops commented on #8145
Oh, and if you are looking to sign up for any specific ones, let me know and I will assign you to them.

[2022-09-26 16:38] jonkoops commented on #8369
@adeeb18 Sure, I assigned the issue to you. Take a look at the other tests PRs, they should give you an idea .

[2022-09-26 16:43] jonkoops commented on #8442
@Malvoz do you think we could back-port #8369 and include only the fix for this issue, without also including the new functionality?

[2022-09-26 16:48] jonkoops commented on #8477
Great initiative! We'll have to go over a large part of the docs anyway for 2.0 when we drop support for the globals and other non-standard module systems.

[2022-09-26 17:27] jonkoops commented on #8461
Hmmm, interesting. I am curious why we'd be transforming this, perhaps it's something we can remove for v2.

[2022-09-27 07:28] mourner opened #8483 "Some of the unit tests are too slow"
Currently it takes ~40s to run the test suite. It used to be much faster, but we added a lot of unit tests since then and some of them are bottlenecks. We can use `karma-time-stats-reporter` plugin to discover which of the tests are slowing down the suite. Here's the list of the slowest ones:

[code]

It would be nice to fix some of these if they don't depend on such a long running length. Faster

[2022-09-27 08:49] mitow7821 opened #8485 "Leaflet.PixiOverlay doesn't work with 1.9.1 version of leaflet"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-27 09:01] Falke-Design commented on #8451
@jonkoops @mourner what is the plan now? What should we do? I think it is not ok, to make that big breaking change in 1.9

[2022-09-27 09:01] Falke-Design commented on #8485
Thank you for reporting, we are already working on this.

Duplicate of #8451

[2022-09-27 09:47] jonkoops commented on #8485
Duplicate of #8451

[2022-09-27 09:47] #8485 closed

[2022-09-27 09:50] jonkoops commented on #8451
We could revert this work in a patch release and then re-introduce it in 2.0. It looks like this is creating too much fallout.

[2022-09-27 10:31] #8460 closed

[2022-09-27 11:43] mourner commented on #8479
@Falke-Design Experimentally, the test only passes when you set `wheelPxPerZoomLevel = 13` on my Macbook. So should we do so, or does this test need more fundamental changes?

[2022-09-27 11:58] Falke-Design commented on #8479
@mourner can you share the output of the console of https://plnkr.co/edit/eecQ7iqySIccbB0X?preview after scrolling one step

[2022-09-27 12:19] mourner commented on #8479
@Falke-Design I don't have a mouse, but scrolling on a trackpad says this:

User-agent | 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) Ap…KHTML, like Gecko) Chrome/105.0.0.0 Safari/537.36'
-- | --
Leaflet | '1.9.1'
Win | false
Gecko | false
Chrome | true
Edge | false
Safari | false
Retina | true
wheelDeltaY | 6
deltaMode | 0
deltaY | -2
deltaX | -2
deltaZ | 0
wheelDelta | 6
detail | 0
devicePix

[2022-09-27 12:31] Falke-Design commented on #8479
Does it still fail in Firefox or only in Chrome?

[2022-09-27 16:02] mourner commented on #8479
@Falke-Design fails the same way in Firefox.

[2022-09-27 17:20] Ruben-Brits commented on #3186
@angarone We also ended up doing the same. Thanks for the tip

[2022-09-27 18:05] natBizitza commented on #8467
For some reason, this doesn't work for me. I installed leaflet@v1.9.1

[2022-09-28 14:27] lgimberis commented on #8201
Hi, as above I found the root cause of this and have submitted a PR.

[2022-09-28 19:11] moosetraveller opened #8490 "Add data to `L.geoJSON` layer using `addData` fails with 1.9.1"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-28 19:24] moosetraveller commented on #8490
Looks like `_addFocusListenersOnLayer` was introduced with #8247.

[2022-09-28 19:38] moosetraveller commented on #8442
I came across with a similar issue by using `addData` when using a canvas, a separate overlay pane, and a tooltip. I assume that the issue's origin is the same source than for this issue. If my assumption is correct and if #8490 will be fixed with the bugfix for this issue, please feel free to close #8490.

[2022-09-28 19:41] alex4401 commented on #8442
Yeah, that's the exact same stack trace I had. Forgot to include it above.

[2022-09-29 08:44] IvanSanchez opened #8492 "Github release does not include dist/ files"
Spin off from discussion https://github.com/Leaflet/Leaflet/discussions/8491 .

### Expected behavior

The github release for 1.8.0 has a `.zip` file containing the `dist/` files (the rolled-up `leaflet-src.js`, etc):

![image](https://user-images.githubusercontent.com/19800037/192979625-b9a2aefe-1abb-485c-abf9-fc5587dba31d.png)

### Current behavior

The 1.9.x release does not:

![image](https://

[2022-09-29 08:46] IvanSanchez commented on #8492
I recall some (old) release instructions that included branching and tagging for the release - and including the `dist/` files in that git branch+tag. Unfortunately my memory of that is a bit vague.

Not sure if we want to follow that model, or if we want to amend the release instructions to add the "put a `.zip` in the github release" instead.

[2022-09-29 08:57] Falke-Design commented on #8492
@mourner @jonkoops

[2022-09-29 11:17] jonkoops commented on #8451
For those impacted, could you try out the fix from #8493 and see if it works for you? Alternatively going into `node_modules/leaflet` and removing the `module` field from `package.json` should be enough to verify this fix.

[2022-09-29 11:18] jonkoops commented on #8490
Duplicate of #8490

[2022-09-29 11:18] #8490 closed

[2022-09-29 11:29] jonkoops commented on #8492
We never had any automation to upload these artifacts, I believe that @mourner added these manually. These artifacts are exactly the same as the ones [uploaded to the site](https://leafletjs.com/download.html).

I've uploaded the files for the latest releases, which should avoid confusion for now. That said, I think we should stop doing this for the 2.0+ releases.

[2022-09-29 11:29] jonkoops commented on #8492
If anyone can update the release instructions with this extra step, I think we can then close this issue.

[2022-09-29 11:41] Falke-Design commented on #8492
What are the contra of adding it to the release, so that we don't want this anymore?
In my eyes the pros are:
- Each Github Release has any information which is needed to work with the release. The build files and the source files of the project
- Users are still using it for importing. (Is this bad practice?)

[2022-09-29 12:45] krabouilleur opened #8495 ""export 'markerClusterGroup' (imported as 'L') was not found in 'leaflet'""
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-09-29 12:47] Falke-Design commented on #8495
Duplicate of #8451

[2022-09-29 12:47] #8495 closed

[2022-09-29 15:57] #8451 closed

[2022-09-29 16:00] jonkoops commented on #8492
It's a manual step that duplicates something that already exists on the website.

If that works for them that's fine, even if there are better methods available.

[2022-09-29 17:20] jkafader-esnet commented on #3575
After close investigation of this issue the underlying problem seems to be this:
Upon rendering the image tiles, webkit does an anti-aliasing pass on the image tile's edges, and renders that anti-aliased edge into memory. Webkit then "forgets" about this anti-aliased edge and won't touch it again because it doesn't consider it "part" of the DOM element. So a solution to this needs to correct the s

[2022-09-29 17:28] Falke-Design commented on #3575
Thank you for this analyse! We will check it out and hopefully we can implement it into Leaflet self

[2022-09-29 17:56] spydmobile commented on #3575
Nice thanks! In the meantime, where do you suggest we insert this self executing function as a workaround until the fix is in Leaflet proper?

[2022-09-29 20:15] jonkoops commented on #3575
Thanks for the in-depth research @jkafader-esnet! I wonder if there might be some kind of CSS property that we could set to modify this anti-aliasing behavior :thinking:

[2022-09-29 20:21] jonkoops commented on #3575
I see @IvanSanchez has done some research on the [`image-rendering`](https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering) CSS property. However, it looks like we never tried `image-rendering: pixelated;`, so perhaps that could have some effect? (see https://github.com/Leaflet/Leaflet/issues/4411#issuecomment-216448363)

[2022-09-30 05:02] Falke-Design commented on #3575
Demos:
- [crisp-edges](https://plnkr.co/edit/vi5QIXWtch2l1rkD)
- [pixelated](https://plnkr.co/edit/aE4ezn9kzj9vmewv)
- [tile-size-anti-aliasing](https://plnkr.co/edit/62Fia2MLi6l8RorH)

With the code of @jkafader-esnet it is much better but not perfect, still "rectangles" visible (but better then nothing 😉):
![image-tiles-border](https://user-images.githubusercontent.com/19800037/193193741-9d5a833

[2022-09-30 07:23] indigoxela commented on #3575
@Falke-Design many thanks for the demos!

For me on Linux with Chromium, "crisp-edges" and "pixelated" still show the flickering space, so image-rendering alone probably won't do the trick, although there's a slight improvement.

The [tile-size-anti-aliasing](https://plnkr.co/edit/62Fia2MLi6l8RorH) demo works like a charm. There's a slight "movement" after the animation (hard to describe) - images

[2022-09-30 09:13] Eschon commented on #3575
@Falke-Design I've also checked the demos and noticed that they all use 4 as the zoom. It probably should be set to something that is not a whole number, like 4.5, since borders on zoom levels like that were the initial reason for opening this issue.

For me the tile-size-anit-aliasing demo still shows the borders for me, even for zoom levels that are whole numbers. Although it is very subtle.

<i

[2022-09-30 09:26] indigoxela commented on #3575
@Eschon interesting, for me (Linux, Chromium) that's not reproducible. But as I see no difference whether outline is set or not it seems safe to just remove it.

[2022-09-30 12:56] cptpiepmatz commented on #8450
Even with the patch in 1.9.1 I still get the error in my angular application.

[2022-09-30 13:45] Eschon commented on #3575
I believe it is related to the retina display of the Mac. I just tried it again on my second screen and it is not visible there.

[2022-09-30 15:34] mourner commented on #8442
@jonkoops should we release v1.9.2 without the fix, or wait until this gets resolved? Not sure how involved this would be.

[2022-09-30 15:35] Falke-Design commented on #8461
Task: Replace `lon` with `lng`

[2022-09-30 16:05] Falke-Design commented on #8442
@mourner @jonkoops I will share tomorrow morning a fix

[2022-09-30 16:18] mourner commented on #8442
Just make a v1 PR, we can cherry-pick later

[2022-09-30 17:13] simon04 commented on #8005
You might want to use one of the following [plugins](https://leafletjs.com/plugins.html#markers--renderers):

- https://github.com/MAD-GooZe/Leaflet.Arc
- https://github.com/jjwtay/leaflet.arc

[2022-09-30 17:54] #8368 closed

[2022-09-30 19:47] #8461 closed

[2022-09-30 20:09] #8381 closed

[2022-09-30 20:12] shivamchourasia4 commented on #8374
I would like to work on this. Can you please assign this to me?

[2022-09-30 20:13] shivamchourasia4 commented on #8373
I would like to work on this too. Can you please assign this to me?

[2022-09-30 20:15] Falke-Design commented on #8396
Instead of making a breaking change let us implement in `L.Util.setOptions` a flag for deep merges

[2022-09-30 20:16] Falke-Design commented on #8389
Closing because of no response

[2022-09-30 20:16] #8389 closed

[2022-10-01 08:36] raychanks commented on #8371
Hi there, I would like to work on this one.

[2022-10-01 09:09] Falke-Design opened #8502 "Add a check to our CI to make errors in jekyll visible"
![](https://user-images.githubusercontent.com/19800037/193394640-e7c1e197-ccbe-4a59-b25e-dc5957e01f4e.png)

[Local usage of jekyll](https://github.com/Leaflet/Leaflet/blob/main/CONTRIBUTING.md#improving-documentation)

[2022-10-01 09:11] Falke-Design commented on #8442
@mourner @jonkoops I think 1.9.2 is ready

[2022-10-01 09:11] #8442 closed

[2022-10-01 11:20] jmakhack commented on #8372
I am interested in picking up this issue if it is still available.

[2022-10-01 11:26] exequiel09 commented on #8502
@Falke-Design  Question on this issue, do you mean adding a check entry on PR requests like on this picture?
![Screen Shot 2022-10-01 at 7 25 56 PM](https://user-images.githubusercontent.com/1289472/193407284-7a26fb2d-e912-4d0d-8455-fd58174399b3.png)

[2022-10-01 11:29] exequiel09 commented on #8176
I only found this eslint config, https://github.com/Leaflet/Leaflet/blob/main/spec/.eslintrc so this task should add eslint rules on this file?

[2022-10-01 11:29] Falke-Design commented on #8502
yes exactly over github workflow

[2022-10-01 11:31] exequiel09 commented on #8502
Can I take a stab on this?

[2022-10-01 11:45] shtelzerartem commented on #8372
@jmakhack I'm sorry that I didn't write here before working, it's my first contribution, I was just trying out.

[2022-10-01 13:29] #8371 closed

[2022-10-01 13:31] jonkoops commented on #8442
@Falke-Design Yeah, I am going to go ahead and prep the release.

[2022-10-01 13:38] jonkoops commented on #8372
Since @shtelzerartem already opened up a PR I will assign this issue to him. Feel free to sign up for any other interesting issues!

[2022-10-01 13:39] jonkoops commented on #8176
I am working on bumping our ESLint config at the moment, so this convention will likely no longer be required once we move to a more modern ES2015+ style.

[2022-10-01 13:39] #8176 closed

[2022-10-01 13:42] Bibhavshah commented on #8380
Can I take up this issue?

[2022-10-01 13:43] Bibhavshah commented on #8366
Can I work on this issue?

[2022-10-01 13:44] jonkoops opened #8506 "Remove transformation of `lon` in `toLatLng()`"
The `toLatLng()` function [transforms objects](https://github.com/Leaflet/Leaflet/blob/87cbaf8a2d23c8296a863e30f57d597180f98bb0/src/geo/LatLng.js#L130) with a `lon` key to a `LatLng` instance. This seems like an edge case that was added and probably now be removed.

The documentation for this was already removed under #8461.

[2022-10-01 13:48] jonkoops commented on #8506
@mourner can I get your opinion on this? Not quite sure why this was added originally.

[2022-10-01 13:49] jonkoops commented on #8461
This was actually a feature, not a typo in the docs. Regardless, if we remove the docs we should probably also remove the implementation, so I've created #8506 to take care of that.

[2022-10-01 13:50] mourner commented on #8506
I think this was intentional, for compatibility, because it doesn't really hurt and "lon" is an extremely common way to designate longitude in various data. I think it's worth keeping.

[2022-10-01 13:58] jonkoops commented on #8506
Personally I am not a fan of this kind of implicit and undocumented behavior. But I guess we can keep it around if it helps keep things compatible. Closing.

[2022-10-01 13:58] #8506 closed

[2022-10-01 14:28] mourner commented on #8506
We could document it better too

[2022-10-01 16:10] mourner commented on #8506
@jonkoops found the original discussion for this with some justification in #1412 (almost a 10-year-old ticket!)

[2022-10-01 18:10] #8372 closed

[2022-10-01 18:20] #8379 closed

[2022-10-01 22:12] jonkoops opened #8509 "Document transformation of `lon` in `toLatLng()`"
The `toLatLng()` function [transforms objects](https://github.com/Leaflet/Leaflet/blob/87cbaf8a2d23c8296a863e30f57d597180f98bb0/src/geo/LatLng.js#L130) with a `lon` key to a `LatLng` instance. This behavior is undocumented and documentation should be written for it.

See #8506, #8461 and  #1412 for background information.

[2022-10-01 22:13] jonkoops commented on #8506
Yeah, agreed. I've created #8509 to take care of it.

[2022-10-02 01:13] brianferry commented on #8509
I can take a look at this if you would like to assign it to me

[2022-10-02 02:33] exequiel09 commented on #8396
@Falke-Design you mean introduce another argument to enable deep merge?

From:

[code]

To:

[code]

[2022-10-02 06:43] JohnnyMoonlight commented on #8396
@exequiel09: If I understand right, the default parameter would have the benefit, that no function calls need to be changed elsewhere, right?

How should the deep merge work? I have written a snippet for a json deep merge, but I assume there are more performant/elaborated algorithms.

[2022-10-02 07:35] Falke-Design commented on #8396
yes exactly

[2022-10-02 07:37] #8370 closed

[2022-10-02 10:05] Falke-Design opened #8510 "Add Windows and MacOS to the testing matrix"
I suggest to add new workflows:
- [ ] Running tests on Safari
- [ ] Running tests on Chrome + Mac
- [ ] Running tests on Chrome + Windows
- [ ] Running tests on a Retina screen (window.devicePixelRatio = 2)

**Why Chrome?**
Because the other Browsers already tested on a Linux system and with testing Chrome on Windows & Mac we include the biggest part of the users.

@mourner @jonkoops is this possi

[2022-10-02 10:59] ImArnoldDCODES opened #8511 "Add Animation"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-10-02 12:51] Falke-Design commented on #8511
You can create a Plugin but we will not implement a loader animation.

Look into the [PLUGIN GUIDE](https://github.com/Leaflet/Leaflet/blob/main/PLUGIN-GUIDE.md).

[2022-10-02 12:51] #8511 closed

[2022-10-02 13:32] raychanks commented on #8275
Hi there, I would like to look into this issue.

[2022-10-02 14:02] nheir commented on #3575
note that using `scale3d` instead of  `scale` reduces the gap on animations for firefox and remove gaps after the zoom animation (if any) ([demo](https://plnkr.co/edit/2a4Dowus06DrAjnA))
It doesn't prevent gap on chrome for tiled img but looks good using canvas tiles

[2022-10-02 15:37] #8502 closed

[2022-10-02 16:19] edding4500 commented on #8483
Isn't this something very hardware and OS specific? For me running the test suite takes 24 seconds under Chrome Headless 105.0.5195.127 (Windows 10) and other tests are displayed as slowest.

I just tried adding the karma-parallel plugin to run tests in parallel. However, it still takes 24 seconds and even though 4 headless browsers are spun up, it looks like they run sequentially...

@mourner you

[2022-10-02 18:32] adeeb18 commented on #8369
@jonkoops Still working on this one, I tried the panBy method https://github.com/Leaflet/Leaflet/issues/8366 to get a feel for it

[2022-10-02 22:32] kamoshi commented on #7591
One positive aspect of including TypeScript compiler in the tool chain is that it allows you to target ES5 while at the same time being able to use most of the modern syntax provided by TypeScript.

I was able to build Leaflet using TypeScript compiler to some success on my own, but it would be a lot of work to port the entire codebase. In my limited tests I rewrote parts of the Utils.js file in T

[2022-10-03 01:34] adeeb18 commented on #8366
@jonkoops sorry, I didn't see someone else was working on this, but I made a PR for it.  https://github.com/Leaflet/Leaflet/pull/8514

[2022-10-03 09:49] anvarious97 opened #8515 "Leaflet documentaion not available from Russia. I`m citizen of Kazakhstan."
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-03 09:57] Falke-Design commented on #8515
We block no one, it must be your provider. Try it over the internet archiv: https://web.archive.org/web/20220930012052/https://leafletjs.com/reference.html

[2022-10-03 09:57] #8515 closed

[2022-10-03 09:59] anvarious97 commented on #8515
I`m sorry. Peace for everyone.

[2022-10-03 11:16] #8479 closed

[2022-10-03 15:02] mourner commented on #8451
@jonkoops do you want to do the v1.9.2 release some time soon?

[2022-10-03 15:11] rjackson commented on #8483
Heya folks, I'm interested in having a look at these.

Reviewing the tests, the biggest savings I anticipate come from reducing the use of animations and setTimeouts within tests. I think there are some places those changes could be made safely.

I'm less certain if there are improvements that can be made to the GridLayer and TileLayer tests, but I'm hoping a few smaller savings elsewhere will sti

[2022-10-03 17:06] jonkoops commented on #8451
Yeah, I'd like to do it ASAP. I don't have time to get to it today, so if someone wants to go ahead now feel free. Just make sure all the critical stuff is cherry-picked on `v1` (which I think I already did).

[2022-10-03 17:16] harshit-dugar commented on #8509
If this is not yet resolved please assign me @jonkoops

[2022-10-03 20:20] jonkoops commented on #8509
I believe @brianferry is already working on this.

[2022-10-03 21:19] simon04 commented on #8396
The functionality is commonly called "deepmerge" or "merge"

- https://lodash.com/docs/4.17.15#merge
- https://github.com/TehShrike/deepmerge
- https://deno.land/std@0.158.0/collections/deep_merge.ts

When taking into account `object`s, `array`s, `Set`s, `Map`s, the implementation gets complex.

[2022-10-04 06:40] rmja opened #8521 "Leaflet 1.9.1 breaks leaflet-draw"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-04 07:30] mourner commented on #8521
Duplicate of #8451. We're releasing v1.9.2 today that will address this.

[2022-10-04 07:30] #8521 closed

[2022-10-04 08:44] jonkoops commented on #8380
@Bibhavshah go right ahead :+1:

[2022-10-04 08:47] jonkoops commented on #7591
True, although this also could be accomplished with a plugin for Rollup like babel. We are moving to a more modern ES2015+ syntax by default so in the future there should be no need to transpile to older editions.

And yeah, if we were to adopt TypeScript we'd be doing so incrementally. A complete re-write of all the code is not a very feasible scenario.

[2022-10-04 08:52] jonkoops commented on #8396
I'm not against this adding this as an option. But perhaps this can also easily be done with existing JS features or a small lib?

[2022-10-04 08:54] jonkoops commented on #8005
Personally I think this belongs in a plugin rather than in Leaflet Core. But I am curious if other maintainers think the same.

[2022-10-04 09:00] jonkoops commented on #8510
I remember trying this and running into some issues, although I don't quite remember what was blocking. This should be possible by restoring the matrix for operating systems that was removed under #8264.

Perhaps we also want to test on Windows?

[2022-10-04 09:07] jonkoops opened #8522 "Release 1.9.2"
Creating this issue to coordinate the release of 1.9.2. cc @mourner @Falke-Design @Malvoz

[2022-10-04 09:22] jonkoops commented on #8275
Sure @raychanks, go for it.

[2022-10-04 09:24] Falke-Design commented on #8380
@jonkoops @Bibhavshah there is already a PR #8405 , no need to do it twice

[2022-10-04 09:25] jonkoops commented on #8380
Ahh, missed that one. Thanks @Falke-Design.

[2022-10-04 09:29] Falke-Design commented on #8005
I'm not against adding new features / shapes to Leaflet. This can be also a part of making it more modern. But for now there are existing plugins for this, so I close this.

- https://github.com/jieter/Leaflet-semicircle
- https://github.com/MAD-GooZe/Leaflet.Arc
- https://github.com/jjwtay/leaflet.arc

[2022-10-04 09:29] #8005 closed

[2022-10-04 09:33] mourner commented on #8522
Looks like nothing's missing, we can proceed. Copying the checklist here to track:

## Releasing a new version of Leaflet

- [ ] Ensure all https://github.com/Leaflet/Leaflet/labels/blocker issues and pull requests are resolved.
- [ ] Update [the changelog](https://github.com/Leaflet/Leaflet/blob/main/CHANGELOG.md) since last release and commit.
- [ ] Run `npm version <patch | minor | major>` (thi

[2022-10-04 09:34] Falke-Design commented on #8510
Good point.

I added https://github.com/Leaflet/Leaflet/labels/hacktoberfest, maybe there are some devs with knowledge out there.

[2022-10-04 09:38] Falke-Design commented on #8522
@jonkoops looks good for me

[2022-10-04 09:39] #8492 closed

[2022-10-04 10:17] Falke-Design commented on #8522
Maybe we want to merge #8523 it's a problem sinse 1.8.0

[2022-10-04 10:49] raychanks commented on #8276
Hi, I would like to work on this as well.

[2022-10-04 13:30] mhirsch commented on #8276
I've been using a patched leaflet with the above one line change for 4 months without problems.

[2022-10-04 13:59] #8275 closed

[2022-10-04 14:22] jonkoops commented on #8510
Sounds good to me :+1:

[2022-10-04 14:26] jonkoops commented on #8522
#8523 has been added, I will get started on the release.

[2022-10-04 14:37] jonkoops commented on #8522
@mourner @Falke-Design got a PR up for the changelog (#8526), let me know what you think.

[2022-10-04 15:37] mourner commented on #8522
@jonkoops made a few edits in https://github.com/Leaflet/Leaflet/releases/tag/v1.9.2 changelog for clarity — probably worth moving over to `changelog.md`.

[2022-10-04 15:45] Falke-Design commented on #8522
We forgot to include #8523

[2022-10-04 15:46] mourner commented on #8522
@Falke-Design no, it was included — see https://github.com/Leaflet/Leaflet/commits/v1

[2022-10-04 15:46] mourner commented on #8522
Ah, right, the changelog — that too!

[2022-10-04 15:47] Falke-Design commented on #8522
Yes sorry, that was what I ment

[2022-10-04 15:48] jonkoops commented on #8522
@mourner @Falke-Design I added a PR to update the docs #8527.

[2022-10-04 15:50] JohnnyMoonlight commented on #8396
@simon04 suggested Lodash - I think this would be a good idea, as it is already included in the dependencies:
![image](https://user-images.githubusercontent.com/41798271/193865775-67bbdad3-4456-426e-878b-4261ced24b98.png)

It merges the objects as I expect it:

`_.merge({
        heading: "Default heading",
        configurationObject: {
            amount: 20,
            currency: "euro",

[2022-10-04 15:50] mourner commented on #8522
Updated the release notes with the popup bug too.

[2022-10-04 15:52] jonkoops commented on #8522
I'll create another PR to update the change log.

[2022-10-04 16:09] jonkoops commented on #8522
I think we're good with all the release tasks so I am closing this issue.

[2022-10-04 16:09] #8522 closed

[2022-10-04 16:10] Falke-Design commented on #8522
Thanks!

[2022-10-04 16:14] jonkoops commented on #8396
Just be aware that Lodash is not [tree-shakable](https://developer.mozilla.org/en-US/docs/Glossary/Tree_shaking). So if you are bundling it you are very likely to end up with all of the code in Lodash rather than just the utility you are importing. For that reason you are better of using [`lodash-es`](https://www.npmjs.com/package/lodash-es).

The Lodash team is aware of this, and it looks like it

[2022-10-04 16:50] Falke-Design commented on #7429
I close this issue until we have a reproduceable example

[2022-10-04 16:50] #7429 closed

[2022-10-04 17:20] jonkoops commented on #7591
Indeed, I have high hopes for type annotations becoming standardized. This would make it a lot easier to build libraries with support for Flow/TypeScript, without the need to have a compilation step.

[2022-10-04 17:26] #7530 closed

[2022-10-04 19:08] krau5 opened #8530 "Extract eslint configuration"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-10-04 20:39] mourner commented on #8530
No.

[2022-10-04 20:39] #8530 closed

[2022-10-04 20:40] krau5 commented on #8530
Okay

[2022-10-04 20:54] jonkoops commented on #8530
I do want to clean up the ESLint config over time, but that will come naturally with refactoring as we go.

[2022-10-04 21:18] krau5 commented on #8530
It's fine :)

[2022-10-04 23:30] exequiel09 commented on #8396
We can use mergician if you want https://github.com/jhildenbiddle/mergician

[2022-10-05 01:11] VashJuan commented on #8451
Not suggesting a change of approach here, just noting other options that some of us have resorted to.

For me, to get 1.9.x working, I searched on the error and came up with workaround:
[old] myMarkerCluster = L.markerClusterGroup()
[new] myMarkerCluster = new window.L.MarkerClusterGroup()

Best explained at:
https://stackoverflow.com/a/71574063/18004414

Other possibly relevant discussions:
https

[2022-10-05 08:58] mourner commented on #8509
Fixed in #8524

[2022-10-05 08:58] #8509 closed

[2022-10-05 11:29] rjortikka opened #8531 "Dark mode extension"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-05 11:53] raychanks commented on #8276
@mhirsch Thanks for the suggested solution! I think you're referring to the [line within the `redraw` function](https://github.com/Leaflet/Leaflet/blob/2a7b51b720df6631f73aaa66e02ee0ccf8e826a6/src/layer/tile/GridLayer.js#L231) instead of the one on [line 552](https://github.com/Leaflet/Leaflet/blob/2a7b51b720df6631f73aaa66e02ee0ccf8e826a6/src/layer/tile/GridLayer.js#L552)?
I tried to modify the on

[2022-10-05 14:22] SashaLifashkin opened #8532 "Map shaking after setMaxBounds and setMinZoom"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-05 16:31] Malvoz commented on #8531
Which extension is that exactly? What goes black? The background? The controls? Everything? Icons should be inverted so that shouldn't be a problem.

Extensions can override pages' CSS, are you expecting Leaflet to override those injected styles?

[2022-10-05 16:34] Malvoz commented on #8531
https://github.com/Leaflet/Leaflet/issues/7577 is somewhat related, but it's about new default styles based on user preferences from the OS/UA settings.

[2022-10-05 16:46] Malvoz commented on #8532
Can reproduce in Chrome 106.0.5249.91 on Windows 10, I see a very small but noticeable wobble, stops for me if window is resized. Also sometimes had to resize the window to reproduce.

[2022-10-05 18:19] druwan commented on #8532
I believe that the issue comes from the dynamic restriction of `setMaxBounds`. So a quick workaround to stop the shaking that worked for me, was to change the geographical bound of `setBounds`

Maybe it can work for you too until someone with more knowledge joins the discussion. 😄

[2022-10-06 04:58] sidverma32 commented on #8510
I am new to this repository, can i get a headsup like from where to begin?
As per the above discussion what i understood is to add tests for windows and macos in this file (`.github/workflows/main.yml`). Correct me if am wrong or missing something? @Falke-Design

[2022-10-06 05:19] Falke-Design commented on #8510
We are runnning our tests with karma / mocha. For how to run tests look [here](https://github.com/Leaflet/Leaflet/blob/main/CONTRIBUTING.md#running-the-tests).

Yes we need windows and macos and also Safari.

Have you experience with creating workflows?

[2022-10-06 09:55] jonkoops commented on #8531
I don't think we can account for what browser extensions might do to the map. If anything that is a bug in that specific extension, not Leaflet itself.

I'm closing this issue.

[2022-10-06 09:55] #8531 closed

[2022-10-06 09:59] Falke-Design commented on #8531
@rjortikka please tell us anyway which extension it was. Also a Screenshot would be very helpful.

I would like to take a quick look, maybe I find something. And then I can inform the extension developer.

[2022-10-06 10:00] Falke-Design commented on #8532
@SashaLifashkin can you please share a video

[2022-10-06 10:04] SashaLifashkin commented on #8532
https://jsfiddle.net/fd3mertj/1/
From this link and some of the code I added, the problem is visible.

[2022-10-06 10:06] SashaLifashkin commented on #8532
Unfortunately this solution didn't work for me.

[2022-10-06 13:15] wwwouaiebe opened #8533 "Crash on DivOverlay.js when using Leaflet as esm module"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-06 15:50] mourner commented on #8533
Yeah, looks like this is an omission made in #7783 (@Falke-Design) — we shouldn't access any objects through the `L` global in the source, and this should be enforced at the lint level. cc @jonkoops

[2022-10-06 15:54] mourner commented on #8532
@rjackson great analysis! Please submit a PR of course.

[2022-10-06 16:26] Falke-Design commented on #6051
Doesn't happen in v1.9.2 anymore.

[2022-10-06 16:26] #6051 closed

[2022-10-06 16:57] #8533 closed

[2022-10-06 21:09] nsilvestri opened #8538 "Memory not freed with layer groups and `clearLayers()`"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-07 08:31] rjortikka commented on #8531
The extension:
https://chrome.google.com/webstore/detail/dark-mode/dmghijelimhndkbmpgbldicpogfkceaj
Also pictures of normal map and with extension on.

to 6. lokak. 2022 klo 13.00 Florian Bischof ***@***.***>
kirjoitti:

[2022-10-07 09:25] mourner commented on #4578
This is likely not relevant anymore after #7872

[2022-10-07 09:25] #4578 closed

[2022-10-07 16:24] adrianaris commented on #8538
I may be confused but I believe your test is wrong.

You do remove incremental layers but in the end you still add to the final layer a polygon made out of 10 million polyline objects.

Just a simple JS object is about 250 bytes(https://stackoverflow.com/questions/58631581/javascript-compare-object-size-in-memory), that is about 2,4GB worth of memory for 10 mil objects. Perhaps a  polyline is 5 to

[2022-10-07 17:52] raychanks commented on #8276
I tried to use the rounding method to enforce `zoom` in the url to be an integer, but there would be some gaps in between tiles if the `map`'s zoom level is not an integer (I am using the snippet provided by @anton-climate). Not sure how should we handle this, I am thinking of two possible approaches:
- Also set the `map`'s zoom level to be an integer in case a `GridLayer` or `TileLayer` is used.

[2022-10-08 06:09] Satyabrat-Ojha commented on #8374
I would also like to contribute, can you please assign it to me?

[2022-10-08 06:09] Satyabrat-Ojha commented on #8373
I would also like to contribute, can you please assign it to me?

[2022-10-08 06:57] ishtanzar opened #8541 "imageOverlay (and svgOverlay) disappear at zoomLevel = 13"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-08 07:35] IvanSanchez commented on #8541
I suspect this to be closely related to https://github.com/Leaflet/Leaflet/issues/7241

Does the problem appear only in Firefox v105 only?

[2022-10-08 07:52] adrianaris commented on #8538
You are right, I got confused.

[2022-10-08 08:45] Malvoz commented on #3575
Re  @jonkoops's https://github.com/Leaflet/Leaflet/issues/3575#issuecomment-1262772974:

We should try to avoid using `image-rendering` as part of the solution here (other than more hacky workarounds) since people have use cases for the different values, e.g.: https://github.com/Leaflet/Leaflet/issues/5883 (+ https://github.com/Leaflet/Leaflet/issues/6901).

---

Re @Falke-Design's https://github.

[2022-10-08 11:37] adrianaris commented on #8538
For me the ballooning-up happens on Firefox and on Chrome it doesn't:
![image](https://user-images.githubusercontent.com/6321699/194704600-70ffeb17-3112-463e-b94c-1034f5a2c54d.png)

While going throw the debugger I can see that the actual clearing happens:
![image](https://user-images.githubusercontent.com/6321699/194704732-e0989193-2c63-4240-b615-c57ef0ec2e6b.png)

I get the feeling that the issu

[2022-10-08 16:15] Falke-Design commented on #8276
@raychanks looks releated to #3575

[2022-10-08 16:23] jonkoops commented on #8374
I'm sorry, but someone already claimed this issue.

[2022-10-08 16:23] jonkoops commented on #8373
I'm sorry, but someone already claimed this issue.

[2022-10-08 16:27] Falke-Design commented on #8374
@jonkoops I would say we remove the assignment, because nothing has done in the last 8 days.
@Satyabrat-Ojha I will assign it to you, you have 1 week to make a PR, else I will remove the assignment. If you think you will not work on that, please let us know.

[2022-10-08 16:33] jonkoops commented on #8374
Sounds good to me @Falke-Design.

[2022-10-08 16:35] jonkoops commented on #8532
Do we perhaps feel like this fix deserves a backport for v1?

[2022-10-08 16:40] Falke-Design commented on #8532
Don't know, I think we should look that we get away from `v1`

[2022-10-08 16:41] jonkoops commented on #8532
Agreed, however #8536 was already cherry-picked, so I think we're going to do a release anyways.

[2022-10-08 16:44] Falke-Design commented on #8532
Yes that's true. Let us cherry pick this, because we make a release anyway

[2022-10-08 16:47] jonkoops commented on #8532
Done 👍

[2022-10-08 17:04] #8366 closed

[2022-10-08 19:55] rjackson commented on #8483
A good chunk of our tests appear bottlenecked by the speed that Chrome running in headless mode will deliver animation frames. I've noticed this looking into tests using [Leaflet/prosthetic-hand](https://github.com/Leaflet/prosthetic-hand), as they seem to run twice as fast in a non-headless browser.

The tests overall do run a lot quicker in a windowed instance of Chrome. I suspect this is due to

[2022-10-08 20:55] rjackson commented on #8483
I think this is all the savings I've found from all >100ms tests. The ones that remain I believe are bottlenecked by animation frames, as mentioned above.

Reductions so far:

| Test                                                                    | Before     | After     | Reduction  |
| ----------------------------------------------------------------------- | ---------- | --------- | ---------

[2022-10-09 05:36] ishtanzar commented on #8541
Tested on Chromium 106.0.5249.61, the layers vanish at zoomLevel = 14

[2022-10-09 13:44] TomerPacific commented on #8121
@Falke-Design  - Seeing as this issue hasn't been handled, I'd like to help out.
What would be the best approach to identify which duplicated selectors we would like to keep and which we would like to get rid of?

[2022-10-09 14:32] #8510 closed

[2022-10-09 15:35] jonkoops commented on #8121
I don't really see the issue in having duplicate selectors for code organization. Should we perhaps just close this issue?

[2022-10-10 00:25] jspraul commented on #8121
Many developers are required to pass SonarQube's default configuration, through not fault of their own.

It's not a big deal in any way from a code organization perspective or really any perspective, just an opportunity to make their lives easier.

The scenario is: ➀ project is sailing through CI, ➁ add Leaflet, ➂ not smooth sailing anymore.

[2022-10-10 11:33] mourner commented on #8483
@rjackson you did really great work on this, thank you! 🙏

The next obvious step for this ticket would be to review all async tests for whether they need that much duration, and reduce it where possible. Those two `flyTo` tests are a big offender. Also, we need to make sure there are no hardcoded animation durations like this, pretty much making all auto-panning tests have 250ms duration minimum:

[2022-10-10 20:58] larsgw commented on #7191
Should there be a way to _collapse_ the layers control with keyboard navigation?

[2022-10-10 21:24] jonkoops commented on #8121
I really don't understand why folks have made SonarCube their supreme deity of code quality, but sure. I'm not principally against this change, but I'd like other maintainers lean in.

[2022-10-10 21:33] Malvoz commented on #7191
@larsgw I think it'd be good if there was a way for _all_ users to be able to close the layers list from the layers list/button itself, I touched on the motivation for that in https://github.com/Leaflet/Leaflet/issues/7526#issuecomment-1158258359, though that may warrant a bit of a redesign of the layers control. However I think that should be discussed separately.

[2022-10-11 04:53] Satyabrat-Ojha commented on #8374
@Falke-Design @jonkoops I am stuck in the issue, can you help me out by providing some resources on how to implement test

[2022-10-11 09:17] mourner commented on #8121
Yeah, I feel like this is SonarCube problem, no idea why some arbitrary rules that don't even make much sense (why are external libraries linted? Why are duplicate selectors a "Major severity"?) have to force maintainers to adjust.

As @Malvoz mentioned, there are some duplicate selector cases we could fix, but some should be left for code organization / readability.

[2022-10-11 11:16] jonkoops commented on #8374
@Satyabrat-Ojha I'd recommend taking a look at test related PRs that have [been merged before](https://github.com/Leaflet/Leaflet/pulls?q=is%3Apr+label%3Atests+is%3Aclosed). Also, feel free to open up a PR that is a work in progress if you are looking for early feedback.

[2022-10-11 11:46] #8333 closed

[2022-10-11 16:40] plarner30 opened #8558 "Incorrect marker popupopen event e.target reference"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-11 17:33] adrianaris commented on #8396
I wrote this custom deep merge for you: https://github.com/Leaflet/Leaflet/compare/main...adrianaris:Leaflet:issue8396
If you think is worth it and you believe is good I can PR it

[2022-10-12 00:02] ndavidson-manticore commented on #5512
I am still seeing this same issue in version 1.9.2
Is there any estimate on when this issue will be fixed?

[2022-10-12 00:02] ndavidson-manticore commented on #3737
I am still seeing this same issue in version 1.9.2
Is there any estimate on when this issue will be fixed?

[2022-10-12 03:20] diachedelic commented on #3575
@Eschon I see the lines on my non-retina 2012 Macbook Pro, in both Chrome and Safari. But not Firefox.

[2022-10-12 16:53] Belair34 commented on #8558
Looking into this a bit. In case it's useful to anyone, the problem arises between these 2 commits:
61eb5f1dcacac1a3bfe716dd74dbc9d5bfb75e32 - first bad
f018e2de2ce507ab9b070f382e6bded9b9311263 - last good
If the triage determines that this is indeed an issue, then I'd like to use it for a hackathon.

[2022-10-12 20:07] JohnnyMoonlight commented on #8396
A second thought on this: leaflet does not include any external dependency, yet. Lodash is only included for the devDependencies. Adding the merge-function from lodash-es to the built package leads to an increased file size for leaflet.js of 155kb. This is 10kb/7% more than without (145kb), which represents a considerable size difference. What are your thoughts on this?

[2022-10-12 21:53] jonkoops commented on #8396
We do not want to add dependencies when we can avoid this. So if this were to be implemented, then it would have to be in Leaflet itself.

However I think we should avoid complicating this functionality in Leaflet. One can even question if we still need to have this functionality at all since [Object.assign](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/as

[2022-10-13 07:59] Eschon commented on #3575
@diachedelic @brgrz  did you also try with the outline removed in the CSS?
With that change it looked good on my screen

[2022-10-13 08:12] indigoxela commented on #3575
This issue thread grows and grows... The base problem is in a specific browser (render engine), not in Leaflet, which makes it hard to fix.

Several workarounds have already been suggested here. The *flickering* 1px gaps on animations are annoying - that's clear. But people also reported other stuff, like tiny subtle "half pixel" gaps sometimes.

Maybe it's time to settle on a policy: how much imp

[2022-10-13 08:15] smileBeda commented on #3575
While I agree that it might be a waste of time perfecting things if its not actually a core issue, I also don't think that providing a feature that basically looks broken when used, _whomever fault it is_, is a good solution.

Thus IMO it is either _fix it or remove it_ (or call it "highly experimental not suggested not working thing")

[2022-10-13 11:23] NielsHolt opened #8560 "Pan with keyboard and dragging with mouse gives different result when passing dateline"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-13 13:57] stephenspol commented on #2194
@mourner I am interested in this issue. Do you have some ideas on what kind of options you would like to add to `setMaxBounds`?

[2022-10-13 15:18] JohnGrisham commented on #8145
I would like to take mouseEventToLayerPoint, please.

[2022-10-13 15:26] JohnGrisham commented on #8117
I can take a look at this, would you be willing to assign me?

[2022-10-13 15:48] Falke-Design commented on #8560
This is the expected result.

You can enable [worldCopyJump](https://leafletjs.com/reference.html#map-worldcopyjump) to prevent this.

[2022-10-13 16:01] Falke-Design commented on #8560
This only happens if [worldCopyJump](https://leafletjs.com/reference.html#map-worldcopyjump) is enabled

[2022-10-13 16:31] #7191 closed

[2022-10-13 21:23] jonkoops opened #8564 "setZoom"

[2022-10-13 21:24] jonkoops opened #8565 "Implement test for 'setZoomAround' method of Map"

[2022-10-13 21:25] jonkoops opened #8566 "Implement test for 'fitWorld' method of Map"

[2022-10-13 21:25] jonkoops opened #8567 "setMinZoom"

[2022-10-13 21:25] jonkoops opened #8568 "setMaxZoom"

[2022-10-13 21:27] #8565 closed

[2022-10-13 21:27] #8566 closed

[2022-10-13 21:35] jonkoops commented on #8558
Yeah, this seems like a possible regression we should fix. @johnd0e it looks like the aforementioned commit was yours, do you have an idea what might be causing this?

[2022-10-14 07:21] victorpatru commented on #8369
Hey @jonkoops I'm unsure whether the previous assignee is still working on this issue.

Would love to try to solve this issue myself!

[2022-10-14 08:02] Ceremony64 opened #8569 "L.control.zoom defaults to topleft position"
### Checklist

- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this change hasn't been suggested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.

### Which documents need updating?

https://leafletjs.com/reference.html#control-zoom

### Moti

[2022-10-14 08:18] Falke-Design commented on #8369
@victorpatru you can work on this

[2022-10-14 08:20] Ceremony64 commented on #4745
Are you talking about the toGeoJSON methods? It takes the precision as a parameter. Is that the cause?

[2022-10-14 08:35] Falke-Design commented on #8568
@jonkoops why did you closed all this test issues?

[2022-10-14 09:34] #8569 closed

[2022-10-14 09:49] jonkoops commented on #8568
These have already been implemented. I mistakenly thought the items in the tracking issue were forgotten, but they were not.

[2022-10-14 10:07] raychanks commented on #8276
As the gaps seem to be a separate issue, I will try to put together a PR for this one in the next couple of days.

[2022-10-14 12:35] Belair34 commented on #8558
I think I have a solution with a test to back it up. If possible I'd like to save this issue for a student hackathon on November 5th, however I see there is a blocker tag so if this needs to be done ASAP I can make a PR right away.

[2022-10-14 12:55] stephenspol commented on #8197
Is this a duplicate of #8071 as those changes would solve this issue?

[2022-10-14 13:44] Falke-Design commented on #8558
5th of November is quite long, so it would be better to have it earlier.

[2022-10-14 14:37] Falke-Design commented on #8396
A possible solution would be something like:
[code]

But I haven't searched if there is a more perfomant solution out there.

So a few things are still to do:
- check performance / search for alternatives
- do it only if `extend` is true
- write tests

Maybe we want to add this in the `L.Util.extend` function and let `setOptions` use `extend()`. @jonkoops what do you think?

[2022-10-15 15:49] angoca opened #8572 "Include option for Feedback and create an OSM Note"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-10-15 18:03] IvanSanchez commented on #8572
As much as I love OSM (I was even in the board of OSMF back then!), I think this is out of the scope of Leaflet, and should be implemented by web authors instead. Or perhaps a plugin.

The current architecture of `L.TileLayer` does not welcome this kind of provider-specific behaviour. Please do remember that Leaflet is tile-provider-agnostic.

[2022-10-15 18:03] #8572 closed

[2022-10-15 20:42] #8558 closed

[2022-10-15 21:53] maciek-szn opened #8573 "i18n - label for popup close button"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-10-16 07:36] ShivangMishra commented on #8573
@maciek-szn  I think all the attributes of close button are hardcoded. How do you change other attributes ?

[2022-10-16 07:56] ShivangMishra commented on #8573
I think simply adding a function "Popup::setCloseButtonProps" can fix this issue without breaking any patterns. Need approval from a moderator, and I'll do it in no time...
cc @mourner

[2022-10-16 08:09] maciek-szn commented on #8573
There are ways to change `title` of zoom in/zoom out controls or default `alt` for markers. It's some kind of inconsistency.

[2022-10-16 17:17] #8369 closed

[2022-10-17 10:46] jonkoops commented on #8573
I believe we don't do i18n in Leaflet itself, there is a community plugin that allow you to do this. Just can't seem to find it right now.

[2022-10-17 11:12] Falke-Design commented on #8573
I personally not against including a easy way for i18n support, but for now we have much other refactoring work to do

[2022-10-17 13:14] jonkoops commented on #8573
Feel free to open up a PR to pass this in as an option.

[2022-10-17 13:36] ShivangMishra commented on #8573
So, should I just add a function in Popup.js to set the props of closeButton?
If not, then could you please list the requirements ?

[2022-10-17 15:35] BasieP opened #8591 "Tooltips are not added to dom, when moving the map (or later)"
Hi there,

I want to report a bug.

We work with a realtime system, that adds markers (with sometimes tooltips) on the map based on incomming data.
A user reported a bug that sometimes items didn't have labels (tooltips), so we investigated.

Turns out, that markers that have a tooltip, don't add the tooltip when you are moving the map. The marker itself gets added, but the tooltip doesn't.
I have

[2022-10-18 05:17] jawak commented on #5549
@jibinmannanal remove async in createTile
work for me

[2022-10-18 08:53] jonkoops commented on #8573
I think it would make sense to add this as a field to the [popup options](https://leafletjs.com/reference.html#popup-option). Something like `closeButtonLabel`.

[2022-10-18 08:55] ShivangMishra commented on #8573
I've done it already yesterday .
Please see my PR.

[2022-10-18 09:13] jonkoops commented on #8396
I think we should seriously re-consider shipping anything in core that can be accomplished with existing platform APIs or a small library. As our mantra is:

This might be the best option. We should however document this as a breaking change, as some folks might be relying on this being shallow implicitly.

[2022-10-18 19:12] JohnnyMoonlight commented on #8396
I would not argue adding a new dependency (actually the first runtime dependency) keeps the project simple: not having any runtime dependency keeps the whole project setup very simple, the distribution lean and is a huge plus to Leaflet, as I perceive it. As author, I do not want this issue to be the start of adding dependencies to the project, since it increases the build size significantly, but

[2022-10-18 19:51] addy commented on #8591
You could also bind the tooltip after you've added the marker to your map. I think there is a "race-condition" (based on current dragging state) that is occurring in your case.

Essentially, constructing the tooltip ahead of time should fix the issue.

[code]

[2022-10-18 20:48] addy commented on #8591
That's why I had race-condition in quotes :P

[2022-10-19 09:19] Falke-Design commented on #8396
I think we should consider if we really want to include external dependencies.

Pro external:
- We can focus on Leaflet specific topics
- Improvments don't need to be done by us

Contra:
- We lose the "label" _no external dependencies_
- Increases package size (but maybe possiblity of tree-shaking)
- We have no force about changes in the dependencies.

[2022-10-19 10:13] jonkoops commented on #8396
I think what I am saying is being misinterpreted a bit. I am _not_ proposing we add a dependency to Leaflet to do this. What I am proposing is that users of Leaflet could install a library to do this for them, rather than building this kind of functionality into Leaflet core.

[2022-10-19 19:25] JohnnyMoonlight commented on #8396
Rather not understood than misinterpreted - now I get it. I think Leaflets merge-mechanism is counterintuitive and I would expect it working intuitively in core. Apart from that, is a Leaflet-Plugin able to change core-behaviour? If so, how?

[2022-10-19 20:18] JohnnyMoonlight opened #8598 "Code smell - Lint configuration for unused function params"
### Checklist

- [ ] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-20 08:57] mourner commented on #8598
This code is written like this intentionally. We need to read `offsetWidth` to force relayout, without using the actual value and avoid any related linting rules or treeshaking removal.

[2022-10-20 08:57] #8598 closed

[2022-10-20 13:52] IvanSanchez opened #8608 "Superclass for L.Renderer"
This is something I've commented on already, but I cannot find an explicit issue for.

I've created a fair share of plugins - and a few of them, involving WebGL, spawn a `<canvas>` that covers the entire screen surface of the map container. And in order to sync changes to the map state, I have [code like this](https://gitlab.com/IvanSanchez/Leaflet.GLMarkers/-/blob/master/src/GLMarkers.js#L90-L125

[2022-10-20 19:56] jonkoops commented on #8608
Sounds like a decent abstraction to me, let's do it!

[2022-10-20 21:53] alfawal commented on #8373
I was trying to port some of the tests from ProjectionSpec, I am not sure if I did get the idea right.

The test case:
[code]

The output:
[code]

[2022-10-24 15:21] Nisgrak commented on #8238
I have the exact same bug but with a binded popup https://plnkr.co/edit/T149bOCrxwGz3cJQ

When I delete it and create again in a moveend event it doesn't work

The solution of @peanutman0 works!

[2022-10-25 04:03] marcuus commented on #6416
Yes I got this when I upgraded leaflet to 1.9.2 and vue-leaflet 0.6.1. Thank you dagfs for the solution.

[2022-10-25 04:56] Falke-Design commented on #6416
We should check this again.

[2022-10-26 08:35] #8222 closed

[2022-10-26 10:20] Falke-Design opened #8625 "Move worldCopyJump into `panBy`"
Follow up of #8562

Instead of having own code in `map.Drag` and `map.Keyboard` we should move it into `panBy` / other view changing functions.

[2022-10-26 10:22] #8560 closed

[2022-10-28 16:26] #8375 closed

[2022-10-29 09:34] Malvoz commented on #3197
Can reproduce in v1.9.2, but it is fixed on the `main` branch, probably per https://github.com/Leaflet/Leaflet/pull/8534.

[2022-10-29 09:34] #3197 closed

[2022-10-30 12:40] andreandersson opened #8630 "Flickering while zooming on some Android WebView with custom CSS-filter"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-31 13:51] nickbosland opened #8631 "Double click on an input element that is rendered on the leaflet map"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-10-31 14:46] IvanSanchez commented on #8631
Can't reproduce on Linux (in either Firefox 106 and Chromium 106), Leaflet 1.9.2. I'm using https://plnkr.co/edit/NbRtpHyrzuotD3oV .

[2022-10-31 14:50] IvanSanchez commented on #8631
Problem's gotta be at:

https://github.com/Leaflet/Leaflet/blob/6b90c169d6cd11437bfbcc8ba261255e009afee3/src/dom/DomEvent.DoubleTap.js#L15-L18

That's the same code that copies all properties of a native DOM event into a synthetic event, triggering #7078.

[2022-10-31 16:45] jonkoops commented on #8630
Android WebView is not a supported browser, as we cannot reasonably reproduce any issues in it. The fact that this only occurs on a sub-set of phones as well makes if even more problematic to reproduce.

I have not been able to reproduce this in either Chrome (107.0.5304.87) or Firefox (105.0.2) by running the provided code in a regular browser.

Since the Android WebView is based on Chrome, this

[2022-10-31 16:45] #8630 closed

[2022-10-31 16:49] jonkoops commented on #3197
Thanks @Malvoz!

[2022-10-31 16:50] Falke-Design commented on #8631
Another solution would be to skip `originTarget` because it is only supported by Firefox and is still experimental.
https://developer.mozilla.org/en-US/docs/Web/API/Event/originalTarget

[2022-10-31 16:58] Malvoz commented on #8630
@andreandersson You can file WebView bugs at https://bugs.chromium.org/p/chromium/issues/entry?template=Webview+Bugs.

[2022-11-01 12:37] plarner30 commented on #8558
@Falke-Design sorry for noise, just wondering if there might still be an update sooner than this date

[2022-11-01 12:57] Falke-Design commented on #8558
I hope so ... @jonkoops @mourner we should prepare the release 1.9.3 - a few cherry picks needs to be done

[2022-11-01 16:12] jonkoops commented on #8558
Yeah I think it's time. @Falke-Design could you create an issue to track the release?

[2022-11-01 21:48] Falke-Design opened #8634 "Release Tracker - v1.9.3"
Some merged PRs should be cherry picked to the `v1`:

- [ ] #7344
- [ ] #8562
- [ ] #8571
- [ ] #8556
- [ ] #8550
- [ ] #8548
- [ ] #8547
- [ ] #8520
- [ ] #8534

I hope that are all

[2022-11-01 21:50] Falke-Design commented on #8634
@jonkoops can you do the cherry pick?

[2022-11-02 10:17] stefanocudini commented on #7512
in some use cases I think that this plugin can reduce the orientation UX problems
 https://github.com/stefanocudini/leaflet-compass

[2022-11-02 20:15] jonkoops commented on #8634
Done, @Falke-Design could you double check my work to ensure it's all there?

[2022-11-02 20:17] jonkoops commented on #8634
Perhaps we also want to try and get #8613 in?

[2022-11-02 20:24] Falke-Design commented on #8634
everything looks good 👍

I prefer to do not. I'm currently not able to say if this changes are ok. Code in `GridLayer.js` is changed so it can cause bigger issues 😕 On the other hand, I think this is our last release in `v1` because now we have modernized the code to much for cherry picks.

[2022-11-02 20:26] jonkoops commented on #6322
@Malvoz considering the issue is fixed in Safari 16 we might just close this. See #8633

[2022-11-02 20:36] #6322 closed

[2022-11-02 20:39] jonkoops commented on #5895
This issue seems to have been resolved in recent versions of Safari (see https://github.com/Leaflet/Leaflet/issues/6322#issuecomment-1301197444). Closing this issue.

[2022-11-02 20:39] #5895 closed

[2022-11-02 20:40] Fatty-Shu commented on #5895
您的邮件已收到，我会尽快处理。谢谢！
 
舒佳锦   

[2022-11-02 20:44] jonkoops commented on #8634
Awesome, thanks for checking. Then I think we should compile some release notes and start a release. I'll see if I have some time in the coming days.

[2022-11-04 04:23] Heshyo commented on #5095
For anyone interested, something like the following could work

[code]

[2022-11-04 16:11] Malvoz commented on #2652
@Starefossen I know this is an old issue, but I can't tell if you're describing the same problem as @nicomgd. Below are updates of your fiddles (because the original fiddle by @nicomgd seems to break using later versions of Leaflet), using `@latest` (currently v1.9.2):

- [With maxZoom](https://jsfiddle.net/5zsk8h7v/)
- [Without maxZoom](https://jsfiddle.net/0vpjym6e/)

The tiles aren't grey on in

[2022-11-04 16:43] Falke-Design commented on #8634
@jonkoops I prepared the Release Changelog: https://github.com/Leaflet/Leaflet/releases/tag/untagged-cdf564bc2cadf55978e8

The messages need to be refactored

[2022-11-04 17:31] timgavin commented on #2981
For anybody else that comes across this issue my solution was to change the map bounds from 0 to 1

original
[code]

changed 0 to 1 and now no more 404 errors!
[code]

[2022-11-05 09:24] Malvoz commented on #7097
That's legacy Edge (the initial release of the Chromium-based version was 79.0.309), which Leaflet [no longer supports](https://github.com/Leaflet/Leaflet/pull/8455#discussion_r979249515).

[2022-11-05 09:24] #7097 closed

[2022-11-05 09:54] Malvoz commented on #8634
@Falke-Design I made a small edit to the draft (to include more headings other than Bugs, etc.), and had to edit your link above as the URL returned a 404 after my edit.

[2022-11-05 10:24] Malvoz commented on #7931
Ok, automatic preservation has been enabled:

![leaflet-zenodo-doi](https://user-images.githubusercontent.com/26493779/200115130-036dccc5-02a4-4b4c-8421-3b2bc423e52f.png)

Will be able to add a badge to the README (if desired) after next release.

[2022-11-05 10:43] Malvoz commented on #7931
Let's keep this open until we have the actual DOI though.

[2022-11-05 17:28] Malvoz commented on #8421
Please see https://stackoverflow.com/questions/39767499/how-to-set-the-zindex-layer-order-for-geojson-layers.

[2022-11-05 17:29] #8421 closed

[2022-11-05 17:33] Falke-Design commented on #8421
Duplicate of #8071

I would not say that we never implement this, so let us keep open #8071

[2022-11-05 19:35] jonkoops commented on #8634
Thanks for compiling that list @Falke-Design! I've done another pass on the release notes. Could y'all take another look and let me know if things look good to you?

cc @Malvoz @mourner

[2022-11-05 19:37] Malvoz commented on #8634
@jonkoops Link please 🙂

[2022-11-05 20:01] jonkoops commented on #2125
I believe we can close this issue, I seem to be able to pan with the keyboard just fine with `worldCopyJump` enabled on the latest version of Leaflet.

If I am mistaken, please let me know and I will re-open the issue.

[2022-11-05 20:02] Malvoz commented on #8634
@jonkoops Yes, https://github.com/Leaflet/Leaflet/releases/tag/untagged-2b81fc8a1a85a12e1352 LGTM. Again, the URL for the drafts changes with each edit...

[2022-11-05 20:06] jonkoops commented on #8634
Awesome, thanks for checking. I'll get started on the release as soon as the others agree to the contents 👍

[2022-11-05 20:24] Falke-Design commented on #8634
@jonkoops looks good! 👍

[2022-11-05 20:41] Malvoz commented on #2125
@jonkoops There does seem to be a discrepancy in the behavior/position of the circleMarker depending on whether you pan using a mouse or a keyboard in the [provided fiddle](https://github.com/Leaflet/Leaflet/issues/2125#issue-21545793). TBH I can't tell if that's entailed in the problem description here, but let's keep this open for now.

[2022-11-05 20:46] Falke-Design commented on #2125
@Malvoz this is fixed with #8562 . Please test the fiddle with the current main: http://jsfiddle.net/1t0v67ne/

[2022-11-05 20:48] Malvoz commented on #2125
@Falke-Design Ah, I just saw https://github.com/Leaflet/Leaflet/pull/8562. Thanks.

[2022-11-05 20:48] #2125 closed

[2022-11-06 12:08] mourner commented on #8634
@jonkoops looks good to me! Only nit: supporting `position: sticky` seems like more of a bug fix rather than a feature.

[2022-11-06 12:15] Malvoz commented on #8634
@mourner I added that, moved to Bug fixes in https://github.com/Leaflet/Leaflet/releases/tag/untagged-decdba6297c17613cb25.

[2022-11-06 12:22] andreandersson commented on #8630
Created a bug: https://bugs.chromium.org/p/chromium/issues/detail?id=1380149&start=0
Started questioning if this is an WebView bug as well, or if it is related to the Pixel 6/Pixel 7 more specifically. Not my speciality, but perhaps it could be some hardware accelerated CSS-things affecting it all. Say drivers for the Tensor-chips or something similar... Just mentioning my thought :)

**Anyway, if

[2022-11-06 16:14] timbtimbtimb opened #8641 "Direct access to target layer on click event fired on map"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-11-06 22:33] raulandrez commented on #3962
don't use:
[code]
use:
[code]

[2022-11-07 17:36] secondl1ght opened #8645 "element.style width not respecting child elements width (popup content overflowing container)"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-11-07 17:45] secondl1ght commented on #8645
Here is another example I found:
`leaflet-popup` has a width of `347px` which exceeds the `300` `maxWidth` default.
![image](https://user-images.githubusercontent.com/85003930/200378539-2e23ee01-ff6e-4cf8-9761-243992a42a17.png)

This is kind of the opposite example of above where instead of the content overflowing, the popup actually grows up to a certain point before breaking the text. So the pop

[2022-11-08 16:21] rhea-sys commented on #6991
Thanks a lot for the remedy! @geopic

[2022-11-08 16:44] SonGokussj4 commented on #5067
Wow, just found this out.

Wanted to have a green background by adding custom class to `icon.options.className `after `dragend` and it fires an click event... Hmm

Using:
- leaflet 1.9.2
- react-leaflet 4.1.0

Details:
[code]

[2022-11-09 16:32] jonkoops commented on #8630
We don't support those older versions of Internet Explorer any longer, so perhaps we can simply remove the `filter` from the CSS entirely?

[2022-11-09 16:55] andreandersson commented on #8630
What browsers are supported today? Im all in for removing code :)

[2022-11-09 17:37] igorshmukler opened #8647 "Locally built leaflet package does not initialize correctly"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-11-10 04:32] rizypb opened #8648 "Can't drag or transform polygon in Vue 3 project"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-11-10 08:15] Candyffm commented on #1228
You did not see the scrolling behaviour at all with this workaround? This just caused instant scrolling / jumping for me.

[2022-11-10 09:46] IvanSanchez commented on #8648
Looks like a problem in `leaflet-path-transform`, not in core Leaflet.

In other words: you're filing the bug in the wrong repo.

[2022-11-10 09:46] #8648 closed

[2022-11-10 13:26] denschub opened #8649 "Consider exposing `HTMLImageElement.decoding` for `ImageOverlay`"
### Motivation

Hi there! We at Mozilla see a quite a few Web Compatibility reports about various applications using an animated map layer on top of Leaflet, where the animation is flickering. For example: [there's this issue on firesmoke.ca](https://github.com/webcompat/web-bugs/issues/80232).

The primary issue here is a bit of a race between showing and decoding the image. When image tags are h

[2022-11-10 13:54] IvanSanchez commented on #8649
Sounds simple enough - #8650 should do the trick.

@denschub Do you know if it's only `ImageOverlay`s, or are `TileLayer`s also affected by the flickering?

I'm slightly concerned about performance issues here, since there's also users that want to delay loading any images in a Leaflet map until the user scrolls down the webpage and the map container becomes visible. I'm wondering about setting up

[2022-11-10 16:24] jonkoops commented on #8649
Perhaps we need to start thinking about an API for `ImageOverlay` that allows users to 'swap' the image. The process could involve loading in a new image element and waiting for the decode to happen before swapping the underlying image to avoid flickering.

[2022-11-10 16:34] jonkoops commented on #8630
For 2.0 we're aiming for latest Chrome (and Chromium derivatives), Firefox, Safari. Basically all the 'evergreen' targets.

[2022-11-10 17:28] IvanSanchez commented on #8649
I've updated #8650 based on this.

Note that users should be able to do something like `myOverlay.getElement().decoding='sync'` with the current API. `getElement()` exposes the `HTMLImageElement` itself.

Makes sense, but I guess that's out of the scope of this bug.

[2022-11-10 17:29] Falke-Design commented on #8634
@jonkoops can I help in someway for the release?

[2022-11-10 17:37] denschub commented on #8649
Oh that's good to know. We might be able to suggest that to site owners if they cannot update Leaflet for a reason or something!

Probably, yeah. Image loading on first load vs. adding images to the DOM at a later point is a different beast. Shameless plug: if you run into issues with any specific browser, file a bug on https://webcompat.com - there's also Safari people participating, not just us

[2022-11-10 18:06] jonkoops commented on #8634
I'm currently attending a conference in the US, I'll be back in action next week. But if anyone feels like taking this release I'd say go for it.

It's important that we can all do the release so that we don't get blocked on a single point.

[2022-11-10 18:06] #8649 closed

[2022-11-10 18:15] Falke-Design commented on #8634
Maybe I have enough time tomorrow. Then I will try it

[2022-11-10 18:45] igorshmukler commented on #8647
@jonkoops
would you consider the below reproducible example:
1. nvm use v16
2. git clone https://github.com/Leaflet/Leaflet.git
3. cd Leaflet
4. npm install
5. npm run build
6. npm publish

plus, please scope the below [unless you don't want to do the publish] with something:
[code]
It makes no difference whether the publish step is performed.

[2022-11-10 18:53] jonkoops commented on #8647
Right, but the environment matters, such as what build tool is used (and what version). Also if you aren't publishing the package or using `npm link`, then how does your custom Leaflet end up in the project?

Honestly, if I had to guess that is probably where the issue is.

[2022-11-10 18:58] igorshmukler commented on #8647
How come my build is transpiled into a different ECMAversion and what can I do to have the build work the same as one LeafletJS "team" uses for NPM? This is deterministic and completely unrelated to the URL or the package name I use for `npm publish`, right?

[2022-11-11 09:54] IvanSanchez commented on #8647
I must point out that is a cross-post of a [stackoverflow question](https://stackoverflow.com/questions/74366837/leaflet-linked-from-github-fails-to-initialize) from a few days ago. Posting on stackoverflow, not getting an answer, and then cross-posting as a bug report is a pattern that I frown upon.

The thing here is that the error is not within the Leaflet build, but about how a plugin (re-)use

[2022-11-11 15:33] tstibbs opened #8652 "Scroll wheel zooms several layers when Windows setting "scroll multiple lines at a time" enabled"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-11-11 16:22] IvanSanchez commented on #8652
You've done a great deal of investigation for this bug report (which is appreciated!), and you've hit the reason why this is difficult. It's **impossible** for the Leaflet code to know whether a `wheel` event comes from a scrollwheel or a trackpad (or touchscreen, or whatever) - and AFAIK it's not possible to know any value derived from the "scroll lines" setting.

I even seem to recall that it's

[2022-11-14 03:36] francofx2 opened #8653 "Leaflet Markers: jump out of viewport when clicked. Issue goes away when browser is resized."
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-11-14 08:50] IvanSanchez commented on #8653
That means it should be covered by #8612. In the meantime use `invalidateSize()`.

[2022-11-14 08:50] #8653 closed

[2022-11-15 15:48] FloChehab opened #8659 "Accessibility box shown on click on Google Chrome"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-11-15 15:50] FloChehab commented on #8659
Hello @Malvoz,

Here is the issue, a bit quicker than expected, I thought it would be harder to have a reproducible setup.

[2022-11-17 06:52] ChabbehAymen commented on #8573
@maciek-szn Is this issue still need to be done? because I am interested to work on it!

[2022-11-17 07:18] Falke-Design commented on #8573
@ChabbehAymen there is already a Pull Request for this #8590

[2022-11-18 09:44] plarner30 commented on #8634
@jonkoops hey any chance this could be released soon?

[2022-11-18 11:53] timbtimbtimb commented on #7416
For me it only happens on Chrome on mobile (fine on Firefox mobile). Leaflet 1.7.1 is fine but the problem starts at 1.8.0.
[Flickering](https://photos.app.goo.gl/HgFnrGpw9XJtusiH9)
[Not flickering](https://photos.app.goo.gl/XcvTEaX4LbHdzN7f9)

[2022-11-18 16:34] Falke-Design commented on #8634
## Releasing a new version of Leaflet

- [ ] Ensure all https://github.com/Leaflet/Leaflet/labels/blocker issues and pull requests are resolved.
- [ ] Update [the changelog](https://github.com/Leaflet/Leaflet/blob/main/CHANGELOG.md) since last release and commit.
- [ ] Run `npm version <patch | minor | major>` (this will bump the version in `package.json` and create a new tag).
- [ ] Run `git push

[2022-11-18 17:04] Falke-Design commented on #8634
@mourner @jonkoops I think I have not enough rights to do the release.

[2022-11-18 17:28] mourner opened #8664 "Firefox is failing on CI"
Since yesterday, all 3 Firefox jobs are failing on CI, both on `main` and in PRs:

[code]

Not sure what's going on here. cc @jonkoops @Falke-Design

[2022-11-18 17:30] mourner commented on #8634
@Falke-Design which ones are you lacking specifically? Let me fix this...

[2022-11-18 17:38] Falke-Design commented on #8634
@mourner I can't push directly to `v1`, so I can't create the version bump / creating the tag:

![grafik](https://user-images.githubusercontent.com/19800037/202767479-ac356aaa-a39c-49e3-9f4c-caa1a6015108.png)

[2022-11-18 17:40] Falke-Design commented on #8634
@mourner I see that the tag was created, but the package.json not pushed to the repo. Did this now caused a problem with npm? 😶

https://github.com/Leaflet/Leaflet/tags

[2022-11-18 17:45] mourner commented on #8634
It seems to have worked: https://github.com/Leaflet/Leaflet/actions/runs/3499008308/jobs/5860105784
I'm in a blackout right now but will figure out the proper way to handle v1 push thing later, but can you try again now?

[2022-11-18 17:51] Falke-Design commented on #8634
I pushed it again. Worked now 👍
It looks like everything works and is right. `L.version` in npm is `1.9.3` and the `package.json` in the [tag source code](https://github.com/Leaflet/Leaflet/releases/tag/v1.9.3) also contains `1.9.3`

[2022-11-18 19:48] mourner opened #8666 "IE failing on `v1` branch"
IE tests on CI are failing on `v1` branch, including the v1.9.3 tag. [The logs](https://github.com/Leaflet/Leaflet/actions/runs/3499076639/jobs/5860259993) say there's a syntax error encountered, which means that some ES6 code likely slipped into `v1` through cherry picks. Let's address this with the following steps:

- [x] Determine whether the failures are only in the test code, or in v1.9.3 dis

[2022-11-18 19:53] Falke-Design commented on #8666
I think I found the issue:
![grafik](https://user-images.githubusercontent.com/19800037/202790448-1d1de01a-4418-4d3d-860d-7d145ca1d74c.png)

No need to release `1.9.4` because it is only in the tests.
I will create a PR to fix it.

@mourner @jonkoops can you do this?

[2022-11-18 20:12] Falke-Design commented on #8634
Release is done 🎉

[2022-11-18 20:12] #8634 closed

[2022-11-18 20:12] mourner commented on #8666
Yeah, good point — let's do that! Submitted #8668

[2022-11-18 20:20] Falke-Design commented on #8664
![grafik](https://user-images.githubusercontent.com/19800037/202794978-a8c65d64-e4c4-4eab-bb36-75da145ef0df.png)

I run the test on FirefoxHeadless local. First I get this errors and then a update window of Firefox appeared. After it was finished I don't get this errors anymore

[2022-11-18 20:44] jonkoops commented on #8664
Strange, almost seems like Firefox is no longer installed in the Github Actions runner.

[2022-11-18 20:46] Falke-Design commented on #8664
Yeah I thought that too. I searched in [Github-Feedback](https://github.com/community/community/discussions) and in Google but no one has the same problem.

[2022-11-18 20:48] mourner commented on #8664
@jonkoops found a discussion about it here: https://github.com/actions/runner-images/issues/6399#issuecomment-1284409180. While they're going to add Firefox back, for now we'd have to pin the image, setting `ubuntu-20.04` instead of `ubuntu-latest`.

[2022-11-18 20:48] Falke-Design commented on #8664
In my fork with the latest master it works fine ... https://github.com/Falke-Design/Leaflet/actions/runs/3500087433/jobs/5862462869

[2022-11-18 20:51] jonkoops commented on #8664
That's weird, perhaps they added it back but it hasn't rolled out to all runners yet?

[2022-11-18 20:56] Falke-Design commented on #8664
I restartet our workflow, maybe it works now ...
https://github.com/Leaflet/Leaflet/actions/runs/3500142707

[2022-11-18 21:00] mourner commented on #8664
Nope, weird...

[2022-11-18 21:05] jonkoops commented on #8664
Created #8670 to verify this still works on the older version of Ubuntu. We can upgrade when the time comes that Firefox is included by default.

[2022-11-18 21:11] #8664 closed

[2022-11-18 21:15] jonkoops commented on #8664
I've added the same changes on the `v1` branch, so future patch releases can be tested.

[2022-11-18 21:19] jonkoops commented on #8666
Fixed by #8667

[2022-11-18 21:19] #8666 closed

[2022-11-18 21:21] jonkoops commented on #8634
Very nice, thanks for taking this one @Falke-Design!

[2022-11-20 10:50] Falke-Design opened #8673 "Migrate Bundlemoon from 1.x to 2.0"
https://github.com/LironEr/bundlemon/releases/tag/bundlemon%402.0.0

@jonkoops can you look into this?

[2022-11-20 12:40] jonkoops commented on #8673
@mourner could you make sure we gave all the access to the Github app as outlined in the [migration guide](https://github.com/LironEr/bundlemon/blob/bundlemon%402.0.0/docs/migration-v1-to-v2.md)? I don't have the permissions to do so.

[2022-11-20 12:42] jonkoops commented on #8673
I've put in a request to migrate our historical data as well, see https://github.com/LironEr/bundlemon/issues/125#issuecomment-1321122985.

[2022-11-20 18:46] Pomax opened #8677 "Document how to disable auto-panning"
### Checklist

- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this change hasn't been suggested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Leaflet/Leaflet/blob/main/CODE_OF_CONDUCT.md) that this project adheres to.

### Which documents need updating?

https://leafletjs.com/examples/quick-start/

### Motivation

[2022-11-20 22:20] mourner commented on #8673
I think all is set:

<img width="519" alt="image" src="https://user-images.githubusercontent.com/25395/202929364-a9a00fe1-6400-4f1d-8972-43240e977a3f.png">

[2022-11-21 02:39] TheMangoTrain commented on #5740
A core variable for this, as suggested above, would be convenient of course.

In any case, this is how I discern user-movement vs auto-movement; so far it works well for pan/zoom.

Roughly like this:

**In map component data()**
`autoMovementOccurring: false`

**In methods**
In any function that does auto-movement, change state first before your logic
[code]

**In the listener for Leaflet's moveen

[2022-11-21 12:29] #8673 closed

[2022-11-21 16:28] Malvoz commented on #7931
The following markdown points to the latest released version:

[code]
Result:

[![DOI](https://zenodo.org/badge/931135.svg)](https://zenodo.org/badge/latestdoi/931135)

`7335490` is the <q>Concept DOI (all versions)</q> of the Leaflet repo, see https://help.zenodo.org/#versioning for more info. And here's the Zenodo record: https://zenodo.org/record/7335490.

[2022-11-21 16:32] #7931 closed

[2022-11-21 16:33] Malvoz opened #8679 "Add a CITATION.cff"
Follow-up of https://github.com/Leaflet/Leaflet/issues/7931.

We may want to decide if we should add the [Zenodo's DOI badge for the Leaflet repo](https://github.com/Leaflet/Leaflet/issues/7931#issuecomment-1322331360) to `README.md`, and/or [add a `CITATION.cff`](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-citation-file

[2022-11-21 16:51] Falke-Design commented on #8679
I would do both :+1:

[2022-11-21 17:06] jonkoops commented on #8679
I'd say let's add the citation file only. Folks that are explicitly looking of this (small dedicated audience) will probably already know the citation functionality of GitHub already.

Unless somehow the badge has more relevant info I think it will just add noise for 'regular' users.

[2022-11-23 21:11] igorshmukler commented on #8647
Just puzzles me that nobody would want to see whether the main branch builds, yet not my business really.

In order for me to get the thing to build a valid package, I just needed:
[code]

  The main might be fixed now, or not. I was able to fork off 1.9.2 and take it from there.

[2022-11-23 21:11] #8647 closed

[2022-11-24 22:46] secretgspot commented on #6819
not sure how that's out of scope when there are many situations where you want to present static version that doesn't need to load tons of tiles or waste resources

[2022-11-27 09:10] steros76 opened #8688 "Popup close button issue"
When I close popup with "x" close button, I experience strange issues in my page outside the map (i.e. click events programmed on buttons don't work anymore). If I close the popup clicking elsewhere there is no problem.
I notice that this strange behaviour is due to
`closeButton.href = '#close';`
Commenting this line all works correctly.
Why this line is present?

[2022-11-27 10:13] Falke-Design commented on #8688
Which Leaflet version do you use? This is already fixed in newer versions please use `v1.9.3` #8159

[2022-11-27 10:13] #8688 closed

[2022-11-27 17:00] steros76 commented on #8688
Sorry. I wasn't on last version.
I updated and I can confirm that it works.
Thanks.

[2022-11-27 17:28] frutik commented on #8515
Is this excuse to work/contribute to russian economy?

[2022-11-28 00:27] mttucl opened #8689 "L.imageOverlay projection issue with Large GeoTIFF Bounds"
### Checklist

- [X] I've looked at the [documentation](https://leafletjs.com/reference.html) to make sure the behavior isn't documented and expected.
- [X] I'm sure this is an issue with Leaflet, not with my app or other dependencies (Angular, Cordova, React, etc.).
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this hasn't been reported y

[2022-11-28 02:07] IvanSanchez commented on #8689
So you've got a vertical shift, as I've seen several times before - see e.g. https://gis.stackexchange.com/q/174216 and https://stackoverflow.com/questions/71489276/ . You're stretching data in EPSG:4326 onto a EPSG:3857 basemap, Leaflet is implicitly performing linear interpolation of coordinates, and as a result, only the top and bottom pixels of the image are aligned.

Read up on what a cylindr

[2022-11-28 02:07] #8689 closed

[2022-11-28 02:08] IvanSanchez commented on #8689
Or, use ImageOverlay.Arrugator (https://gitlab.com/IvanSanchez/Leaflet.ImageOverlay.Arrugator/)

[2022-11-28 05:54] mttucl commented on #8689
Unfortunately, this one suffer from the same issue, I also tried imageTransform and imageOverlay.rotated but all have the same issue. The only ones working with imageOverlay are the ones I mentioned by transforming the image and calculating Topleft X&Y pixels to place the image at. Maybe ImageOverlay should do it this way natively. I see `leaflet-geotiff-2` do it this way

[2022-11-30 11:05] taniamendo commented on #8449
Hi Ivan, Did you figure out how to make the radius smaller?

[2022-11-30 13:43] tambetvali opened #8693 "One marker to multiple categories"
### Checklist

- [X] I've searched through the [plugins](https://leafletjs.com/plugins.html) to make sure this feature isn't already available, or think it shouldn't require a plugin.
- [X] I've searched through the [current issues](https://github.com/Leaflet/Leaflet/issues) to make sure this feature hasn't been requested already.
- [X] I agree to follow the [Code of Conduct](https://github.com/Le

[2022-11-30 14:55] dresende commented on #6314
@php4fan is there any progress on this? can you contribute with your ideas or changes?

[2022-11-30 23:49] chrisbitmead commented on #8659
Users of our app  ( http://anbg.gov.au/fap ) are suddenly reporting the same thing, and I agree it occurs on Chrome but not Firefox. It also occurs in Edge, I don't know if that's because Edge shares the Chrome rendering engine.